<meta charset="UTF-8" />
<link href="http://m.ykbrand.co.kr/Common/css/common.css" rel="stylesheet" />



<!-- container -->
<div id="container" style="border:4px solid">
	<!-- header -->
	<header>
		<h1 class="termTit">제3자 위탁운영 및 정보제공 약관 동의</h1>

		<script>
			$(document).on("scroll", function() {
				$("#moveTop").remove()
			});
		</script>
		<style>
			#container {
				padding-bottom: 0px;
			}

			footer {
				display: none;
			}
		</style>
	</header>
	<!-- //header -->
	<div class="divider">
		<div class="termCont">
			㈜ 유한킴벌리는 서비스 향상과 원활한 진행을 위하여 개인정보 처리 업무를 외부 전문 업체에 위탁하여 처리하고 있습니다.<br><br>

			<table>
				<caption>브랜드별 위탁 업체 및 업무 안내</caption>
				<colgroup>
					<col style="width:33%" />
					<col style="width:33%" />
					<col />
				</colgroup>
				<thead>
					<tr>
						<th scope="col">브랜드명</th>
						<th scope="col">취급, 위탁 받는 자</th>
						<th scope="col">취급, 위탁하는 업무</th>
					</tr>
				</thead>
				<tbody>
					<!-- 삭제 20190128
					<tr>
						<td>하기스</td>
						<td>
							퍼블리시스 모뎀㈜<br>(02-6363-4639)
							<br><br> ㈜포스트비쥬얼
							<br>(02-6924-8729)
						</td>
						<td>하기스 이벤트 운영</td>
					</tr>
					<tr>
						<td>하기스 아기물티슈</td>
						<td>퍼블리시스 모뎀㈜<br>(02-6363-4639)</td>
						<td>하기스 아기물티슈 이벤트 운영</td>
					</tr>
					//-->

					<!-- 20190128 수정 -->
					<tr>
							<td>티엔</td>
							<td>하나애드<br />(02-783-5627)</td>
							<td>티엔 이벤트 운영</td>
					</tr>
					<tr>
							<td>화이트</td>
							<td rowspan="4">
								그룹IDD<br />(070-4633-5626)<br /><br />
								㈜레볼루션커뮤니케이션즈<br />(02-3444-8095)
							</td>
							<td>화이트 이벤트 운영</td>
					</tr>
					<tr>
							<td>좋은느낌</td>
							<td>좋은느낌 이벤트 운영</td>
					</tr>
					<tr>
							<td>라네이처</td>
							<td>라네이처 이벤트 운영</td>
					</tr>
					<tr>
							<td>스카트</td>
							<td>스카트 이벤트 운영</td>
					</tr>
					<tr>
							<td>디펜드</td>
							<td>오길비<br>(02-513-1534)</td>
							<td>디펜드 이벤트 운영</td>
					</tr>
					<!--// 20190128 수정 -->

					<!-- 삭제 20190128
					<tr>
							<td>크리넥스</td>
							<td rowspan="2">㈜레볼루션커뮤니케이션즈<br>(02-3444-8094)</td>
							<td>크리넥스 이벤트 운영</td>
					</tr>
					<tr>
							<td>마이비데</td>
							<td>마이비데 이벤트 운영</td>
					</tr>
					<tr>
							<td>그린핑거</td>
							<td>㈜레볼루션커뮤니케이션즈<br>(02-3444-8092)</td>
							<td>그린핑거 이벤트 운영</td>
					</tr>
					//-->
				</tbody>
			</table>
			<br> 개인정보 수집 활용 및 취급위탁에 동의하지 않을 경우, 이벤트 참여가 제한됩니다.

		</div>
	</div>
</div>
<hr />
