<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>회원정보수정 | 마이페이지 | 유한킴벌리 통합브랜드</title>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>회원정보 수정</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<form action="/SSL/Mypage_BasicInfo_End?returnUrl=%2F" id="frm" method="post" name="frm" novalidate="novalidate">
			<input name="__RequestVerificationToken" type="hidden" value="aCPM-yD80p4T19nub0axmbggucScBmn7DZCLtkVjfv-2O2UHIxRqzRi4UEmDSEVQtu8sVfUowBL85IEShvUZiiLsgko1">
			<div id="container">
				<div class="titW tW_t3">
					<h2>기본 정보</h2>
					<p>
						<span class="com">*</span>표시는 필수 입력내용입니다.
					</p>
				</div>
				<div class="divider">
					<div class="join">
						<dl class="inT intTxt">
							<dt>이름</dt>
							<dd>유한킴벌리</dd>
						</dl>
						<dl class="inT intTxt">
							<dt>이메일</dt>
							<dd>abc@naver.com</dd>
						</dl>
						<dl class="inT intCol4">
							<dt>휴대폰 <span class="com">*</span></dt>
							<dd>
							<span>
							<span class="selectBox">
							<label for="sel3">010</label>
							<select id="sel3" title="휴대폰 앞자리">
								<option selected="selected">010</option>
							</select>
							</span>
							</span>
							<span><input type="text" value="3302" disabled="disabled" title="휴대폰 가운데 자리"></span>
							<span><input type="text" value="3491" disabled="disabled" title="휴대폰 끝자리"></span>
							<span><a href="javascript:Module_KCP_Open();">변경</a></span>
							</dd>
						</dl>
						<!-- 201801 간편가입 s //-->
						<dl class="inT intCol4">
							<dt>휴대폰 <span class="com">*</span></dt>
							<dd>
							<span>
							<span class="selectBox">
							<label for="sel3">010</label>
							<select id="sel3" title="휴대폰 앞자리">
								<option>010</option>
							</select>
							</span>
							</span>
							<span><input type="text" value="3302" title="휴대폰 가운데 자리"></span>
							<span><input type="text" value="3491" title="휴대폰 끝자리"></span>
							<span><a href="#">휴대폰 인증</a></span>
							</dd>
						</dl>
						<!-- 201801 간편가입 e //-->
						<dl class="inT intCol3">
							<dt>생년월일 <span class="com">*</span></dt>
							<dd>
							<span>
							<span class="selectBox">
							<label for="sel6">1997 년</label>
							<select id="sel6" title="생년월일 년도 선택">
								<option selected="selected">1997 년</option>
							</select>
							</span>
							</span>
							<span>
							<span class="selectBox">
							<label for="sel61">07 월</label>
							<select id="sel61" title="생년월일 월 선택">
								<option selected="selected">07 월</option>
							</select>
							</span>
							</span>
							<span>
							<span class="selectBox">
							<label for="sel62">12 일</label>
							<select id="sel62" title="생년월일 일 선택">
								<option selected="selected">12 일</option>
							</select>
							</span>
							</span>
							</dd>
						</dl>
						<dl class="inT">
							<dt class="ft_bold">개인정보 마케팅 활용 동의</dt>
							<dd>
							<span class="radioF">
							<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
							<label for="marketing_n">동의안함</label>
							</span>
							<span class="radioF">
							<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
							<label for="marketing_y">동의</label>
							</span>
							</dd>
						</dl>
						<dl class="inT">
							<dt>메일 수신 여부</dt>
							<dd>
							<span class="radioF">
							<input checked="checked" data-val="true" data-val-required="메일 수신동의를 선택해 주세요." id="email_n" name="email_yn" type="radio" value="N">
							<label for="email_n">동의안함</label>
							</span>
							<span class="radioF">
							<input checked="checked" id="email_y" name="email_yn" type="radio" value="Y">
							<label for="email_y">동의</label>
							</span>
							</dd>
							<div class="check_div email_yn">
								<!--
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="email_ykbrand" name="email_ykbrand" value="Y" checked="">
								<label for="email_ykbrand">통합브랜드</label>
								</span>
								//-->
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="email_momq" name="email_momq" value="Y" checked="">
								<label for="email_momq">momQ</label>
								</span>
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="email_monit" name="email_monit" value="Y" checked="">
								<label for="email_monit">MONIT</label>
								</span>
								<!--
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="email_present" name="email_present" value="Y" checked="">
								<label for="email_present">선물대잔치</label>
								</span>
								//-->
							</div>
						</dl>
						<dl class="inT">
							<dt>SMS 수신 여부</dt>
							<dd>
							<span class="radioF">
							<input checked="checked" data-val="true" data-val-required="SMS 수신동의를 선택해 주세요." id="sms_n" name="sms_yn" type="radio" value="N">
							<label for="sms_n">동의안함</label>
							</span>
							<span class="radioF">
							<input checked="checked" id="sms_y" name="sms_yn" type="radio" value="Y">
							<label for="sms_y">동의</label>
							</span>
							</dd>
							<div class="check_div sms_yn">
								<!--
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="sms_ykbrand" name="sms_ykbrand" value="Y" checked="">
								<label for="sms_ykbrand">통합브랜드</label>
								</span>
								//-->
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="sms_momq" name="sms_momq" value="Y" checked="">
								<label for="sms_momq">momQ</label>
								</span>
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="sms_monit" name="sms_monit" value="Y" checked="">
								<label for="sms_monit">MONIT</label>
								</span>
								<!--
								<span class="radioF" style="float:none; display:inline-block;">
								<input type="checkbox" id="sms_present" name="sms_present" value="Y" checked="">
								<label for="sms_present">선물대잔치</label>
								</span>//-->
							</div>
						</dl>
					</div>
				</div>
				<div class="titW tW_t1">
					<h3>부가 정보</h3>
				</div>
				<div class="divider">
					<div class="join">
						<dl class="inT intAdrs">
							<dt>주소</dt>
							<dd>
							<span><input id="post_no" maxlength="6" name="post_no" placeholder="우편번호" title="우편번호 입력" type="text" value="16636"></span>
							<span><a href="javascript:openFindAddress()">우편번호</a></span>
							</dd>
							<dd class="pT0 mt10">
							<input id="address1" maxlength="250" name="address1" placeholder="우편 주소" title="주소 입력" type="text" value="경기 수원시 권선구 오목천동 447-15">
							</dd>
							<dd class="pT0 mt10">
							<input id="address2" maxlength="250" name="address2" placeholder="우편 상세주소" title="상세주소 입력" type="text" value="2">
							</dd>
						</dl>
						<dl class="inT">
							<dt>결혼 여부</dt>
							<dd>
							<span class="radioF">
							<input checked="checked" id="marriage_n" name="marriage_yn" type="radio" value="N">
							<label for="marriage_n">미혼</label>
							</span>
							<span class="radioF">
							<input id="marriage_y" name="marriage_yn" type="radio" value="Y">
							<label for="marriage_y">기혼</label>
							</span>
							</dd>
						</dl>
						<dl class="inT">
							<dt>임신 여부</dt>
							<dd>
							<span class="radioF">
							<input checked="checked" id="pregnancy_n" name="pregnancy_yn" type="radio" value="N">
							<label for="pregnancy_n">아니오</label>
							</span>
							<span class="radioF">
							<input id="pregnancy_y" name="pregnancy_yn" type="radio" value="Y">
							<label for="pregnancy_y">예</label>
							</span>
							</dd>
						</dl>
						<dl class="inT">
							<dt>SNS URL</dt>
							<dd>
							<input data-val="false" id="sns_url" maxlength="1024" name="sns_url" title="sns url 입력" type="text" value="">
							</dd>
						</dl>
					</div>
					<div class="inT">
						<div class="btn_area" style="margin-top:0px;">
							<ul class="clearfix">
								<li><a class="black_btn" href="/SSL/Mypage">취소</a></li>
								<li><a class="blue_btn" href="javascript://">수정</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form name="form_auth">
			<input type="hidden" name="ordr_idxx" id="ordr_idxx" value="201705291496032474942" placeholder="(필수)주문번호">
			<input type="hidden" name="req_tx" value="cert" placeholder="요청종류">
			<input type="hidden" name="cert_method" value="01" placeholder="요청구분">
			<input type="hidden" name="web_siteid" value="J15092200961" placeholder="웹사이트 아이디">
			<input type="hidden" name="fix_commid" value="" placeholder="노출 통신사(SKT:SKT, KT:KTF, LGU+:LGT)">
			<input type="hidden" name="site_cd" value="V6672" placeholder="사이트 코드(test:S6186)">
			<input type="hidden" name="Ret_URL" id="Ret_URL" value="https://www.m.ykbrand.co.kr/SSL/Module_KCP_Recive" placeholder="인증결과 리턴 페이지 (가맹점 URL)">
			<input type="hidden" name="cert_otp_use" value="Y" placeholder="(Y:실명 확인+OTP 점유확인, N:실명 확인Only)">
			<input type="hidden" name="cert_enc_use" value="Y" placeholder="고정값">
			<input type="hidden" name="cert_able_yn" value="Y" placeholder="본인확인 input 비활성화">
			<input type="hidden" name="web_siteid_hashYN" value="" placeholder="website ID 검증">
			<input type="hidden" name="res_cd" value="" placeholder="">
			<input type="hidden" name="res_msg" value="" placeholder="">
			<input type="hidden" name="veri_up_hash" value="" placeholder="up_hash 검증을 위한 필드">
			<input type="hidden" name="param_opt_1" id="param_opt_1" value="" placeholder="(옵션)인증완료시 리턴 (최종결과 전송페이지 URL 으로 사용)">
			<input type="hidden" name="param_opt_2" id="param_opt_2" value="" placeholder="(옵션)인증완료시 리턴">
			<input type="hidden" name="param_opt_3" id="param_opt_3" value="" placeholder="(옵션)인증완료시 리턴">
			<input type="hidden" name="user_name_url_yn" value="Y">
		</form>
		<form name="form_auth_result" id="form_auth_result">
		</form>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images//common/flogo.png" alt="유한킴벌리">
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>
	</body>
	</html>