<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>로그인 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>로그인</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form method="post">
				<div class="divider">
					<p class="sso_brand_img">
						<a href="http://m.ykbrand.co.kr/"><img style="width:130px;padding:10px 0px 10px 10px;" src="../../Common/images/common/simple_yk_logo.png" alt="유한킴벌리 통합회원"></a><!-- 201801 간편가입 -->
						<!-- <a href="http://m.ykbrand.co.kr/"><img style="padding:10px 0px 10px 10px;" src="https://m.ykbrand.co.kr/Common/images/common/sso_logo.gif" alt="유한킴벌리 통합회원"></a> -->
					</p>
					<div id="signin">
						<div class="cntBox bdn pT5">
							<p class="ts14">
								간편회원 로그인
							</p>
						</div>
						<div class="inT">
							<div class="social_login">
								<ul class="clearfix">
									<li><a href="#"><img src="../../Common/images/simple/simple_naver_login.jpg" alt="네이버 간편 로그인"></a></li>
									<li><a href="#"><img src="../../Common/images/simple/simple_facebook_login.jpg" alt="페이스북 간편 로그인"></a></li>
									<li><a href="#"><img src="../../Common/images/simple/simple_kakao_login.jpg" alt="카카오 간편 로그인"></a></li>
								</ul>
								<img class="simple_or" src="../../Common/images/simple/simple_or.jpg" alt="카카오 간편 로그인">
							</div>
							<p class="ts14 mar_b10">
								통합회원 로그인
							</p>
							<div class="simple_login_area">
								<table style="width:100%;">
								<colgroup>
								<col style="width:60px;"/>
								<col/>
								<col style="width:80px;"/>
								</colgroup>
								<tr>
									<td>
										아이디
									</td>
									<td>
										<input type="text">
									</td>
									<td rowspan="2">
										<div class="simple_login_btn">
											<a href="#none" id="btnLogin">로그인</a>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										비밀번호
									</td>
									<td>
										<input type="text">
									</td>
								</tr>
								</table>
							</div>
						</div>
						<div class="findlnk mar_t10">
							<a href="/SSL/FindId_Certify?returnUrl=%2F">아이디 찾기</a>
							<a href="/SSL/FindPwd_Certify?returnUrl=%2F">비밀번호 찾기</a>
						</div>
						<div class="inT">
							<p class="simple_title">
								유한킴벌리 회원이 되시면
							</p>
							<span>하나의 ID로 momQ, MONIT, 유한킴벌리 브랜드, 선물대잔치 사이트의 다양한 서비스를 편리하게 이용할 수 있습니다.</span>
							<div class="btn_area">
								<a class="black_btn" href="#">회원가입</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="../Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="../Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>
	</body>
	</html>
