<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>로그인 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<body>

<!-- 201801 로딩 s //-->
<div class="maskWhite" style="display:block;">
	<div class="lodings"></div>
</div>
<!-- 201801 로딩 e //-->

<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>간편가입</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form action="/SSL/Login?returnUrl=%2F" method="post">
				<input name="__RequestVerificationToken" type="hidden" value="XYER8Qajyltwml_P5C_imJN8XXX7_uww_kX9-hXQqyRyvconrst89yF91caB6Mqffrq6Q48by-m68CPBr_7R73p8Ulc1">
				<div class="divider">
					<div id="signin">
						<div class="inT">
							<div class="simple_join_tab2">
								<ul class="clearfix">
									<li class="on">01.정보입력</li>
									<li>02.가입완료</li>
								</ul>
							</div>
							<table class="simple_info">
							<colgroup>
							<col style="width:100px;"/>
							<col/>
							</colgroup>
							<tr>
								<th>
									이메일<span> *</span>
								</th>
								<td>
									abc@naver.com
								</td>
							</tr>
							<tr>
								<th>
									이메일<span> *</span>
								</th>
								<td>
									<ul class="simple_email clearfix">
										<li><input type="text"></li>
										<li class="email_li">
										<p>
											@
										</p>
										</li>
										<li><input type="text"></li>
									</ul>
									<select>
										<option>직접입력</option>
										<option>naver.com</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>
									휴대폰 번호<span> *</span>
								</th>
								<td>
									<ul class="clearfix">
										<li>
										<select>
											<option>010</option>
										</select>
										</li>
										<li>
										<input type="text">
										</li>
										<li>
										<input type="text">
										</li>
									</ul>
								</td>
							</tr>
							<tr>
								<th>
									메일 수신여부<span> *</span>
								</th>
								<td>
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">동의안함</label>
									</span>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">동의</label>
									</span>
								</td>
							</tr>
							<tr>
								<th>
									SMS 수신여부<span> *</span>
								</th>
								<td>
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">동의안함</label>
									</span>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">동의</label>
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="border:none;">
									<p class="dot">
										 수신 동의에 체크하시면 할인 혜택 및 상품정보, 이벤트 등 다양한 정보를 안내 받으실 수 있습니다.
									</p>
									<p class="dot">
										 단, 약관안내 및 서비스 내용, 주문/배송, 회사의 주요정책 관련 변경에 따른 메일/SMS은 정보수신 거부와 상관없이 발송될 수 있습니다.
									</p>
								</td>
							</tr>
							<tr>
								<th>
									아이정보
								</th>
								<td class="redio_100">
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">아이없음</label>
									</span><br>
									<br>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">아이있음(임산부 포함)</label>
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="border:none;">
									<p class="dot">
										 [아이있음]을 체크한 경우 <span>회원가입 완료 후</span> 아이 정보를 입력하는 페이지로 이동합니다.
									</p>
								</td>
							</tr>
							</table>
							<table class="simple_info2">
							<colgroup>
							<col/>
							<col style="width:70px;"/>
							</colgroup>
							<tr>
								<td>
									통합회원 이용약관
								</td>
								<th>
									<span>[내용보기]</span>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									통합회원 필수항목 개인정보 수집 및 이용
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									YK 브랜드 사이트 이용약관
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									YK 브랜드 사이트 개인정보 취급방침
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							</table>
							<div class="btn_area">
								<a class="black_btn" href="#">약관 동의하고 가입</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="../Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="../Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>
	</body>
	</html>
