<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>로그인 | 유한킴벌리 통합브랜드</title>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
		<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/common.css">
<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>간편가입</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form action="/SSL/Login?returnUrl=%2F" method="post">
				<input name="__RequestVerificationToken" type="hidden" value="XYER8Qajyltwml_P5C_imJN8XXX7_uww_kX9-hXQqyRyvconrst89yF91caB6Mqffrq6Q48by-m68CPBr_7R73p8Ulc1">
				<div class="divider">
					<!-- 20180302 s -->
					<p class="sso_brand_img">
						<a href="http://m.ykbrand.co.kr/"><img class="yk-logo" src="../../Common/images/common/yk_simple_logo.png" alt="유한킴벌리 유한킴벌리 SSO회원"></a>
						<a class="brand-logo" style="padding:10px 10px 10px 0;" href="http://www.momq.co.kr/main/initMain.action" target="blank">
							<img style="width:90px;" src="https://m.ykbrand.co.kr/Common/images/common/sso_momq.jpg" alt="momQ 로고">
						</a>
						<!-- <a class="brand-logo" style="padding:15px 10px 10px 0;" href="#" target="blank">
							<img style="width:120px;" src="../../Common/images/common/sso_happyshop.png" alt="선물대잔치">
						</a> -->
					</p>
					<!-- 20180302 e -->

					<div id="signin">
						<div class="inT">
							<div class="simple_join_tab2"> <!-- 201801 간편가입 : 클래스 수정 -->
								<ul class="clearfix">
									<!-- <li>01.휴대폰인증(선택)</li> 201801 간편가입 : 삭제 -->
									<li class="on">01.정보입력</li>
									<li>02.가입완료</li>
								</ul>
							</div>
							<table class="simple_info">
							<colgroup>
							<col style="width:100px;"/>
							<col/>
							</colgroup>
							<tr>
								<th>
									이메일<span> *</span>
								</th>
								<td>
									abc@naver.com
								</td>
							</tr>
							<tr>
								<th>
									이메일<span> *</span>
								</th>
								<td>
									<ul class="simple_email clearfix">
										<li><input type="text"></li>
										<li class="email_li">
										<p>
											@
										</p>
										</li>
										<li><input type="text"></li>
									</ul>
									<select>
										<option>직접입력</option>
										<option>naver.com</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>
									휴대폰 번호<span> *</span>
								</th>
								<td>
									<ul class="clearfix">
										<li>
										<select>
											<option>010</option>
										</select>
										</li>
										<li>
										<input type="text">
										</li>
										<li>
										<input type="text">
										</li>
									</ul>
									<p class="dot mt10">정확한 번호를 입력해 주시면 고객센터 문의 시 빠르게 확인 가능합니다.</p>  <!-- 20180302 -->
								</td>
							</tr>
							<!-- 2018-10-17 -->
							<tr>
								<th>
									광고성 <br>정보전송 동의 <span>*</span>
								</th>
								<td>
									<span class="radioF">
									<input checked="checked" id="YKMEMBER_AdAgree_N" name="marketing_yn" type="radio" value="N">
									<label for="YKMEMBER_AdAgree_N">동의안함</label>
									</span>
									<span class="radioF">
									<input checked="checked" id="YKMEMBER_AdAgree_Y" name="marketing_yn" type="radio" value="Y">
									<label for="YKMEMBER_AdAgree_Y">동의</label>
									</span>
								</td>
							</tr>
							<tr>
								<th style="vertical-align:top">
									광고성<Br> 정보 전송 매체 선택  <span>*</span>
								</th>
								<td>
									<span class="radioF">
									<input id="YKMEMBER_Required1_Mail" name="marketing_yn" type="checkbox" value="N">
									<label for="YKMEMBER_Required1_Mail">메일</label>
									</span>
									<span class="radioF">
									<input id="YKMEMBER_Required1_SMS" name="marketing_yn" type="checkbox" value="Y">
									<label for="YKMEMBER_Required1_SMS">SMS</label>
									</span>
									<br>
								
								</td>
							</tr>
							<tr>
								<td colspan="2" style="border:none;">
									<p class="dot">
										 수신 동의에 체크하시면 할인 혜택 및 상품정보, 이벤트 등 다양한 정보를 안내 받으실 수 있습니다.
									</p>
									<p class="dot">
										 단, 약관안내 및 서비스 내용, 주문/배송, 회사의 주요정책 관련 변경에 따른 메일/SMS은 정보수신 거부와 상관없이 발송될 수 있습니다.
									</p>
								</td>
							</tr>
							<!--tr>
								<th>
									메일 수신여부<span> *</span>
								</th>
								<td>
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">동의안함</label>
									</span>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">동의</label>
									</span>
								</td>
							</tr>
							<tr>
								<th>
									SMS 수신여부<span> *</span>
								</th>
								<td>
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">동의안함</label>
									</span>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">동의</label>
									</span>
								</td>
							</tr-->
							<!-- e 2018-10-17 -->
							
							<tr>
								<th>
									아이정보
								</th>
								<td class="redio_100">
									<span class="radioF">
									<input checked="checked" id="marketing_n" name="marketing_yn" type="radio" value="N">
									<label for="marketing_n">아이없음</label>
									</span><br>
									<br>
									<span class="radioF">
									<input checked="checked" id="marketing_y" name="marketing_yn" type="radio" value="Y">
									<label for="marketing_y">아이있음(임산부 포함)</label>
									</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" style="border:none;">
									<p class="dot">
										 [아이있음]을 체크한 경우 <span>회원가입 완료 후</span> 아이 정보를 입력하는 페이지로 이동합니다.
									</p>
								</td>
							</tr>
							</table>
							<table class="simple_info2">
							<colgroup>
							<col/>
							<col style="width:70px;"/>
							</colgroup>
							<tr>
								<td>
									유한킴벌리 SSO회원 이용약관
								</td>
								<th>
									<a href="javascript:;" class="to_termBtn"><span>[내용보기]</span></a>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									유한킴벌리 SSO회원 필수항목 개인정보 수집 및 이용
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									YK 브랜드 사이트 이용약관
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							<tr>
								<td class="border_none">
									YK 브랜드 사이트 개인정보 취급방침
								</td>
								<th class="border_none">
									<span>[내용보기]</span>
								</th>
							</tr>
							</table>
							<div class="btn_area">
								<a class="black_btn" href="#">약관 동의하고 가입</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="../Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="../Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>

	<!-- 20180307 s -->
	<div id="dim"></div>
	<div id="to_term" class="popup type2 hide">
    <h3>유한킴벌리 SSO회원 이용약관[필수]</h3>
    <div class="popCont">
        <!-- conts -->
				<div class="termCont">
					<strong>제1조 (목적)</strong><br>
	        본 약관은 "유한킴벌리 주식회사"(이하 "당사"라 함)가 당사가 운영하는 홈페이지를 통해 제공하는 회원제 서비스 이용과 관련하여 당사와 회원의 제반 권리, 의무, 관련 절차 등을 규정하는데 그 목적이 있습니다.<br>
	        <br>
	        <strong>제2조 (용어의 정의)</strong><br>
	        본 약관에서 사용하는 주요 용어의 정의는 다음과 같습니다.<br>
	        ① "유한킴벌리 SSO회원" 또는 "회원"이란 momQ, 선물대잔치, 브랜드 사이트 등 당사가 운영하는 서비스 홈페이지(이하 "서비스 홈페이지"라 함)에서 본 약관 제5조에 정해진 가입 절차에 따라 가입하여 SSO(Single Sing On, 통합 로그인)을 통해 정상적으로 당사 홈페이지의 서비스(이하 "유한킴벌리 SSO회원 서비스" 또는 "서비스"라 함)를 이용할 수 있는 권한을 부여 받은 자를 말합니다.<br>
	        ② "유한킴벌리 SSO회원 서비스" 또는 "서비스"란 당사 서비스 홈페이지를 대상으로 한 아이디 관리 등의 전반적인 고객 서비스 프로그램을 말합니다.<br>
	        <br>
	        <strong>제3조 (약관의 효력 및 개정)</strong><br>
	        ① 본 약관의 내용은 당사 홈페이지 화면을 통해 게시되거나 기타의 방법으로 회원에게 공지된 약관에 동의한 회원이 "유한킴벌리 SSO회원 서비스"에 동의한다는 의사표시를 함으로써 효력이 발생합니다.<br>
	        ② 본 약관은 "유한킴벌리 SSO회원 서비스"에 가입된 회원을 포함하여 서비스를 이용하고자 하는 모든 회원에 대하여 그 효력을 발생합니다.<br>
	        ③ 본 약관은 수시로 개정 가능하며 약관을 개정하고자 할 경우 당사는 개정된 약관을 적용하고자 하는 날로부터 14일 이전에 약관이 개정된다는 사실과 개정된 내용 등을 아래 규정된 방법 중 1가지 이상의 방법으로 회원에게 통지합니다. 다만, 회원에게 불리하게 약관내용이 변경되는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 고지합니다.<br>
	        - e-mail 통보<br>
	        - 통합브랜드 홈페이지(www.ykbrand.co.kr)내 고지<br>
	        - 스마트폰 APP Push<br>
	        - 당사 사이트 내 게시<br>
	        - 기타 회원 가입 시, 회원이 제공한 연락처 정보 등을 이용한 전화 안내 등의 방법<br>
	        ④ 당사가 e-mail 통보 또는 서면 통보의 방법으로 본 약관이 개정된 사실 및 개정된 내용을 회원에게 고지하는 경우에는 회원이 제공한 e-mail 주소나 주소지 중 가장 최근에 제공된 곳으로 통보하며 이 경우, 당사가 적법한 통보를 완료한 것으로 봅니다.<br>
	        ⑤ 본 규정에 의하여 약관은 원칙적으로 그 효력 발생일로부터 장래를 향하여 유효합니다.<br>
	        ⑥ 본 약관의 관련하여 이의가 있는 회원은 회원탈퇴를 할 수 있으며 약관의 효력발생일까지 탈퇴하지 않거나 별도로 당사에 이의를 제기하지 않는 경우 약관에 동의한 것으로 봅니다.<br>
	        ⑦ 본 규정의 통지방법 및 통지의 효력은 본 약관의 각 조항에서 규정하는 개별적인 또는 전체적인 통지의 경우에 이를 준용합니다.<br>
	        <br>
	        <strong>제4조 ("유한킴벌리 SSO회원 서비스" 서비스 개요)</strong><br>
	        ① 당사가 본 약관에 정해진 바에 따라 회원에게 제공하는 "유한킴벌리 SSO회원 서비스"의 회원 제도는 아래와 같습니다.<br>
	        1) 통합회원<br>
	        본인인증을 통해 인증된 회원정보로 통합회원으로 가입하여, 하나의 아이디로 당사 서비스 홈페이지를 이용할 수 있습니다.<br>
	        2) 간편회원<br>
	        SNS 로그인을 통해 인증된 회원정보로 간편회원으로 가입하여, 본인인증 없이 당사 서비스 홈페이지를 이용할 수 있습니다.<br>
	        ② "유한킴벌리 SSO회원 서비스" 운영 이전에 당사가 운영하는 서비스의 회원으로 가입한 회원의 경우 당사 서비스를 원활하게 이용하기 위해서는 본 약관에 대한 동의 및 개인정보 처리에 대한 동의 등 추가 등록절차를 완료하여야 당사 서비스 홈페이지 이용 및 본 조 ①항에 명시된 서비스를 원활히 제공 받을 수 있습니다.<br>
	        <br>
	        <strong>제2장 회원가입</strong><br>
	        <br>
	        <strong>제5조 (회원가입)</strong><br>
	        ① 회원 가입은 각 서비스 홈페이지를 통해 가능합니다.<br>
	        "유한킴벌리 SSO회원"으로 가입하고자 하는 고객은 서비스 홈페이지에서 정한 사항을 기입한 후 본 약관과 개인정보 처리 관련 동의 항목에 동의함으로써 회원가입을 신청합니다.<br>
	        ② 회원은 회원자격을 타인에게 양도하거나 대여 또는 담보의 목적으로 이용할 수 없습니다.<br>
	        <br>
	        <strong>제6조 (회원탈퇴 및 자격상실)</strong><br>
	        ① 회원은 언제든지 홈페이지 및 기타 당사가 정하는 방법으로 회원탈퇴를 요청할 수 있으며, 당사는 본인 확인의 필요 등의 특별한 사정이 없는 한 회원의 요청에 따라 신속히 회원탈퇴에 필요한 제반 절차를 수행합니다. 단, 회원탈퇴 시 이벤트 부정 이용 방지 등을 위하여 탈퇴일로부터 90일 이내에는 재가입이 제한됩니다.<br>
	        ② 회원이 다음 각 호에 해당하는 경우, 당사는 당해 회원에 대해 통보함으로써 회원 자격을 상실시킬 수 있습니다. 단, 3)호의 경우에는 회원에 대한 통보 없이 자격이 상실됩니다.<br>
	        1) 회원 가입 신청 시, 허위 내용을 등록하거나 타인의 명의를 도용한 경우<br>
	        2) 회원이 회원 아이디를 이용하여 특정 서비스에서 부정적립, 부정사용 등 부정한 방법을 사용한 경우<br>
	        - 부정적립 : 회원이 실제로 상품이나 서비스를 구매하지 않았음에도 불구하고 당해 회원에게 포인트가 적립된 경우를 말합니다.<br>
	        - 부정적립된 포인트는 회원 자격 상실 통보와 함께 동시 소멸하고 이에 대하여 회원은 어떠한 권리도 주장할 수 없습니다. 또한 부정적립 포인트로 상품이나 서비스를 구매하는 등의 부당이득이 발생한 경우 회원 당사자 또는 부정적립 동조자는 당사 또는 제휴사에 대하여 민•형사상 책임을 집니다.<br>
	        - 부정사용 : 당사나 제휴사 또는 회원의 동의 없이 타 회원의 포인트를 수단과 방법에 관계 없이 임의로 사용한 경우를 말합니다.<br>
	        3) 다른 회원의 당사 서비스 홈페이지 이용을 부당하게 방해하거나 그 정보를 도용하는 등 관련 법령을 위반하여 전자거래질서를 위협하는 경우<br>
	        4) 당사 서비스 홈페이지를 이용하여 법령 및 본 약관이나 해당 약관에서 금지하는행위 또는 기타 공서양속에 반하는 행위를 하는 경우<br>
	        5) "유한킴벌리 SSO회원 서비스" 운영을 고의로 방해하는 행위를 하는 경우<br>
	        6) 이용 중인 서비스 중 어느 하나 이상의 서비스의 자격 상실 사유 발생<br>
	        7) 사회통념상 "유한킴벌리 SSO회원 서비스"의 제공을 거부할 필요가 있다고 인정되는 경우<br>
	        8) 기타 본 약관이 규정하는 회원의 의무를 위반하는 경우<br>
	        ③ 본 조 제 ② 항에 의해 회원 자격이 상실된 회원은 당사로부터 해당 사유발생에 대한 통지를 받은 날로부터 최대 30일 이내에 본인의 의견을 소명할 수 있으며, 당사는 회원의 소명 내용을 심사하여 회원의 주장이 타당하다고 판단하는 경우 회원으로 하여금 계속하여 정상적인 "유한킴벌리 SSO회원 서비스"를 이용할 수 있도록 합니다.<br>
	        ④ 본 조 제①항에 의한 회원탈퇴 또는 제②항에 의한 회원자격상실이 확정되는 시점은 아래와 같습니다.<br>
	        1) 회원의 탈퇴요청의 경우에는 당사가 회원탈퇴 처리의 완료 통보하는 시점에서 탈퇴가 완료 됩니다.<br>
	        2) 회원자격상실의 경우 통보일에 회원 자격상실이 확정됩니다.<br>
	        ⑤본 조 제①항에 의한 회원탈퇴 또는 제②항에 의한 회원자격상실이 된 경우 회원 정보는 본 약관 제9조에 규정하는 바에 따라 일정 기간 보유 후 삭제처리 됩니다.<br>
	        <br>
	        <strong>제3장 개인정보 보호</strong><br>
	        <br>
	        <strong>제7조 (개인정보 수집)</strong><br>
	        ① 당사는 회원의 개인정보 수집 시 서비스 제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.<br>
	        ② 당사는 회원의 가입신청 시 사전에 회원으로부터 동의를 얻어 회원의 다양한 서비스 이용 과 관련한 정보를 수집 저장 할 수 있으며 이를 분석하여 회원에게 보다 나은 서비스를 제공하고 고객 지향적인 마케팅 활동을 할 수 있습니다.<br>
	        ③ 당사는 개인정보를 수집하고자 하는 경우 당해 회원께 그 목적을 고지하고 별도 양식에 따른 동의를 받고 있으며 회원은 언제든지 이를 철회할 수 있습니다.<br>
	        ④ 회원은 당사에 제공한 개인정보에 변경사항이 있는 경우에는 지체 없이 당사에 그 변경사실을 통지하여야 하며, 이를 통지하지 않아 발생한 손해에 대하여 당사는 어떠한 책임도 지지 않습니다.<br>
	        <br>
	        <strong>제8조 (개인정보 이용과 제공)</strong><br>
					당사는 수집된 개인정보를 법령이 정한 바에 따라 동의를 받은 범위에서 또는 그밖에 법령상 허용된 범위에서 이용하고, ‘개인정보처리방침’에 기재된 목적 범위 내에서만 활용하며 수집한 개인정보를 당해 회원의 동의 없이 ‘개인정보처리방침'에 기재된 목적 범위를 넘어선 용도로 이용할 수 없습니다. 다만, 법률에 특별한 규정이 있는 경우에는 예외로 합니다.<br>
	        <br>
	        <strong>제9조 (개인정보 보유 및 이용기간)</strong><br>
	        당사는 보유기간의 경과, 개인정보의 처리 목적 달성 등 회원의 개인정보가 불필요하게 되었을 때에는 지체 없이 이를 파기함을 원칙으로 합니다. 다만, 사전에 동의를 받은 경우 또는 관계법령의 규정에 의하여 보존할 필요가 있는 경우에는 동의를 받은 기간 또는 관계법령에서 정한 일정한 기간 동안 회원정보의 전부 또는 일부를 보관할 수 있습니다.<br>
	        1) 당사는 재가입으로 인한 부정 이용 및 피해를 방지하기 위해 회원탈퇴 후 90일간 회원의 아이디 및 본인인증정보를 보존합니다.<br>
	        2) 관련법령에 의해 다음과 같이 일정기간 보유해야 할 필요가 있을 경우에는 관련 법령이 정한 기간 또는 다음 각 호의 기간 동안 회원정보를 보유할 수 있습니다.<br>
	        - 계약 또는 청약철회 등에 관한 기록 : 5년<br>
	        - 대금결제 및 재화등의 공급에 관한 기록 : 5년<br>
	        - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년<br>
	        - 본인확인에 관한 기록: 6개월<br>
					- 웹사이트 방문기록: 3개월<br>
	        <br>
	        <strong>제10조 (개인정보 보호를 위한 회원의 권리)</strong><br>
	        ① 회원은 회원탈퇴를 통해 본 약관과 관련한 개인정보의 제공 및 활용과 관련한 동의를 철회할 수 있습니다. <br>
	        ② 회원은 당사가 고지한 개인정보보호책임자에게 당사에 대하여 본인의 개인정보에 대한 열람을 요구할 수 있으며, 자신의 개인정보에 오류가 있는 경우 서비스 홈페이지를 통해 직접 수정하거나 개인정보보호책임자에게 정정을 요구할 수 있습니다.<br>
	        ③ 당사는 회원으로부터 본 조 제①항의 규정에 의한 동의철회 및 본 조 제②항의 규정에 의한 열람 및 정정요구를 받은 경우에는 지체 없이 필요한 조치를 취합니다.<br>
	        <br>
	        <strong>제11조 (개인정보 처리의 위탁)</strong><br>
	        ① 당사는 수집된 개인정보의 처리 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 업무의 일부 또는 전부를 업체에 위탁할 수 있으며 위탁업체의 세부내용은 당사 서비스 홈페이지의 ‘개인정보처리방침’을 통해 확인할 수 있습니다.<br>
					② 당사는 제3자에게 회원의 개인정보를 처리할 수 있도록 업무를 위탁하는 경우에는 1) 개인정보 처리위탁을 받는 자, 2) 개인정보 처리위탁을 하는 업무의 내용을 회원께 알리고 동의를 받으며, 다만, 서비스 제공에 관한 계약 이행을 위해 필요하고 회원의 편의증진과 관련된 경우에는 법령이 정하는 방법으로 개인정보 처리방침을 통해 알림으로써 고지절차와 동의절차를 거치지 아니합니다.<br>
					1) 정보통신서비스의 제공에 관한 계약 이행 및 이용자 편의 증진 등을 위하여 서버, 네트워크, 보안관제 운영 대행에 수반하는 개인정보 처리 업무를 국외의 미국 킴벌리클라크코퍼레이션에 위탁하고 있으며, 법령에 따라 동의가 필요한 경우 관련 내용을 회원께 알린 후 동의를 받습니다.<br>
					2) 회원 개인정보는 국내 개인정보보호법 및 정보통신망법에 따라 당사가 책임지고 관리합니다.<br>
	        <br>
	        <strong>제12조 (개인정보 관리)</strong><br>
	        ① 당사는 수집된 회원의 개인정보 관리를 위해 각 사이트에 개인정보 보호책임자와 개인정보 관리담당자를 별도로 지정해 관리할 수 있으며, 개인정보 보호책임자와 개인정보 관리담당자의 성명과 연락처는 당사의 서비스 홈페이지 내 ‘개인정보처리방침’을 통해 확인할 수 있습니다.<br>
	        ② 당사는 회원이 안심하고 서비스를 이용할 수 있도록 회원의 개인정보 보호를 위한 보안시스템을 갖추도록 노력합니다.<br>
	        <br>
	        <strong>제13조 (만 14세 미만의 미성년자의 개인정보 보호)</strong><br>
	        "유한킴벌리 SSO회원 서비스"는 법정대리인의 동의가 필요한 만 14세 미만 아동의 회원가입을 받지 않습니다.<br>
	        <br>
	        <strong>제4장 유한킴벌리 SSO회원 서비스</strong><br>
	        <br>
	        <strong>제14조 (서비스의 중단)</strong><br>
	        ① 당사는 다음 각 호에 해당하는 경우 서비스 제공을 전부 또는 일부를 제한하거나 중지할 수 있습니다.<br>
	        1) 컴퓨터 등 정보통신설비의 점검, 보수, 교체 및 고장, 통신의 두절 등의 부득이한 사유가 발생한 경우<br>
	        2) 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우<br>
	        3) 정전, 제반 설비의 장애 또는 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우<br>
	        4) 홈페이지 서비스 제공업자와의 계약 종료 등과 같은 당사의 제반 사정으로 서비스를 유지할 수 없는 경우<br>
	        5) 기타 국가 비상 사태 나 천재 지변 등 불가항력적 사유가 있는 경우<br>
	        ② 당사는 본 조 제 ① 항의 규정에 의하여 서비스홈페이지의 이용을 제한하거나 중지한 때에는 그 사유 및 제한기간 등을 당사는 e-mail 또는 홈페이지에 게시하는 방법으로 회원에게 서비스 중단사실을 알려드립니다.<br>
	        <br>
	        <strong>제15조 (회원의 아이디 및 비밀번호)</strong><br>
	        ① 본 약관 제 2조에 명시된 서비스 홈페이지를 회원이 원활하게 이용할 수 있도록 본인인증을 통해 가입하는 통합회원 서비스와 SNS계정을 통해 가입하는 간편회원 서비스를 제공하고 있습니다. 향후 통합회원 아이디와 간편회원 아이디를 통해 사용할 수 있는 서비스 홈페이지는 당사의 정책에 따라 추가/변동될 수 있습니다.<br>
	        ② 회원의 아이디 및 비밀번호에 관한 관리책임은 회원 본인에게 있으며 제3자에게 자신의 아이디 및 비밀번호를 알려주거나 이용하게 해서는 안됩니다.<br>
	        ③ 회원이 자신의 아이디 및 비밀번호를 도용 당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 당사에 통보하여 그 안내에 따라야 합니다.<br>
	        ④ 당사는 당사의 귀책사유 없이 회원이 자신의 아이디 및 비밀번호를 도용 당한 데 따른 손해에 대해서는 법적 책임을 부담하지 않습니다.<br>
					<br>
	        <strong>제16조 (저작권의 귀속 및 이용제한)</strong><br>
	        ① 당사가 작성한 저작물에 대한 저작권 기타 지식재산권은 당사에 귀속합니다.<br>
	        ② 회원은 홈페이지를 이용함으로써 얻은 정보를 당사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자로 하여금 이용하게 해서는 안됩니다.<br>
	        ③ 회원이 게시한 게시물의 내용에 대한 권리와 책임은 당해 회원에게 있습니다. 따라서 회원의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 당해 회원이 부담하여야 합니다.<br>
	        ④ 당사는 본 약관에 따라 회원에게 귀속된 저작권을 사용하는 경우 당해 회원에게 통보하여야 합니다.<br>
	        ⑤ 당사는 게시된 내용을 게시물의 동일성을 해하지 않는 범위 내에서 이동시킬 수 있는 권리를 보유하며, 다음의 경우 사전 통지 없이 삭제할 수 있습니다.<br>
	        1) 외설적, 폭력적, 차별적, 보복적이거나 기타 법령이나 공서양속에 반하는 경우<br>
	        2) 회사 또는 제 3자나 그 제품, 브랜드에 대한 극단적인 악평 등 타인을 비방하거나 명예를 훼손하는 내용의 게시물<br>
	        3) 회사 또는 제3자의 지식재산권 등 기타 권리를 침해하거나 기타 게시자가 게시물에 대한 권리를 보유하지 아니한 경우<br>
	        4) 범죄 등 불법적인 행위와 관련한 내용 또는 기만적이거나 오도하는 게시물<br>
	        5) 타인의 의견을 폄하하는 내용, 의도적으로 타인을 불쾌하게 하거나 타인에게 충격을 주는 게시물<br>
	        6) 다른 제품이나 서비스의 판매 또는 홍보 등 영리를 목적으로 한 게시물로서 회사의 동의를 받지 아니한 것<br>
	        7) 회사가 별도로 규정, 고지한 게시기간이나 용량을 초과한 경우<br>
					8) 회사가 별도로 규정, 고지한 주제가 있는 경우, 이와 관련 없는 게시물<br>
					9) 영업비밀에 속하는 정보 또는 개인을 식별할 수 있는 정보를 포함하는 게시물<br>
					10) 만 14세 미만의 자가 게시한 게시물<br>
					11) 스팸 또는 피싱을 포함하는 경우<br>
					12) 기타 이 약관이나 관련 법령에 위배되는 경우<br>
	        <br>
	        <strong>제17조 (당사의 의무)</strong><br>
	        ① 당사는 본 약관에서 정한 바에 따라 계속적이고 안정적인 서비스의 제공을 위하여 지속적으로 노력하며, 설비에 장애가 생기거나 멸실 된 때에는 지체 없이 이를 수리 복구하여야 합니다.<br>
	        ② 당사는 회원의 개인정보 수집 및 이용에 관련하여 관련 법률을 준수하고 처리 관련 내용을 ‘개인정보 처리방침’을 통해 공개합니다.<br>
	        ③ 당사는 회원으로부터 소정의 절차에 의해 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 적절한 절차를 거쳐 처리하여야 합니다. 처리 시 일정 기간이 소요될 경우 회원에게 그 사유와 처리 일정을 알려주어야 합니다.<br>
	        ④ 당사가 제공하는 서비스로 인하여 회원에게 손해가 발생한 경우 그러한 손해가 당사의 고의나 과실에 기해 발생한 경우에 한하여 당사에서 책임을 부담하며, 그 책임의 범위는 예측이 가능한 통상손해에 한합니다. <br>
	        ⑤ 당사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 통신비밀보호법, 전기통신사업법 등 서비스의 운영, 유지와 관련 있는 법규를 준수합니다.<br>
	        <br>
	        <strong>제18조 (회원의 의무)</strong><br>
	        ① 회원은 다음 행위를 하여서는 안됩니다.<br>
	        - 신청 또는 변경 시 허위내용의 등록 또는 타인의 정보 도용<br>
	        - 당사에서 게시된 정보의 무단 변경, 삭제 등 훼손 행위<br>
	        - 당사가 지정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시<br>
	        - 기타 제3자의 저작권 등 지식재산권을 침해하거나 제3자의 명예 손상 및 업무를 방해하는 행위<br>
	        - 외설 또는 폭력적인 메시지/화상/음성/기타 공서양속에 반하는 정보를 홈페이지에 공개 또는 게시하는 행위<br>
					- 당사의 동의 없이 다른 제품이나 서비스의 판매 또는 홍보를 위한 행위 등 영리를 목적으로 서비스를 이용하는 행위<br>
					- 당사의 정상적인 서비스 운영을 방해할 현저한 우려가 있는 행위<br>
					· 서비스의 운영과 관련하여 진위가 불분명한 사실 또는 허위의 사실을 적시하거나 유포하여 당사의 명예와 신용을 훼손하는 경우<br>
					· 서비스의 이용과정에서 직원에게 모욕, 협박 또는 음란한 언행 등으로 서비스의 운영을 방해하는 경우<br>
					· 서비스를 통해 구매한 재화 등을 정당한 이유 없이 상습적으로 취소 또는 반품하여 당사의 업무를 방해하는 경우<br>
					- 기타 관련 법령, 이 약관 또는 공서양속에 반하는 행위<br>
	        <br>
	        <strong>제19조 (Web site연결과 당사의 책임)</strong><br>
	        당사 홈페이지와 다른 Website(서비스 홈페이지 포함)가 각종 링크(예: 링크의 대상에는 문자, 그림 및 동화상 등이 포함 됨) 방식 등으로 연결된 경우, 당사는 회원과 당해 Website 간의 이루어지는 일체의 거래에 대해서는 어떠한 책임도 지지 않습니다.<br>
	        <strong>제20조 (광고게재 및 광고주와의 거래)</strong><br>
	        ① 당사 홈페이지 서비스를 이용하고자 하는 자는 서비스 이용 시 노출되는 광고게재에 대해 동의하는 것으로 간주됩니다.<br>
	        ② 당사는 회원의 동의를 얻어 영리목적의 광고성 e-mail 및 SMS, DM를 발송하거나 별도의 안내 권유 전화를 할 수 있으며 회원이 명백히 수신거부의사를 표시할 경우 당사는 이를 즉시 중지하여야 합니다. 당사는 재화/용역에 대하여「표시 광고의 공정화에 관한 법률」제3조 소정의 부당한 표시 광고행위를 하지 않습니다.<br>
	        <br>
	        <strong>제21조 ( 서비스 이용책임)</strong><br>
	        회원은 당사의 적법한 권한 있는 자로부터 구체적으로 명시적인 사전 서면 승인을 받은 경우를 제외하고는 서비스를 이용하여 특히 해킹, 돈벌이 광고, 음란 사이트 등을 통한 상업행위, 상용S/W 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 결과 및 손해, 관계기관에 의한 형사처벌 등 법적 조치 등에 관해서는 당사가 책임을 지지 않습니다.<br>
	        <br>
	        <strong>제22조 ( 홈페이지 서비스 이용 관련 분쟁 해결)</strong><br>
	        ① 당사는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해 별도의 고객센터를 설치/운영합니다.<br>
	        ② 당사는 회원으로부터 소정의 절차에 의해 제기되는 의견이나 불만이 정당하다고 인정할 경우에는 적절한 절차를 거쳐 처리합니다. 단, 처리 시 일정 기간이 소요될 경우 회원에게 그 사유와 처리 일정을 즉시 통보 합니다.<br>
	        ③ 당사와 회원간에 발생한 분쟁은 전자거래기본법에 의하여 설치된 전자거래분쟁조정위원회의 조정에 따를 수 있습니다.<br>
	        <br>
	        <strong>제23조 (본 약관에서 정하지 않은 사항)</strong><br>
	        본 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 관계법령 및 상관례에 따릅니다.<br>
	        <br>
	        <strong>제24조 (면책조항)</strong><br>
	        ① 당사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.<br>
	        ② 당사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.<br>
	        ③ 당사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.<br>
	        ④ 당사는 회원이 서비스에 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관하여는 책임을 지지 않습니다.<br>
	        ⑤ 당사는 서비스 이용과 관련하여 가입자에게 발생한 손해 가운데 회원의 고의, 과실에 의한 손해에 대하여 책임을 지지 않습니다.<br>
	        <br>
	        <strong>제25조 (준거법 및 합의 관할)</strong><br>
	        ①본 약관에서 정하지 않은 사항과 본 약관의 해석에 관하여는 대한민국 관련법령 및 상관례에 따릅니다.<br>
	        ②본 약관에 의한 서비스 이용과 관련한 제반 분쟁 및 소송은 회원의 주소를 관할하는 법원에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 이용자의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.<br>
	        <br>
					이 약관은 2018년 3월 30일부터 시행합니다.<br>단, 제4조 및 제15조는 2018년 3월 12일부터 시행합니다.<br><br>
	        <!-- 이 약관은 2016년 12월 19일부터 시행합니다.<br /> -->
				</div>
        <!-- //conts -->
    </div>
    <a href="#none" class="popClose"><img src="../../Common/images/btn/btn_close2.png" alt="팝업닫기"></a>
	</div>
	<script>
		$(".to_termBtn").on("click", function () {
		  if ($(".popup").hasClass("hide")) {
	      $("#to_term").removeClass("hide");
	      popupDim();
		  }
		});
	</script>
	<!-- 20180307 e -->

	</body>
	</html>
