<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>약관관리 | 마이페이지 | 유한킴벌리 통합브랜드</title>
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<!-- <link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css"> -->
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<!-- 20180306 s -->
<style>
.inT dt{font-size:15px;}
</style>
<!-- 20180306 e -->
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>약관관리</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form action="/SSL/Mypage_Terms?returnUrl=%2F" method="post">
				<input name="__RequestVerificationToken" type="hidden" value="zLwHCdtqpMsfm3wSnr8aPiaC7j5-Z_fC6VJ2qDjZbJAwbYMbowr2CegNoMCn24T7ISpofpspm2OlXpRMZbaB8RpKEhY1">
				<div class="divider">
					<div class="cnt">
						<p class="ft_bold" style="font-size:18px; line-height:20px; margin-top:30px;">
							회원으로 가입하고 싶은 브랜드 및 사이트를 선택하여 주세요.
						</p>
						<div class="cnt_tbl">
							<table>
							<colgroup>
							<col style="width:20%;">
							<col>
							</colgroup>
							<tbody>
							<tr>
								<th>
									선택
								</th>
								<th colspan="2">
									가입채널
								</th>
							</tr>
							<tr>
								<td>
									<span class="radioF" style="float:none; display:inline-block;">
									<input type="checkbox" id="siteMember" name="siteMember" value="Y" checked="checked" class="chkRequired">
									<label for="siteMember">&nbsp;</label>
									</span>
								</td>
								<td class="ft_16" colspan="2">
									<span class="ft_blue ft_bold">[필수]</span><span class="ft_bold">유한킴벌리 SSO회원</span>   <!-- 20180306 text //-->
								</td>
							</tr>
							<tr>
								<td>
									<span class="radioF" style="float:none; display:inline-block;">
									<input type="checkbox" id="siteBrand" name="siteBrand" value="Y" checked="">
									<label for="siteBrand">&nbsp;</label>
									</span>
								</td>
								<td colspan="2">
									<span class="ft_bold ft_16">통합브랜드</span><span class="ft_bold"><br>
									(하기스,하기스 아기물티슈,굿나이트,화이트,좋은느낌,크리넥스,스카트,마이비데,디펜드,티엔,그린핑거,우리나눔TV,골든프렌즈)</span>
								</td>
							</tr>
							<tr>
								<td>
									<span class="radioF" style="float:none; display:inline-block;">
									<input type="checkbox" id="siteMomq" name="siteMomq" value="Y" checked="">
									<label for="siteMomq">&nbsp;</label>
									</span>
								</td>
								<td class="ft_16 td_mom">
									<div style="float:left;">
										<span class="ft_bold">momQ</span>
									</div>
								</td>
								<td class="td_back">
									<p class="ft_bold" style="font-size:8px;color:#737373; padding-left:23px;">
										유한킴벌리 공식몰&nbsp;‘맘큐’&nbsp;가입(약관동의)&nbsp;하면 적립금&nbsp;2천원과 할인쿠폰 지급!
									</p>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td class="ft_16" colspan="2">
									<span class="radioF" style="float:left;width:33px;display:inline-block;">
											<input type="checkbox" id="siteMonit" name="siteMonit" value="Y" checked="checked" class="chkRequired">
											<label for="siteMonit">&nbsp;</label>
									</span>
									<div style="float:left;">
										<span class="ft_blue ft_bold">[선택]</span><span class="ft_bold">모닛</span>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<span class="radioF" style="float:none; display:inline-block;">
									<input type="checkbox" id="sitePresent" name="sitePresent" value="Y" checked="">
									<label for="sitePresent">&nbsp;</label>
									</span>
								</td>
								<td class="ft_16" colspan="2">
									<span class="ft_bold">선물대잔치</span>
								</td>
							</tr>
							</tbody>
							</table>
							<p class="ft_bold" style="font-size:18px; line-height:20px; margin-top:30px;">
								약관을 읽어 보시고 동의해 주십시오
							</p>
							<p class="checkF mt20">
								<input type="checkbox" id="chkAll">
								<label for="chkAll" style="margin-top:5px;">(필수/선택) 약관 모두 동의</label>
								<button type="button" class="chk_all_button btnSubmit">다음</button>
							</p>
						</div>
					</div>
					<div class="termT">
						<p class="checkF">
							<input type="checkbox" id="chkAllRequired">
							<label for="chkAllRequired">모두 동의</label><span class="ft_bold" style="float:right; font-size:14px;margin-top:2px;">[필수약관]</span>
						</p>
					</div>
					<div id="requiredTermsArea">
						<dl class="inT termF YKMEMBER_RequiredArea">
							<dt>유한킴벌리 SSO회원 이용약관</dt>   <!-- 20180306 text //-->
							<dd>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Required1_N" name="YKMEMBER_Required1" value="N">
							<label for="YKMEMBER_Required1_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Required1_y" name="YKMEMBER_Required1" value="Y" checked="">
							<label for="YKMEMBER_Required1_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKMEMBER_Required1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKMEMBER_RequiredArea">
							<dt>유한킴벌리 SSO회원 필수항목 개인정보 수집 및 이용</dt>   <!-- 20180306 text //-->
							<dd>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Required2_N" name="YKMEMBER_Required2" value="N">
							<label for="YKMEMBER_Required2_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Required2_y" name="YKMEMBER_Required2" value="Y" checked="">
							<label for="YKMEMBER_Required2_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKMEMBER_Required2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKBRAND_RequiredArea">
							<dt>통합브랜드 이용약관</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Required1_N" name="YKBRAND_Required1" value="N">
							<label for="YKBRAND_Required1_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Required1_y" name="YKBRAND_Required1" value="Y" checked="">
							<label for="YKBRAND_Required1_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKBRAND_Required1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKBRAND_RequiredArea">
							<dt>통합브랜드 필수항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Required2_N" name="YKBRAND_Required2" value="N">
							<label for="YKBRAND_Required2_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Required2_y" name="YKBRAND_Required2" value="Y" checked="">
							<label for="YKBRAND_Required2_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKBRAND_Required2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF MOMQ_RequiredArea">
							<dt>momQ 이용약관</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="MOMQ_Required1_N" name="MOMQ_Required1" value="N">
							<label for="MOMQ_Required1_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="MOMQ_Required1_y" name="MOMQ_Required1" value="Y" checked="">
							<label for="MOMQ_Required1_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=MOMQ_Required1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF MOMQ_RequiredArea">
							<dt>momQ 필수항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="MOMQ_Required2_N" name="MOMQ_Required2" value="N">
							<label for="MOMQ_Required2_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="MOMQ_Required2_y" name="MOMQ_Required2" value="Y" checked="">
							<label for="MOMQ_Required2_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=MOMQ_Required2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF PRESENT_RequiredArea">
							<dt>선물대잔치 이용약관</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="PRESENT_Required1_N" name="PRESENT_Required1" value="N">
							<label for="PRESENT_Required1_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="PRESENT_Required1_y" name="PRESENT_Required1" value="Y" checked="">
							<label for="PRESENT_Required1_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=PRESENT_Required1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF PRESENT_RequiredArea">
							<dt>선물대잔치 필수항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="PRESENT_Required2_N" name="PRESENT_Required2" value="N">
							<label for="PRESENT_Required2_N">동의안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="PRESENT_Required2_y" name="PRESENT_Required2" value="Y" checked="">
							<label for="PRESENT_Required2_y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=PRESENT_Required2'">내용보기</button>
							</span>
							</dd>
						</dl>
					</div>
					<div class="termT">
						<p class="checkF">
							<input type="checkbox" id="chkAllOptional">
							<label for="chkAllOptional">모두 동의</label><span class="ft_bold" style="float:right; font-size:14px;margin-top:2px;">[선택약관]</span>
						</p>
					</div>
					<div id="optionalTermsArea">
						<dl class="inT termF YKMEMBER_OptionalArea">
							<dt>유한킴벌리 SSO회원 선택항목 개인정보 수집 및 이용</dt>   <!-- 20180306 text //-->
							<dd>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Optional1_N" name="YKMEMBER_Optional1" value="N">
							<label for="YKMEMBER_Optional1_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKMEMBER_Optional1_Y" name="YKMEMBER_Optional1" value="Y" checked="">
							<label for="YKMEMBER_Optional1_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKMEMBER_Optional'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKBRAND_OptionalArea">
							<dt>통합브랜드 선택항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional1_N" name="YKBRAND_Optional1" value="N">
							<label for="YKBRAND_Optional1_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional1_Y" name="YKBRAND_Optional1" value="Y" checked="">
							<label for="YKBRAND_Optional1_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKBRAND_Optional1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKBRAND_OptionalArea">
							<dt>통합브랜드 마케팅 목적 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional2_N" name="YKBRAND_Optional2" value="N">
							<label for="YKBRAND_Optional2_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional2_Y" name="YKBRAND_Optional2" value="Y" checked="">
							<label for="YKBRAND_Optional2_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKBRAND_Optional2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF YKBRAND_OptionalArea">
							<dt>통합브랜드 개인정보 처리위탁</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional3_N" name="YKBRAND_Optional3" value="N">
							<label for="YKBRAND_Optional3_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="YKBRAND_Optional3_Y" name="YKBRAND_Optional3" value="Y" checked="">
							<label for="YKBRAND_Optional3_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=YKBRAND_Optional3'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF MOMQ_OptionalArea">
							<dt>momQ 선택항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional1_N" name="MOMQ_Optional1" value="N">
							<label for="MOMQ_Optional1_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional1_Y" name="MOMQ_Optional1" value="Y" checked="">
							<label for="MOMQ_Optional1_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=MOMQ_Optional1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF MOMQ_OptionalArea">
							<dt>momQ 마케팅 목적 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional2_N" name="MOMQ_Optional2" value="N">
							<label for="MOMQ_Optional2_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional2_Y" name="MOMQ_Optional2" value="Y" checked="">
							<label for="MOMQ_Optional2_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=MOMQ_Optional2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF MOMQ_OptionalArea">
							<dt>momQ 개인정보 처리위탁</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional3_N" name="MOMQ_Optional3" value="N">
							<label for="MOMQ_Optional3_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="MOMQ_Optional3_Y" name="MOMQ_Optional3" value="Y" checked="">
							<label for="MOMQ_Optional3_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=MOMQ_Optional3'">내용보기</button>
							</span>
							</dd>
						</dl>

						<!-- 20180522 -->
						<dl class="inT termF MOMQ_RequiredArea">
							<dt>개인정보 제3자 제공 동의</dt>
							<dd>
								<span class="radioF">
				            <input type="radio" id="" name="" value="N">
				            <label for="">동의안함</label>
				        </span>
								<span class="radioF">
				            <input type="radio" id="" name="" value="Y" checked="">
				            <label for="">동의</label>
				            <button type="button" class="content_btn" onclick="location.href =">내용보기</button>
				        </span>
							</dd>
						</dl>
						<!--// 20180522 -->

						<dl class="inT termF PRESENT_OptionalArea">
							<dt>선물대잔치 선택항목 개인정보 수집 및 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional1_N" name="PRESENT_Optional1" value="N">
							<label for="PRESENT_Optional1_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional1_Y" name="PRESENT_Optional1" value="Y" checked="">
							<label for="PRESENT_Optional1_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=PRESENT_Optional1'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF PRESENT_OptionalArea">
							<dt>선물대잔치 마케팅 목적 이용</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional2_N" name="PRESENT_Optional2" value="N">
							<label for="PRESENT_Optional2_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional2_Y" name="PRESENT_Optional2" value="Y" checked="">
							<label for="PRESENT_Optional2_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=PRESENT_Optional2'">내용보기</button>
							</span>
							</dd>
						</dl>
						<dl class="inT termF PRESENT_OptionalArea">
							<dt>선물대잔치 개인정보 처리위탁</dt>
							<dd>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional3_N" name="PRESENT_Optional3" value="N">
							<label for="PRESENT_Optional3_N">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="PRESENT_Optional3_Y" name="PRESENT_Optional3" value="Y" checked="">
							<label for="PRESENT_Optional3_Y">동의</label>
							<button type="button" class="content_btn" onclick="location.href='/Terms/TermsPop?type=PRESENT_Optional3'">내용보기</button>
							</span>
							</dd>
						</dl>
						<div class="inT">
							<div class="btn_area" style="margin-top:0px;">
								<ul class="clearfix">
									<li><a class="black_btn" href="#">취소</a></li>
									<li><a class="blue_btn" href="#">저장</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images//common/flogo.png" alt="유한킴벌리">
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>
	</body>
	</html>
