<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>회원탈퇴 | 마이페이지 | 유한킴벌리 통합브랜드</title>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>회원탈퇴</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<form action="/SSL/Mypage_Withdraw?returnUrl=%2F" method="post">
			<input name="__RequestVerificationToken" type="hidden" value="az3N7yZOsYYqwnC9LF5tiZH4RKmmX5zMp_5Bf7bNNkkKINBLU_hW2MupwotP44fiUU6AAzCQ-6bOPYdJF74jPCCDsRM1">
			<div id="container">
				<div class="titW tW_t3 brb1">
					<h2>회원탈퇴 확인사항</h2>
					<ul class="dot mt10">
						<li>회원탈퇴를 하시면 90일간은 재가입이 불가하며 기존에 사용하던 ID는 재사용할 수 없습니다.</li>
						<li>회원 탈퇴를 하실 경우 회원님의 모든 정보가 삭제됩니다.'momQ'와 '선물대잔치'의 모든 정보(활동내역,포인트,쿠폰 등)또한 삭제됩니다.<br>
						(상세한 내용은 해당 사이트에서 확인하실 수 있습니다.)</li>
						<li>게시글 및 댓글은 탈퇴 시 자동 삭제되지 않고 그대로 남아 있습니다. 삭제를 원하는 게시글이 있다면 탈퇴 전 삭제하시기 바랍니다.</li>
						<li>단, [전자상거래등에서의소비자보호에관한법률], [통신비밀보호법], [정보통신망이용촉진및정보보호에관한법률] 등 법률에 근거하여 거래 관련 권리의무관계의 확인 등을 이유로 일정기간 그 정보를 보유하여야 할 필요가 있을 경우 일정기간 동안 그 정보를 보유합니다.</li>
					</ul>
					<div class="my_point mt20">
						<p class="ft_18 ft_bold">
							포인트/쿠폰 현황
						</p>
						<table>
						<colgroup>
						<col style="width:33.3%;">
						<col style="width:33.3%;">
						<col>
						</colgroup>
						<tbody>
						<tr>
							<th>
								사이트
							</th>
							<th>
								잔여 포인트
							</th>
							<th>
								쿠폰
							</th>
						</tr>
						<tr>
							<td>
								momQ
							</td>
							<td class="com">
								0P
							</td>
							<td class="com">
								0장
							</td>
						</tr>
						<tr>
							<td>
								선물대잔치
							</td>
							<td class="com">
								0P
							</td>
							<td class="com">
								-
							</td>
						</tr>
						</tbody>
						</table>
						<ul class="dot mt10">
							<li>회원탈퇴 시 보유하고 계신 포인트 및<br>
							쿠폰이 모두 삭제 처리됩니다.</li>
						</ul>
					</div>
				</div>
				<div class="divider">
					<div class="join">
						<dl class="inT">
							<dt>탈퇴사유</dt>
							<dd>
							<textarea class="txtArea1" name="withdraw_msg" id="withdraw_msg" placeholder="탈퇴사유를 입력하여 주십시오." title="탈퇴사유 입력"></textarea>
							</dd>
							<dd style="margin-top:5px;">※ 진행중의 주문 ,교환,반품이 있는 경우 탈퇴가 불가능합니다. 해당 사항의 구매확정 등 최종 완료 후 탈퇴를 하실 수 있습니다.</dd>
						</dl>
						<p class="inT">
							<span class="checkF pT0">
							<input type="checkbox" id="ChkAgree">
							<label for="ChkAgree" class="com">잔여 포인트, 쿠폰의 삭제 내용 및 회원탈퇴 확인사항의 내용을 확인하였습니다.</label>
							</span>
						</p>
					</div>
					<div class="inT">
						<div class="btn_area" style="margin-top:0px;">
							<ul class="clearfix">
								<li><a class="black_btn" href="#">취소</a></li>
								<li><a class="blue_btn" href="#">회원탈퇴</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images//common/flogo.png" alt="유한킴벌리">
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>
	</body>
	</html>