<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>휴면계정 해제안내 | 유한킴벌리 통합브랜드</title>
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="../Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="sso">
	<div id="contents">
		<!-- header -->
		<header>
		<h1>휴면계정 해제안내</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<div class="divider">
				<div id="signin">
					<div class="cntBox">
						<p class="ts12">
							고객님은 휴면회원으로 휴면계정 해제를 안내해 드립니다.
						</p>
					</div>
					<div class="icoMsg icoMsg4" style="padding-top:100px; background-position: 50% 25px; font-size:12px; font-family:'NanumGothicBold';">
						<p style="font-size:16px; margin-bottom:15px;">
							휴면계정으로 등록되었습니다.
						</p>
						<p>
							개인정보 보호를 위하여 휴면계정 정책을 실시하고 있습니다.
						</p>
						<p class="mt7">
							고객님은 <span class="com">1년 이상</span> 로그인 하지 않아 '휴면회원'으로 등록되었습니다.
						</p>
						<p class="mt7">
							'휴면 해제' 버튼을 누르시면 정상적으로 서비스를 이용할 수 있습니다.
						</p>
						<div class="inT" style="margin-bottom:0px;">
							<div class="btnWrap">
								<div class="btn_area">
									<a href="#" class="blue_btn">휴면 해제</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<form name="form_auth">
			<input type="hidden" name="ordr_idxx" id="ordr_idxx" value="201705181495072131434" placeholder="(필수)주문번호">
			<input type="hidden" name="req_tx" value="cert" placeholder="요청종류">
			<input type="hidden" name="cert_method" value="01" placeholder="요청구분">
			<input type="hidden" name="web_siteid" value="J15092200961" placeholder="웹사이트 아이디">
			<input type="hidden" name="fix_commid" value="" placeholder="노출 통신사(SKT:SKT, KT:KTF, LGU+:LGT)">
			<input type="hidden" name="site_cd" value="V6672" placeholder="사이트 코드(test:S6186)">
			<input type="hidden" name="Ret_URL" id="Ret_URL" value="https://localhost:44302/SSL/Module_KCP_Recive" placeholder="인증결과 리턴 페이지 (가맹점 URL)">
			<input type="hidden" name="cert_otp_use" value="Y" placeholder="(Y:실명 확인+OTP 점유확인, N:실명 확인Only)">
			<input type="hidden" name="cert_enc_use" value="Y" placeholder="고정값">
			<input type="hidden" name="cert_able_yn" value="Y" placeholder="본인확인 input 비활성화">
			<input type="hidden" name="web_siteid_hashYN" value="" placeholder="website ID 검증">
			<input type="hidden" name="res_cd" value="" placeholder="">
			<input type="hidden" name="res_msg" value="" placeholder="">
			<input type="hidden" name="veri_up_hash" value="" placeholder="up_hash 검증을 위한 필드">
			<input type="hidden" name="param_opt_1" id="param_opt_1" value="" placeholder="(옵션)인증완료시 리턴 (최종결과 전송페이지 URL 으로 사용)">
			<input type="hidden" name="param_opt_2" id="param_opt_2" value="" placeholder="(옵션)인증완료시 리턴">
			<input type="hidden" name="param_opt_3" id="param_opt_3" value="" placeholder="(옵션)인증완료시 리턴">
			<input type="hidden" name="user_name_url_yn" value="Y">
		</form>
		<form name="form_auth_result" id="form_auth_result">
		</form>
	</div>
	<hr>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크">
	</footer>
	<!-- sns공유하기 팝업 -->
	<div id="selSns" class="popup hide">
		<h3>공유하기</h3>
		<div class="popCont ac">
			<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images//common/img_popFacebook.gif" alt="Facebook"></a>
			<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images//common/img_popKakao.gif" alt="Kakaostory"></a>
		</div>
		<a href="#none" class="popClose"><img src="https://m.ykbrand.co.kr/Common/images//btn/btn_close.png" alt="팝업닫기"></a>
	</div>
	<!-- //sns공유하기 팝업 -->
	<div id="dim">
	</div>
	</body>
	</html>