<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />
  <title>전화상담 신청 | 커뮤니티 | 킴테크</title>

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="../../../../Common/images/favicon/favicon_ktech.png" type="image/x-icon">
  <link rel="stylesheet" href="../../../../Common/css/common.css">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/main.css"> <!-- main css -->
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/swiper.css">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/reset.css">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Content/common.css">
  <!-- <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script> -->
  <!-- <script>
    var userId = "";
    var ImageServerUrl = "http://www.ykbrand.co.kr";
    var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
  </script> -->
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/swiper.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/jquery.bpopup.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
  <!-- <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/common.js"></script> -->
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/postlayer.js"></script>

  <!-- 레이아웃 이벤트 헤더 -->
  <!-- //레이아웃 이벤트 헤더 -->
  <!--OG:META-->
  <!--//OG:META-->
  <!-- 레이아웃 이벤트 헤더 -->
  <!-- //레이아웃 이벤트 헤더 -->

  <!-- Facebook Pixel Code -->
  <!-- End Facebook Pixel Code -->

  <!-- AceCounter Log Gathering Script V.7.5.2017020801 -->
  <!-- AceCounter Log Gathering Script End -->

  <script>
    function agreePopup() {
      //var url = "/depend" + "/Custom/Councel/CouncelAgree";
      var url = "TermsPop.html";
      window.open(url, "Councelagree", "toolbar=no, location=no, state=no");
    }
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->

  <!-- AceCounter Log Gathering Script V.7.5.2017020801 -->
  <!-- AceCounter Log Gathering Script End -->

  <!-- skip_nav -->
  <a href="#contents" class="skip">본문 바로가기</a>

  <!-- wrap -->
  <div id="wrap" class="kimtech">
    <div id="layerMask"></div>
    <div id="contents">

      <!-- header -->
      <header>
        <h1>전화상담신청</h1>
        <a href="javascript:history.back();" class="backBtn" onfocus="this.blur();"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
      </header>
      <hr />

      <!-- container -->
      <div id="container">
        <div class="counsel">

          <div class="divider">
            <div class="titW tW_t3">
              <h2>전화상담신청</h2>
            </div>
            <div class="lead">
              <p class="txt"><strong>전화 상담 예약을 통해 연락처와 상담 시간</strong>을 남기시면 구매 상담 연락을 드립니다.</p>
              <p class="txt"><strong>상세하게 문의 내용을 기재해주실수록</strong> 문의 내용에 정확한 답변을 드리는 데 큰 도움이 됩니다.</p>
            </div>
          </div>
          <div class="divider">
            <dl class="inT intCol3">
              <dt>회사명<span class="essen">*</span></dt>
              <dd class="mt15"><input type="text" id="COUNCEL_NAME" placeholder="직접 입력해 주세요" title="회사명 입력"></dd>
            </dl>
            <!-- 20190730 삭제 <dl class="inT intCol3">
              <dt>부서명</dt>
              <dd class="mt15"><input type="text" id="COUNCEL_NAME" placeholder="직접 입력해 주세요" title="부서명 입력"></dd>
            </dl> -->
            <dl class="inT intCol3">
              <dt>성명<span class="essen">*</span><br><span style="font-size:13px;">(담당자명)</span></dt> <!-- 20190730 수정 //--> <!-- 20190822 수정 //-->
              <dd class="mt15"><input type="text" id="COUNCEL_NAME" placeholder="담당자명을 입력해 주세요" title="담당자명을 입력해 주세요"></dd>
            </dl>
            <!-- 20190822 추가 / 20190830 삭제 -->
            <!-- <dl class="inT intCol3">
              <dt>이메일<span class="essen">*</span></dt>
              <dd class="mt15"><input type="text" id="COUNCEL_EMAIL" placeholder="이메일 주소를 입력해 주세요" title="이메일주소 입력"></dd>
            </dl> -->
            <!-- // 20190822 추가 / 20190830 삭제 -->
            <dl class="inT intCol3">
              <dt>연락처<span class="essen">*</span></dt>
              <dd>
                <span class="selectBox">
                  <label for="sel1">010</label>
                  <select id="COUNCEL_TEL1" title="연락처 처음자리 선택">
                    <option value="02">02</option>
                    <option value="031">031</option>
                    <option value="032">032</option>
                    <option value="033">033</option>
                    <option value="041">041</option>
                    <option value="042">042</option>
                    <option value="043">043</option>
                    <option value="044">044</option>
                    <option value="051">051</option>
                    <option value="052">052</option>
                    <option value="053">053</option>
                    <option value="054">054</option>
                    <option value="055">055</option>
                    <option value="061">061</option>
                    <option value="062">062</option>
                    <option value="063">063</option>
                    <option value="064">064</option>
                    <option value="010" selected="selected">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                  </select>
                </span>
                <span><input type="text" class="onlynum" maxlength="4" id="COUNCEL_TEL2" title="연락처 가운데자리 입력"></span>
                <span><input type="text" class="onlynum" maxlength="4" id="COUNCEL_TEL3" title="연락처 마지막자리 입력"></span>
              </dd>
            </dl>
            <dl class="inT">
              <dt>희망 상담<br>제품</dt>
              <dd>
                <span class="radioF">
                  <input type="radio" id="mark1" name="COUNCEL_TYPE" value="글러브" checked="checked">
                  <label for="mark1">글러브</label>
                </span>
                <span class="radioF">
                  <input type="radio" id="mark2" name="COUNCEL_TYPE" value="마스크">
                  <label for="mark2">마스크</label>
                </span>
                <span class="radioF mt30">
                  <input type="radio" id="mark3" name="COUNCEL_TYPE" value="보호복">
                  <label for="mark3">보호복</label>
                </span>
                <span class="radioF mt30">
                  <input type="radio" id="mark4" name="COUNCEL_TYPE" value="와이퍼">
                  <label for="mark4">와이퍼</label>
                </span>
              </dd>
              <dd class="mt15"></dd>
            </dl>
            <dl class="inT">
              <dt>희망 상담<br>내용</dt>
              <dd>
                <input type="text" id="COUNCEL_TYPE_ETC" placeholder="ex) 멸균실에 적합한 제품이 필요합니다." maxlength="" >
              </dd>
            </dl>
            <dl class="inT">
              <dt>상담 요청<br>시간</dt>
              <dd>
                <span class="desc">* 평일 09:00~17:00까지 운영</span>
                <span class="selectBox">
                  <label for="sel3">익일 09:00~10:00</label>
                  <select id="COUNCEL_TIME" title="상담 요청 시간 선택">
                    <option>아무 때나 상관없음</option>
                    <option selected>익일 09:00~10:00</option>
                    <option>익일 10:00~11:00</option>
                    <option>11:00~12:00</option>
                    <option>13:00~14:00</option>
                    <option>14:00~15:00</option>
                    <option>15:00~16:00</option>
                    <option>16:00~17:00</option>
                  </select>
                </span>
              </dd>
            </dl>

            <!-- 20190730 수정 -->
            <div class="agrees">
              <dl class="inT last">
                <dt>(필수) 전화 상담을 위한 개인정보 수집.이용 동의서</dt>
                <dd><a class="lnk" href="TermsPop.html" target="_blank">자세히보기</a></dd>
                <dd>
                  <span class="radioF">
                  <input type="radio" id="de31" name="agree1" value="동의안함" checked="checked">
                  <label for="de31">동의 안함</label>
                  </span>
                  <span class="radioF">
                  <input type="radio" id="de32" name="agree1" value="동의">
                  <label for="de32">동의</label>
                  </span>
                </dd>
              </dl>
              <!-- 20190830 삭제
              <dl class="inT last">
                <dt>(선택) 마케팅 활용 목적을 위한 이용 동의서</dt>
                <dd><a class="lnk" href="/depend/Custom/sample/sample2" target="_blank">자세히보기</a></dd>
                <dd>
                  <span class="radioF">
                  <input type="radio" id="de41" name="agree2" value="동의안함" checked="checked">
                  <label for="de41">동의 안함</label>
                  </span>
                  <span class="radioF">
                  <input type="radio" id="de42" name="agree2" value="동의">
                  <label for="de42">동의</label>
                  </span>
                </dd>
              </dl>
              //-->
            </div>
            <!--// 20190730 수정 -->

          </div>
          <div class="btnWrap">
            <a href="/kimtech/" class="btnType1">취소</a>
            <a href="#none" class="btnType1 colr" id="btnCouncelCreate">등록</a>
          </div>

        </div>
      </div>

    </div>
    <hr />
    <!-- footer -->
    <footer>
      <p class="flogo">
        <img src="http://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리" />
        <a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
        <a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
      </p>
      <address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
      <ul class="info">
        <li>대표자 : 최규복</li>
        <li>사업자번호 : 120-81-11436</li>
        <li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
      </ul>
      <a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
      <p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
      <img style="margin-top:16px; width:150px;" src="http://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
    </footer>

    <!-- sns공유하기 팝업 -->
    <div id="selSns" class="popup hide">
      <h3>공유하기</h3>
      <div class="popCont ac">
        <a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
        <a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
      </div>
      <a href="#none" class="popClose"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
    </div><!-- //sns공유하기 팝업 -->

    <div id="dim"></div>

    <a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
    <!-- //footer -->
  </div>
  <!-- //wrap -->

  <!-- <script type="text/javascript">
    _satellite.pageBottom();
  </script> -->
</body>

</html>
