
@charset "utf-8";
@import url("//fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
/* ==========================================================================
기본 스타일 리셋
========================================================================== */
* {margin:0;padding:0;border:0;outline:0;word-break: keep-all;}
html {-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,textarea,select,button {font-family:'Noto Sans KR', 'Nanum Gothic', 'Nanum Barun Gothic', 'Malgun Gothic', 'Arial','AppleGothic','sans-serif';}
img {vertical-align:top;}
img,video {max-width:100%;}
ul,ol,dl {list-style:none;}
select {height:20px;font-size:12px;line-height:20px;}
textarea {font-size:12px;line-height:14px;border:1px solid #c0c0c0;}
::-webkit-input-placeholder{
  font-size:12px;
  color:#999;
}
::-moz-placeholder{
  font-size:12px;
  color:#999;
}
::-ms-placeholder {
  font-size:12px;
  color:#999;
}

/* ==========================================================================
HTML5 display 정의
========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {display:block;}
audio,canvas,video {display:inline-block;vertical-align:baseline;*display:inline;*zoom:1;}
audio:not([controls]) {display:none;height:0;}
[hidden], template {
  display: none;
}
/* ==========================================================================
링크관련
========================================================================== */
a {
  text-decoration: none;
  color: #000;
  background-color: transparent;
}
a:active, a:hover {
  outline: 0;
  text-decoration: none;
}
/* ==========================================================================
Forms
========================================================================== */

label {
  vertical-align: middle;
}
button, input, select, textarea {
  vertical-align: middle;
}
button {
  overflow: visible;
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled], html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input, button {
  line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="checkbox"] {
  width: 12px;
  height: 12px;
}
input[type="text"], input[type="password"] {
  height: 18px;
  margin: 0;
  border: 1px solid #c0c0c0;
  font-size: 12px;
  line-height: 14px;
  color: #666;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/* ==========================================================================
테이블 관련
========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width:100%;
}
td, th {
  padding: 0;
}

html, body {min-width:100%;background-color: #f3f3f3;font-weight: 400;}
.refund label {cursor: pointer;}
.refund select {border:0;border-bottom:1px solid #ddd;outline: none;background-color: #fff;}
.refund i {font-style: normal;}
.refund {width:100%;max-width:768px;margin:0 auto;background-color:#fff;color:#222222;font-family:'Noto Sans KR', 'Nanum Gothic', 'Nanum Barun Gothic', 'Malgun Gothic', 'Arial','AppleGothic','sans-serif';}
.refund .head {width:100%;border-bottom:2px solid #2b4e34;background-color: #f3f3f3;}
.refund .head .logo {max-width:800px;padding:16px 0;margin:0 auto;}
.refund .head .logo img {max-height:40px;}
.refund .information_wrap {width:100%;max-width:calc(100% - 70px);margin:0 auto;padding:40px 0;word-break: keep-all;}
.refund .refund_header {width:100%;padding:0 0;margin-bottom:30px;text-align: left;font-size:18px;font-weight: 400;}
.refund .refund_header p {padding-top:10px;font-weight:400;line-height: 1.4;font-size:35px;font-weight:700;color:#2b4e34;}
.refund .refund_header span {display:block;font-weight: 700;font-size:20px;}
.refund .refund_header h2 {font-size:30px;line-height: 1.4;}
.refund .refund_header h2 span {max-width:60%;font-size:20px;font-weight:normal;margin-top:10px;}
.refund .refund_info {width:100%;padding:0;margin-bottom:30px;text-align: left;}
.refund label {font-size:14px;}
.refund input[type=checkbox],
.refund input[type=radio] {width:16px;height:16px;margin:-2px 10px 0 0;border:1px solid #ddd;vertical-align: middle;}
.refund .refund_tbl {width:100%;padding:0;border-top:1px solid #000;border-bottom:1px solid #000;margin-bottom:30px;}
.refund .refund_tbl input[type=text] {width:65%;height:40px;padding:0;border:0;font-size:14px;vertical-align: middle;}
.refund .refund_tbl table th {color:#888888;font-weight: normal;}
.refund .refund_tbl table th, 
.refund .refund_tbl table td {padding:15px 10px;font-size:15px;text-align: left;background-color: #fff;border:0;color:#222222;line-height: 1.5;vertical-align: baseline;}
// .refund .refund_tbl table td {padding-top:22px;}
.refund .refund_tbl table th span {display: inline-block;min-width:100px;padding:6px 10px 5px;border-radius:20px;background-color: #eeeeee;color:#222222;text-align: center;}
.refund .refund_tbl .col1 {width:25%;}
.refund .refund_tbl .col2 {width:75%;}
.refund .refund_tbl .col2 strong {padding-bottom:5px;color:#2b4e34;}
.refund .refund_tbl .inline {position:relative;width:100%;margin:10px 0;padding-bottom:5px;border-bottom:1px solid #ddd;}
.refund .refund_tbl .inline:first-child {margin-top:0;}
.refund .refund_tbl .inline .ncnt {position: absolute;left:10px;top:9px;color:#2b4e34;}
.refund .refund_tbl select {min-width:25%;height:40px;margin-right:20px;font-size:15px;font-family:'Noto Sans KR', 'Nanum Gothic', 'Nanum Barun Gothic', 'Malgun Gothic', 'Arial','AppleGothic','sans-serif';}
.refund .refund_tbl .ft_blue {font-weight: 700;font-size:16px;color:#2b4e34;vertical-align: baseline;}
.refund .refund_tbl .td_bank {padding-bottom:20px !important;overflow:hidden;}
.refund .refund_tbl .td_bank input{width:50% !important;padding-right:10px;}
.refund .refund_tbl .td_bank select {min-width: 110px;margin-right:10px;}
.refund .refund_tbl td._total{padding:0 !important;color:#2b4e34;font-weight: 700;vertical-align: middle;}
.refund .refund_tbl._type {border-bottom:0;}
// .refund .refund_tbl._type th {padding-top:25px;}
.refund .refund_tbl._type td {padding:15px 0 0;border-bottom:1px solid #ddd;}
.refund .refund_tbl._type td.non {border-bottom:0;}
.refund .refund_tbl._normal th {background-color: #f3f3f3;}
.refund .refund_tbl._normal th, .refund .refund_tbl._normal td {padding:20px 15px 15px;border-bottom:1px solid #ddd;vertical-align: middle;}
.refund .refund_tbl._normal .inline {border-bottom:0;}
.refund .ertxt {display: block;font-size:12px;padding-top:0px;padding-bottom:15px;color:#2b4e34;}
.refund .refund_tbl .code[type=text] {width:53.0%;padding-left:60px;}
.refund .btnArea {text-align: center;}
.refund .btnArea .btn {width:45%;min-height: 60px;line-height:62px;font-weight: 600;font-size: 16px;color: #fff; }
.refund .btn {display: inline-block;text-align: center;vertical-align: middle;}
.refund .inline .sbtn {position:absolute;right:0;top:0;width:100px;padding:9px 10px 10px; color: #222;font-size:13px;border:1px solid #ddd;background-color: #fff;}
.refund .inline._product {margin-top:13px !important;border-bottom:0;}
.refund .inline._product p {color:#888888;}
.refund .inline._product label {display: block;margin-bottom:10px;font-weight: 700;background-color:#eee;padding:10px 5px;padding-left: 35px;border-top:1px solid #b1b1b1;}
.refund .inline._product label input[type=checkbox]{position:absolute;left: 10px;top: 15px;}
.refund .inline._product select {border-bottom:1px solid #ddd;}
.refund .inline._product .tsum {
  position:absolute;
  right:0;
  bottom:13px;
}
.refund .inline select {border-bottom:0;}
.refund .btn01 {background-color:#2b4e34;}
.refund .btn02 { background-color: #666666;}
.refund .refund_notice {margin:40px 0;padding:20px;background-color:#f2f2f2;border:1px solid #ddd;}
.refund .refund_notice p {position:relative; display:block;padding-left:10px;margin-bottom:10px;font-size:14px;line-height: 1.6;}
.refund .refund_notice p > span {color:#2b4e34;}
.refund .refund_notice p:before {content: '- ';position:absolute;left:0;top:0;display: block;font-size: 14px;}
.refund_agree {padding-bottom:15px;margin-bottom:15px;font-size:14px;border-bottom:1px solid #ddd;}
.refund_agree > p {position:relative;padding-bottom:10px;padding-right:40px;line-height: 1.4;cursor: pointer;}
.refund_agree > p i {position:absolute;right:0;display: inline-block;}
.refund_agree table {width:100%;margin-bottom:10px;border-top:1px solid #666;border-bottom:1px solid #ddd;}
.refund_agree table th {background-color:#ddd;}
.refund_agree table th, .refund_agree table td {padding:13px 0;line-height:1.3;}
.refund .dot li{position:relative;padding-left:10px;padding-bottom:3px;font-size:12px;}
.refund .dot li:before {
  content: '-';position:absolute;left:0;top:0;display: inline-block;font-size:12px;
}
.information_content {
  padding-bottom:30px;
  p {
    margin-bottom:10px;
    font-weight:400;
    font-size:15px;
    line-height:1.6;
    color:#666666
  }
  .spantxt {
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    color:#000;
  }
}
.strongtxt {
  display:block;
  padding-bottom:10px;
}
.h3_tle {
  display: block;
  margin-top:50px;
  padding-top:15px;
  padding-bottom:10px;
  font-size:15px;
  font-weight: 700;
  padding-bottom:10px;
  border-top:1px solid #000;
}
.refund .pointx {padding-bottom:15px;font-size:16px;font-weight:400;line-height:1.5;}
.refund .pointx strong {text-decoration: underline;font-weight: 700;color:#2b4e34;}
.refund .refund_tbl table .line th,
.refund .refund_tbl table .line td {border-top:1px solid #222 !important;}
.refund p.dot {
  position:relative;
  padding-left:10px;
  margin-bottom:10px;
  &:before {
    content: '-';
    display: inline-block;
    position:absolute;
    left:0;
    top:0;
    font-size:14px;
  }
}
.i-tooltip {
  margin-left:5px;
  margin-top: 3px;
  width: 16px;height: 16px;
  display: inline-block;
  background: {
    image: url(./images/i-tooltip.png);
    size: 16px;
    position: center center;
    repeat: no-repeat;
  }
  cursor: pointer;
}
.refund_tbl .inline._product {
  label {
    position: relative;
  }
  .i-tooltip {
    position: absolute;
    right: 25px;
    top: 11px;
  }
}
.refund_tbl table th em {
  display: block;
  margin-top: 5px;
  display: block;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.layerbody {
  .layerwrap {
    // border-top: 5px solid #2b4e34;
    width: 360px;
    padding: 20px 0 20px;
  }
  .layhead {
    padding: 0 20px 20px 20px!important;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #eee;    
  }
  .layconts {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    p:not(:last-of-type) {
      margin-bottom: 25px;
    }
    .tit {
      font-weight: 700;
      display: block;
      margin-bottom: 5px;
    }
  }
}

/* layer */
.noscroll { height: 100%; overflow: hidden; }
.layerbody { display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.6); }
.layerbody.show { display: block; }
.layerwrap { position: absolute; z-index: 100; top: 50%; left: 50%; width: 430px; padding: 40px 40px 0; background-color: #fff; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.layerwrap .btn_close { cursor: pointer; position: absolute; right: -20px; top: -20px; width: 42px; height: 42px; background: url(./images/btn_layclose.png) no-repeat 0 0; }
.layerwrap .layhead { position: relative; padding-bottom: 10px; font-size: 20px; }
.layerwrap .btnwrap { margin-top: 40px;}
.layerwrap .btnwrap .btnfull { width: 100%; background-color: #009fe3; border: 0; text-align: center; font-size: 20px; color: #fff; }

@media screen and (max-width: 1024px) {
  ::-webkit-input-placeholder{
    font-size:11px;
    color:#999;
    letter-spacing: -1px;
  }
  ::-moz-placeholder{
    font-size:11px;
    color:#999;
    letter-spacing: -1px;
  }
  ::-ms-placeholder {
    font-size:11px;
    color:#999;
    letter-spacing: -1px;
  }
  .mbr {display: block;}
  .refund .head .logo {padding:16px;}
  .refund .information_wrap {width:100%;max-width:calc(100% - 40px);padding:20px 0px;}
  .refund .refund_header {margin-bottom:15px;font-size:14px;}
  .refund .refund_header .ti, .refund .refund_header h2 {font-size:24px;font-weight: 700;}
  .refund .refund_header h2 span {max-width:80%;font-size:14px;}
  .refund .information_wrap .information_content p {font-size: 14px;}
  .refund .refund_tbl {margin-bottom:30px;}
  .refund .refund_tbl table th, .refund .refund_tbl table td {display: block;width:100% !important;padding:13px 0;font-size:13px;line-height:1.5;}
  .refund .btnArea .btn {display: block;width:100%;margin-bottom:5px;font-size:14px;min-height: 50px; line-height: 52px;}
  .refund .refund_tbl._type table th {padding-top:15px;padding-bottom:0;font-weight: 700;}
  .refund .refund_tbl input[type=text], .refund .refund_tbl select {width:70%;font-size:12px;}
  .refund .refund_tbl .inline .ncnt {top:11px;font-size:11px;}
  .refund .inline .sbtn {font-size:11px;width:85px;padding:7px 6px 8px;}
  .refund .refund_tbl .td_bank .inline {border-bottom:0;}
  .refund .refund_tbl .td_bank select {width:100%;margin-bottom:7px;border-bottom:1px solid #ddd;}
  .refund .refund_tbl .td_bank input {display: block;padding-left:4px;width:100% !important;border-bottom:1px solid #ddd;}
  .refund label {margin-right:0;font-size:13px !important;}
  .refund label, .refund .refund_tbl .ft_blue {font-size:14px;}
  .refund_agree table th, .refund_agree table td {padding:13px 5px;font-size:12px;}
  .refund_agree > p {font-size:12px;}
  .refund .refund_notice p {font-size:12px;}
  .refund .inline._product select {width:calc(50% - 15px);}  
  .refund .inline._product select:last-of-type {margin-right:0;}
  .refund .inline._product label {padding-right: 30px;}
  // .refund .inline._product .i-tooltip {position:relative;display: inline-block;}

  .refund .inline._product .tsum {position:relative; display:block;margin-top:15px;padding-bottom:10px;border-bottom:1px solid #ddd;bottom:inherit;}
  .refund .ertxt {font-size:11px;}
  .refund .pointx {font-size:16px;}
  .refund .pointx strong {display: block;}
  .refund .refund_tbl td._total {padding-top:15px !important;padding-bottom:10px !important;}
  .refund .refund_tbl table .line td {border-top:0 !important;}
  .refund .refund_tbl._type td {padding-bottom:10px;}
  .refund_tbl table th em {display: inline-block;margin-top:0;margin-left:10px;font-size:13px;vertical-align: baseline;}
  .layerbody .layerwrap {width:88%;}
  .layerwrap .layhead { position: relative; padding-bottom: 10px; font-size: 16px; }
  .layerwrap .btn_close {right: -10px;width: 30px;height: 30px;background-size: 30px;}
}
