<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="title" content="유한킴벌리">
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리">
  <link rel="stylesheet" href="https://studioohna.cafe24.com/yk_pub/SSO2021/mo/css/common.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://studioohna.cafe24.com/yk_pub/SSO2021/mo/css/reset_mobile.css" type="text/css" media="all">
  <link rel="stylesheet" href="../../../../SSO2021/mo/css/mobile.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://studioohna.cafe24.com/yk_pub/SSO2021/mo/css/pome.css" type="text/css" media="all">
  <link rel="icon" href="/images/favicon_default.png" type="image/x-icon">
  <script>
    // window.dataLayer = [{
    //   "site_code": "",
    //   "dimension4": ""
    // }];
  </script>
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery.popupoverlay.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/common.js"></script>
  <style type="text/css">#_copy{align-items:center;background:#4494D5;border-radius:3px;color:#fff;cursor:pointer;display:flex;font-size:13px;height:30px;justify-content:center;position:absolute;width:60px;z-index:1000}#select-tooltip,#sfModal,.modal-backdrop,div[id^=reader-helper]{display:none!important}.modal-open{overflow:auto!important}._sf_adjust_body{padding-right:0!important}</style>
</head>
<body>
  <div class="sso_wrap">
    <header class="sso_head">
      <div class="row">
        <h1 class="brandlogo"><a href="javascript:void(0);"><span class="a11y_sr-only">유한킴벌리</span></a></h1>
        <p class="childlogo child-logo-tdplus"><a href="https://m.oneulplus.com"><span class="a11y_sr-only">오늘플러스</span></a></p>
      </div>
    </header>
    <div id="container" class="contents">
      <div class="row">
        <div class="join_wrap">
          <h1><span>유한킴벌리 통합회원<br></span>가입을 환영합니다.</h1>
          <form name="frm_recommend" action="#" method="post">
            <input type="hidden" name="_token" value=""> <input type="hidden" name="recommender_type" value="user">
            <input type="hidden" name="recommender_code" value="">
            <div class="com_guide">
              <p class="ico-img">
                <img src="https://www.yksso.co.kr/images/pc/ico_rcjoin.gif" alt="">
              </p>
              <h2 class="h2_ti">박선민 님이</h2>
              <p class="desc"><strong>오늘플러스 가입을 추천합니다.</strong>지금 회원가입하시면 <br/>추천인 ID입력 포인트(5,000원)을 드립니다.</p>
              <ul class="dot_list">
                <li>추천인 ID 입력 포인트는 회원가입 시 자동 지급됩니다.</li>
              </ul>
            </div>
          </form>
          
          <div class="btnwrap">
            <a href="javascript:;" class="btn btn_nrmal auth_popup _yk js-btn-join">유한킴벌리 통합회원가입</a>
          </div>
        </div>
      </div>

      <script>
        $(document).ready(function () {
          $('.js-btn-join').on('click', function (e) {
            e.preventDefault();
            $('form[name="frm_recommend"]').submit();
          });
        });
      </script>
    </div>
  </div>
</body>

</html>