<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" href="../../common/images/common/favicon_default.png" type="image/x-icon">
    <meta name="title" content="유한킴벌리" />
    <meta name="keywords" content="유한킴벌리">
    <meta name="description" content="유한킴벌리" />
    <title>유한킴벌리</title>
    <link rel="stylesheet" href="https://www.yksso.co.kr/css/common.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.yksso.co.kr/css/reset_pc.css" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.yksso.co.kr/css/pc.css?v=0.1.3" type="text/css" media="all">
    <link rel="stylesheet" href="https://www.yksso.co.kr/css/pome.css" type="text/css" media="all">
    <link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all"> <!-- 퍼블리싱:for pc.css //-->
    <link rel="icon" href="../images/favicon_default.png" type="image/x-icon">
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery.popupoverlay.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/common.js"></script>
</head>
<body>
<div class="sso_wrap">
	<header class="sso_head">
		<div class="row">
			<!-- 20211018 SSO 오늘플러스 -->
			<!-- 20221109 통합회원 로고 -->
			<h1 class="yklogototal"><a href="#"><span class="a11y_sr-only">유한킴벌리 통합회원</span></a></h1>
			<!--// 20221109 통합회원 로고 -->
			<!-- 20220525
				<p class="ykpluslogo"><a href="#"><span class="a11y_sr-only">오늘 플러스</span></a></p> -->
			<!--// 20211018 SSO 오늘플러스 -->
		</div>
	</header>

	<div id="container" class="contents">
		<div class="row">
			<div class="my_wrap">
					<div class="tabwrap">
						<ul class="tablist">
								<li class="seleted"><a href="/user/profile">회원정보 수정</a>
								<li><a href="/user/terms">약관 관리</a>
						</ul>
					</div>
					
					<!-- 20230710 -->
					<ul class="input_frm" style="margin-bottom: 15px;">	
						<li style="margin-bottom: 0px;">
							<p class="ti">추천인 입력</p>
							<p class="put">
								<input type="text" value="홍길동">
								<a href="javascript:;" class="btn btn_small">검색</a>
							</p>
						</li>	
					</ul>
					<div class="helpwrap">
            <ul>
              <li>추천인 입력은 회원가입 후 24시간동안 입력 가능하며, 해당 시간 내에 입력하지<br>못한 경우는 추천인 혜택을 받으실 수 없습니다.</li>
            </ul>
          </div>
					<!--// 20230710 -->
	
					<h2 class="h2_ti">기본정보</h2>
					<!-- 필수 정보 입력 -->
					<ul class="input_frm">
						<li>
							<p class="ti">이름*</p>
							<p class="put">
								<input type="text" value="홍길동" readonly>
								<a href="javascript:;" class="btn btn_small change_name">변경</a>
							</p>
						</li>
						<li>
							<p class="ti">아이디*</p>
							<p class="put put_id">
								<input type="text" value="ykbrandID" readonly>
							</p>
						</li>
						<li>
							<p class="ti">비밀번호*</p>
							<p class="put">
								<input type="password" value="" readonly>
								<a href="javascript:;" class="btn btn_small openLayer" data-hash="#pwdChangeLayer">비밀번호 변경</a>
							</p>
						</li>
						<li id="birth" style="position:relative;">
							<p class="ti">생년월일</p>
							<p class="put">
								<input type="text" value="0000 년 0 월 00 일 " readonly>
							</p>
						</li>
						<li>
							<p class="ti">성별</p>
							<p class="put">
									<input type="text" value="여자" readonly>
							</p>
						</li>
						<li>
							<p class="ti">휴대폰 번호*</p>
							<p class="put">
									<input type="text" value="01012345678" readonly>
									<a href="javascript:;" class="btn btn_small change_mobile">변경</a>
							</p>
						</li>
						<li>
							<p class="ti">이메일*</p>
							<p class="put email">
									<input type="text" name="email_id" value="emailID"> @ <input type="text" name="email_host" value="kakao.com">
									<select name="select_email">
											<option>직접입력</option>
											<option value="naver.com">naver.com</option>
											<option value="hanmail.net">hanmail.net</option>
											<option value="daum.net">daum.net</option>
											<option value="nate.com">nate.com</option>
											<option value="gmail.com">gmail.com</option>
											<option value="hotmail.com">hotmail.com</option>
											<option value="chol.com">chol.com</option>
									</select>
									<a href="javascript:;" class="btn btn_small change_email">변경</a>
							</p>
						</li>
					</ul>
					<div class="help_desc" style="margin-bottom:0px;">
						<p class="help">아이정보는 맘큐 > 마이페이지 > 아이정보에서 추가 / 수정 하실 수 있습니다.</p>
						<a href="https://www.momq.co.kr/shop/mypage.html?mypage_type=myfamily" class="btn btn_small" target="_blank">바로가기</a>
					</div>
					<div class="help_desc">
						<p class="help" style="width:100%;">생년월일 및 성별 정보는 정확한 본인확인을 위해 본인인증 시 인증된 정보를 저장합니다. 휴대폰 번호 혹은 이름의 우측 변경 버튼을 클릭하여 정보를 수정하실 수 있습니다.</p>
					</div>
					
					<div class="etc_frm">
						<h3 class="h3_ti">카카오 로그인 연결</h3>
												
						<p class="N _kakao">
								<span>카카오 계정으로 연결하세요.</span>
								<a href="javascript:;" onclick="loginWithKakao()" class="btn btn_small"><span class="ico"></span>카카오 연결하기</a>
						</p>
					</div>
					<!-- <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
					<script>
					</script> -->
					
					<div>
						<h2 class="h2_ti">회원탈퇴</h2>
						<p class="desc" style="word-break:break-all">유한킴벌리의 <strong style="color:#e63c4f">모든 서비스(맘큐, 오늘 플러스, 달다방, 통합브랜드)에 대한 탈퇴</strong>를 원하실 경우에만 진행해주세요. 개별 서비스 해지를 원하실 경우 화면 상단의 “약관 관리” 탭에서 개별로 해제 하실 수 있습니다.
							<a href="/user/leave" class="btn btn_small bot">회원탈퇴</a>
						</p>
					</div>
	
			</div>
			<!-- 비밀번호변경  -->
			<div class="layerbody" id="pwdChangeLayer">
					<div class="layerwrap pwdchangelayer">
							<a href="javascript:;" class="btn_close pwdChangeLayer_close"><span class="a11y_sr-only">close</span></a>
							<input type="hidden" name="id" value="1806272" />
							<input type="hidden" name="userid" value="crazy2014" />
							<div class="layhead">
									<p>비밀번호 변경</p>
							</div>
							<div class="layconts">
									<div>
											<ul class="input_frm">
													<li>
															<p class="ti">현재 비밀번호</p>
															<p class="put masking">
																	<input type="password" name="current_password" value="" placeholder="현재 비밀번호를 입력해주세요." >
										<button type="button" class="btn_masking"><i class="ic_hide"></i></button>
															</p>
															<span class="errtx change current_password"></span>
													</li>
													<li>
															<p class="ti">신규 비밀번호</p>
															<p class="put masking">
																	<input type="password" name="new_password" value="" placeholder="8~20자, 영문/숫자/특수문자 조합" >
										<button type="button" class="btn_masking"><i class="ic_hide"></i></button>
															</p>
															<span class="errtx change new_password"></span>
													</li>
													<li>
															<p class="ti">비밀번호 확인</p>
															<p class="put masking">
																	<input type="password" name="new_password_confirmation" value="" placeholder="비밀번호를 다시 입력해주세요." >
										<button type="button" class="btn_masking"><i class="ic_hide"></i></button>
															</p>
															<span class="errtx change new_password_confirmation"></span>
													</li>
											</ul>
									</div>
									<div class="btnwrap">
											<a href="javascript:;" class="btn btn_blue btnfull passwod_change_action">변경</a>
									</div>
			
							</div>
					</div>
			</div>
	
			<script>
			$(document).ready(function() {
				$(document).on('click', '.passwod_change_action', function() {
							var id = $('input[name="id"]', '#pwdChangeLayer').val();
							var userid = $('input[name="userid"]', '#pwdChangeLayer').val();
							var current_password = $('input[name="current_password"]', '#pwdChangeLayer').val();
							var new_password = $('input[name="new_password"]', '#pwdChangeLayer').val();
							var new_password_confirmation = $('input[name="new_password_confirmation"]', '#pwdChangeLayer').val();
							$('.change.new_password').text('');
							if (checkPasswordPattern(new_password) == false) {
									$('.change.new_password').text('비밀번호는 8자리 이상 문자, 숫자, 특수문자로 구성하여야 합니다.');
									$('[name="new_password"]', '#pwdChangeLayer').val('').focus();
									return false;
							}
							if (checkPasswordPatternComp(new_password, userid) == false) {
									$('.change.new_password').text('아이디와 3자리 이상 중복값 및 4자리 이상의 연속되는 숫자는 사용이 불가합니다.');
									$('[name="new_password"]', '#pwdChangeLayer').val('').focus();
									return false;
							}
							$.ajax({
									url: '/user/passwordChange',
									type: 'post',
									dataType: 'json',
									data: {
											'_token': 'r4vMtq138vVkGpucqt3h9RkortkvZOsnsLR6x8Hw',
											'id': id,
											'userid': userid,
											'current_password': current_password,
											'new_password': new_password,
											'new_password_confirmation': new_password_confirmation,
									},
									success: function(res) {
											alert(res.message);
											layer.close('#pwdChangeLayer', function(){
													$('input[name="current_password"]', '#pwdChangeLayer').val('');
													$('input[name="new_password"]', '#pwdChangeLayer').val('');
													$('input[name="new_password_confirmation"]', '#pwdChangeLayer').val('');
											});
											window.location.reload();
									}, 
									error: function(res) {
											var errors = res.responseJSON;
											var messages = errors.messages;
											$('.change.current_password').text('');
											$('.change.new_password').text('');
											$('.change.new_password_confirmation').text('');
											if (messages.current_password != undefined && messages.current_password.length > 0) {
													$('.change.current_password').text(messages.current_password[0]);
											}
											if (messages.new_password != undefined && messages.new_password.length > 0) {
													$('.change.new_password').text(messages.new_password[0]);
											}
											if (messages.new_password_confirmation != undefined && messages.new_password_confirmation.length > 0) {
													$('.change.new_password_confirmation').text(messages.new_password_confirmation[0]);
											}
											if (messages.password_pattern != undefined && messages.password_pattern.length > 0) {
													$('.change.new_password').text(messages.password_pattern[0]);
											}
											return false;
									}
							});
					});
			});
			
			
			
			$('.btn_masking').on('mousedown touchstart', function(){
					event.preventDefault();
					$('.btn_masking i').toggleClass('ic_hide');
					$('.btn_masking i').toggleClass('ic_show');
					if($('input[name=current_password]').attr('type') == 'password'){
							$('input[name=current_password], input[name=new_password], input[name=new_password_confirmation]').attr('type','text');
					}else{
							$('input[name=current_password], input[name=new_password], input[name=new_password_confirmation]').attr('type','password');
					}
			});
			
			</script>
			<!-- 비밀번호변경  -->

		</div>
	</div>
</div>

</body>
<script>
// 레이어팝업 열기
function layerOpen(set) {
	$('#' + set).addClass('show');
	$('body, html').addClass('noscroll');
}
// 레이어팝업 닫기
function layerClose(set) {
	$('#' + set).removeClass('show');
	$('body, html').removeClass('noscroll');
}
// 20220525 accordion UI
if ($('.accordian__item')){
	var accordianBtns = document.querySelectorAll('.accordian__item .accordian__title .accordian__button');
	accordianBtns.forEach((item) => {
		item.addEventListener('click', (event) => {
			var target = item.parentNode.parentNode.parentNode;
			if(!target.classList.contains('accordian__item--active')) {
				target.classList.add('accordian__item--active');
			} else {
				target.classList.remove('accordian__item--active');
			}
		})
	})
}
// 20220525 추천인 검색 방법
$(document).ready(function() {
	if ($('.recommidlay').length > 0) {
		$('.recommidlay').find('#sch03').click(function () {
			if ($(this).is(":checked")) {
				$('.recommidlay').find('.usersch').addClass('hid');
				$('.recommidlay').find('.numsch').removeClass('hid');
				$('.recommidlay').find('.idsch').addClass('hid');
			}
		});
		$('.recommidlay').find('#sch02').click(function () {
			if ($(this).is(":checked")) {
				console.log('2');
				$('.recommidlay').find('.numsch').addClass('hid');
				$('.recommidlay').find('.idsch').addClass('hid');
				$('.recommidlay').find('.usersch').removeClass('hid');
			}
		});
		$('.recommidlay').find('#sch01').click(function () {
			if ($(this).is(":checked")) {
				$('.recommidlay').find('.idsch').removeClass('hid');
				$('.recommidlay').find('.usersch').addClass('hid');
				$('.recommidlay').find('.numsch').addClass('hid');
			}
		});
	}
});
</script>
<script>
	// 20210315 비밀번호 마스킹	
	$('.masking .btn_masking').on('click', function() {
		if ($(this).parent('.masking').hasClass('_not')) {
				$(this).parent('.masking').removeClass('_not');
				$(this).parent('.masking').find('input').attr('type', 'password');
				$(this).children('i').attr('class','ic_show');
		} else {
				$(this).parent('.masking').addClass('_not');
				$(this).parent('.masking').find('input').attr('type', 'text');
				$(this).children('i').attr('class','ic_hide');
		}
	});
</script>
</html>