<!DOCTYPE html>
<html lang="ko">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="title" content="유한킴벌리" />
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리" />
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
<title>유한킴벌리 통합브랜드</title>

<link rel="icon" href="../../Common/images/favicon/lanature_favicon.ico">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main_new.css">
<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../../Common/js/front.ui.js"></script>
<script type="text/javascript" src="../../Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<!-- <script type="text/javascript" src="/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script> -->
	<!-- <script type="text/javascript" src="../../Scripts/common.js"></script> -->
</head>

<body>
	<!-- wrap -->
	<div id="combiMain">
		<!-- skipMenu -->
		<nav class="skip">
			<a href="#container">컨텐츠로 바로가기</a>
		</nav>
		<!-- //skipMenu -->
		<!-- header -->
		<header class="rehead">
			<div>
				<h1 class="logo">
				<a href="#" class="btn_allbrand"><span>전체브랜드</span></a>
				<a href="/"><img src="../../Common/images/common/combi_logo.png" alt="유한킴벌리 브랜드"></a>
			</h1>
				<div class="util">
					<ul>
						<li><a href="/SSL/Login?returnUrl=%2F">로그인</a></li>
						<li><a href="/SSL/Join?returnUrl=%2F">회원가입</a></li>
						<li><a href="#">마이페이지</a></li>
					</ul>
				</div>
			</div>
		</header>
		<!--// header -->

		<!-- container  -->
		<div id="container">
			<div class="remain">
				<!-- visu rolling bnr -->
				<div class="main_visu_rolling">
					<ul>
						<li>
							<a href="#"><img src="../../Common/images/dummy/@main_visu01.jpg" alt="대체텍스트" /></a>
						</li>
						<li>
							<a href="#"><img src="../../Common/images/dummy/@main_visu02.jpg" alt="대체텍스트" /></a>
						</li>
					</ul>
				</div>
				<!--// visu rolling bnr -->

				<div class="inner">
					<!-- brand news -->
					<div class="brandnews">
						<p class="in_title">Brand News</p>
						<div class="listwrap">

							<div class="item type01">
								<div class="img">
									<a href="#"><img src="../../Common/images/dummy/@brandnews_img01.jpg" onerror="this.src='../../Common/images/common/blank.jpg'" alt="대체텍스트" /></a>
								</div>
								<div class="desc">
									<a href="#" class="lnk" target="_blank">
										<span>그린핑거 소식</span>
										<p class="p1">메마른 피부에 수분 톡톡, 그린핑거 ‘촉촉한 자연보습’</p>
										<p>그린핑거의 촉촉한 자연보습이 스페인의 갓 딴 올리브로 새롭게 업그레이드되어 출시하였다. 촉촉한 자연보습은 대서양의 따사로운 햇살을 머금고 태어난 최고의 스페인산 올리브만을 골라 피부에 수분을 꽉 채워줄 성분만을 고농도로 추출하여 제품에 ...</p>
									</a>
									<div class="btns">
										<a href="#" target="_blank">보러가기</a>
									</div>
								</div>
							</div>

							<div class="item type02">
								<div>
									<div class="img">
										<a href="#"><img src="../../Common/images/dummy/@brandnews_img02.jpg" onerror="this.src='../../Common/images/common/blank.jpg'" alt="대체텍스트" /></a>
									</div>
									<div class="desc">
										<a href="#" class="lnk" target="_blank">
											<span>그린핑거 소식</span>
											<p class="p1">메마른 피부에 수분 톡톡, 그린핑거 ‘촉촉한 자연보습’</p>
											<p>그린핑거의 촉촉한 자연보습이 스페인의 갓 딴 올리브로 새롭게 업그레이드되어 출시하였다. 촉촉한 자연보습은 대서양의 따사로운 햇살을 머금고 태어난 최고의 스페인산 올리브만을 골라 피부에 수분을 꽉 채워줄 성분만을 고농도로 추출하여 제품에 ...</p>
										</a>
										<div class="btns">
											<a href="#" target="_blank">보러가기</a>
										</div>
									</div>
								</div>
							</div>

							<div class="item type03">
								<div>
									<div class="img">
										<a href="#"><img src="../../Common/images/dummy/@brandnews_img01.jpg" alt="대체텍스트" /></a>
									</div>
									<div class="desc">
										<a href="#" class="lnk" target="_blank">
											<span>그린핑거 소식</span>
											<p class="p1">메마른 피부에 수분 톡톡, 그린핑거 ‘촉촉한 자연보습’</p>
											<p>그린핑거의 촉촉한 자연보습이 스페인의 갓 딴 올리브로 새롭게 업그레이드되어 출시하였다. 촉촉한 자연보습은 대서양의 따사로운 햇살을 머금고 태어난 최고의 스페인산 올리브만을 골라 피부에 수분을 꽉 채워줄 성분만을 고농도로 추출하여 제품에 ...</p>
										</a>
										<div class="btns">
											<a href="#" target="_blank">보러가기</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="vod_rolling">
							<span class="bottom"></span>
							<ul>
								<li>
									<a href="http://www.ykbrand.co.kr/goodfeel/Feed/FeedDetail/2851?menu=46">
										<div class="head">
											<p>좋은느낌 광고<span>좋은느낌 모카솜이와 함께하는 보송한 하루 편</span></p>
										</div>
										<div class="cont">
											<img src="../../Common/images/dummy/@vod.jpg" alt="" />
											<!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/xErnHKId778" frameborder="0" allowfullscreen></iframe> -->
										</div>
									</a>
								</li>
								<li>
									<a href="http://www.ykbrand.co.kr/greenfinger/Feed/FeedDetail/3090?menu=26">
										<div class="head">
											그린핑거 광고<span>촉촉한 자연보습 - 피부기초체력을 키워줄 첫...</span>
										</div>
										<div class="cont">
											<img src="../../Common/images/dummy/@vod2.jpg" alt="" />
										</div>
									</a>
								</li>
							</ul>
							<div id="bx-pager" class="bx-pager"></div>
						</div>
					</div>
					<!--// brand news -->
				</div>

				<!-- brand -->
				<div class="brand">
					<p class="in_title">Brand</p>
					<div class="brand_rolling">
						<div id="bx-pager" class="bx-pager">
					    <ul>
				        <li> <a data-slide-index="0" href="">화이트</a></li>
				        <li> <a data-slide-index="1" href="">좋은 느낌</a></li>
				        <li> <a data-slide-index="2" href="">크리넥스</a></li>
				        <li> <a data-slide-index="3" href="">스카트</a></li>
				        <li> <a data-slide-index="4" href="">디펜드</a></li>
				        <li> <a data-slide-index="5" href="">마이비데</a></li>
				        <li> <a data-slide-index="6" href="">굿나이트</a></li>
				        <li> <a data-slide-index="7" href="">티엔</a></li>
				        <li> <a data-slide-index="8" href="">그린핑거</a></li>
				        <li> <a data-slide-index="9" href="">하기스</a></li>
					    </ul>
						</div>
						<ul>
							<li class="item wt" style="background-image:url('../../Common/images/common/mainbrand_vwt.jpg')">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="화이트" />
								<div class="inner">
									<div class="desc">
										<span>깨끗함이 달라요!</span>
										<p>화이트</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt" style="background-image:url('../../Common/images/common/mainbrand_vwt.jpg')">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="좋은느낌" />
								<div class="inner">
									<div class="desc">
										<span>마음까지 편안하게 좋은느낌</span>
										<p>좋은느낌</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="크리넥스" />
								<div class="inner">
									<div class="desc">
										<span>변하지 않은 당신 마음, 그렇게 혁신적인 부드러움으로 함께합니다.</span>
										<p>크리넥스</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="스카트" />
								<div class="inner">
									<div class="desc">
										<span>스마트한 주방 관리의 노하우 스카트</span>
										<p>스카트</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="디펜드" />
								<div class="inner">
									<div class="desc">
										<span>액티브 시니어를 위한 요실금 전문브랜드, 디펜드</span>
										<p>디펜드</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="마이비데" />
								<div class="inner">
									<div class="desc">
										<span>상쾌하게 마무리 후 변기에 쏙! 화장실용 물티슈 마이비데</span>
										<p>마이비데</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="굿나이트" />
								<div class="inner">
									<div class="desc">
										<span>밤새 걱정 없이 아침까지 편안하게 굿나이트</span>
										<p>굿나이트</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="티엔" />
								<div class="inner">
									<div class="desc">
										<span>10대 맞춤 솔루션 티엔</span>
										<p>티엔</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="그린핑거" />
								<div class="inner">
									<div class="desc">
										<span>자연으로 키우는 피부기초체력 그린핑거 </span>
										<p>그린핑거</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
							<li class="item wt">
								<img class="img" src="../../Common/images/common/mainbrand_vwt.jpg" alt="하기스" />
								<div class="inner">
									<div class="desc">
										<span>Happy Hug</span>
										<p>하기스</p>
										<a href="#" class="btn" target="_blank">보러가기</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<!--// brand -->

				<!-- community -->
				<div class="inner">
					<div class="community">
						<p class="in_title">Community</p>

						<ul class="list">
							<li class="col2">
								<div class="lnk" style="background-image:url(../../Common/images/dummy/@commu01.jpg);">
									<div class="desc">
										<span>국내 최초의 오픈형 생리 백과사전</span>
										<p>우리는<br/>생리하는 중입니다</p>
										<a href="#" class="btn">바로가기</a>
									</div>
								</div>
							</li>
							<li>
								<a href="#" class="lnk">
									<img src="../../Common/images/dummy/@commu02.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lnk">
									<img src="../../Common/images/dummy/@commu03.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lnk">
									<img src="../../Common/images/dummy/@commu04.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lnk">
									<img src="../../Common/images/dummy/@commu02.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<!--// community -->

				<!-- 제품찾기/샘플신청 -->
				<div class="link_banner">
					<!-- 20190308 -->
					<a href="#"><img src="../../Common/images/common/samplekit_bnr.jpg" alt="샘플킷 신청하기" /></a>
					<!--// 20190308 -->

					<!-- 이하 삭제
					<div class="head">
						<p>샘플킷 신청하기</p>
						<span>유한킴벌리 통합 브랜드 회원이라면 누구나 신청할 수 있습니다.<br />내게 맞는 제품을 체험해 보세요!</span>
					</div>
					<div class="bnr bnr01">
						<a href="#">
							<img src="../../Common/images/common/samplekit_img01.jpg" alt="디펜드 샘플신청" />
							<p>디펜드 샘플신청</p>
						</a>
					</div>
					<div class="bnr bnr02">
						<a href="#">
							<img src="../../Common/images/common/samplekit_img02.jpg" alt="좋은느낌 샘플신청" />
							<p>좋은느낌 샘플신청</p>
						</a>
					</div>
					<div class="bnr bnr03">
						<a href="#">
							<img src="../../Common/images/common/samplekit_img03.jpg" alt="화이트 샘플신청" />
							<p>화이트 샘플신청</p>
						</a>
					</div> -->
				</div>
				<!--// 제품찾기/샘플신청 -->

				<!-- social -->
				<div class="inner">
					<div class="social">
						<p class="in_title">Social</p>

						<ul class="taglist">
							<li>
								<a href="#" class="on">ALL</a>
							</li>
							<li>
								<a href="#">#gogo_화이트</a>
							</li>
							<li>
								<a href="#">#좋은느낌이벤트</a>
							</li>
							<li>
								<a href="#">#디펜스타일_위시리스트</a>
							</li>
							<li>
								<a href="#">#크리넥스_차원이다깨끗함</a>
							</li>
						</ul>

						<ul class="soclist">
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns01.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns02.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns03.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns04.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns02.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns04.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns01.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns03.gif" alt="대체텍스트" /></a>
							</li>
						</ul>
					</div>
				</div>
				<!--// social -->

				<!-- custom center -->
				<div class="inner">
					<div class="cust_center">
						<div class="cent01">
							<div>
								<h2>전화상담</h2>
								<p>080-022-7007</p>
								<span>평일 09:00 ~ 17:30</span>
								<span>토·일요일 및 공휴일 휴무 (점심시간 12:00 ~ 13:00)</span>
							</div>
						</div>
						<div class="cent02">
							<div>
								<h2>문자상담</h2>
								<p>1666-7067</p>
								<span>발신자 부담</span>
								<span>장문 2,000자 이내, 이미지 첨부(MMS, 4장까지)</span>
							</div>
						</div>
						<div class="cent03">
							<div>
								<h2>고객센터</h2>
								<a href="#">문의접수 Q&amp;A</a>
								<a href="#">자주묻는질문 FAQ</a>
							</div>
						</div>
					</div>
				</div>
				<!--// custom center -->

			</div>
		</div>
		<!--// container  -->

		<!-- footer -->
		<footer class="renewfoo">
			<!-- footerCont -->
			<div class="footerCont">
				<!-- shortcut -->
				<div class="shortcut">
					<ul>
						<li><a href="http://www.happybabyshop.co.kr/" target="_blank"><img src="../../Common/images/common/gbrand_logo01.gif" alt="하기스 브랜드"></a></li>
						<li><a href="/goodnite"><img src="../../Common/images/common/gbrand_logo02.gif" alt="굿나이트 브랜드"></a></li>
						<li><a href="/white"><img src="../../Common/images/common/gbrand_logo03.gif" alt="화이트 브랜드"></a></li>
						<li><a href="/goodfeel"><img src="../../Common/images/common/gbrand_logo04.gif" alt="좋은느낌 브랜드"></a></li>
						<li><a href="/kleenex"><img src="../../Common/images/common/gbrand_logo05.gif" alt="크리넥스 브랜드"></a></li>
						<li><a href="/scott"><img src="../../Common/images/common/gbrand_logo06.gif" alt="스카트 브랜드"></a></li>
						<li><a href="/mybidet"><img src="../../Common/images/common/gbrand_logo07.gif" alt="마이비데 브랜드"></a></li>
						<li><a href="/depend"><img src="../../Common/images/common/gbrand_logo08.gif" alt="디펜드 브랜드"></a></li>
						<li><a href="/tn"><img src="../../Common/images/common/gbrand_logo09.gif" alt="티엔 브랜드"></a></li>
						<li><a href="/greenfinger"><img src="../../Common/images/common/gbrand_logo010.gif" alt="그린핑거 브랜드"></a></li>
						<!-- 20220124 추가 -->
						<li><a href="/"><img src="../../Common/images/common/gbrand_logo011.gif" alt="오늘플러스"></a></li>
						<!--// 20220124 추가 -->
					</ul>
				</div>
				<!-- //shortcut -->

				<!-- footsec -->
				<div class="footsec">
					<!-- logo -->
					<p class="footlogo"><img src="../../Common/images/common/newfootlogo.gif" alt="유한킴벌리"></p>

					<!-- footMenu -->
					<ul class="footMenu">
						<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
						<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="font-weight:bold;">개인정보처리방침</a></li>
					</ul>
					<!-- //footMenu -->
					<!-- corpInfo -->
					<div class="corpInfo">
						서울시 강남구 테헤란로 504 (우) 06178<span>최규복</span><br />사업자번호 : 120-81-11436 <span>고객지원센터 : 080-022-7007</span>
						<span><a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일 <img src="../../Common/images/common/btn_fooemail.gif" alt="" /></a></span>
					</div>
					<!-- copy-->
					<p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>
					<div class="familysite">
						<select>
							<option>FAMILY SITE</option>
							<!-- 20220124 추가 -->
							<option>유한킴벌리</option>
							<option>맘큐</option>
							<!--// 20220124 추가 -->
						</select>
					</div>

					<!-- btnTop -->
					<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"></a>
				</div>
				<!-- //footsec -->
			</div>
			<!-- //footerCont -->
		</footer>
		<!--// footer -->

	</div>


</body>

</html>
