<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
	<br>
	<table class="termstable">
	  <caption>개인정보 수집이용 동의[선택]</caption>
	  <colgroup><col style="width:30%" /><col style="width:30%" /><col style="*" /></colgroup>
	  <thead>
		  <tr>
			<th scope="col">수집·이용목적</th>
			<th scope="col">수집·이용항목</th>
			<th scope="col">보유 및 이용기간</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr>
			<td>깜짝쿠폰, 맞춤할인행사, 무료 샘플/체험단 등 이벤트 참여기회 제공</td>
			<td style="border-left:1px solid #ddd;">깜짝쿠폰, 맞춤할인행사, 무료 샘플/체험단 등 이벤트 참여기회 제공</td>
			<td rowspan="3" style="border-left:1px solid #ddd;font-weight: 700;">
				깜짝쿠폰, 맞춤할인행사, 무료 샘플/체험단 등 이벤트 참여기회 제공
			</td>
		  </tr>
	  </tbody>
  </table>
  <br>
  <p>* 고객님께서는 개인정보 수집 및 이용(선택) 동의에 거부하실 수 있습니다. 단, 거부할 경우 선택정보활용에 따른 위 서비스 이용에 제한이 있을 수 있습니다.</p>
	</div>
</div>
</body>
</html>
