<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
	<table class="termstable">
		<caption>맘큐 마케팅 목적 이용</caption>
		<colgroup><col style="width:30%" /><col style="*" /><col style="*" /></colgroup>
		<thead>
			<tr>
				<th scope="col">수집·이용목적</th>
				<th scope="col">수집·이용항목</th>
				<th scope="col">보유 및 이용기간</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>신규 서비스 개발, 맞춤 서비스 제공 및 마케팅, 서비스 이용에 대한 통계처리</td>
				<td>이름, 생년월일, 성별, 휴대폰 번호, 주소, 이메일, 아이정보(출산여부, 이름, 성별, 생일, 임신주수), 서비스 이용기록 및 구매기록</td>
				<td>회원 탈퇴 혹은 이용 동의 철회 시까지 (관계 법령의 규정에 의해 보존의 필요가 있는 경우는 해당 기간까지)</td>
			</tr>

		</tbody>
	</table><br />
	</div>
</div>
</body>
</html>
