<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
	<br>
	<table class="termstable">
	  <caption>맘큐 필수항목 개인정보 수집 및 이용</caption>
	  <colgroup><col style="width:30%" /><col style="width:30%" /><col style="*" /></colgroup>
	  <thead>
		  <tr>
			<th scope="col">수집·이용목적</th>
			<th scope="col">수집·이용항목</th>
			<th scope="col">보유 및 이용기간</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr>
			<td>회원관리 및 본인확인, 민원처리, 계약의 이행</td>
			<td>아이디, 비밀번호, 이름, 생년월일, 성별, 휴대폰번호, 이메일, 본인인증정보: 이용자 확인 값(CI), 중복가입확인정보(DI)</td>
			<td rowspan="3" style="border-left:1px solid #ddd;">
				회원 탈퇴 혹은 이용 동의 철회 시까지 (관계 법령의 규정에 의해 보존의 필요가 있는 경우는 해당 기간까지)
			</td>
		  </tr>
		  <tr>
			<td>부정이용 방지 및 비인가 사용방지</td>
			<td>방문일시, 서비스 이용 기록</td>
		  </tr>
	  </tbody>
  	</table>
	</div>
</div>
</body>
</html>
