<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
		<br>
		<table class="termstable">
      <caption>momQ 선택항목 개인정보 수집 및 이용</caption>
      <colgroup><col style="width:30%" /><col style="width:30%" /><col style="*" /></colgroup>
      <thead>
          <tr>
              <th scope="col">목적</th>
              <th scope="col">항목</th>
              <th scope="col">보유기간</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>
                  - 주문 및 배송 처리<br />
                  - 맞춤 서비스 제공<br />
                  - 접속빈도 파악 및 회원서비스 이용에 대한 통계처리 등
              </td>
              <td>아기정보(아이생일, 아이이름, 아이성별 등), SMS 및 이메일 수신여부, 결혼여부, 임신여부</td>
              <td rowspan="3">
                  회원탈퇴, 이용 동의 철회 또는 개인정보 유효기간 도래 시까지 이용 및 보관<br />
                  단, 관계 법령에 따라 고객님의 개인정보를 보존하여야 하는 경우, 회사는 해당 법령에서 정한 기간 동안 보관합니다(개인정보 유효기간 도래 시 회사는 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다).
              </td>
          </tr>
      </tbody>
  	</table><br />

	</div>
</div>
</body>
</html>
