<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
		개인정보의 수집 및 이용 목적 및 수집 항목<br />
    <br />
    <table class="termstable">
        <caption>통합 브랜드 개인정보 취급 수탁업체 및 업무내용 안내</caption>
        <colgroup><col style="width:30%" /><col style="*" /></colgroup>
        <thead>
            <tr>
                <th scope="col">목적</th>
                <th scope="col">수집항목</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>회원 관리</td>
                <td>• 이름, 생년월일, 성별, 아이디, 비밀번호, 휴대전화번호, 이메일 주소, 만 14세 미만 회원의 법정대리인 본인 확인 정보(이름, 나이)</td>
            </tr>
            <tr>
                <td>서비스 이용 또는 사업처리 과정에서 생성/수집되는 정보</td>
                <td>
                    • 서비스 이용기록(이용시간/이용사이트/포인트/상품 또는 서비스 구매내역) 및 결제기록, 접속 IP 정보, 쿠키(Cookie), 기기정보 등
                    • 단말기기정보(모델명/단말식별번호/OS버전), 단말접속일시, PUSH토큰, 각종 PAY등
                </td>
            </tr>
        </tbody>
    </table><br />
    <br />
    개인정보의 보유 및 이용기간<br />
    <p>이용자의 개인정보는 회원 탈퇴, 이용 동의 철회 또는 개인정보 유효기간 도래 시까지 이용 및 보관합니다.<br />
    단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 해당 법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. (유효기간 도래 시 회사는 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.)</p><br />
	</div>
</div>
</body>
</html>
