<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
		신제품 출시, 이벤트 참여 기회 등 마케팅 홍보를 위하여 귀하의 개인정보를 이용하는데 동의하십니까? 동의를 거부하시더라도 회원가입, 서비스이용, 홈페이지 이용 등이 가능합니다. 다만, 동의 거부 시 신제품 및 이벤트 정보 안내 등의 서비스가 제한됩니다.
	<br />
	<br />
	<table class="termstable">
		<caption>개인정보의 이용목적 및 이용항목</caption>
		<colgroup><col style="width:30%" /><col style="*" /><col style="*" /></colgroup>
		<thead>
			<tr>
				<th scope="col">수집·이용목적</th>
				<th scope="col">수집·이용항목</th>
				<th scope="col">보유 및 이용기간</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>신규 서비스 개발, 맞춤 서비스 제공 및 마케팅, 서비스 이용에 대한 통계처리</td>
				<td>이름, 생년월일, 성별, 휴대폰번호, 이메일 주소, 주소</td>
				<td>회원 탈퇴 혹은 이용 동의 철회 시까지 (관계 법령의 규정에 의해 보존의 필요가 있는 경우는 해당 기간까지)</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>
</body>
</html>
