@charset "utf-8";
@import url("//fonts.googleapis.com/earlyaccess/notosanskr.css");
@import url("/css/reset_mobile.css");

.txt-c {text-align:center !important;}
.ft-s-16 {font-size:16px !important;}
.pd-20 {padding:20px !important;}
.pd-top-20 {padding-top:20px !important;}
.bg-color-blue {background-color:#009fe3 !important; border-color:#fff !important; color:#fff !important;}

/* layer */
.noscroll {height:100%;overflow: hidden;}
.layerbody {display: none;position: fixed;left:0;top:0;width:100%;height:100%;background-color: rgba(0,0,0, .6)}
.layerbody.show {display: block;}
.layerwrap {
	position: absolute; z-index: 100; top:50%; left:50%; width: 100%; padding:25px 25px 0; background-color: #fff;transform:translate(-50%, -50%);
}
.layerwrap .btn_close {
	position: absolute;right:5px;top:-15px;width:30px;height:30px;
	background:url(/images/pc/btn_layclose.png) no-repeat 0 0;background-size:30px;
}
.layerwrap .layhead {position: relative;padding-bottom:10px;font-size: 15px;}
.layerwrap .btnwrap {margin-top:20px;}
.layerwrap .btnwrap .btnfull {width:100%;background-color:#009fe3;border:0;text-align: center;font-size: 14px;color:#fff; }
.recommidlay {padding: 40px 40px !important;}
.recommidlay .putfrm li{padding:5px 0;margin-bottom:10px;border-bottom:1px solid #dddddd;}
.recommidlay .putfrm li:after{content: '';display: block;clear:both;}
.recommidlay .hid {display: none;}
.recommidlay .putfrm p {position: relative;float:left;font-size: 12px;color:#a3a3a3;vertical-align: middle;}
.recommidlay .putfrm .name{width:120px;height:40px;line-height: 40px;color:#000;}
.recommidlay .putfrm .put{width:calc(100% - 120px);}
.recommidlay .putfrm input {border:0;width:100%;}
.recommidlay .select_chk {margin:5px 0;}
.recommidlay .select_chk .rchk {display: inline-block;margin-right:10px;}
.recommidlay .result {margin:25px 0 25px;}
.recommidlay .result .name{width:90px;}
.recommidlay .result .put{width:calc(100% - 90px);height:40px;line-height: 40px;color:#000;}
.recommidlay .result .btnsmal {position: absolute;right:0;top:50%;margin-top:-11px;}
.recommidlay .inf {padding-top:5px;text-align: center;font-size: 11px;font-weight: 300;}
.termslay.layerwrap {padding:15px;}
.termslay .inscroll {margin:15px 0 20px;height:250px;background-color: #f4f6f8;overflow-y:scroll;}
.pwdchangelayer .btnwrap {margin-bottom:30px;}
/* layer */

p.help {position:relative;padding-left:8px;color:#888888;font-size: 14px;text-align: left;}
p.help:before {
	display:block;position: absolute;left:0;top:8px;
	width:2px;height:2px;background-color: #888;
}
.inframe {width:100%;height:100%;border:0;}
/*.termsarea {width:100%;height:100%;padding:15px 20px;}*/
.termsarea {width:100%;height:100%;padding:15px 0px;font-size: 12px;word-break: keep-all;}
.termsarea h2 {padding:15px 0 10px;font-size: 13px;font-weight: 700;}
.termsarea p {padding-bottom:5px;font-size: 12px;word-break: keep-all;}
.termstable {border:1px solid #dddddd;border-bottom:0;}
.termstable th, .termstable td {padding:10px;border-bottom:1px solid #dddddd;font-size: 11px;}
.termstable th {background-color: #e6e6e6;font-weight: bold}
.termstable td {background-color: #fff;}
.btnwrap { clear:both; }
.btn {min-width:10px;display: inline-block;padding:0 10px;height:40px;line-height: 36px;color:#000;border:1px solid #000;font-size: 15px;}
.btnsmal {height:23px;line-height: 20px;font-size: 7px;border:1px solid #dddddd;}
.btn_blue {width:100%;border:1px solid #009fe3;color:#009fe3;text-align:center; }
.row { position: relative; max-width:800px;width:100%;margin:0 auto;padding:0 25px; }
.sso_wrap {width:100%;}
.sso_head .row {height:60px;border-bottom:3px solid #009fe3;}
.sso_head .row a {display: block;width:100%;height:100%;}
.sso_head .row .brandlogo{
  position: absolute;left:25px;top:23px;width:111px;height:25px;
  /* background-image: url(/images/pc/ykbrand_logo.png); */
  background-image: url(/images/pc/yksso_logo.gif);
  background-size:111px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.sso_head .row .brandlogo span.txt {display: inline-block;margin:-2px 0 0 120px;font-size: 12px;color:#313131;font-weight: 300;vertical-align:top;}
.sso_head .row .childlogo {
  position: absolute;right:25px;top:21px;width:60px;height:20px;
  background-image: url(/images/pc/momq_logo.png);
  background-size:60px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.sso_head .row .child-logo-monit {
    width: 104px;
    height: 32px;
    background-image: url(/images/pc/logo_monit.jpg);
    background-size: 104px;
    top: 17px;
    right: 16px;
}
.sso_head .row .child-logo-mygf {
    width:90px;
    height:30px;
    background-image: url(/images/pc/logo_feelgood.jpg);
    background-size:90px;
    top: 15px;
    right: 20px;
}
.contents .row{height:100%;min-height:100%; background-color: #fff;}
.login_wrap {padding:35px 0 0;width:100%;margin:0 auto;}
.login_wrap .title{padding-bottom:25px;font-size: 25px;font-weight: 300;}
.login_frm {margin-bottom:30px;}
.login_frm .line:after {content: '';display: block;clear:both;}
.login_frm .line {padding:5px 0;border-bottom:1px solid #dddddd;}
.login_frm .line > p {float:left;font-weight: 500;font-size: 13px; color:#a3a3a3;}
.login_frm .line .ti { width:60px;height:40px;line-height: 43px; }
.login_frm .line .frm { width:calc(100% - 60px); }
.login_frm .line input { border:0;width:60%;padding:0; }
.login_frm .chk {padding:20px 0;text-align: right;}
.login_wrap .btnwrap {margin-bottom:25px;}
.login_wrap .btnwrap p.help {margin-top:13px;}
.sns_login:after {content: '';display: block;clear:both;}
.sns_login {margin-bottom:25px;}
.sns_login > p {float:left;width:calc((100% / 3) - 4px);height:40px;margin-right:5px;}
.sns_login > p:last-child{margin-right:0;}
.sns_login > p a {display: inline-block;}
.sns_login > p a {
	display: inline-block;width:100%;height:40px;line-height: 38px;
	background-color: #f1f3f4;text-align: center;color:#888888;font-size: 12px;
}
.sns_login a > i {
	display:inline-block;
	width:20px;height:20px;margin-right:5px;
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align: middle;
}
.sns_login .bt_naver > i {
	background-image: url(/images/ico_naver.png);
	background-size:15px;
}
.sns_login .bt_facebook > i {
	width:15px;
	background-image: url(/images/ico_facebook.png);
	background-size:8px;
}
.sns_login .bt_kakao > i {
	background-image: url(/images/ico_kakao.png);
	background-size:20px;
}
.login_wrap .util {margin-bottom:25px;text-align: center;}
.login_wrap .util a{ display: inline-block;font-size: 12px;}
.login_wrap .util a:after {
	content: '';display: inline-block;margin:0 20px;width:1px; height:10px;background-color: #000;
}
.login_wrap .util a:last-child:after { display: none; }

.sso_wrap .btn_foo {margin-top:40px;}
.sso_wrap .btn_next {width:100%;background-color: #009fe3;color:#fff;border:1px solid #009fe3;text-align: center;}
.sso_wrap .join_wrap{max-width:800px;width:100%;margin:0 auto;padding:30px 0 60px;}
.sso_wrap .join_wrap > h1 {padding-bottom:15px;font-size: 25px;font-weight: 300;}
.sso_wrap .join_wrap > h1 > span {display: block;color:#009fe3;}
.sso_wrap .join_wrap .desc {padding-bottom:20px;font-size: 13px;}
.sso_wrap .btnwrap {text-align: center;}
.sso_wrap .join_wrap .btn_nrmal {display: inline-block;margin-bottom:10px;width:100%;border:1px solid #3a96e1;color:#3a96e1;text-align: center;}
.sso_wrap .join_wrap .btn_small {display: inline-block;margin:0 auto;}
.sso_wrap .join_wrap .snoti {color:#888888;font-size: 14px;}
.sso_wrap h2.h2_ti{padding-bottom:5px;font-size: 15px;font-weight: 700;}
.sso_wrap .com_benefit {margin:50px 0 50px;}
.sso_wrap .com_benefit:after  {content: '';display: block;clear:both;}
.sso_wrap .dotted {display: block;width:100%;height:5px;border-top:1px dotted #d3d3d3;}
.sso_wrap .com_benefit .desc {padding-bottom:25px;font-weight: 300;}
.sso_wrap .com_benefit .btnwrap {margin:40px 0 0;}
.sso_wrap .coupons .cp_list:after {content: '';display: block;clear:both;}
.sso_wrap .coupons .cp_list > li {float:left;width:calc(50% - 10px);margin-right:10px;text-align: center;}
.sso_wrap .coupons .cp_list > li:last-child{margin-right:0;}
.sso_wrap .coupons .cp_list .ti {padding-bottom:10px;font-size: 14px;}
.sso_wrap .com_guide {margin-bottom:60px;}
.sso_wrap .dot_list li{position: relative;padding-left:8px;padding-bottom:6px;word-break: keep-all;vertical-align: top;}
.sso_wrap .dot_list li:before {
	content: '';position: absolute;left:0;top:10px;width:2px;height:2px;background-color: #000;
}
.esse {color:#009fe3 !important;}
.sso_wrap .sel {color:#9f9f9f;}
.sso_wrap .logo_list:after {content: '';display: block;clear:both;}
.sso_wrap .logo_list li { float:left;width:calc((100% / 3) - 8px);margin-right:10px;margin-bottom:10px; }
.sso_wrap .logo_list li:nth-child(3n){margin-right:0;}
.sso_wrap .logo_list .logos {
	height:50px;border:1px solid #dddddd;
	background-size: cover;background-repeat: no-repeat;background-position: center center;
}
.sso_wrap .logo_list .logos a {display: block;width:100%;height:100%;}
.sso_wrap .logo_list .logos_momq {background-image:url(/images/pc/logos_momq.jpg);}
.sso_wrap .logo_list .logos_momq:hover {background-image:url(/images/pc/logos_momq_on.jpg);}
.sso_wrap .logo_list .logos_ykbrand {background-image:url(/images/pc/logos_ykbrand.jpg);}
.sso_wrap .logo_list .logos_ykbrand:hover {background-image:url(/images/pc/logos_ykbrand_on.jpg);}
.sso_wrap .logo_list .logos_huggies {background-image:url(/images/pc/logos_huggies.jpg);}
.sso_wrap .logo_list .logos_huggies:hover {background-image:url(/images/pc/logos_huggies_on.jpg);}
.sso_wrap .logo_list .logos_gnight {background-image:url(/images/pc/logos_gnight.jpg);}
.sso_wrap .logo_list .logos_gnight:hover {background-image:url(/images/pc/logos_gnight_on.jpg);}
.sso_wrap .logo_list .logos_white {background-image:url(/images/pc/logos_white.jpg);}
.sso_wrap .logo_list .logos_white:hover {background-image:url(/images/pc/logos_white_on.jpg);}
.sso_wrap .logo_list .logos_good {background-image:url(/images/pc/logos_good.jpg);}
.sso_wrap .logo_list .logos_good:hover {background-image:url(/images/pc/logos_good_on.jpg);}
.sso_wrap .logo_list .logos_lanature {background-image:url(/images/pc/logos_lanature.jpg);}
.sso_wrap .logo_list .logos_lanature:hover {background-image:url(/images/pc/logos_lanature_on.jpg);}
.sso_wrap .logo_list .logos_kleenex {background-image:url(/images/pc/logos_kleenex.jpg);}
.sso_wrap .logo_list .logos_kleenex:hover {background-image:url(/images/pc/logos_kleenex_on.jpg);}
.sso_wrap .logo_list .logos_scott {background-image:url(/images/pc/logos_scott.jpg);}
.sso_wrap .logo_list .logos_scott:hover {background-image:url(/images/pc/logos_scott_on.jpg);}
.sso_wrap .logo_list .logos_my {background-image:url(/images/pc/logos_my.jpg);}
.sso_wrap .logo_list .logos_my:hover {background-image:url(/images/pc/logos_my_on.jpg);}
.sso_wrap .logo_list .logos_depand {background-image:url(/images/pc/logos_depand.jpg);}
.sso_wrap .logo_list .logos_depand:hover {background-image:url(/images/pc/logos_depand_on.jpg);}
.sso_wrap .logo_list .logos_tn {background-image:url(/images/pc/logos_tn.jpg);}
.sso_wrap .logo_list .logos_tn:hover {background-image:url(/images/pc/logos_tn_on.jpg);}
.sso_wrap .logo_list .logos_green {background-image:url(/images/pc/logos_green.jpg);}
.sso_wrap .logo_list .logos_green:hover {background-image:url(/images/pc/logos_green_on.jpg);}
.sso_wrap .logo_list .logos_monit {background-image:url(/images/pc/logos_monit.jpg);}
.sso_wrap .logo_list .logos_monit:hover{background-image:url(/images/pc/logos_monit_on.jpg);}
.errtx {display: block;left:0;color:#e63c4f;font-size: 11px;}
.join_form {margin-top:25px;}
.input_frm {margin-bottom:35px;}
.input_frm li{width:100%;margin-bottom:10px;}
.input_frm li:after {content: '';display: block;clear:both;}
.input_frm .ti,
.input_frm .put {float:left;height:55px;line-height:55px;border-bottom:1px solid #eeeeee;}
.input_frm .ti.textarea, .input_frm .put.textarea { min-height:50px; max-height:100px;}
.input_frm .put textarea {min-width:100%;max-width:100%; height:50px;}
.input_frm .ti {width:85px;font-size: 13px;color:#888888;}
.input_frm .put {position: relative;width:calc(100% - 85px)}
.input_frm .put input[type=text],
.input_frm .put input[type=password],
.input_frm .put input[type=tel] {width:90%;margin-right:10px;border:0;margin-bottom:5px;}
.input_frm .put.put_id input {width:68%;}
.input_frm .btn_idchk {position: absolute;right:0;top:12px;width:auto;}
.input_frm .email .put input{width:calc((100% / 2) - 20px);margin-right:5px;}
.input_frm .email .put.full {float:none;clear:both;width:100%;}
.input_frm .put .btn_small {
	position: absolute;right:0;top:10px;
}
.input_frm .email .put.full .email {width:80%;}
.btn_small {font-size: 11px;color:#222;border:1px solid #dddddd;height:26px;line-height: 24px;}
.join_form .put.col3 {width:calc((100% / 3) - 39px);margin-right:15px;}
.join_form .put.col3 > span{display: inline-block;font-size: 14px;vertical-align: middle;margin-right:5px;}
.join_form .put.col3:last-child {margin-right:0;}
.input_frm select {vertical-align: middle;}
.input_frm .birth {width:77%;}
.input_frm .email {width:100%;}
.join_form .terms_chk {margin-top:10px;margin-bottom:60px;}
.join_form .terms_chk li {position: relative;margin-bottom:15px;}
.join_form .terms_chk li label {width:90%;font-weight: 400;}
.join_form .terms_chk li label .in {display: inline-block;width:85%;}
.join_form .terms_chk input[type="checkbox"] + label:before {vertical-align: top;margin-top:0;}
.join_form .terms_chk li.first {padding-bottom:20px;border-bottom:1px dotted #e2e3e5;}
.join_form .terms_chk li.first label{font-weight: 700;}
.join_form .terms_chk .txt {padding-left:30px;font-size: 12px;font-weight: 300;}
.join_form .terms_chk .btn_vw {position: absolute;display: inline-block;border-bottom:1px solid #888;right:0;top:0;color:#888888;font-size: 11px;}
.join_form .select_chk {margin:15px 0 0 25px;}
.join_form .select_chk .rchk {display: block;margin:0 0px 15px 0;}
.join_form .select_chk span {display: block;color:#888888;font-size: 12px;}
.join_form .recom {border-bottom:1px solid #dddddd;}
.join_form .recom .ti {display: inline-block;margin-right:20px;font-size: 13px;color: #888888;vertical-align: middle;}
.join_form .recom input[type=text]{width:60%;border:0;}
.join_form .etc_frm .select_chk {margin:20px 0 0 0;}
.join_form .etc_frm .select_chk .esse {margin-bottom:10px;}
.join_form .etc_frm .select_chk .rchk {display: inline-block;margin-right:20px;}
.join_wrap .meminfo p {width:100%;display: block;padding:20px 0;margin-bottom:20px;font-size: 16px;border-bottom:1px solid #dddddd;}
.join_wrap .meminfo .btn {width:calc((100% / 2) - 10px);margin-top:10px;margin-right:10px;}
.join_wrap .meminfo .btn:last-child {margin-right:0;}

.childadd {margin-top:40px;}
.childadd .select_chk {margin:0;}
.childadd .btnwrap {text-align: right;}
.childadd .btnwrap .btn_del {border:0;color:#888888;font-size: 14px;border-bottom:1px solid #888888}
.childadd .input_frm {clear:both;margin-bottom:15px;border-top:2px solid #009fe3;}
.childadd .input_frm li{padding:13px 0 10px;margin-bottom:0;}
.childadd .input_frm .ti {width:70px;}
.childadd .input_frm .put {width:calc(100% - 70px)}
.childadd .input_frm .put select{min-width:60px;vertical-align: middle}
.childadd .input_frm .put input[type=text] {width:calc(100% - 107px);margin-bottom:0;vertical-align: middle}
.childadd .input_frm .sel .t {font-size: 12px;}
.childadd .select_chk .rchk {display: inline-block;margin-right:20px;}
.childadd .addbtnwrap{display: inline-block;position: relative;float:right;margin-bottom:20px;}
.childadd .addbtnwrap:after {content: '';clear:both;display: block;}
.childadd .addbtnwrap .addlist {
	display: none;position: absolute;top:32px;width:115px;border:1px solid #dddddd;background-color:#fff;z-index: 1;
}
.childadd .addbtnwrap .addlist li {padding:5px 10px;font-size: 12px;}
.childadd .addbtnwrap .addlist li:hover {background-color: #f4f6f8;}
.childadd .btn_areadd {
	position: relative;display: inline-block;width:115px;padding:0 10px 0 30px;height:33px;line-height:31px;color:#222;border:1px solid #dddddd;text-align: right;font-size: 12px;
	background:url(/images/pc/ico_plus.gif) no-repeat left 15px center;background-color:#fff;z-index: 10;
}

.errotxt {padding:6px 0;color:#e63c4f;font-size: 12px;font-weight: 300;}
h2.tit {padding-bottom:10px;font-size: 25px;font-weight: 300;}
h2.tit span {padding-bottom:10px;margin-right:3px;font-size: 25px;font-weight: 300;color:#009fe3;}
p.desc {line-height: 1.6;font-weight: 300;}
p.desc > span {display: block;margin-top:8px;}
.help {position: relative;font-size: 14px;color:#888888;font-weight: 300;}
.help_desc{position: relative;}
.help_desc p.help{padding-left:9px;font-size: 12px;font-weight: 300;}
.help_desc p.help:before {
	display: block;position: absolute;left:0;top:2px;color:#888888;
}
.help_desc p.help > span {display: block;margin-top:8px;}
.help_desc .btn_small {position: relative;}
/* .desc{position: relative;font-size: 14px;line-height:1.5;}
.desc .btn_small {position: absolute;right:0;top:0;} */
/* find_wrap */
.find_wrap {padding:30px 0 60px;margin:0 auto;}
.find_wrap .desc{font-size: 13px;line-height:1.4;font-weight: 300;}
.find_wrap .help {font-size: 12px;color:#888888;font-weight: 300;}
.findfrm {margin-top:20px;}
.findfrm.result {margin-bottom:35px}
.findfrm .title{padding-bottom:5px;font-size: 15px;font-weight: 700;}
.findfrm .desc {padding-bottom:20px;}
.findfrm .write > li:after{content: '';display: block;clear:both;}
.findfrm .write > li{margin-bottom:10px;padding:5px 0;border-bottom:1px solid #dddddd;}
.findfrm .write .ti, .findfrm .write .put {float:left;height:40px;line-height: 40px;font-size: 13px;color:#888888;}
.findfrm .write .ti {width:100px;}
.findfrm .write .put {position: relative;width:calc(100% - 100px);padding-right:50px;}
.findfrm .write input {padding:0 10px;margin-bottom:5px;width:100%;border:0;}
.findfrm .btnwrap{margin-top:40px;}
.findfrm .dtime {position: absolute;right:0;color: #009fe3;}
.findfrm .write.code {margin-top:35px;}

.sso_wrap .mem_wrap{margin:0 auto 70px;padding:30px 0;}
.sso_wrap .mem_wrap .btnwrap {margin-top:60px;}
.sso_wrap .mem_wrap span.br {display: none;}

.terms_target {padding:5px 15px 15px;margin-bottom:30px;border:1px solid #dddddd}
.terms_target > p {padding:10px 0 10px;font-weight: 700;}
.terms_target > p >span {display: block;font-weight: 700;}
.terms_target div {font-weight: 300;}
.terms_target div > span {
	display: inline-block; width:calc(100% - 80px);margin-left:10px;vertical-align: middle;font-weight: 300;
}
.terms_target div > p {clear:both;padding-bottom:10px;}
.terms_target div > p label{margin-right:10px;}
.terms_target:after{content: '';display: block;clear:both;}

/* my */
.sso_wrap .my_wrap {padding:30px 0 60px;}
.my_wrap h2.h2_ti {padding-bottom:10px;}
.my_wrap .help_desc{margin-top:0;margin-bottom:30px;}
.my_wrap .input_frm{margin-bottom:15px;}
.my_wrap .terms_chk .select_chk .tit {padding-bottom:10px;}
.memberfrm h2.h2_ti {padding-bottom:5px;}
.memberfrm {margin-top:20px;}
.memberfrm.result {margin-bottom:35px}
.memberfrm .title{padding-bottom:5px;font-size: 15px;font-weight: 700;}
.memberfrm .desc {padding-bottom:20px;}
.memberfrm .write > li:after{content: '';display: block;clear:both;}
.memberfrm .write > li{margin-bottom:10px;padding:5px 0;border-bottom:1px solid #dddddd;}
.memberfrm .write .ti, .memberfrm .write .put {float:left;height:40px;line-height: 40px;font-size: 13px;color:#888888;}
.memberfrm .write .ti {width:80px;}
.memberfrm .write .put {position: relative;width:calc(100% - 80px);}
.memberfrm .write input {padding:0 10px;margin-bottom:5px;width:100%;border:0;}
.memberfrm .btnwrap{margin-top:40px;}
.memberfrm .dtime {position: absolute;right:0;color: #009fe3;}
.memberfrm .write.code {margin-top:35px;}
.leave_help{margin-bottom:55px;}
.leave_help li{position: relative;padding-bottom:10px;padding-left:18px;font-size: 13px;}
.leave_help li > span {color:#e63c4f;font-size: 13px;}
.leave_help li .num{position: absolute;left:0;}
.leave_help li .st {position: relative;padding-left:10px;padding-top:4px;font-size: 12px;line-height: 1.6;}
.leave_help li .st:before{content: '·';display: block;position: absolute;left:0;top:3px;}
.leave .memberfrm {margin-top:0;}
.leave .benefit {width:100%;margin-bottom:55px;border-top:1px solid #009fe3;}
.leave .benefit th,
.leave .benefit td{width:calc(100% / 3);padding:20px 0;border-bottom:1px solid #dddddd;text-align: center;}
.leave .benefit thead th{color: #009fe3;}
.leave .reason select{width:100%;}
.leave .reason .chk input[type="checkbox"] + label {font-size: 12px;}


p, span, li{word-break: keep-all;}

/* 약관팝업 */
.termTit { margin: 0; text-align: center; font-size: 15px; letter-spacing: -1px; }
.termCont { padding: 20px 15px; font-size: 14px; line-height: 18px; }
.termCont table { width: 100%; border: 1px solid #e5e5e5; }
.termCont table thead th { height: 49px; font-family: 'Spoqa Han Sans'; font-weight: 700; border-left: 1px solid #ffffff; color: #202020; background: #e5e5e5; }
.termCont table thead th:first-child { border-left: 0; }
.termCont table tbody th { border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; font-family: 'Spoqa Han Sans'; font-weight: 700; }
.termCont table tbody td { padding: 10px 10px 8px 10px; border-bottom: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5; color: #202020; }
.termHeader { text-align: center; position: relative; border-bottom: 2px solid #dedede; }
.termHeader h1 { font-size: 16px; font-weight: normal; margin: 0 50px; line-height: 50px; color: #202020; }
.termHeader h1 a { position: static; display: inline-block; }
.termHeader img { height: 50px }
.termHeader a { display: block; position: absolute; top: 0; }
.termCloseBtn { right: 0; }

/* 20200604 s */
.sso_wrap .certi_wrap { margin: 0 auto 70px; padding: 70px 0 10px; }
.sso_wrap .certi_wrap > h1 { padding-bottom: 20px; font-size: 25px; font-weight: 300; }
.sso_wrap .certi_wrap > h1 > span { display: block; color: #009fe3; }
.sso_wrap .certi_wrap .desc { padding-bottom: 20px; font-size: 13px; line-height: 2; }
.sso_wrap .certi_wrap .desc span { font-size: 12px; font-weight: 300; }
.sso_wrap .certi_wrap .btnwrap { margin-top: 40px; text-align: center; }
.sso_wrap .certi_wrap .btnwrap .btn_nrmal { width: 100%; }
/* 20200604 e */
/* 20200707 s */
.sso_wrap .coupons .cp_list.wide > li { clear: both; width: 100%; text-align: center; }
.sso_wrap .coupons .cp_list.wide > li img { max-width: 160px; }
.sso_wrap .helpwrap li { position: relative; padding-left: 10px; padding-bottom: 3px; color: #666666; text-align: left; }
.sso_wrap .helpwrap li:before { content: ''; display: block; width: 3px; height: 3px; background-color: #666666; position: absolute; left: 0; top: 8px; }
.sso_wrap .coupons .helpwrap { padding-top: 20px; }
.sso_wrap .banner .helpwrap { padding: 20px; }
.sso_wrap .banner .helpwrap li { font-size: 12px; }
.sso_wrap .dotted + .com_benefit { margin-bottom: 0; }
/* 20200707 e */

.join_form .terms_chk li strong { font-weight: 700; font-size: 14px; } /* 20200904 */

/* 20200909 s */
.sso_wrap h3.h3_ti { margin-top: 37px; font-size: 14px; font-weight: 700; }
.sso_wrap h3.h3_ti + .etc_frm .select_chk { margin-top: 15px; }
.sso_wrap .join_wrap .btn_half { width: 250px; }
.join_form .etc_frm .select_chk .esse { margin-bottom: 10px; font-weight: 350; font-size: 11px; letter-spacing: -.5px; }
.join_form .etc_frm .select_chk .esse i.tag { display: inline-block; margin-bottom: 5px; margin-right: 5px; padding: 1px 4px 2px; font-style: normal; font-size: 11px; letter-spacing: -.5px; border: 2px solid #009fe3; }
.sso_wrap .banner .helpwrap { margin: 0; }
.sso_wrap .banner .helpwrap li { font-size: 14px; font-weight: 350; color: #555555; }
.benefit_tit { border-bottom: 1px solid #000; margin-top: 50px; margin-bottom: -20px; }
/* 20200909 e */
/* 20201005 s */
.join_form .terms_chk._child { padding-top: 15px; border-top: 1px dotted #e2e3e5; margin-top: 30px; margin-bottom: 0px; }
.termstable td { word-break: keep-all; }
.sso_wrap .com_benefit .helpwrap li { font-size: 13px; }
.sso_wrap .com_benefit .helpwrap strong { font-weight: 700; }
.sso_wrap .com_benefit .helpwrap .btnwrap { margin: 10px 0 0px; }
.sso_wrap .com_benefit .helpwrap .btnwrap .btn { margin-bottom: 0; background-color: #009fe3; color: #fff; }
/* 20201005 e */
/* 20201208 s */
.sso_head .row .child-logo-mygf { position: absolute; right: 0; top: 5px; width: 90px; height: 52px; background-image: url(/images/mobile/logo_moon.png); background-size: 50px; background-position: center center; background-repeat: no-repeat; }
/* 20201208 e */

/* 20210315 s */
.masking { display: inherit; width: 100%; position: relative; }
.masking input { padding: 8px 40px 8px 0 !important; }
.masking .btn_masking { position: absolute; top: 30%; right: 2px; background-color: unset; border-color: transparent; }
.masking [class*='ic_'] { width: 20px; height: 18px; display: inline-block; background-size: cover; background-position: 0 center; background-repeat: no-repeat; }
.masking .ic_hide { background-image: url(/images/mobile/icon_hide.png); }
.masking .ic_show { background-image: url(/images/mobile/icon_show.png); }
/* 20210315 e */
/* 210705 s */
.sso_wrap .join_wrap span.tooltip { display: none; z-index: 99; position: absolute; top: 65px; left: 128px; max-width: 185px; min-width: 140px; width: -webkit-max-content; width: -moz-max-content; width: max-content; background-color: #009fe3; border-radius: 10px; padding: 10px; color: #fff; font-style: normal; font-size: 10px; font-weight: 350; }

.sso_wrap .join_wrap span.tooltip.show { display: block; }

.sso_wrap .join_wrap span.tooltip em { font-style: normal; font-size: 11px; font-weight: inherit; }

.sso_wrap .join_wrap span.tooltip::before { content: ''; position: absolute; width: 0; height: 0; border-style: solid; border-width: 5px 5px 5px 0; border-color: transparent #009fe3 transparent transparent; right: 100%; top: 12px; }

/* 210705 e */
/* 20210715 s */
.sso_wrap .join_wrap span.tooltip { top: 25px; left: 130px; max-width: 185px; min-width: 140px; }

.sso_wrap .join_wrap span.tooltip::before { top: 17px; }

.sso_wrap dl dd { position: relative; padding-left: 5px; padding-bottom: 3px; }

.sso_wrap dl dd:before { content: ''; display: inline-block; width: 3px; height: 3px; background-color: #666666; position: absolute; left: -10px; top: 8px; }

/* 20210715 e */


/* 210721 s */
.sso_wrap .join_wrap {
	// label.tooltip {
	// 	width: auto;
	// 	position: relative;
	// 	& + i {
	// 		display: inline-block;
	// 		max-width: 100%;
	// 		margin-left: 2.5px;
	// 		transform: translateY(2.5px);
	// 		width: 14px;
	// 		height: 14px;
	// 		background: {
	// 			image: url(../images/sso/tooltip.jpg);
	// 			size: 14px;
	// 			repeat: no-repeat;
	// 			position: center center;
	// 		}
	// 	}
	// }
	span.tooltip {
		&.show {
			display: block;
		}
		display: none;
		z-index: 99;
		position: absolute;
		top: 65px;
		left: 128px;
		max-width: 185px;
		min-width: 140px;
		width: max-content;
		background-color: #009fe3;
		border-radius: 10px;
		padding: 10px;
		color: #fff;
		font-style: normal;
		font-size: 10px;
		font-weight: 350;
		em {
			font-style: normal;
			font-size: 11px;
			font-weight: inherit;
		}
		&::before {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 5px 5px 0;
			border-color: transparent #009fe3 transparent transparent;
			right: 100%;
			top: 12px;
		}
		// .btn_close {
		// 	display: inline-block;
		// 	position: absolute;
		// 	top: 8px;
		// 	right: 8px;
		// 	width: 10px;
		// 	height: 10px;
		// 	background: {
		// 		image: url(../images/sso/btn_tooltip_close.png);
		// 		size: 10px;
		// 		repeat: no-repeat;
		// 		position: center center;
		// 	}
		// }
	}
	.select_chk.MOMQ {
		.helpwrap {
			li {margin-bottom:3px;}
		}
	}
}
/* 210721 e */

/** 2021 SSO Kakao thinkq s **/
.sns_login {
	margin-bottom:0;
	.heading {	
		position:relative;
		width:100%;
		margin-bottom: 20px;
		text-align: center;
		span {
			position:relative;
			display: inline;
			padding-left:8px;
			padding-right:8px;
			background-color: #fff;
			font-size: 13px;
			color:#a3a3a3;
		}
		&:before {
			content: '';
			position:absolute;
			left:0;
			right:0;
			top:12px;
			display: block;
			width:100%;
			height:1px;
			background-color: #dddddd;
		}
	}
	> p {
		width:calc((100% / 2) - 3px);
		margin-bottom:10px;
		a {
			width:100%;
			font-size:15px;
			i {
				width: 24px !important;
				background-size: 20px !important;
				margin-top:-3px;
			}
		}
	}
	._full {
		clear:both;
		float:none;
		width:100%;
		margin-right:0;
	}
	.bt_kakao {
		background-color: #fff311;
		color:#381e1f;
		> i {
			background-image: url(/images/bt-kakao.jpg);
			background-color: #fff311;
		}
	}
	.bt_naver {
		background-color: #00c73c;
		color:#fff;
		> i {
			background-image: url(/images/bt-naver.jpg);
		}
	}
	.bt_facebook {
		background-color: #3c5a9b;
		color:#fff;
		> i {
			background-image: url(/images/bt-facebook.jpg);
		}
	}
}
.join_form {
	.terms_chk {
		li.first {
			label {
				font-weight: 500;
			}
		}
		input[type="checkbox"] + label {
			position: relative;
			padding-left: 28px;
			&::before {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
		.txt {
			font-size: 14px;
			line-height: 22px;
			font-weight: 350;
			margin-top: 10px;
		}
		.btn_vw {
			top: 3px;
		}
	}
	p.h3_ti {
		padding-left: 28px;
		font-size: 15px;
		font-weight: 500;
	}
}
.sso_wrap .join_wrap {
	.btn_nrmal {
		height: 45px;
		line-height: 43px;
		margin-right:10px;
		font-size:16px;
		&.auth_popup {
			font-size: 15px;
			font-weight: 500;
		}
		&._kakao {
			margin-right:0;
			background-color: #fff311;
			border-color:#fff311;
			color:#381e1f;
			text-align: center;
			i {
				display: inline-block;
				width:23px;
				height:23px;
				margin-right:5px;
				margin-top:-5px;
				background: {
					image: url(/images/bt-kakao.jpg);
					position: center center;
					repeat: no-repeat;
					size:23px;
				}
				vertical-align: middle;
			}
		}
		&._yk {
			color: #fff;
			background-color: #009fe3;
		}
	}
	&.pophtml {
		max-width: 410px;
		.tit {
			font-weight: 350;
			&._complete {
				font-size: 20px;
				font-weight: 500;
			}
		}
		.inner {
			margin: 20px 0 15px;
			font-size: 16px;
			font-weight: 500;
			&._shadowed {
				padding: 25px 40px 35px;
				background-color: #f4f6f8;
				text-align: center;
			}
			&._complete {
				margin-bottom: 15px;
				p {
					font-size:13px;
					font-weight: 350;
				}
			}
			.innertit {
				margin-bottom: 10px;
			}
			em {
				display: inline-block;
				color: #009fe3;
				font-style: normal;
				font-size: 25px;
				font-weight: 500;
			}
			.btnwrap {
				margin: 15px auto 0;
				max-width: 250px;
				display: flex;
				justify-content: space-between;
			}
			.btn {
				margin: 0 auto;
				display: inline-block;
				width: auto;
				height: auto;
				padding: 10px 16px;
				background-color: #fff;
				border-color: #ddd;
				font-size: 14px;
				line-height: 1;
				font-weight: 500;
				white-space: nowrap;
				&:not(:first-of-type) {
					margin-left: 5px;
				}
			}
		}
		.login_frm {
			text-align: left;
			font-weight: 300;
			margin-bottom: 10px;
			.line {
				.ti {
					font-weight: 300;
				}
				input {
					width: 80%;
				}
			}
			.chk {
				text-align: inherit;
			}
		}
		> .btnwrap {
			width: 100%;
			font-size: 15px;
			font-weight: 500;
			.btn {
				font-size: inherit;
				font-weight: inherit;
			}
			&._complete {
				padding-top: 15px;
			}
		}
		.btn_nrmal {
			height: 55px;
			line-height: 53px;
		}
		.snoti {
			position:relative;
			padding-left:20px;
			margin-top: 15px;
			font-size: 13px;
			line-height: 1.5;
			font-weight: 300;
			word-break: break-all;
			&.warn {
				color: #e63c4f;
				&:before {
					content: '※';
					position:absolute;
					left:0;
					top:0;
					font-size:inherit;
					font-weight: inherit;
				}
			}
		}	
	}
}
.sso_wrap {
	.btnwrap {
		&.btn_foo {
			.btn {
				margin-bottom:10px;
			}
		}
		&._several {
			display: flex;
			.btn {
				flex:1;
				width:auto;
				height: 45px;
				line-height: 43px;
				margin-left:10px;
				&:first-child {
					margin-left:0;
				}
			}
		}
	}	
	.banner {
		clear: both;
		position: relative;
		max-width: 800px;
		width: 100%;
		margin: 35px auto 0;
		text-align: center;
		&.wide {
			width:calc(100% + 50px);
			margin-left:-25px;
			margin-right:-25px;
		}
	}
}
.terms_agree_layer {
	.termslay.layerwrap {
		height:80%;
		padding:0;
		.layconts {
			height:100%;
			overflow-y: auto;
			padding:30px 25px;
		}
	}
	.terms_layer-wrap {
		> h1 {
			font-size:25px;
			font-weight: 300;
			> span {
				display: block;
				color:#009fe3;
			}
		}
		input[type="checkbox"] + label {
			font-size:14px;
		}
		.h3_ti {
			padding-bottom:10px;
		}
	}
	.btnwrap {
		&._sevaral {
			display: flex;
			margin-top:20px;
			.btn {
				flex:1;
				margin-left:10px;
				height:45px;
				line-height: 43px;
				&:first-child {
					margin-left:0;
				}
			}
		}
	}
}
input[type="checkbox"] + label:before {
	// background: url(/images/mobile/ico_check_off.png) no-repeat 0 0; //** 20210928 카카오싱크 제작물 관련 수정
	background-size:20px;
}
input[type="checkbox"]:checked + label:before {
	// background: url(/images/mobile/ico_check_on.png) no-repeat 0 0; //** 20210928 카카오싱크 제작물 관련 수정
	background-size:20px;
}

/** 2021 SSO Kakao thinkq e **/

/** 20210928 카카오싱크 제작물 관련 수정 s **/
.join_form.SSOkakao {
	.terms_chk {
		.btn_vw {
			bottom: unset;
			top: 3px;
		}
	}
}
.join_form {
	.terms_chk {
		li {
			&.last {
				padding-bottom: 15px;
				background: url(../images/sso/dot.png) repeat-x center bottom;
			}
			&.li-onedepth {
				padding-left: 28px;
				p.label {
					display: inline-block;
					font-size: 13px;
					font-weight: 400;
					cursor: pointer;
					margin-bottom: 15px;
				}
			}
		}
	}
}
input[type="checkbox"] + label:before {
	background: url(../images/sso/ico_check_off.png) no-repeat 0 0;
	background-size:20px;
}
input[type="checkbox"]:checked + label:before {
	background: url(../images/sso/ico_check_on.png) no-repeat 0 0;
	background-size:20px;
}
.layerbody {
	.layerwrap {
		width: calc(100% - 40px);
		.btn_close {
			right: -10px;
			background-image: url(../images/sso/btn_layclose.png);
		}
	}
}
/** 20210928 카카오싱크 제작물 관련 수정 e **/
/** 20211015 s **/
.ykpluslogo {
	position: absolute;
	right: 20px;
	top: 24px;
	width: 56px;
	height: 12px;
	background-size: 56px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(../images/sso/ykplus-logo.png);
}

.a11y {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
.sso_wrap .logo_list .logos_ykplus {background-image:url(../images/sso/logos_ykplus.gif);}
.sso_wrap .logo_list .logos_ykplus:hover {background-image:url(../images/sso/logos_ykplus_on.gif);}
.sso_wrap .logo_list .logos_dal {background-image:url(../images/sso/logos_dal.gif);}
.sso_wrap .logo_list .logos_dal:hover{background-image:url(../images/sso/logos_dal_on.gif);}
.join_wrap .com_alink {margin-top: 45px;}
.join_wrap .com_alink .alink {
	display: block;font-size: 15px;line-height: 50px;height: 50px;font-weight: 500;border: 1px solid #3a96e1;color:#3a96e1; text-align: center;}
.sso_wrap .join_wrap > h2.h2_ti {margin-bottom: 40px;}

.sso_wrap .logo_list .logos_ykplus {background-image:url(../images/sso/logos_ykplus.gif);}
.sso_wrap .logo_list .logos_ykplus:hover {background-image:url(../images/sso/logos_ykplus_on.gif);}
.sso_wrap .logo_list .logos_dal {background-image:url(../images/sso/logos_dal.gif);}
.sso_wrap .logo_list .logos_dal:hover{background-image:url(../images/sso/logos_dal_on.gif);}
.join_form .input_frm .put.email {display: flex;}
.join_form .input_frm .put.email > * {flex: 1;height: 55px;margin-right: 0;border: 0;border-bottom: 1px solid #eeeeee;}
.sso_wrap .my_wrap .input_frm .put.email {display: flex;}
.sso_wrap .my_wrap .input_frm .put.email > * {flex: 1;height: 55px;margin-right: 0;border: 0;border-bottom: 1px solid #eeeeee;}
.join_form .terms_chk li label {display: flex;color: #000;}
.join_form .select_chk.MOMQ label .in {display: flex;color: #000;padding-bottom: 0;}
.join_form .select_chk.MOMQ label .in .sel {padding-right: 6px; padding-bottom: 0;}
.sso_wrap .desc_list {
	margin-bottom: 40px;
	.desc {
		position: relative;
		margin-left: 14px;
		padding-bottom: 8px;
		&::before {
			content: '·';
			position: absolute;
			left: -14px;
		}
	}
}
.sso_wrap .join_form .h2_ti + .input_frm {
	margin-top: 20px;
	margin-bottom: 20px;
}
.sso_wrap .join_wrap .input_frm {
	.put .btn_small {
		cursor: pointer;
		background-color: #fff;
	}
}
.sso_wrap .my_wrap {
	.terms_target {
		display: flex;
		justify-content: space-between;
		> p {
			width: auto;
			margin-right: 20px;
		}
		div > p {
			padding-bottom: 0;
			label {
				min-width: 30%;
				display: inline-block;
				padding-bottom: 10px;
			}
		}
	}
	.input_frm {
		.put .btn_small {
			cursor: pointer;
			background-color: #fff;
		}
		& + .btn_foo {
			margin-bottom: 55px;
		}
	}
}

.facility_addr_layer .input_frm .mix .put {display: flex;width: 100%;border: 0;}
.facility_addr_layer .input_frm .mix .put > * {color: #a3a3a3;flex: 1;height: 55px;margin-right: 0;border: 0;border-bottom: 1px solid #eeeeee;}
.facility_addr_layer .input_frm .mix .put > *:not(:last-of-type) {margin-right: 8px;}
.facility_addr_layer .input_frm .mix .put * {color: inherit;}
.facility_addr_layer .input_frm .put.full {width: 100%;}
.facility_addr_layer {
	.input_frm {
		margin-bottom: 20px;
	}
	.select_chk {
		margin-left: 0;
	}
	.btn_small {
		margin: 0 auto;
		font-size: 13px;
		color: #222;
		border: 1px solid #dddddd;
		position: absolute;
		right: 0;
		top: 10px;
		height: 30px;
		line-height: 28px;
		cursor: pointer;
		background-color: #fff;
	}
	.addr_table {
		width: 100%;
		.tit {
			display: flex;
			justify-content: space-between;
			background-color: #f4f6f8;
			margin-bottom: 5px;
			> * {
				padding: 18px 22px;
				color: #888;
				font-size: 14px;
			}
			.facil-list {
				flex: 2;
				text-align: left;
				padding-left: 0;
			}
		}
		.num {
			color: #888;
			text-align: center;
		}
		ul {
			li {
				display: flex;
				justify-content: start;
				background-color: #f4f6f8;
				margin-bottom: 5px;
				> * {
					color: #888;
					font-size: 14px;
				}
				.num {
					padding: 32px 28px 0 28px;
				}
				.rchk {
					position: relative;
					width: 100%;
					padding: 16px 0;
				}
				label {
					&::before {
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						margin: 0;
					}
				}
				.facil-tit {
					display: block;
					color: #000;
					font-size: 14px;
					font-weight: 400;
					margin-right: 55px;
					em {
						display: block;
						color: #009fe3;
						font-style: normal;
						font-size: inherit;
						font-weight: inherit;
						margin-bottom: 4px;
					}
				}
			}
		}
		.pagination {
			margin-top: 35px;
			display:flex;
			align-items:center;
			justify-content:center;
			padding-bottom: 80px;
			a {
				width: 21px;
				height: 24px;
				color: #999;
				font-size: 18px;
				line-height: 24px;
				text-align:center;
				vertical-align: middle;
				margin-right: 16px;
				&:last-of-type {
					margin-right: 0;
				}
			}
			.now {
				color:#000;
			}
			.btn {
				border: 0;
			}
		}
	}
}
.sso_intro .content_wrap .logo_list {
	.logos_dal {
    background-image: url(../images/sso/logos_dal_on.gif);
	}
	.logos_ykplus {
    background-image: url(../images/sso/logos_ykplus_on.gif);
	}
}
/** 20211015 e **/

/** 20211021 s **/
.sso_wrap .join_wrap {
	.btnwrap {
		._titletip {
			margin-top: 30px;
			position: relative;
			&::before {
				content: '';
				width: 222px;
				height: 30px;
				position: absolute;
				bottom: calc(100% + 5px);
				left: 50%;
				transform: translateX(-50%);
				background: {
					size: 100%;
					repeat: no-repeat;
					position: 0 0;
					image: url(../images/sso/join01-titletip.gif);
				}
			}
		}
	}
	&.pophtml {
		.tit._bold span {
			font-weight: 500;
		}
		.snoti.warn {
			margin-left: 10px;
			padding-left: 10px;
			&::before {
				content: '※';
				position: absolute;
				left: -10px;
				top: 0;
			}
		}		
	}
}
#terms_agree_layer {	
	.esse, .sel {
		display: inline-block;
		padding-right: 3px;
	}
}
.join_wrap._kakao {
	.desc {
		font-size: 14px;
		padding-bottom: 0;
	}
	.btn_foo {
		margin-top: 25px;
		.dotted {
			border-top: 0;
			height: 1px;
			background: {
				image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0.8) 1px, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0) 100%);
				size: 8px;
				position: 0 center;
				repeat: repeat-x;
			}
			margin-bottom: 15px;
		}
		.tit {
			font-size: 16px;
			font-weight: 500;
			text-align: left;
		}
		.logo_list {
			margin-top: 15px;
		}
		.btn.btn_next {
			margin-top: 25px;
		}
	}
	.logos_momq {
    background-image: url(../images/sso/logos_momq_on.jpg);
	}
	.logos_ykbrand {
    background-image: url(../images/sso/logos_ykbrand_on.jpg);
	}	
	.logos_dal {
    background-image: url(../images/sso/logos_dal_on.gif);
	}
	.recom {
		margin-top: 50px;
		.tit {
			font-size: 20px;
			font-weight: 500;
			margin-bottom: 20px;
		}
		.desc {
			font-size: 16px;
			line-height: 1.6;
			em {
				font-style: normal;
				color: #3a96e1;
			}
		}
		.inp_wrap {
			margin: 15px 0;
			display: flex;
			justify-content: space-between;
		}
		.btn_small {
			margin: 5px 0 0 0;
			height: 30px;
			color: #222;
			font-size: 13px;
			line-height: 28px;
			border: 1px solid #dddddd;
		}
	}
	.recom {border-bottom:1px solid #dddddd;}
	.recom .ti {display: inline-block;margin-right:25px;font-size: 16px;color: #888888;vertical-align: middle;}
	.recom input[type=text]{border:0;}
}
.sso_wrap .join_wrap.pophtml {
	> h2.h2_ti {
		color: #009fe3;
		font-size: 16px;
		font-weight: 300;
		padding-bottom: 0;
		margin-bottom: 16px;
	}
}
/** 20211021 e **/

/** 20211022 s **/
.sns_login > p a._gray {
	color: #888;
	background-color: #f1f3f4;
	&.bt_naver {
		i {
			background-size: 15px!important;
			background-image: url(../images/sso/ico_naver.png);
		}
	}
	&.bt_facebook {
		i {
			background-size: 8px!important;
			background-image: url(../images/sso/ico_facebook.png);
		}
	}
}
/** 20211022 e **/

//** 20211028 s **//
.sso_wrap .join_wrap._kakao {
	.recom .tit {
		font-size: 18px;
	}
	.inp_wrap {
		input {
			width: 100%;
		}
	}
	.btnwrap {	
		& + .noti {
			margin-top: 20px;
		}
	}
}
//** 20211028 e **//

//** 20211203 s **//
.select_chk span {padding-bottom: 10px;}
.sso_wrap {
	.join_wrap._kakao {
		h2.h2_ti {
			margin-top: 55px;
			margin-bottom: 20px !important;
		}
		h3.h3_ti {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.btnwrap.btn_foo .btn {
			margin-top: 55px;
		}
		.etc_frm .select_chk .esse { font-weight: 350; margin-bottom: 15px;}
		.etc_frm .select_chk .esse i.tag { display: inline-block; margin-right: 10px; padding: 2px 8px 3px; font-style: normal; border: 2px solid #009fe3; }
		.terms_chk._child { padding-top: 30px; background: url(../images/sso/dot.png) repeat-x center top; margin-top: 30px; margin-bottom: 0px; }
		.terms_chk li label {display: flex;color: #000;}
		.h2_ti + .input_frm {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.input_frm {
			.put .btn_small {
				cursor: pointer;
				background-color: #fff;
			}
		}
		.select_chk.child_input {
			margin-left: 0;
		}
		.terms_chk {
			li {
				position: relative;
				margin-bottom: 20px;
				label {
					display: flex;
					color: #000;
					font-weight: 400;
				}
			}
			.btn_vw {
				position: absolute;
				display: inline-block;
				border-bottom: 1px solid #888;
				right: 0;
				top: 0;
				color: #888;
				font-size: 11px;
			}
		}
		.recom + .errtx {
			margin-top: 10px;
		}

		.terms_chk {margin-top:10px;margin-bottom:60px;}
		.terms_chk li {position: relative;margin-bottom:15px;}
		.terms_chk li label {width:90%;font-weight: 400;}
		.terms_chk li label .in {display: inline-block;width:85%;}
		.terms_chk input[type="checkbox"] + label:before {vertical-align: top;margin-top:0;}
		.terms_chk li.first {padding-bottom:20px;border-bottom:1px dotted #e2e3e5;}
		.terms_chk li.first label{font-weight: 700;}
		.terms_chk .txt {padding-left:30px;font-size: 12px;font-weight: 300;}
		.terms_chk .btn_vw {position: absolute;display: inline-block;border-bottom:1px solid #888;right:0;top:0;color:#888888;font-size: 11px;}
		.select_chk {margin:15px 0 0 25px;}
		.select_chk span {display: block;color:#888888;font-size: 12px;}
		.recom {border-bottom:1px solid #dddddd;}
		.recom .ti {display: inline-block;margin-right:20px;font-size: 13px;color: #888888;vertical-align: middle;}
		.recom input[type=text]{width:60%;border:0;}
		.etc_frm .select_chk {margin:20px 0 0 0;}
		.etc_frm .select_chk .esse {margin-bottom:10px;}
		.etc_frm .select_chk .rchk {display: inline-block;margin-right:20px;}

		.childadd {
			.select_chk {
				margin: 0;
			}
			.btn_areadd {
				background:url(../images/sso/ico_plus.gif) no-repeat left 15px center;
			}
		}

	}
	.helpwrap + .h2_ti {
		margin-top: 50px;
	}
}
.layerbody.show {
	z-index: 11;	
}
.recommidlay {
	.select_chk {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.rchk {
		width: 45%;
		margin-bottom: 15px;
	}
	.layconts {
		.noti {
			display: block;
			position: relative;
			color: #888888;
			font-size: 13px;
			margin-bottom: 10px;
			b {
				font-weight: 500;
			}
		}
	}
	.putfrm {
		min-height: unset;
		li.noti {
			color: #888888;
			border-bottom: 0;
			margin-bottom: 5px;
		}
	}
}
//** 20211203 e **//
//** 20211206 s **//
.recom {
	.esse {
		display: block;
		color: inherit !important;
		margin-bottom: 20px;
	}
}
.recommidlay {
	.layconts {
		.noti {
			color: #000;
		}
	}
	.rchk label {
		position: relative;
		padding-left: 28px;
		&::before {
			position: absolute;
			top: 4px;
			left: 0;
		}
	}
}
//** 20211206 e **//
//** 20211222 s **//
.join_wrap .login_wrap {
	padding-top: 0;
	width: auto;
	.btnwrap {
		margin-top: 25px;
	}
	.util {
		a {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
//** 20211222 e **//

// 20210124 s
.sso_head .row {
	.brandlogo {
		background-image: url(../images/sso/yksso_logo.gif);
	}
	.child-logo-tdplus {
		width: 124px;
		height: 32px;
		background-image: url(../images/sso/ykplus-logo.png);
		background-size: 110px;
		background-position-x: right;
		top: 15px;
		right: 20px;
	}
}
.sso_wrap {
	.login_wrap {
		.btn_blue {
			line-height: 1;
			padding: 12.5px 10px;
		}
		.sns_login a {
			line-height: 1;
			padding: 12.5px 10px;
		}
	}
	.join_wrap {
		.btnwrap a {
			line-height: 1;
			padding: 12.5px 10px;
		}
	}
}
// 20210124 e