/*POME*/
p, span, li{word-break: keep-all;}
.pd-zero {padding:0px !important;}
.pd-lr20 {padding:0px 20px !important;}
.simple_info .dot { word-break: keep-all; }
.blue_blet_lst>li { word-break: keep-all; }
.pome_event { position: relative; padding-bottom: 50px; }
.pome_event .evnt_info { text-align: center; font-size: 29px; line-height: 1.3em; font-family: inherit; font-weight: 600; padding: 65px 0 0; width: 320px; letter-spacing: -1px; color: #243a2d; margin: 0 auto; position: absolute; top: 0; left: 50%; margin-left: -160px; z-index: 9; }
.pome_event .evnt_info>span { display: block; padding-top: 15px; font-weight: 300; color: #000; }
.pome_event .evnt_info>p { display: block; margin: 10px 0 0; font-size: 16px; line-height: 1.4em; font-weight: normal; word-break: keep-all; color: #000; }
.pome_event .evnt_info>p>span { display: block; margin-top: 3px; font-weight: 400; font-size: 16px; color: #c32f2f; }
.pome_event .evnt_info .ribon img { width: 180px; } .pome_event .visu_img { visibility: hidden; z-index: -10; }
.pome_event .visu_img>img { width: 100%; }
.pome_event .blue_blet_lst { margin: 10px 0; }
.pome_event .noti_guide .blue_blet_lst>li { margin-bottom: 4px; padding-left: 0; font-size: 12px; font-weight: normal; color: #000; }
@media (max-width:321px) {
  .pome_event .evnt_info { font-size: 23px }
  .pome_event .noti_guide .blue_blet_lst>li { font-size: 11px; }
  .pome_event .evnt_info>p { font-size: 14px; }
}
.pome_event.evnt_end .evnt_info>p { margin-top: 15px; text-align: center; }
.pome_event.evnt_end .evnt_info>span { color: #4b5069; }
.pome_event.evnt_end .evnt_info>p>span { display: inline-block; }
.pome_event .btnWrap a { border-radius: 35px; line-height: 20px; }
/*
.pome_event input[type=radio]:checked+label { background-image: url(/images/pome/radio_on.png); }
.pome_event .com, .sso input[type=radio]:checked+label { color: #087aca; }
*/
.childform CLONE, .childform .haveC .cloneGb { display: none; }
.childform .inT dt { font-size: 15px; }
.inT.noti_guide { margin: 30px 15px 30px; }
.inT.noti_guide p.ti { display: block; position: relative; padding-left: 20px; font-size: 14px; color: #000 }
.inT.noti_guide p.ti:before { content: ''; position: absolute; display: block; left: 0; width: 16px; height: 16px; background: url(/images/pome/ico_guide.png) no-repeat 0 0; background-size: 16px auto; }
.pome_event-head { position: relative; background: transparent; z-index: 10; position: absolute; top: 0; width: 100%; }
.pome_event.evnt_end .evnt_info>p { color: #000; }
.pome_event .btnWrap a { background: #db1516 }
.pome_event.type01 { background-image: url(/images/pome/pome_evnt_visu_new.jpg); background-position: center top; background-repeat: no-repeat; background-size: 100% }
.pome_event.type02 { background-image: url(/images/pome/pome_evnt_visu_new.jpg); background-position: center top; background-repeat: no-repeat; background-size: 100% }

.pome_mlayer > h3 {position: relative;display: block;padding-left:20px;background-color: #139fdf;color:#fff;text-align: left;font-size: 18px;}
.pome_mlayer .btn_close {position:absolute;right:0;top:0;width:50px;}
.pome_mlayer .btn_close img {width:50px;}
.pome_mlayer .popCont {width:calc(100% - 50px);padding:25px;color:#000;}
.pome_mlayer p {font-size: 15px;line-height:20px;font-weight: 400;word-break: keep-all;}
.pome_mlayer .btnwrap {margin-top:20px;text-align: center;overflow: hidden;}
.pome_mlayer .btnwrap .btn { display: inline-block;width:calc((100% / 2) - 5px);height:45px;line-height:45px; font-size: 15px;color:#fff;text-align: center; }
.pome_mlayer .btnwrap .btn_login {float:left;background-color: #78777b;}
.pome_mlayer .btnwrap .btn_join {float:right;background-color: #139fdf;}
.pome_event-head:after { clear: both; content: ''; display: block }
.pome_event-head .yk-logo { width: 160px; margin: 15px 0 0 10px }
.pome_event-head .brand-logo { position:absolute; right:0px; }

.pome_child {margin-top:40px;}
.pome_child .select_chk {margin:0;}
.pome_child .btnwrap {text-align: right;}
.pome_child .btnwrap .btn_del {border:0;color:#888888;font-size: 14px;border-bottom:1px solid #888888}
.pome_child .input_frm {clear:both;margin-bottom:15px;border-top:2px solid #009fe3;}
.pome_child .input_frm li{padding:13px 0 10px;margin-bottom:0;}
.pome_child .input_frm .ti {width:70px;}
.pome_child .input_frm .put {width:calc(100% - 70px)}
.pome_child .input_frm .put select{min-width:60px;vertical-align: middle}
.pome_child .input_frm .put input[type=text] {width:calc(100% - 130px);margin-bottom:0;vertical-align: middle}
@media screen and (max-width:600px) {
    .pome_child .input_frm .put input[type=text] {width:calc(100% - 107px);margin-bottom:0;vertical-align: middle}
}
.pome_child .input_frm .sel .t {font-size: 12px;}
.pome_child .select_chk .rchk {display: inline-block;margin-right:20px;}
.pome_child .addbtnwrap{display: inline-block;position: relative;width:100%;margin-bottom:20px;}
.pome_child .addbtnwrap:after {content: '';clear:both;display: block;}
.pome_child .addbtnwrap .addlist { display: none;position: absolute;top:32px;width:100%;border:1px solid #dddddd;background-color:#fff;z-index: 1; }
.pome_child .addbtnwrap .addlist li {padding:5px 10px;font-size: 12px;}
.pome_child .addbtnwrap .addlist li:hover {background-color: #f4f6f8;}
.pome_child .btn_areadd { position: relative;display: inline-block;width:100%;padding:0 10px 0 30px;height:33px;line-height:31px;color:#222;border:1px solid #dddddd;text-align: right;font-size: 12px; background:url(/images/pc/ico_plus.gif) no-repeat left 15px center;background-color:#fff;z-index: 10; }

.pome_event.btnWrap a {border-radius: 35px; line-height: 20px; display: block; color: #fff; text-align: center; padding: 15px 0; background: #e01a22; font-size: 16px; box-sizing: border-box;margin: 0 15px; overflow: hidden; }
.pome_event.inT.noti_guide { margin: 30px 15px 30px; }
.pome_event.inT.noti_guide p.ti { display: block; position: relative; padding-left: 20px; font-size: 14px; color: #000 }
.pome_event.inT.noti_guide p.ti:before { content: ''; position: absolute; display: block; left: 0; width: 16px; height: 16px; background: url(/images/pome/ico_guide.png) no-repeat 0 0; background-size: 16px auto; }
.pome_event.noti_guide .blue_blet_lst>li:before { display: none; }
.pome_event.noti_guide .blue_blet_lst li:last-child { color: #666; }
.pome_event.noti_guide .blue_blet_lst .com { color: #db1516; }

#pomeAccountLayer .title { width: 100%; min-width: 10px; display: inline-block; padding: 0 10px; height: 40px; line-height: 36px; background-color: #009fe3; color: #fff;}
#pomeAccountLayer .btnwrap .bc-blue {background-color: #009fe3; border: 0; text-align: center; font-size: 14px; color: #fff;}
#pomeAccountLayer .btnwrap .txt-center {text-align:center !important;}

/* footer */
footer { height: 205px; padding: 20px 0 0 15px; font-size: 11px; color: #c5c5c5; background: #202020; position: relative; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
footer .flogo { height: 28px; }
footer .flogo a { color: #c5c5c5; display: inline-block; margin-left: 10px; }
footer .flogo img { width: 67px; }
address { font-style: normal; }
footer .info { overflow: hidden; }
footer .info li { float: left; margin-right: 7px; }
footer .info li:nth-child(3) { clear: both; }
footer .email { display: inline-block; height: 27px; color: #c5c5c5; text-decoration: underline; }