<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="title" content="유한킴벌리 통합브랜드" />
	<meta name="description" content="유한킴벌리 통합브랜드" />
	<meta name="keywords" content="유한킴벌리 통합브랜드" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>메인 | 유한킴벌리 통합브랜드</title>
	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->
	<link rel="icon" href="https://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="../../Common/css/main.css">
	<!-- main css -->
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/swiper.css">
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
	<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>
	<script src="https://m.ykbrand.co.kr//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script> -->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
		});
	</script>

</head>
<body>
	<div id="yk_lodings" class="maskWhite" style="display:none;">
		<div class="lodings"></div>
	</div>
	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->
	<!-- skip_nav -->
	<a href="#contents" class="skip">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap">
		<!-- header -->
		<header class="newhead">
        <h1><a href="/"><img src="https://m.ykbrand.co.kr/Common/images/logo/logo_to.png" alt="유한킴벌리 통합"></a></h1>
        <a href="javascript:;" class="allBrandBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_allbrand.png" alt="전체 브랜드 레이어 열기"></a>
        <a href="javascript:;" class="to_loginBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_allmenu.png" alt="로그인 및 전체 메뉴 레이어 열기"></a>
    </header>
		<!--// header -->

		<div id="contents">

			<div id="mainCont" class="remain">
		    <!-- promotion -->
		    <div class="promotion promoMain">
	        <div class="swiper-wrapper visualImg">
            <div class="swiper-slide"><a href="#" ><img src="../../Common/images/dummy/@main_visu01.jpg" alt="대체텍스트" /></a></div>
						<div class="swiper-slide"><a href="#" ><img src="../../Common/images/dummy/@main_visu02.jpg" alt="대체텍스트" /></a></div>
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<div class="inner">
					<!-- brand news -->
					<div class="brandnews">
						<p class="in_title">Brand News</p>
						<div class="listwrap">
							<div class="item type01">
								<div class="img">
									<a href="#"><img src="../../Common/images/dummy/@brandnews_img01.jpg" onerror="this.src='../../Common/images/common/blank.jpg'" alt="대체텍스트" /></a>
								</div>
								<div class="desc">
									<a href="#" class="alnk" target="_blank">
										<span>그린핑거 소식</span>
										<p class="p1">메마른 피부에 수분 톡톡, 그린핑거 ‘촉촉한 자연보습’</p>
									</a>
								</div>
							</div>
							<div class="item type02">
								<div class="img">
									<a href="#"><img src="../../Common/images/dummy/@brandnews_img02.jpg" onerror="this.src='../../Common/images/common/blank.jpg'" alt="대체텍스트" /></a>
								</div>
								<div class="desc">
									<a href="#" class="alnk" target="_blank">
										<span>그린핑거 소식</span>
										<p class="p1">메마른 피부에 수분 톡톡, 그린핑거 ‘촉촉한 자연보습’</p>
									</a>
								</div>
							</div>
						</div>

						<div class="vod_rolling swiper-container">
							<span class="bottom"></span>
							<ul class="swiper-wrapper">
								<li class="swiper-slide">
									<a href="http://www.ykbrand.co.kr/goodfeel/Feed/FeedDetail/2851?menu=46">
										<div class="head">
											<p>좋은느낌 광고<span>좋은느낌 모카솜이와 함께!</span></p>
										</div>
										<div class="cont">
											<img src="../../Common/images/dummy/@vod.jpg" alt="" />
											<!-- <iframe width="100%" height="300" src="https://www.youtube.com/embed/xErnHKId778" frameborder="0" allowfullscreen></iframe> -->
										</div>
									</a>
								</li>
								<li class="swiper-slide">
									<a href="http://www.ykbrand.co.kr/greenfinger/Feed/FeedDetail/3090?menu=26">
										<div class="head">
											그린핑거 광고<span>촉촉한 자연보습 - 피부기초체력을 키워줄 첫...</span>
										</div>
										<div class="cont">
											<img src="../../Common/images/dummy/@vod2.jpg" alt="" />
										</div>
									</a>
								</li>
							</ul>
							<!-- <div class="swiper-pagination"></div> -->
							<div class="swipe_control">
						    <div class="swipe_slide-prev"><a href="#none"><img src="../../Common/images/common/btn_vod_prev.png" alt="이전 메뉴" /></a></div>
						    <div class="swipe_slide-next"><a href="#none"><img src="../../Common/images/common/btn_vod_next.png" alt="다음 메뉴" /></a></div>
							</div>
						</div>
					</div>

					<div class="brandsinfo">
						<p class="in_title">Brand</p>
						<div class="brands">
							<ul>
						    <li><a href="#brand1">화이트</a></li>
						    <li><a href="#brand2">좋은느낌</a></li>
						    <li><a href="#brand3">크리넥스</a></li>
						    <li><a href="#brand4">스카트</a></li>
						    <li><a href="#brand5">디펜드</a></li>
						    <li><a href="#brand6">마이비데</a></li>
						    <li><a href="#brand7">굿나이트</a></li>
						    <li><a href="#brand8">티엔</a></li>
						    <li><a href="#brand9">그린팡거</a></li>
						    <li><a href="#brand10">하기스</a></li>
						  </ul>
							<div id="brand1">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_wt.jpg" alt="화이트" /></a>
						  </div>
							<div id="brand2">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="좋은느낌" /></a>
						  </div>
							<div id="brand3">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="크리넥스" /></a>
						  </div>
							<div id="brand4">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="스카트" /></a>
						  </div>
							<div id="brand5">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="디펜드" /></a>
						  </div>
							<div id="brand6">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="마이비데" /></a>
						  </div>
							<div id="brand7">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="굿나이트" /></a>
						  </div>
							<div id="brand8">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="티엔" /></a>
						  </div>
							<div id="brand9">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="그린팡거" /></a>
						  </div>
							<div id="brand10">
								<a href="#" target="_blank"><img src="../../Common/images/common/brandinfo_good.jpg" alt="하기스" /></a>
						  </div>
						</div>
					</div>

					<div class="community">
						<p class="in_title">Community</p>
						<div class="first_lk">
							<a href="#" class="lk">
								<img src="../../Common/images/dummy/@commu01.jpg" alt="" />
								<div class="desc">
									<span>국내 최초의 오픈형 생리 백과사전</span>
									<p>우리는<br/>생리하는 중입니다</p>
									<a href="#" class="btn"><img src="../../Common/images/common/btn_commugo.png" alt="바로가기" /></a>
								</div>
							</a>
						</div>
						<ul class="list">
							<li>
								<a href="#" class="lk">
									<img src="../../Common/images/dummy/@commu02.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감 후기가 증명한 부드러운 촉감...</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lk">
									<img src="../../Common/images/dummy/@commu03.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lk">
									<img src="../../Common/images/dummy/@commu04.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
							<li>
								<a href="#" class="lk">
									<img src="../../Common/images/dummy/@commu02.jpg" alt="" />
									<div class="desc">
										<span>크리넥스 이야기</span>
										<p>후기가 증명한 부드러운 촉감</p>
									</div>
								</a>
							</li>
						</ul>
					</div>

					<!-- 제품찾기/샘플신청 -->
					<div class="link_banner">
						<!-- 20190308 -->
						<a href="#"><img src="../../Common/images/common/samplekit_bnr.jpg" alt="샘플킷 신청하기" /></a>
						<!--// 20190308 -->
						<!-- 이하삭₩
						<div class="head">
							<p>샘플킷 신청하기</p>
							<span>유한킴벌리 통합 브랜드 회원이라면 누구나 신청할 수 있습니다.<br />내게 맞는 제품을 체험해 보세요! </span>
						</div>
						<div class="inn">
							<div class="bnr bnr01">
								<a href="#">
									<img src="../../Common/images/common/samplekit_img01.jpg" alt="디펜드 샘플신청" />
									<p>디펜드 샘플신청</p>
								</a>
							</div>
							<div class="bnr bnr02">
								<a href="#">
									<img src="../../Common/images/common/samplekit_img02.jpg" alt="좋은느낌 샘플신청" />
									<p>좋은느낌 샘플신청</p>
								</a>
							</div>
							<div class="bnr bnr02">
								<a href="#">
									<img src="../../Common/images/common/samplekit_img03.jpg" alt="화이트 샘플신청" />
									<p>화이트 샘플신청</p>
								</a>
							</div>
						</div> -->
					</div>
					<!--// 제품찾기/샘플신청 -->

					<div class="social">
						<p class="in_title">Social</p>
						<ul class="taglist">
							<li>
								<a href="#" class="on">ALL</a>
							</li>
							<li>
								<a href="#">#gogo_화이트</a>
							</li>
							<li>
								<a href="#">#좋은느낌이벤트</a>
							</li>
							<li>
								<a href="#">#디펜스타일_위시리스트</a>
							</li>
							<li>
								<a href="#">#크리넥스_차원이다깨끗함</a>
							</li>
						</ul>
						<ul class="soclist">
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns01.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns02.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns03.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns04.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns02.gif" alt="대체텍스트" /></a>
							</li>
							<li>
								<a href="#"><img src="../../Common/images/dummy/@sns04.gif" alt="대체텍스트" /></a>
							</li>
						</ul>
					</div>

					<div class="cust_center">
						<p class="in_title">Custom Center</p>
						<div class="cent cent01">
							<div>
								<h2>전화상담</h2>
								<p><a href="tel:080-022-7007">080-022-7007</a></p>
								<span>평일 09:00 ~ 17:30</span>
								<span>토·일요일 및 공휴일 휴무(점심시간 12:00 ~ 13:00)</span>

								<div class="etc">
									<a href="#">문의접수 Q&A</a>
								</div>
							</div>
						</div>
						<div class="cent cent02">
							<div>
								<h2>문자상담</h2>
								<p><a href="tel:1666-7067">1666-7067</a></p>
								<span>발신자 부담</span>
								<span>장문 2,000자 이내, 이미지 첨부(MMS, 4장까지)</span>

								<div class="etc">
									<a href="#">자주묻는질문 FAQ</a>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<hr />

		<!-- footer -->
		<footer class="renewfoo">
			<p class="flogo">
				<img src="../../Common/images/common/newfootlogo.gif" alt="유한킴벌리" />
				<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
				<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="font-weight:bold;">개인정보처리방침</a>
			</p>
			<address>서울시 강남구 테헤란로 504 (우) 06178 | 최규복</address>
			<ul class="info">
				<li>사업자번호 : 120-81-11436 | 고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
			</ul>
			<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일 <img src="../../Common/images/common/btn_fooemail.gif" alt="" /></a>
			<p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
		</footer>
		<!-- sns공유하기 팝업 -->
		<div id="selSns" class="popup hide">
			<h3>공유하기</h3>
			<div class="popCont ac">
				<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
				<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
			</div>
			<a href="#none" class="popClose"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
		</div>
		<!-- //sns공유하기 팝업 -->
		<div id="dim"></div>
		<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
		<!-- //footer -->
	</div>
	<!-- //wrap -->


<script>
$(function () {
	$( ".brandsinfo .brands" ).tabs();

	var mainBillboard = new Swiper('.promotion.promoMain', {
			pagination: '.swiper-pagination',
			paginationClickable: '.swiper-pagination',
			spaceBetween: 0
	});

	var vodRolling = new Swiper('.vod_rolling', {
			pagination: '.swiper-pagination',
			paginationType: 'custom',
			nextButton: '.swipe_slide-next',
		 	prevButton: '.swipe_slide-prev',
	});

	var vodRolling = new Swiper('.vod_rolling', {
			pagination: '.swiper-pagination',
			paginationType: 'custom',
			nextButton: '.swipe_slide-next',
		 	prevButton: '.swipe_slide-prev',
	});

});

</script>
</body>
</html>
