<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />
  <!-- <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" /> -->
  <title>전화상담 신청 | 커뮤니티 | 킴테크</title>
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="../../../../Common/images/favicon/favicon_ktech.png" type="image/x-icon">
  <link rel="stylesheet" href="../../../../Common/css/common.css">
  <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
  <!-- <script>
    var userId = "";
    var ImageServerUrl = "http://www.ykbrand.co.kr";
    var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
  </script> -->
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.js"></script>
  <!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
  <!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/jquery.Placeholders.monkey.patch.js"></script><![endif]-->
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <!-- <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script> -->
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bpopup.min.js"></script>
  <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
  <!-- 레이아웃 이벤트 헤더 -->

  <!-- //레이아웃 이벤트 헤더 -->
  <!--OG:META-->
  <!--//OG:META-->

  <!-- Facebook Pixel Code -->
  <!-- End Facebook Pixel Code -->

  <!-- AceCounter Log Gathering Script V.7.5.2017020801 -->
  <!-- AceCounter Log Gathering Script End -->

  <script>
    function agreePopup() {
      window.open('TermsPop.html', 'Councelagree', 'width=610, height=550, menubar=no, status=no, toolbar=no, scrollbars=yes');
    }
  </script>

</head>

<body class="kimtech">
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->

  <!-- AceCounter Log Gathering Script V.7.5.2017020801 -->
  <!-- AceCounter Log Gathering Script End -->

  <!-- wrap -->
  <div id="wrap">
    <div id="layerMask"></div>
    <!-- skipMenu -->
    <nav class="skip">
      <a href="#container">컨텐츠로 바로가기</a>
    </nav>
    <!-- //skipMenu -->
    <!-- header -->
    <header>
      <!-- headerCont -->
      <div class="headerCont">
        <h1><a href="/kimtech"><img src="http://www.ykbrand.co.kr/data/Real/20190603042805_1d256f86c4f349ffbfab3b9a8d5bb918.png" alt="kimtech" /></a></h1>
        <a href="#none" class="allBrand"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allbrand.png" alt="전체 브랜드 레이어 보기" /></a>
        <a href="#none" class="allMenu"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allmenu.png" alt="전체 메뉴 레이어 보기" /></a>
        <ul id="gnb" class="st1">
          <li>
            <a href="/kimtech/Feed/FeedList?menu=480">브랜드 스토리</a>
          </li>
          <li>
            <a href="/kimtech/Product/ProductList?menu=481">제품소개</a>
          </li>
          <li>
            <a href="/kimtech/Event/EventList?menu=482">이벤트</a>
            <ul class="depth">
              <li><a href="/kimtech/Event/EventList?menu=482">진행중인 이벤트</a></li>
              <li><a href="/kimtech/Event/EndEventList?menu=482">지난 이벤트</a></li>
              <li><a href="/kimtech/Event/ResultList?menu=482">당첨자 확인</a></li>
            </ul>
          </li>
          <li>
            <a href="/kimtech/Board/BoardList?menu=483">커뮤니티</a>
          </li>
        </ul>
      </div>
      <!-- mask -->
      <div class="mask"></div>
      <!-- //headerCont -->
      <!-- 전체 브랜드 레이어 -->
      <div id="allBrandlayer">
        <!-- layerCont -->
        <div class="layerCont">
          <div class="info">
            <h3>유한킴벌리<br />브랜드</h3>
            <p>더 나은 생활을 향한<br />믿음을 바탕으로 고객에게<br />가치있는 기업이 되고자<br />노력합니다.</p>
          </div>
          <!-- brandList -->
          <!-- //brandList -->
          <!-- 레이어닫기 -->
          <a href="#none" class="close"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_layerClose.gif" alt="전체 브랜드 레이어 닫기" /></a>
        </div>
        <!-- //layerCont -->
      </div>
      <!-- //전체 브랜드 레이어 -->
      <!-- 전체 메뉴 레이어 -->
      <div id="allmenu_layer">
        <!-- layerCont -->
        <div class="layerCont">
          <!-- 레이어닫기 -->
          <a href="#none" class="close"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_layerClose.gif" alt="전체 메뉴 레이어 닫기" /></a>
        </div>
        <!-- //layerCont -->
      </div>
      <!--EndDonut-->
      <!-- //전체 메뉴 레이어 -->
    </header>
    <!-- //header -->
    <!-- container -->
    <div id="container">

      <!-- brandSub -->
      <div class="brandSub">
        <!-- titArea -->
        <div class="titArea">
          <h3>전화상담신청</h3>
          <!-- location -->
          <div class="location">
            <a href="/kimtech">Home</a> &gt;

            <strong>전화상담신청</strong>
          </div>
          <!-- //location -->
        </div>
        <!-- //titArea -->
        <div class="councel">
          <!-- 안내 -->
          <div class="councelInfo">
            <div class="cont">
              <p class="txt1"><strong>전화 상담 예약을 통해 연락처와 상담 시간</strong>을 남기시면 구매 상담 연락을 드립니다.</p>
              <p class="txt1"><strong>상세하게 문의 내용을 기재해주실수록</strong> 문의 내용에 정확한 답변을 드리는 데 큰 도움이 됩니다.</p>
            </div>
          </div>
          <!-- //안내 -->
          <!-- 신청 -->
          <div class="request">
            <!-- writeTable -->
            <div class="writeTable">
              <div class="tableCont">
                <table>
                  <colgroup>
                    <col style="width:20%" />
                    <col style="width:*" />
                  </colgroup>
                  <tbody>
                    <tr>
                      <th scope="row"><label for="w1">회사명<span class="essen">*</span></label></th>
                      <td>
                        <input type="text" class="input1" id="w1" style="width:70%;" title="회사명을 입력해주세요" placeholder="회사명을 입력해주세요." maxlength="20" />
                      </td>
                    </tr>
                    <!-- 20190730 삭제 <tr>
                      <th scope="row"><label for="w2">부서명</label></th>
                      <td>
                        <input type="text" class="input1" id="w2" style="width:70%;" title="부서명을 입력해주세요" placeholder="부서명을 입력해주세요." maxlength="20" />
                      </td>
                    </tr> -->
                    <tr>
                      <th scope="row"><label for="COUNCEL_NAME">성명(담당자명)<span class="essen">*</span></th> <!-- 20190730 수정 //--> <!-- 20190822 수정 //-->
                      <td>
                        <input type="text" class="input1" id="COUNCEL_NAME" style="width:70%;" title="담당자명을 입력해주세요" placeholder="담당자명을 입력해주세요." maxlength="20" />
                      </td>
                    </tr>
                    <!-- 20190822 추가 / 20190830 삭제 -->
                    <!-- <tr>
                      <th scope="row"><label for="COUNCEL_EMAIL">이메일<span class="essen">*</span></th>
                      <td>
                        <input type="text" class="input1" id="COUNCEL_EMAIL" style="width:70%;" title="이메일 주소를 입력해주세요" placeholder="이메일 주소를 입력해주세요." maxlength="20" />
                      </td>
                    </tr> -->
                    <!-- // 20190822 추가 / 20190830 삭제 -->
                    <tr>
                      <th scope="row"><label for="COUNCEL_TEL1">연락처<span class="essen">*</span></label></th>
                      <td>
                        <select style="width:21.7%" title="연락처 처음자리 선택" id="COUNCEL_TEL1">
                          <option value="02">02</option>
                          <option value="031">031</option>
                          <option value="032">032</option>
                          <option value="033">033</option>
                          <option value="041">041</option>
                          <option value="042">042</option>
                          <option value="043">043</option>
                          <option value="044">044</option>
                          <option value="051">051</option>
                          <option value="052">052</option>
                          <option value="053">053</option>
                          <option value="054">054</option>
                          <option value="055">055</option>
                          <option value="061">061</option>
                          <option value="062">062</option>
                          <option value="063">063</option>
                          <option value="064">064</option>
                          <option value="010">010</option>
                          <option value="011">011</option>
                          <option value="016">016</option>
                          <option value="017">017</option>
                          <option value="018">018</option>
                          <option value="019">019</option>
                        </select>
                        -
                        <input type="text" class="input1 onlynum" style="width:21.7%" id="COUNCEL_TEL2" maxlength="4" title="연락처 가운데자리 입력" placeholder="" /> -
                        <input type="text" class="input1 onlynum" style="width:21.7%" id="COUNCEL_TEL3" maxlength="4" title="연락처 마지막자리 입력" placeholder="" />
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="vtop">희망 상담 제품<span class="essen">*</span></th>
                      <td>
                        <ul class="subject">
                          <li>
                            <span class="ui_radio">
                              <input type="radio" name="COUNCEL_TYPE" value="글러브" checked />
                              <label for="w2_1">글러브</label>
                            </span>
                          </li>
                          <li>
                            <span class="ui_radio">
                              <input type="radio" name="COUNCEL_TYPE" value="마스크" />
                              <label for="w2_2">마스크</label>
                            </span>
                          </li>
                          <li>
                            <span class="ui_radio">
                              <input type="radio" name="COUNCEL_TYPE" value="보호복" />
                              <label for="w2_3">보호복</label>
                            </span>
                          </li>
                          <li>
                            <span class="ui_radio">
                              <input type="radio" name="COUNCEL_TYPE" value="와이퍼" />
                              <label for="w2_4">와이퍼</label>
                            </span>
                          </li>
                        </ul>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="vtop"><label for="COUNCEL_TYPE_ETC">희망 상담 내용</label></th>
                      <td>
                        <input type="text" class="input1" id="COUNCEL_TYPE_ETC" style="width:70%;" title="직접 입력해 주세요." placeholder="ex) 멸균실에 적합한 제품이 필요합니다." maxlength="" />
                        <p class="st">* 상세하게 문의 내용을 기재해주실수록 정확한 답변을 드리는 데 큰 도움이 됩니다.</p>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row" class="vtop"><label for="COUNCEL_TIME">상담요청시간</label></th>
                      <td>
                        <select style="width:220px" title="상담요청시간 선택" id="COUNCEL_TIME">
                          <option>상담시간</option>
                          <option>아무 때나 상관없음</option>
                          <option>익일 09:00~10:00</option>
                          <option>익일 10:00~11:00</option>
                          <option>11:00~12:00</option>
                          <option>13:00~14:00</option>
                          <option>14:00~15:00</option>
                          <option>15:00~16:00</option>
                          <option>16:00~17:00</option>
                        </select>
                        <span class="info2">* 평일 09:00 ~ 17:00까지 운영합니다.</span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <!-- 20190730 수정 -->
  							<div class="agree">
  								<ul>
  									<li>
  										<p><span>(필수) 전화 상담을 위한 개인정보 수집.이용 동의서</span><a href="javascript:agreePopup();" title="(필수) 전화 상담을 위한 개인정보 수집.이용 동의서 새창 열림">자세히 보기</a></p>
  										<ul>
  											<li>
  												<span class="ui_radio">
  													<input type="radio" id="agree1_1" name="agree1" checked value="동의안함" />
  													<label for="agree1_1">동의 안함</label>
  												</span>
  											</li>
  											<li>
  												<span class="ui_radio">
  													<input type="radio" id="agree1_2" name="agree1" value="동의" />
  													<label for="agree1_2">동의</label>
  												</span>
  											</li>
  										</ul>
  									</li>
  									<!-- 20190830 삭제
                    <li>
  										<p><span>(선택) 마케팅 활용 목적을 위한 이용 동의서</span><a href="javascript:agreePopup();" title="(선택) 마케팅 활용 목적을 위한 이용 동의서 새창 열림">자세히 보기</a></p>
  										<ul>
  											<li>
  												<span class="ui_radio">
  													<input type="radio" id="agree2_1" name="agree2" checked value="동의안함" />
  													<label for="agree2_1">동의 안함</label>
  												</span>
  											</li>
  											<li>
  												<span class="ui_radio">
  													<input type="radio" id="agree2_2" name="agree2" value="동의" />
  													<label for="agree2_2">동의</label>
  												</span>
  											</li>
  										</ul>
  									</li>
                    //-->
  								</ul>
  							</div>
  							<!--// 20190730 수정 -->
              </div>
            </div>
            <!-- //writeTable -->
          </div>
          <!-- //신청 -->
          <!-- 버튼 영역 -->
          <div class="btnArea">
            <a href="/kimtech/" class="btnType1">취소</a>
            <a href="#none" class="btnType1 colr" id="btnCouncelCreate">등록</a>
          </div>
          <!-- //버튼 영역 -->
        </div>
        <!-- //물어보세요 -->
        <!-- //container -->
      </div>
      <!-- //brandSub -->

    </div>
    <!-- //container -->
    <!-- footer -->
    <footer>
      <!-- footerCont -->
      <div class="footerCont">
        <!-- shortcut -->
        <div class="shortcut">
          <ul>
            <li><a href="/huggies"><img src="http://www.ykbrand.co.kr/data/Real/20180516065850_24d7ed189f8e4ae584da47cdfe71f8c7.png" alt="하기스 브랜드 로고" /></a></li>
            <li><a href="/goodnite"><img src="http://www.ykbrand.co.kr/data/Real/20151124074753_f9a1e8cf3cd14b07843b63f664dd5094.gif" alt="굿나이트 브랜드 로고" /></a></li>
            <li><a href="/white"><img src="http://www.ykbrand.co.kr/data/Real/20151124080217_3012e12f69d448148a5d6ddacb184dfc.gif" alt="화이트 브랜드 로고" /></a></li>
            <li><a href="/goodfeel"><img src="http://www.ykbrand.co.kr/data/Real/20161101074938_ff1d995035444beda75526e56114e119.png" alt="좋은느낌 브랜드 로고" /></a></li>
            <li><a href="/kleenex"><img src="http://www.ykbrand.co.kr/data/Real/20170613015035_7eb862b9b0a9437abfc5962ae378acde.png" alt="크리넥스 브랜드 로고" /></a></li>
            <li><a href="/scott"><img src="http://www.ykbrand.co.kr/data/Real/20151124075337_8ee8bb3d4b5a4a8f92c2789c5b5b6a59.gif" alt="스카트 브랜드 로고" /></a></li>
            <li><a href="/mybidet"><img src="http://www.ykbrand.co.kr/data/Real/20190130025010_f243360f6b69471c8cc5674d301b8e7c.png" alt="마이비데 브랜드 로고" /></a></li>
            <li><a href="/depend"><img src="http://www.ykbrand.co.kr/data/Real/20151124080729_3ebb53fe976743909a3e8833aa7b67d8.gif" alt="킴테크 브랜드 로고" /></a></li>
            <li><a href="/tn"><img src="http://www.ykbrand.co.kr/data/Real/20190213072624_68d96f5a2e424f5991d7998f4c3ed504.png" alt="티엔 브랜드 이미지" /></a></li>
            <li><a href="/greenfinger"><img src="http://www.ykbrand.co.kr/data/Real/20180315011155_3b2f13b3d4ee41f9abafcd3dc697365e.png" alt="그린핑거 브랜드 로고" /></a></li>
            <li><a href="/lanature"><img src="http://www.ykbrand.co.kr/data/Real/20181029034323_631130e9a3c74d7c9f88e17bbe15c3a4.png" alt="라네이처" /></a></li>
            <li><a href="/"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd13.gif" alt="유한킴벌리 브랜드" /></a></li>
            <li><a href="http://www.yuhan-kimberly.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd16.gif" alt="유한킴벌리"></a></li>
            <li><a href="http://www.momq.co.kr/main/initMain.action" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd14.gif" alt="맘큐" /></a></li>
            <!-- <li><a href="http://www.happybabyshop.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd15.gif" alt="하기스 선물대잔치" /></a></li> -->
            <!-- 선물대잔치 수정요소정리 : 주석처리 -->
            <li><a href="http://www.doubleheart.co.kr" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd12.gif" alt="더블하트" /></a></li>
          </ul>
        </div>
        <!-- //shortcut -->
        <!-- footsec -->
        <div class="footsec">
          <!-- logo -->
          <p class="footlogo"><img src="http://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리" /></p>

          <!-- footMenu -->
          <ul class="footMenu">
            <li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
            <li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
          </ul>
          <img style="float:right; margin-top:30px;" src="http://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
          <!-- //footMenu -->
          <!-- corpInfo -->
          <div class="corpInfo">
            주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br />
            고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
          </div>

          <!-- copy-->
          <p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>

          <!-- btnTop -->
          <a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기" /></a>
        </div>

        <script>
          function mainTerms(type, width, height) {
            window.open('/Terms/TermsPop?type=' + type, 'terms', 'width=' + width + ', height=' + height + ', menubar=no, status=no, toolbar=no, scrollbars=yes');
          }
        </script>
        <!-- //footsec -->
      </div>
      <!-- //footerCont -->
    </footer>
    <!-- //footer -->

  </div>
  <!-- //wrap -->

  <!-- <script type="text/javascript">
    _satellite.pageBottom();
  </script> -->
</body>

</html>
