<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />

  <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
  <title>개인정보 제공 동의 | 유한킴벌리 통합브랜드</title>

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="http://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
  <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/common.css?ver=201805281043">
  <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
  <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/mypage.css?ver=201805281043">
  <!-- <script>
    var userId = "";
    var ImageServerUrl = "http://www.ykbrand.co.kr";
    var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
  </script> -->
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
  <!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js?ver=201805281043"></script>
  <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

</head>

<body class="sso">
  <div id="yk_lodings" class="maskWhite" style="display:none;">
    <div class="lodings"></div>
  </div>

  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->


  <!-- 전화상담 > 개인정보 제공 동의 -->
  <div class="termPopup" style="width:580px;">
    <!-- popHead -->
    <div class="popHead">
      <h3>전화 상담을 위한 개인정보 수집·이용 동의서</h3>
    </div>
    <!-- //popHead -->
    <!-- popCont -->
    <div class="popCont">
      <b>개인정보의 수집 및 이용목적</b><br />
      전화상담 신청자에 대한 전화, 상담 및 관련 제반 업무<br />
      <br />
      <b>수집하는 개인정보의 항목</b><br />
      신청자 정보 : 성명, 연락처(전화번호), 회사명, 상담요청시<br />
      <br />
      <b>개인정보 보유 및 이용기간</b> <br />
      귀하께서는 제공한 정보는 내부 규정에 따라 그 보유 및 이용기간을 12개월으로 하고 있으며,  이용자 요청 시 지체 없이 삭제됩니다.<br>단, 법령상 보존 필요한 경우에는 해당 기간 동안 보존됩니다.<br />
      <br />
      <b>개인정보 처리 위탁</b> <br />
      원활한 전화상담 및 관련 제반 업무를 위해 필요한 개인정보인 성명, 전화번호, 상담주제, 상담요청시간을 제공하고 전화상담 업무를 위탁하고 있습니다. <br />
      - 위탁업무 : 고객 정보 수집 및  전화 상담 업무 수행<br />
      - 위탁업체 : ONA Creation, 효성 ITS<br />
      귀하께서는 본 개인정보 수집·이용 동의를 거부하실 수 있으며, 다만 동의하지 않으시는 경우 전화상담 신청이 처리되기 어렵습니다.
    </div>
    <!-- //popCont -->
  </div>
  <!-- 전화상담 > 개인정보 제공 동의 -->

  <script>
  </script>

  <!-- <script type="text/javascript">
    _satellite.pageBottom();
  </script> -->
</body>

</html>
