<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>하기스 선물팩 신청 이벤트 | 유한킴벌리 통합브랜드</title>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap">
	<div id="contents">
		<!-- header -->
		<!-- <header>
		<h1>이벤트</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header> -->
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form method="post">

				<div class="divider">
				<!--	<p class="sso_brand_img clearfix">
						<a href="http://m.ykbrand.co.kr/"><img class="yk-logo" style="width:100px;" src="../../Common/images/common/h1.gif" alt="유한킴벌리"></a>
						<a class="brand-logo" style="padding:10px 10px 10px 0;" href="#" target="blank">
				       <img style="width:70px;" src="../../Common/images/common/huggies_logo.png" alt="하기스" />
				    </a>
					</p>  -->
					<div class="pome_event evnt_end">
				<!--		<div class="evnt_info inT">
							<span>하기스 선물팩 신청이</span>완료되었습니다.
							<p>010-1230-4567 로 이벤트 신청 완료 문자가<br />발송되었으니, 확인해 주시기 바랍니다. </p>
						</div>   -->
						<div class="visu_img"><img src="../../Common/images/event/m_pome_magic_end.jpg" alt="하기스 선물팩 신청 이벤트" /></div>

						<div class="inT noti_guide">
							<p class="ti">안내</p>
							<ul class="blue_blet_lst">
                <li>- 별정 이동통신사업자 사유로  SMS 수신이 안될 수 있습니다.</li>
                <li>- SMS 수신이 안되실 경우 이 화면을 현장 담당자에게 보여주세요. </li>
            	</ul>
						</div>

						<div class="btnWrap">
							<a class="" href="#">유한킴벌리 직영 공식 유아동쇼핑몰<br/><strong>momQ  바로가기</strong></a>
						</div>

					</div>

				</div>
			</form>
		</div>
	</div>
	<hr>

	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="../Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="../Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>


	</body>
	</html>
