<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드">
<meta name="description" content="유한킴벌리 통합브랜드">
<meta name="keywords" content="유한킴벌리 통합브랜드">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>하기스 선물팩 신청 이벤트 | 유한킴벌리 통합브랜드</title>
<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->
<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="../../Common/css/swiper.css">
<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<body>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap">
	<div id="contents">
		<!-- header -->
		<!-- <header>
		<h1>이벤트</h1>
		<a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header> -->
		<!-- //header -->
		<hr>
		<!-- container -->
		<div id="container">
			<form method="post">

				<div class="divider">
				<!--	<p class="sso_brand_img clearfix">
						<a href="http://m.ykbrand.co.kr/"><img class="yk-logo" style="width:100px;" src="../../Common/images/common/h1.gif" alt="유한킴벌리"></a>
						<a class="brand-logo" style="padding:10px 10px 10px 0;" href="#" target="blank">
				       <img style="width:70px;" src="../../Common/images/common/huggies_logo.png" alt="하기스" />
				    </a>
					</p>   -->
					<div class="pome_event">
					<!--	<div class="evnt_info inT">
							산부인과 엄마들을 위한<span>하기스 선물팩 신청 이벤트</span>
							<p>엄마가 된 가장 벅찬 감동의 순간을<br />하기스가  함께 축하합니다.<br/>소중한 내 아기를 위해  하기스가 준비한<span>특별한 선물팩을 지금 신청하세요.</span></p>
						</div>    -->
						<div class="visu_img"><img src="../../Common/images/event/m_pome_nature_main.jpg" alt="하기스 선물팩 신청 이벤트" /></div>
						<div class="inT">
							<table class="simple_info">
								<colgroup><col style="width:100px;"><col></colgroup>
								<tbody>
								<tr>
									<th>이름(신청자)<span> *</span></th>
									<td>
										<input type="text" />
									</td>
								</tr>
								<tr>
									<th>휴대폰 번호<span> *</span></th>
									<td>
										<ul class="clearfix">
											<li>
											<select>
												<option>010</option>
											</select>
											</li>
											<li>
											<input type="text">
											</li>
											<li>
											<input type="text">
											</li>
										</ul>
										<p class="dot mt10">입력하신 휴대폰 번호로 이벤트 신청 완료 문자가 발송됩니다.</p>
									</td>
								</tr>
								<tr>
									<th>산부인과명<span> *</span></th>
									<td>
										<input type="text" />
									</td>
								</tr>
								<tr>
									<th>산후조리원명<span> *</span></th>
									<td>
										<input type="text" />
									</td>
								</tr>
								</tbody>
							</table>
						</div>

						<div class="childform">
							<div id="ChildGroup">
								<div class="haveC childBox1">
									<input type="hidden" cloneidx="" name="childOrder" value="1">
									<dl class="inT">
										<dt>출산 여부 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="1" class="cloneGrp fld_birth_gb" checked="checked" id="cloneObj1_1" name="birthGb1">
										<label clonefor="" for="cloneObj1_1">출산 후</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="0" class="cloneGrp fld_birth_gb" id="cloneObj1_2" name="birthGb1">
										<label clonefor="" for="cloneObj1_2">출산 전</label>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol2 childSub ChildSub0">
										<!-- 혼자인 아이 -->
										<dt>
										<text class="cloneGa">아이 이름</text>
										<text class="cloneGb">아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150" style="width:172px" />
										</dd>
									</dl>
									<dl class="inT ChildSub0">
										<dt>아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="1" checked="checked" id="cloneObj1_3" name="childGender11">
										<label clonefor="" for="cloneObj1_3">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="2" id="cloneObj1_4" name="childGender11">
										<label clonefor="" for="cloneObj1_4">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="0" id="cloneObj1_5" name="childGender11">
										<label clonefor="" for="cloneObj1_5">아직모름</label>
										</span>
										</dd>
										<!-- 혼자인 아이 END -->
									</dl>
									<dl class="inT intCol3">
										<dt>
										<text class="cloneGa">아이 생년월일</text>
										<text class="cloneGb">태아 출생예정일</text>
										</dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_year_view" for="cloneObj1_6">년도</label>
										<select cloneid="" name="birthYear" class="fld_birth_dt_year" addoptyear="" id="cloneObj1_6">
											<option value="">년도</option>
											<option value="2018">2018 년</option>
											<option value="2017">2017 년</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_month_view" for="cloneObj1_7">월</label>
										<select cloneid="" name="birthMonth" class="fld_birth_dt_month" addoptmonth="" id="cloneObj1_7">
											<option value="">월</option>
											<option value="1">1 월</option>
											<option value="2">2 월</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_day_view" for="cloneObj1_8">일</label>
										<select cloneid="" name="birthDay" class="fld_birth_dt_day" addoptday="" id="cloneObj1_8">
											<option value="">일</option>
											<option value="1">1 일</option>
											<option value="2">2 일</option>
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol3 cloneGb">
										<dt>
										태아 주수 </dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_week_view" for="cloneObj1_9">주</label>
										<select cloneid="" name="pregWeek" class="fld_preg_week" addoptembryoweek="" id="cloneObj1_9">
											<option value="0">0 주</option>
											<option value="1">1 주</option>
											<option value="2">2 주</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_day_view" for="cloneObj1_10">일</label>
										<select cloneid="" name="pregDay" class="fld_preg_day" addoptembryoday="" id="cloneObj1_10">
											<option value="0">0 일</option>
											<option value="1">1 일</option>
											<option value="2">2 일</option>
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<p class="inT">
										<span class="radioF wF">
										<input type="radio" cloneid="" name="childGb" class="fld_child_gb" id="cloneObj1_11" checked="checked">
										<label clonefor="" for="cloneObj1_11">대표 아이로 설정</label>
										</span>
									</p>
									<a href="javascript://" class="closeBtn RemoveChildBox"><img src="https://m.ykbrand.co.kr/Common/images//btn/btn_close.png" alt="닫기"></a>
								</div>
								<div class="haveC childBox2">
									<input type="hidden" cloneidx="" name="childOrder" value="2">
									<dl class="inT">
										<dt>출산 여부 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="1" class="cloneGrp fld_birth_gb" checked="checked" id="cloneObj2_1" name="birthGb2">
										<label clonefor="" for="cloneObj2_1">출산 후</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="0" class="cloneGrp fld_birth_gb" id="cloneObj2_2" name="birthGb2">
										<label clonefor="" for="cloneObj2_2">출산 전</label>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol2 childSub ChildSub0">
										<!-- 혼자인 아이 -->
										<dt>
										<text class="cloneGa" style="display: none;">아이 이름</text>
										<text class="cloneGb" style="display: inline;">아이 태명</text>
										</dt>
										<dd class="cloneGa" style="display: none;">
										<span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb" style="display: block;">
										<input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150" style="width:172px" />
										</dd>
									</dl>
									<dl class="inT ChildSub0">
										<dt>아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="1" checked="checked" id="cloneObj2_3" name="childGender12">
										<label clonefor="" for="cloneObj2_3">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="2" id="cloneObj2_4" name="childGender12">
										<label clonefor="" for="cloneObj2_4">여</label>
										</span>
										<span class="radioF cloneGb" style="display: inline;">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="0" id="cloneObj2_5" name="childGender12">
										<label clonefor="" for="cloneObj2_5">아직모름</label>
										</span>
										</dd>
										<!-- 혼자인 아이 END -->
									</dl>
									<dl class="inT intCol3">
										<dt>
										<text class="cloneGa" style="display: none;">아이 생년월일</text>
										<text class="cloneGb" style="display: inline;">태아 출생예정일</text>
										</dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_year_view" for="cloneObj2_6">년도</label>
										<select cloneid="" name="birthYear" class="fld_birth_dt_year" addoptyear="" id="cloneObj2_6">
											<option value="">년도</option>
											<option value="2018">2018 년</option>
											<option value="2017">2017 년</option>
											<option value="2016">2016 년</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_month_view" for="cloneObj2_7">월</label>
										<select cloneid="" name="birthMonth" class="fld_birth_dt_month" addoptmonth="" id="cloneObj2_7">
											<option value="">월</option>
											<option value="1">1 월</option>
											<option value="2">2 월</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_day_view" for="cloneObj2_8">일</label>
										<select cloneid="" name="birthDay" class="fld_birth_dt_day" addoptday="" id="cloneObj2_8">
											<option value="">일</option>
											<option value="1">1 일</option>
											<option value="2">2 일</option>
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol3 cloneGb" style="display: block;">
										<dt>
										태아 주수 </dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_week_view" for="cloneObj2_9">주</label>
										<select cloneid="" name="pregWeek" class="fld_preg_week" addoptembryoweek="" id="cloneObj2_9">
											<option value="0">0 주</option>
											<option value="1">1 주</option>
											<option value="2">2 주</option>
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_day_view" for="cloneObj2_10">일</label>
										<select cloneid="" name="pregDay" class="fld_preg_day" addoptembryoday="" id="cloneObj2_10">
											<option value="0">0 일</option>
											<option value="1">1 일</option>
											<option value="2">2 일</option>
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<p class="inT">
										<span class="radioF wF">
										<input type="radio" cloneid="" name="childGb" class="fld_child_gb" id="cloneObj2_11">
										<label clonefor="" for="cloneObj2_11">대표 아이로 설정</label>
										</span>
									</p>
									<a href="javascript://" class="closeBtn RemoveChildBox"><img src="https://m.ykbrand.co.kr/Common/images//btn/btn_close.png" alt="닫기"></a>
								</div>
							</div>
							<!-- # 아이 추가 -->
							<div class="CLONE">
								<div class="haveC">
									<input type="hidden" cloneidx="">
									<dl class="inT">
										<dt>출산 여부 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="1" class="cloneGrp fld_birth_gb" checked="checked">
										<label clonefor="">출산 후</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="birthGb" value="0" class="cloneGrp fld_birth_gb">
										<label clonefor="">출산 전</label>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol2 childSub ChildSub0">
										<!-- 혼자인 아이 -->
										<dt>
										<text class="cloneGa">아이 이름</text>
										<text class="cloneGb">아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150" style="width:172px" />
										</dd>
									</dl>
									<dl class="inT ChildSub0">
										<dt>아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="1" checked="checked">
										<label clonefor="">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="2">
										<label clonefor="">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="0">
										<label clonefor="">아직모름</label>
										</span>
										</dd>
										<!-- 혼자인 아이 END -->
									</dl>
									<dl class="inT intCol2 childSub ChildSub1">
										<!-- 첫째 아이 -->
										<dt>
										<text class="cloneGa">첫째 아이 이름</text>
										<text class="cloneGb">첫째 아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150" style="width:172px" />
										</dd>
									</dl>
									<dl class="inT ChildSub1">
										<dt>첫째 아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="1" checked="checked">
										<label clonefor="">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="2">
										<label clonefor="">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender1" class="fld_childGender1" value="0">
										<label clonefor="">아직모름</label>
										</span>
										</dd>
										<!-- 첫째 아이 END-->
									</dl>
									<dl class="inT intCol2 childSub ChildSub2">
										<!-- 둘째 아이 -->
										<dt>
										<text class="cloneGa">둘째 아이 이름</text>
										<text class="cloneGb">둘째 아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name2" class="fld_first_name2" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name2" class="fld_last_name2" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<span><input type="text" name="nick_name2" class="fld_nick_name2" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
										</dd>
									</dl>
									<dl class="inT ChildSub2">
										<dt>둘째 아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender2" class="fld_childGender2" value="1" checked="checked">
										<label clonefor="">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender2" class="fld_childGender2" value="2">
										<label clonefor="">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender2" class="fld_childGender2" value="0">
										<label clonefor="">아직모름</label>
										</span>
										</dd>
										<!-- 둘째 아이 END-->
									</dl>
									<dl class="inT intCol2 childSub ChildSub3">
										<!-- 셋째 아이 -->
										<dt>
										<text class="cloneGa">셋째 아이 이름</text>
										<text class="cloneGb">셋째 아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name3" class="fld_first_name3" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name3" class="fld_last_name3" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<span><input type="text" name="nick_name3" class="fld_nick_name3" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
										</dd>
									</dl>
									<dl class="inT ChildSub3">
										<dt>셋째 아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender3" class="fld_childGender3" value="1" checked="checked">
										<label clonefor="">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender3" class="fld_childGender3" value="2">
										<label clonefor="">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender3" class="fld_childGender3" value="0">
										<label clonefor="">아직모름</label>
										</span>
										</dd>
										<!-- 셋째 아이 END-->
									</dl>
									<dl class="inT intCol2 childSub ChildSub4">
										<!-- 넷째 아이 -->
										<dt>
										<text class="cloneGa">넷째 아이 이름</text>
										<text class="cloneGb">넷째 아이 태명</text>
										</dt>
										<dd class="cloneGa">
										<span><input type="text" name="first_name4" class="fld_first_name4" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
										<span><input type="text" name="last_name4" class="fld_last_name4" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
										</dd>
										<dd class="cloneGb">
										<span><input type="text" name="nick_name4" class="fld_nick_name4" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
										</dd>
									</dl>
									<dl class="inT ChildSub4">
										<dt>넷째 아이 성별 </dt>
										<dd>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender4" class="fld_childGender4" value="1" checked="checked">
										<label clonefor="">남</label>
										</span>
										<span class="radioF">
										<input type="radio" cloneid="" clonename="childGender4" class="fld_childGender4" value="2">
										<label clonefor="">여</label>
										</span>
										<span class="radioF cloneGb">
										<input type="radio" cloneid="" clonename="childGender4" class="fld_childGender4" value="0">
										<label clonefor="">아직모름</label>
										</span>
										</dd>
										<!-- 넷째 아이 END-->
									</dl>
									<dl class="inT intCol3">
										<dt>
										<text class="cloneGa">아이 생년월일</text>
										<text class="cloneGb">태아 출생예정일</text>
										</dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_year_view">년도</label>
										<select cloneid="" name="birthYear" class="fld_birth_dt_year" addoptyear="">
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_month_view">월</label>
										<select cloneid="" name="birthMonth" class="fld_birth_dt_month" addoptmonth="">
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_birth_dt_day_view">일</label>
										<select cloneid="" name="birthDay" class="fld_birth_dt_day" addoptday="">
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<dl class="inT intCol3 cloneGb">
										<dt>
										태아 주수 </dt>
										<dd>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_week_view">주</label>
										<select cloneid="" name="pregWeek" class="fld_preg_week" addoptembryoweek="">
										</select>
										</span>
										</span>
										<span>
										<span class="selectBox">
										<label clonefor="" class="fld_preg_day_view">일</label>
										<select cloneid="" name="pregDay" class="fld_preg_day" addoptembryoday="">
										</select>
										</span>
										</span>
										</dd>
									</dl>
									<p class="inT">
										<span class="radioF wF">
										<input type="radio" cloneid="" name="childGb" class="fld_child_gb">
										<label clonefor="">대표 아이로 설정</label>
										</span>
									</p>
									<a href="javascript://" class="closeBtn RemoveChildBox"><img src="https://m.ykbrand.co.kr/Common/images//btn/btn_close.png" alt="닫기"></a>
								</div>
							</div>
							<!-- # 아이 추가 END -->
							<!-- 아이 추가 버튼 -->
							<dl class="inT intAdrs">
								<dd>
								<span>
								<span class="selectBox">
								<label for="selAddChild">아이 추가</label>
								<select id="selAddChild">
									<option value="1" selected="selected">아이 추가</option>
									<option value="2">쌍둥이 추가</option>
									<option value="3">세쌍둥이 추가</option>
									<option value="4">네쌍둥이 추가</option>
								</select>
								</span>
								</span>
								<span><a href="javascript:AddChildBox();">추가</a></span>
								</dd>
							</dl>
							<!-- 아이 추가 버튼 END -->
						</div>

						<div class="btnWrap" style="margin-top:0px;">
							<a class="" href="#">선물 신청하기</a>
						</div>

						<div class="inT noti_guide">
							<p class="ti">이벤트 신청 안내</p>
							<ul class="blue_blet_lst">
                <li>신청 정보를 모두 입력 하신 후 <span class="com">‘선물 신청하기’</span> 버튼을  클릭해주세요. 이벤트 신청 완료 문자가 입력하신 휴대폰으로 발송됩니다.</li>
                <li>유한킴벌리 통합회원이 아니신 경우 회원 가입 후 신청 가능하며, 이미 회원이신 경우는 사용하시던 아이디로  로그인해 주세요. </li>
            	</ul>
						</div>

					</div>

				</div>
			</form>
		</div>
	</div>
	<hr>

	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리">
		<a href="../Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="../Terms/TermsPop?type=yk8" target="_blank" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images//common/Web_img.png" alt="웹접근성 마크">
	</footer>


	</body>
	</html>
