<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />
  <title></title>
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="https://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
  <link rel="stylesheet" href="../../Common/css/common.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/main.css"> <!-- main css -->
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/swiper.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/reset.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
  <script>
    var ImageServerUrl = "https://www.ykbrand.co.kr";
    var ImageUploadUrl = "https://www.ykbrand.co.kr/data/Real/";
  </script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>

  <style type="text/css">
    .CLONE {
      display: none;
    }
    .haveC .cloneGb {
      display: none;
    }
  </style>

  <script>
  </script>

</head>

<body>
  <div id="yk_lodings" class="maskWhite" style="display:none;">
    <div class="lodings"></div>
  </div>

  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->

  <!-- skip_nav -->
  <a href="#contents" class="skip">본문 바로가기</a>

  <!-- wrap -->
  <div id="wrap" class="sso">
    <div id="contents">

      <!-- container -->
      <div id="container">
        <form method="post" id="Pormform">
          <div class="divider">
            <p class="sso_brand_img clearfix pome_event-head">
              <!-- 20180529 pome_event-head class추가 //-->
              <!-- 20180529 modi s -->
              <a href="http://m.ykbrand.co.kr/"><img class="yk-logo" style="width:100px;" src="https://m.ykbrand.co.kr/Common/images/pome/h1_logo.png" alt="유한킴벌리"></a>
              <a class="brand-logo" style="padding:10px 10px 10px 0;" href="http://m.ykbrand.co.kr/huggies" target="blank">
                <img style="width:70px;" src="https://m.ykbrand.co.kr/Common/images/pome/huggies_logo.png" alt="하기스" />
              </a>
            </p>
            <div class="pome_event" id="pome_event_images">
              <div class="evnt_info inT">
                <div class="ribon"><img src="https://m.ykbrand.co.kr/Common/images/pome/pome_evnt_ribon.png" alt="하기스 선물팩 신청 이벤트" /></div> <!-- 20180529 add //-->
                <span id="pome_title">산부인과 엄마들을 위한</span>하기스 선물팩 신청 이벤트
                <p>
                  엄마가 된 가장 벅찬 감동의 순간을 하기스가 함께
                  <br />축하합니다. 소중한 내 아기를 위해 하기스가 준비한
                  <span>특별한 선물팩을 지금 신청하세요.</span>
                </p>
              </div>
              <div class="visu_img"><img src="https://m.ykbrand.co.kr/Common/images/pome/pome_evnt_visu.jpg" alt="하기스 선물팩 신청 이벤트" /></div>
              <!-- 20180529 modi e -->
              <div class="inT">
                <table class="simple_info">
                  <colgroup>
                    <col style="width:100px;">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>이름(신청자)<span> *</span></th>
                      <td>
                        <input type="text" name="user_name" onclick="javascript: fnLoginChack();" readonly value="" />
                      </td>
                    </tr>
                    <tr>
                      <th>휴대폰 번호<span> *</span></th>
                      <td>
                        <ul class="clearfix">
                          <li>
                            <select onclick="javascript: fnLoginChack();">
                              <option value="010" readonly>010</option>
                            </select>
                          </li>
                          <li>
                            <input type="text" value="" onclick="javascript: fnLoginChack();" readonly />
                          </li>
                          <li>
                            <input type="text" value="" onclick="javascript: fnLoginChack();" readonly />
                            <input type="hidden" name="phone_num" id="phone_num" value="" />
                          </li>
                        </ul>
                        <p class="dot mt10">입력하신 휴대폰 번호로 이벤트 신청 완료 문자가 발송됩니다.</p>
                      </td>
                    </tr>
                    <tr>
                      <th id="titleType" name="titleType">산부인과명<span> *</span></th>
                      <td id="titleTypeinput">
                        <input type="text" name="titleTypeName" id="titleTypeName" maxlength="20" onclick="javascript: fnLoginChack();" />
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div id="ChildGroup"></div>
              <!-- # 아이 추가 -->
              <div class="CLONE">
                <div class="haveC">
                  <input type="hidden" cloneidx />
                  <dl class="inT">
                    <dt>출산 여부 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="birthGb" value="1" class="cloneGrp fld_birth_gb" checked="checked">
                        <label clonefor>출산 후</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="birthGb" value="0" class="cloneGrp fld_birth_gb">
                        <label clonefor>출산 전</label>
                      </span>
                    </dd>
                  </dl>
                  <dl class="inT intCol2 childSub ChildSub0">
                    <!-- 혼자인 아이 -->
                    <dt>
                      <text class="cloneGa">아이 이름</text>
                      <text class="cloneGb">아이 태명</text>
                    </dt>
                    <dd class="cloneGa">
                      <span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
                      <span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
                    </dd>
                    <dd class="cloneGb">
                      <span><input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
                    </dd>
                  </dl>
                  <dl class="inT ChildSub0">
                    <dt>아이 성별 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="1" checked="checked">
                        <label clonefor>남</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="2">
                        <label clonefor>여</label>
                      </span>
                      <span class="radioF cloneGb">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="0">
                        <label clonefor>아직모름</label>
                      </span>
                    </dd>
                    <!-- 혼자인 아이 END -->
                  </dl>
                  <dl class="inT intCol2 childSub ChildSub1">
                    <!-- 첫째 아이 -->
                    <dt>
                      <text class="cloneGa">첫째 아이 이름</text>
                      <text class="cloneGb">첫째 아이 태명</text>
                    </dt>
                    <dd class="cloneGa">
                      <span><input type="text" name="first_name1" class="fld_first_name1" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
                      <span><input type="text" name="last_name1" class="fld_last_name1" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
                    </dd>
                    <dd class="cloneGb">
                      <span><input type="text" name="nick_name1" class="fld_nick_name1" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
                    </dd>
                  </dl>
                  <dl class="inT ChildSub1">
                    <dt>첫째 아이 성별 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="1" checked="checked">
                        <label clonefor>남</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="2">
                        <label clonefor>여</label>
                      </span>
                      <span class="radioF cloneGb">
                        <input type="radio" cloneid clonename="childGender1" class="fld_childGender1" value="0">
                        <label clonefor>아직모름</label>
                      </span>
                    </dd>
                    <!-- 첫째 아이 END-->
                  </dl>
                  <dl class="inT intCol2 childSub ChildSub2">
                    <!-- 둘째 아이 -->
                    <dt>
                      <text class="cloneGa">둘째 아이 이름</text>
                      <text class="cloneGb">둘째 아이 태명</text>
                    </dt>
                    <dd class="cloneGa">
                      <span><input type="text" name="first_name2" class="fld_first_name2" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
                      <span><input type="text" name="last_name2" class="fld_last_name2" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
                    </dd>
                    <dd class="cloneGb">
                      <span><input type="text" name="nick_name2" class="fld_nick_name2" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
                    </dd>
                  </dl>
                  <dl class="inT ChildSub2">
                    <dt>둘째 아이 성별 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender2" class="fld_childGender2" value="1" checked="checked">
                        <label clonefor>남</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender2" class="fld_childGender2" value="2">
                        <label clonefor>여</label>
                      </span>
                      <span class="radioF cloneGb">
                        <input type="radio" cloneid clonename="childGender2" class="fld_childGender2" value="0">
                        <label clonefor>아직모름</label>
                      </span>
                    </dd>
                    <!-- 둘째 아이 END-->
                  </dl>
                  <dl class="inT intCol2 childSub ChildSub3">
                    <!-- 셋째 아이 -->
                    <dt>
                      <text class="cloneGa">셋째 아이 이름</text>
                      <text class="cloneGb">셋째 아이 태명</text>
                    </dt>
                    <dd class="cloneGa">
                      <span><input type="text" name="first_name3" class="fld_first_name3" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
                      <span><input type="text" name="last_name3" class="fld_last_name3" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
                    </dd>
                    <dd class="cloneGb">
                      <span><input type="text" name="nick_name3" class="fld_nick_name3" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
                    </dd>
                  </dl>
                  <dl class="inT ChildSub3">
                    <dt>셋째 아이 성별 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender3" class="fld_childGender3" value="1" checked="checked">
                        <label clonefor>남</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender3" class="fld_childGender3" value="2">
                        <label clonefor>여</label>
                      </span>
                      <span class="radioF cloneGb">
                        <input type="radio" cloneid clonename="childGender3" class="fld_childGender3" value="0">
                        <label clonefor>아직모름</label>
                      </span>
                    </dd>
                    <!-- 셋째 아이 END-->
                  </dl>
                  <dl class="inT intCol2 childSub ChildSub4">
                    <!-- 넷째 아이 -->
                    <dt>
                      <text class="cloneGa">넷째 아이 이름</text>
                      <text class="cloneGb">넷째 아이 태명</text>
                    </dt>
                    <dd class="cloneGa">
                      <span><input type="text" name="first_name4" class="fld_first_name4" placeholder="성" title="우리 아이 성씨" maxlength="10"></span>
                      <span><input type="text" name="last_name4" class="fld_last_name4" placeholder="이름" title="우리 아이 이름" maxlength="150"></span>
                    </dd>
                    <dd class="cloneGb">
                      <span><input type="text" name="nick_name4" class="fld_nick_name4" placeholder="태명" title="우리 아이 태명" maxlength="150"></span>
                    </dd>
                  </dl>
                  <dl class="inT ChildSub4">
                    <dt>넷째 아이 성별 </dt>
                    <dd>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender4" class="fld_childGender4" value="1" checked="checked">
                        <label clonefor>남</label>
                      </span>
                      <span class="radioF">
                        <input type="radio" cloneid clonename="childGender4" class="fld_childGender4" value="2">
                        <label clonefor>여</label>
                      </span>
                      <span class="radioF cloneGb">
                        <input type="radio" cloneid clonename="childGender4" class="fld_childGender4" value="0">
                        <label clonefor>아직모름</label>
                      </span>
                    </dd>
                    <!-- 넷째 아이 END-->
                  </dl>
                  <dl class="inT intCol3 birthsel1">
                    <dt>
                      <text class="cloneGa">아이 생년월일</text>
                      <text class="cloneGb">태아 출생예정일</text>
                    </dt>
                    <dd>
                      <span class="pome_min_width100">
                        <span class="selectBox">
                          <label clonefor class="fld_birth_dt_year_view">년도</label>
                          <select cloneid name="birthYear" class="fld_birth_dt_year" addoptyear></select>
                        </span>
                      </span>
                      <span class="pome_min_width85">
                        <span class="selectBox">
                          <label clonefor class="fld_birth_dt_month_view">월</label>
                          <select cloneid name="birthMonth" class="fld_birth_dt_month" addoptmonth></select>
                        </span>
                      </span>
                      <span class="pome_min_width85">
                        <span class="selectBox">
                          <label clonefor class="fld_birth_dt_day_view">일</label>
                          <select cloneid name="birthDay" class="fld_birth_dt_day" addoptday></select>
                        </span>
                      </span>
                    </dd>
                  </dl>
                  <dl class="inT intCol3 cloneGb">
                    <dt>
                      태아 주수
                    </dt>
                    <dd>
                      <span>
                        <span class="selectBox">
                          <label clonefor class="fld_preg_week_view">주</label>
                          <select cloneid name="pregWeek" class="fld_preg_week" addoptembryoweek></select>
                        </span>
                      </span>
                      <span>
                        <span class="selectBox">
                          <label clonefor class="fld_preg_day_view">일</label>
                          <select cloneid name="pregDay" class="fld_preg_day" addoptembryoday></select>
                        </span>
                      </span>
                    </dd>
                  </dl>
                  
                  <a href="javascript://" class="closeBtn RemoveChildBox"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="닫기"></a>
                </div>
              </div>
              <!-- # 아이 추가 END -->
              <!-- 아이 추가 버튼 -->
              <dl class="inT intAdrs">
                <dd>
                  <span>
                    <span class="selectBox">
                      <label for="selAddChild">아이 추가</label>
                      <select id="selAddChild">
                        <option value="1" selected="selected">아이 추가</option>
                        <option value="2">쌍둥이 추가</option>
                        <option value="3">세쌍둥이 추가</option>
                        <option value="4">네쌍둥이 추가</option>
                      </select>
                    </span>
                  </span>
                  <span><a href="javascript:AddChildBox();">추가</a></span>
                </dd>
              </dl>
              <div class="btnWrap" style="margin-top:0px;">
                <!-- 통합회원 안내 팝업 : 20200218 //-->
                <a class="" href="javascript:;" style="background:#e01a22" onclick="layerMaskOpen('memChklayer')">선물 신청하기</a>
                <a class="" href="javascript:;" style="background:#e01a22" onclick="SaveChildBox()">선물 신청하기</a>
              </div>
              <div class="inT noti_guide">
                <p class="ti">이벤트 신청 안내</p>
                <ul class="blue_blet_lst">
                  <li>신청 정보를 모두 입력 하신 후 <span class="com">‘선물 신청하기’</span> 버튼을 클릭해주세요. 이벤트 신청 완료 문자가 입력하신 휴대폰으로 발송됩니다.</li>
                  <li>유한킴벌리 통합회원이 아니신 경우 회원 가입 후 신청 가능하며, 이미 회원이신 경우는 사용하시던 아이디로 로그인해 주세요. </li>
                </ul>
              </div>
            </div>

          </div>
          <input type="hidden" name="siteType" id="siteType" value="PCC" />
          <input type="hidden" name="newCus" id="newCus" />
        </form>
      </div>


    </div>
    <hr />
    <!-- footer -->
    <footer>
      <p class="flogo">
        <img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리" />
        <a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
        <a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
      </p>
      <address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
      <ul class="info">
        <li>대표자 : 최규복</li>
        <li>사업자번호 : 120-81-11436</li>
        <li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
      </ul>
      <a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
      <p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
      <img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
    </footer>


    <!-- 통합회원 안내 팝업 : 20200218 -->
    <div id="memChklayer" class="pome_mlayer popup hide">
      <h3>하기스 선물팩 신청
        <a href="#none" onclick="layerMaskClose('memChklayer');" class="btn_close"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_close2.png" alt="팝업닫기"></a>
      </h3>
      <div class="popCont">
        <p>유한킴벌리 통합회원만 신청이 가능합니다.<br>아직 회원이 아니시면 회원 가입, 이미 회원이시라면 사용하시는 아이디로 로그인해주세요.</p>
        <div class="btnwrap">
          <a href="#" class="btn btn_login">로그인</a>
          <a href="#" class="btn btn_join">회원가입</a>
        </div>
      </div>
    </div>
    <div id="dim"></div>
    <!--// 통합회원 안내 팝업 : 20200218 -->



    <a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
    <!-- //footer -->
  </div>
  <!-- //wrap -->

  <script type="text/javascript">
    // 통합회원 안내 팝업 : 20200218
    function layerMaskOpen(set) { // 레이어팝업 열기
      $('#' + set).removeClass('hide');
      $('#dim').addClass('show');
      $('body').addClass('noScroll');
    }
    function layerMaskClose(set) { // 레이어팝업 닫기
      $('#' + set).addClass('hide');
      $('#dim').removeClass('show');
      $('body').removeClass('noScroll');
    }
  </script>


</body>
</html>
