
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="유한킴벌리" />
    <meta name="keywords" content="유한킴벌리">
    <meta name="description" content="유한킴벌리" />
    <meta name="naver-site-verification" content="" />
    <title>제3자 위탁운영 및 정보제공 약관 동의 | 유한킴벌리 통합브랜드</title>

<!-- Google Tag Manager -->
<!-- End Google Tag Manager -->

    <link rel="icon" href="http://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
    <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/common.css">
    <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
    <link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/mypage.css">
    <script>
        var userId = "";
        var ImageServerUrl = "http://www.ykbrand.co.kr";
        var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
    </script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
    <!--[if lte IE 9]><script src="/Common/js/Placeholders.min.js"></script><![endif]-->
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script>
    <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

</head>
<body class="sso">
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->

<!-- 이벤트 제3자 위탁운영 및 정보제공 약관 동의 -->
<div class="termPopup2">
  <!-- popHead -->
  <div class="popHead">
      <h3>제3자 위탁운영 및 정보제공 약관 동의</h3>
  </div>
  <!-- //popHead -->
  <!-- popCont -->
  <div class="popCont">
		㈜ 유한킴벌리는 서비스 향상과 원활한 진행을 위하여 개인정보 처리 업무를 외부 전문 업체에 위탁하여 처리하고 있습니다.<br /><br />

    <table>
        <caption>제3자 위탁운영 및 정보제공 약관 동의 브랜드별 위탁업체 및 업무 안내</caption>
        <colgroup><col style="width:20%"><col><col style="width:38%"></colgroup>
        <thead>
            <tr>
                <th scope="col">브랜드명</th>
                <th scope="col">취급, 위탁 받는 자</th>
                <th scope="col">취급, 위탁하는 업무</th>
            </tr>
        </thead>
        <tbody>
            <!-- 삭제
						<tr>
                <td>하기스</td>
                <td>
                    퍼블리시스 모뎀㈜<br>(02-6363-4639)
                    <br><br>
                    ㈜포스트비쥬얼<br>(02-6924-8729)
                </td>
                <td>하기스 이벤트 운영</td>
            </tr>
            <tr>
                <td>하기스 아기물티슈</td>
                <td>퍼블리시스 모뎀㈜<br>(02-6363-4639)</td>
                <td>하기스 아기물티슈 이벤트 운영</td>
            </tr>
						//-->

						<!-- 20190128 수정 -->
            <tr>
                <td>티엔</td>
                <td>하나애드<br />(02-783-5627)</td>
                <td>티엔 이벤트 운영</td>
            </tr>
            <tr>
                <td>화이트</td>
                <td rowspan="4">
									그룹IDD<br />(070-4633-5626)<br /><br />
									㈜레볼루션커뮤니케이션즈<br />(02-3444-8095)
								</td>
                <td>화이트 이벤트 운영</td>
            </tr>
            <tr>
                <td>좋은느낌</td>
                <td>좋은느낌 이벤트 운영</td>
            </tr>
            <tr>
                <td>라네이처</td>
                <td>라네이처 이벤트 운영</td>
            </tr>
            <tr>
                <td>스카트</td>
                <td>스카트 이벤트 운영</td>
            </tr>
            <tr>
                <td>디펜드</td>
                <td>오길비<br>(02-513-1534)</td>
                <td>디펜드 이벤트 운영</td>
            </tr>
					  <!--// 20190128 수정 -->

						<!-- 삭제
            <tr>
                <td>크리넥스</td>
                <td rowspan="2">㈜레볼루션커뮤니케이션즈<br>(02-3444-8094)</td>
                <td>크리넥스 이벤트 운영</td>
            </tr>
            <tr>
                <td>마이비데</td>
                <td>마이비데 이벤트 운영</td>
            </tr>
						//-->
            <!-- 삭제
						<tr>
                <td>그린핑거</td>
                <td>㈜레볼루션커뮤니케이션즈<br>(02-3444-8092)</td>
                <td>그린핑거 이벤트 운영</td>
            </tr>
						//-->
        </tbody>
    </table>
    <br />
    개인정보 수집 활용 및 취급위탁에 동의하지 않을 경우, 이벤트 참여가 제한됩니다.

  </div>
  <!-- //popCont -->
</div>
<!-- //이벤트 제3자 위탁운영 및 정보제공 약관 동의 -->


</body>
</html>
