


html, body, div, p, span, em, u, i, table, caption, thead, tbody, tfoot, tr, th, td, form, fieldset, label, legend, textarea, input, select, button, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, img, a {
  padding: 0; margin: 0; border: 0;
}
body {
  position: relative;
  color: #585858;
  font-size: 18px;
  line-height: 18px;
  font-family:  'Nanum Squares';
  font-weight: normal;
  -webkit-text-size-adjust: none;
}

/* word-wrap:break-word;word-break:break-all; */
div, p, ul, li, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd {word-wrap:break-word;word-break:break-all;}

html { height: 100%; }
body { height: 100%; background: rgb(245,246,250)}

ul, ol, li, dl, dt, dd { list-style-type: none; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
select {
  height: 40px;
  padding-left: 10px;
  border: 1px solid #dedede;
  font-family: 'Nanum Squares';
  font-size: 18px;
  line-height: 34px;
  color: #202020;
  background: #f2f2f2;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
legend {
  display: none;
  position: absolute;
  visibility: hidden;
}
caption {
  visibility: hidden;
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
}
img {
  vertical-align: top;
  outline: none;
}
optgroup {
  font-style: normal;
  font-size: 0px;
  height: 0px;
  line-height: 0px;
}
input {
  border-radius: 0;
  font-family: 'Nanum Squares';
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
/* -webkit-appearance:none; */
textarea {
  font-size: 18px;
  font-family: 'Nanum Squares';
  resize: none;
}
button {
  background: none;
  vertical-align: top;
}
h1, h2, h3, h4, h5, h6, strong, th {
  font-weight: normal;
}
/* ��ũ */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ".";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
.sample_title {
  font-size: 22px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* ��ũ */
a {
  text-decoration: none;
  cursor: pointer;
  color: #585858;
}
a:hover {
  text-decoration: none;
}
/*a:focus {outline:thin dotted blue !important;}*/
/* Ŀ�� */
.cursor {
  cursor: pointer;
}
/* Ŭ���� */
.cb {
  clear: both;
  font-size: 0px;
  line-height: 0px;
  height: 0px;
}
/* ���������İ��� */
.al {
  text-align: left;
}
.ac {
  text-align: center;
}
.ar {
  text-align: right;
}
/* �Է��� */
.placeholdersjs {
  color: #757575 !important;
}

/* box_sizing */
.boxSizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* �����ؽ�Ʈ */
.hdt {
  font-size: 0;
  line-height: 0;
}


/* layout */

html, body {height:100%; overflow-x:hidden;}
body {	background:rgb(245,246,250) url(../../Common/images/common/body_bg.gif) 0 0 repeat-y;}
#wrap {
	background:rgb(245,246,250);
	height:100%;
	font-family: 'Open Sans', 'Nanum Squares', sans-serif;
	color:rgb(0,0,0);
}
#wrap a {
	color:rgb(0,0,0)
}
#wrap header {
	width: 100%;
	height: 60px;
	background:rgb(11,38,91);
	font-family:'Nanum Squares';
	font-weight:400;
	color:rgb(255,255,255);
	position: relative;

}
#wrap header .logo a {
	display: block;
	width: 121px;
	height: 29px;
	background:url(../../Common/images/common/logo.png) 0 0 no-repeat;
	font-size:0;
	position: absolute;
	top:15px;
	left:30px;

}

#wrap header h1 {
	font-size:23px;
	font-weight:700;
	text-align: center;
	line-height:60px;
	font-family: 'Open Sans';
}
#wrap header span {
	position: absolute;
	top:35px;
	right:10px;
	font-size:10px;
}

#wrap .contents {

}
#wrap .items_menu {
	height:60px;
	border-bottom:1px solid rgb(229,230,235);
	position: relative;
	background:rgb(255,255,255);
}
#wrap .items_menu .items_lnb {
	width:210px;
	font-weight:700;
	font-size:14px;
	float:left;
	line-height:60px;
	text-align:center;
	position: absolute;
	top:0;
	left:0px;
}
/* 20191014 s */
#wrap .items_menu .items_cate {
	position: absolute;
	top:0;
	left:210px;
	/* width:765px; */
  min-width:765px;
}
#wrap .items_menu .items_cate li {
	background:url(../../Common/images/common/bg_bar.gif) 0 24px no-repeat;
	font-weight:400;
	float:left;
	font-size:14px;
	/* width:255px; */
  min-width:255px;
	line-height:60px
}
/* 20191014 e */

#wrap .items_menu .items_cate a {
	padding:0 0 0 50px;
}
#wrap .items_menu .items_cate a.graph {
	background:url(../../Common/images/common/ico_graph.gif) 27px 4px no-repeat;
}
#wrap .items_menu .items_cate a.cate {
	background:url(../../Common/images/common/ico_cate.gif) 27px 4px no-repeat;
}

#wrap .items_menu .items_cate a.price {
	background:url(../../Common/images/common/ico_price.gif) 27px 4px no-repeat;
}

#wrap .lnb {
	width:210px;
	height:100%;
	height: calc(100% - 120px);
	position: absolute;
	top:121px;
	left:0;
	border-right:1px solid rgb(229,230,235);
	background:rgb(255,255,255);
}
#wrap .lnb ul {

}
#wrap .lnb ul li a{
	display: block;
	height:80px;
	font-size:15px;
	line-height:23px;
	padding:18px 0 0 24px;
	box-sizing:border-box;
	position: relative;
}
#wrap .lnb ul li a.menu2{
	padding:28px 0 0 24px;
}
/*
#wrap .lnb ul li a:before {
	position: absolute;
	width: 0;
	height: 80px;
	left: 0;
	top: 0;
	z-index: -1;
	content:'';
	transition:all 0.2s ease;

}

#wrap .lnb ul li a:hover:before{
	width: 210px;
}
*/
#wrap .lnb ul li a:hover ,#wrap .lnb a.curr {
	font-weight:600;
}
/*
#wrap .lnb ul li a.menu1:before {background: rgb(242,246,255) url(../../Common/images/common/bg_lnb1.gif) 0 0 no-repeat;}
#wrap .lnb ul li a.menu2:before {background:rgb(255,247,237) url(../../Common/images/common/bg_lnb2.gif) 0 0 no-repeat;}
#wrap .lnb ul li a.menu3:before {background:rgb(240,250,241) url(../../Common/images/common/bg_lnb3.gif) 0 0 no-repeat;}

#wrap .lnb a:hover.menu1 {color:rgb(1,62,177);}
#wrap .lnb a:hover.menu2 {color:rgb(243,144,15);}
#wrap .lnb a:hover.menu3 {color:rgb(51,184,71);}

#wrap .lnb a.curr.menu1 {background:rgb(242,246,255) url(../../Common/images/common/bg_lnb1.gif) 0 0 no-repeat; color:rgb(1,62,177);}
#wrap .lnb a.curr.menu2 {background:rgb(255,247,237) url(../../Common/images/common/bg_lnb2.gif) 0 0 no-repeat; color:rgb(243,144,15);}
#wrap .lnb a.curr.menu3 {background:rgb(240,250,241) url(../../Common/images/common/bg_lnb3.gif) 0 0 no-repeat; color:rgb(51,184,71);}
*/
#wrap .lnb ul li a.menu1 {background:rgb(255,255,255) url(../../Common/images/common/bg_lnb1.gif) -210px 0 no-repeat;}
#wrap .lnb ul li a.menu2 {background:rgb(255,255,255) url(../../Common/images/common/bg_lnb2.gif) -210px 0 no-repeat;}
#wrap .lnb ul li a.menu3 {background:rgb(255,255,255) url(../../Common/images/common/bg_lnb3.gif) -210px 0 no-repeat;}
#wrap .lnb a:hover.menu1, #wrap .lnb a.curr.menu1 {background:rgb(242,246,255) url(../../Common/images/common/bg_lnb1.gif) 0 0 no-repeat; color:rgb(1,62,177);transition: 0.3s;}
#wrap .lnb a:hover.menu2, #wrap .lnb a.curr.menu2 {background:rgb(255,247,237) url(../../Common/images/common/bg_lnb2.gif) 0 0 no-repeat; color:rgb(243,144,15);transition: 0.3s;}
#wrap .lnb a:hover.menu3, #wrap .lnb a.curr.menu3 {background:rgb(240,250,241) url(../../Common/images/common/bg_lnb3.gif) 0 0 no-repeat; color:rgb(51,184,71);transition: 0.3s;}
#wrap .lnb a:hover.menu4, #wrap .lnb a.curr.menu4 {background:rgb(252,234,237) url(../../Common/images/common/bg_lnb4.gif) 0 0 no-repeat; color:rgb(211,45,76);transition: 0.3s;}



#wrap .lnb .manual {
	position: fixed;
	bottom:0;
	left:0;
	height:60px;
	border-top:1px solid rgb(212,214,222);
	width:210px;

}
#wrap .lnb .manual  a {
	display: block;
	line-height:60px;
	font-size:13px;
	color:rgb(51,51,51);
	padding:0 0 0 24px;
	background:url(../../Common/images/common/ico_manual.gif) 175px 24px no-repeat;

}
#wrap .contents_inner {
	position: relative;
	left:210px;
	top:40px;
	width:990px /* ���������� width �ٲ� */
}

#wrap .contents_inner > ul  {
	width:760px;
	margin:0 auto;

}


#wrap .contents_inner > ul >  li {
	float:left;
	width:240px;
	height:162px;
	margin-bottom:20px;
	margin-left:20px;
}
#wrap .contents_inner > ul >  li:nth-child(3n+1) {
	margin-left:0;
}


#wrap .contents_inner > ul >  li > a {
	position: relative;
	width: 240px;
	height: 162px;
	background:rgb(255,255,255);
	text-align: center;
	padding-top:110px;
	font-weight:600;
	font-size:16px;
	border:1px solid rgb(229,233,242);
	box-sizing:border-box;
	display: block;
}
#wrap .contents_inner > ul >  li > a > div {
	position: absolute;
	top:0;
	left:0;
	width:240px;
	height:162px;
	color:rgb(255,255,255);
	opacity:0;
	transition:all 0.5s ease;
	display:table;
}
#wrap .contents_inner > ul >  li > a:hover > div {
	opacity:1;
	display:table;
}
#wrap .contents_inner > ul >  li > a > div > dl {
	display:table-cell;
	vertical-align:middle;
	font-size:16px;
	padding:0 25px;
}
#wrap .contents_inner > ul >  li > a > div > dl dt {
	font-weight:600;
	padding-bottom:12px

}
#wrap .contents_inner > ul >  li > a > div > dl dd {
	font-size:14px;
	font-weight:400;
	line-height:22px;
  word-break: keep-all;
}


#wrap .contents_inner > ul.sale >  li > a.bg1 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales01.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg1 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.sale >  li > a.bg3 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales03.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg3 > div {background:rgb(60,196,81);}

#wrap .contents_inner > ul.sale >  li > a.bg2 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales02.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg2 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.sale >  li > a.bg4 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales04.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg4 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.sale >  li > a.bg5 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales05.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg5 > div {background:rgb(60,196,81);}
#wrap .contents_inner > ul.sale >  li > a.bg6 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales06.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg6 > div {background:rgb(221,45,76);}
#wrap .contents_inner > ul.sale >  li > a.bg7 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales07.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg7 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.sale >  li > a.bg8 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales08.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg8 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.sale >  li > a.bg9 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales09.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg9 > div {background:rgb(60,196,81);}

#wrap .contents_inner > ul.sale >  li > a.bg01 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales01.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg01 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.sale >  li > a.bg02 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales02.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg02 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.sale >  li > a.bg03 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales03.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg03 > div {background:rgb(60,196,81);}
#wrap .contents_inner > ul.sale >  li > a.bg04 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales04.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg04 > div {background:rgb(221,45,76);}
#wrap .contents_inner > ul.sale >  li > a.bg05 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales05.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg05 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.sale >  li > a.bg06 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales06.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg06 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.sale >  li > a.bg07 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales07.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg07 > div {background:rgb(60,196,81);}
#wrap .contents_inner > ul.sale >  li > a.bg08 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales08.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg08 > div {background:rgb(221,45,76);}
#wrap .contents_inner > ul.sale >  li > a.bg09 {background:rgb(255,255,255) url(../../Common/images/ico/ico2_sales09.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg09 > div {background:rgb(22,142,241);}

#wrap .contents_inner > ul.analytics >  li > a.bg1 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics01.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg1 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.analytics >  li > a.bg2 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics04.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg2 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.analytics >  li > a.bg3 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics06.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg3 > div {background:rgb(60,196,81);}
#wrap .contents_inner > ul.analytics >  li > a.bg4 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics08.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg4 > div {background:rgb(221,45,76);}
#wrap .contents_inner > ul.analytics >  li > a.bg5 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics07.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg5 > div {background:rgb(22,142,241);}
#wrap .contents_inner > ul.analytics >  li > a.bg6 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics03.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg6 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.analytics >  li > a.bg7 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics07.gif) 87px 36px no-repeat;}
/* 20200130 s */
#wrap .contents_inner > ul.analytics >  li > a.bg9 > div {background:rgb(60,196,81);}
#wrap .contents_inner > ul.analytics >  li > a.bg9 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics09.gif) 87px 36px no-repeat;}

#wrap .contents_inner > ul.sale > li > a > div > dl {padding:0 20px;}
#wrap .items_menu .items_cate a.position {
	background:url(../../Common/images/common/ico_position.gif) 27px 4px no-repeat;
}
/* 20200130 s */
#wrap .contents_inner > ul.analytics >  li > a > div > dl {padding:0 15px;}

#wrap .contents_inner > ul.supply >  li > a.bg1 {background:rgb(255,255,255) url(../../Common/images/ico/ico_supply01.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.supply >  li > a.bg2 {background:rgb(255,255,255) url(../../Common/images/ico/ico_supply02.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.supply >  li > a.bg3 {background:rgb(255,255,255) url(../../Common/images/ico/ico_supply03.gif) 87px 36px no-repeat;}


/* 20200224 s */
#wrap .contents_inner > ul.sale >  li > a.bg10 {background:rgb(255,255,255) url(../../Common/images/ico/ico_sales010.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul >  li > a.bg10 > div {background:rgb(221,45,76);}

#wrap .contents_inner > ul.analytics >  li > a.bg3 > div {background:rgb(255,158,31);}
#wrap .contents_inner > ul.analytics >  li > a.bg2 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics010.gif) 87px 36px no-repeat;}
#wrap .contents_inner > ul.analytics >  li > a.bg10 > div {background:rgb(221,45,76);}
#wrap .contents_inner > ul.analytics >  li > a.bg10 {background:rgb(255,255,255) url(../../Common/images/ico/ico_analytics011.gif) 87px 36px no-repeat;}

#wrap .items_menu{min-height:60px;height:auto;overflow:hidden;}
#wrap .items_menu .items_cate {position: relative;padding-left:210px;left:0;}
#wrap .items_menu .items_cate li {min-width:auto;margin-right:15px;padding-right:10px;}
#wrap .items_menu .items_cate:after {content: '';clear:both;display: block;}
#wrap .items_menu .items_cate a.a1-8 {
	background:url(../../Common/images/common/ico_1-8.gif) 27px 4px no-repeat;
}
#wrap .items_menu .items_cate a.a2-1, #wrap .items_menu .items_cate a.graph {
	background:url(../../Common/images/common/ico_2-1.gif) 23px 4px no-repeat;
}
#wrap .items_menu .items_cate a.a3-2 {
  padding-left:70px;
	background:url(../../Common/images/common/ico_3-2.gif) 23px 4px no-repeat;
}
#wrap .items_menu .items_cate a.a3-3 {
  padding-left:68px;
	background:url(../../Common/images/common/ico_3-3.gif) 23px 4px no-repeat;
}
/* 20200224 e */

/* 20200506 s */
#wrap .contents_inner > ul.analytics > li > a > div > dl {padding: 0 10px;}
#wrap .contents_inner > ul > li span.sti {
  display: block;margin-top:-10px;padding-bottom:2px;font-weight: 200;font-size: 11px;color:#999;
}
#wrap .contents_inner > ul > li > a > div > dl dt {line-height: 1.4}
/* 20200506 e */

/* 20200629 s */
#wrap .contents_inner > ul.sale li.wide {clear:both;float:none;width:100%;height:auto;min-height:30px;margin-left: 0;}
#wrap .contents_inner > ul.sale li.wide a {
  display: block;
  width:100%;
  height:auto;
  padding-top:16px;
  padding-bottom:16px;
  background: none;
  background-color: #fff;
}
#wrap .contents_inner > ul.sale li.wide div {width:100%;height:100%;}
#wrap .contents_inner > ul.sale li.wide div > dl dt {display: none;}
#wrap .contents_inner > ul.sale > li > a > div > dl {padding:0 12px;}
#wrap .contents_inner > ul.sale li a.bg5 {
  background: #fff url(../../Common/images/ico/ico_sales05v2.gif) 87px 36px no-repeat;
}
#wrap .contents_inner > ul.sale li a.bg11 {
  background: #fff url(../../Common/images/ico/ico_sales05v3.gif) 87px 36px no-repeat;
}
#wrap .contents_inner > ul.sale li > a.bg11 > div {background:rgb(22,142,241);}
#wrap .items_menu .items_cate a.a_dnp {
  padding-left:50px;
	background:url(../../Common/images/common/ico_dnp.gif) 23px 4px no-repeat;
}
#wrap .items_menu .items_cate a.a_bt {
  padding-left:50px;
	background:url(../../Common/images/common/ico_bt.gif) 23px 4px no-repeat;
}
/* 20200629 e */
