<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
		<!-- <h3>통합 회원 선택항목 개인정보 수집 및 이용[선택]</h3><br><br> -->
		[목적 및 항목]<br />
		<br />
		① 개별 회원에 대한 맞춤서비스, 컨텐츠 개발, 제공을 위한 개인정보<br />
		주소, 결혼여부, 임신여부 SNS URL<br />
		자녀정보(자녀유무, 자녀수, 자녀이름, 자녀 생년월일, 자녀 성별)<br />
		② 학령기 아동 및 청소년을 위한 맞춤 서비스 제공을 위한 개인정보<br />
		학교명, 학년, 반, 취미, 나의 꿈, 내가 좋아하는 것, 좋아하는 연예인, 나의 피부 타입, 사용중인 스킨케어 브랜드<br />
		③ 소비자 조사, 마케팅 제공을 위한 개인정보<br />
		SNS/블로그 URL, 메일 수신여부, SNS 아이디, SNS 닉네임, SNS 프로필이미지 (SNS를 통한 이벤트 참여시)<br />
		<br />
		[보유 기간]<br />
		<br />
		이용자의 개인정보는 회원 탈퇴, 이용 동의 철회 또는 개인정보 유효기간 도래 시까지 이용 및 보관합니다.<br />
		단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 회사는 해당 법령에서 정한 일정한 기간 동안 회원정보를 보관합니다. (유효기간 도래 시 회사는 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.)<br />

	</div>
</div>
</body>
</html>
