<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
    <table class="termstable">
      <caption>오늘 플러스 개인정보 수집 및 이용</caption>
      <colgroup>
        <col style="width:30%">
        <col style="width:40%">
        <col style="width:30%">
      </colgroup>
      <thead>
        <tr>
          <th scope="col">수집·이용목적</th>
          <th scope="col">수집·이용항목</th>
          <th scope="col">보유 및 이용기간</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>회원관리 및 본인확인, 민원처리</td>
          <td>아이디, 비밀번호, 이름, 생년월일, 성별, 휴대폰번호, 이메일, 본인인증정보: 이용자 확인 값(CI), 중복가입확인정보(DI)</td>
          <td rowspan="3" style="font-weight:bold;">
            회원 탈퇴 혹은 이용 동의 철회 시까지 (관계 법령의 규정에 의해 보존의 필요가 있는 경우는 해당 기간까지)
          </td>
        </tr>
        <tr>
          <td>부정이용 방지, 통계 및 분석</td>
          <td>서비스 이용기록, 접속로그, 쿠키, 접속IP정보, 단말기 정보(고유식별번호, OS종류 및 버전)</td>
        </tr>
      </tbody>
    </table><br />
	</div>
</div>
</body>
</html>
