<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
<div>
	<div class="termsarea">
		[목적]<br /><br />
    맞춤 서비스 제공<br />
    <br />
    [항목]<br />
    <br />
    1. 그린핑거(www.ykbrand.co.kr/greenfinger)<br />
    : 결혼여부, 자녀 유무, 자녀 수, 직업, SNS URL, 블로그 URL, 뉴스/소식 수신여부, 자녀정보, 아이피부타입, 육아용품 구입처<br />
    <br />
    2. 유한킴벌리 티엔(www.ykbrand.co.kr/tn)<br />
    : 결혼여부, 자녀 유무, 자녀 수, 직업, SNS URL, 블로그 URL, 뉴스/소식 수신여부, 학교명, 학년 반, 취미, 나의 꿈, 내가 좋아하는 것, 내가 좋아하는 연예인, 나의 피부타입, 사용중인 스킨케어 브랜드<br />
    <br />
    3. 유한킴벌리 화이트(www.ykbrand.co.kr/white) /좋은느낌(www.ykbrand.co.kr/goodfeel) 디펜드(www.ykbrand.co.kr/depend)/골든프렌즈(www.goldenfriends.yuhan-kimberly.co.kr)<br />
    : 결혼여부, 자녀 유무, 자녀 수, 직업, SNS URL, 블로그 URL, 뉴스/소식 수신여부<br />
    <br />
    4. 스카트(www.ykbrand.co.kr/scott) / 크리넥스(www.ykbrand.co.kr/kleenex) / 마이비데(www.ykbrand.co.kr/mybidet)<br />
    : 결혼여부, 자녀수, 직업, SNS, Blog 주소, 메일(뉴스레터) 수신여부<br />
    <br />
    회원탈퇴, 이용 동의 철회 또는 개인정보 유효기간 도래 시까지 이용 및 보관<br />
    단, 관계 법령에 따라 고객님의 개인정보를 보존하여야 하는 경우, 회사는 해당 법령에서 정한 기간 동안 보관합니다(개인정보 유효기간 도래 시 회사는 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다).<br />

	</div>
</div>
</body>
</html>
