<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="title" content="유한킴벌리 통합브랜드">
	<meta name="description" content="유한킴벌리 통합브랜드">
	<meta name="keywords" content="유한킴벌리 통합브랜드">
	<title>하기스 선물팩 신청 이벤트 | 유한킴벌리 통합브랜드</title>
	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->
	<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="https://www.yksso.co.kr/css/reset_pc.css">
	<link rel="stylesheet" href="https://www.yksso.co.kr/css/pc.css?v=0.3.0">
	<link rel="stylesheet" href="../../Common/css/new.css">
	<link rel="stylesheet" href="../../Common/css/event.css">
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery.popupoverlay.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/common.js"></script>
</head>

<body class="event_giftpack">
	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->
	<!-- skip_nav -->
	<a href="#contents" class="skip">본문 바로가기</a>
	<!-- wrap -->
	<div id="wrap">
		<div id="contents">
			<!-- container -->
			<div class="container" id="container">
				<form method="post">

					<div class="conts">
						<div class="pome_event type01">
							<div class="event_info inT">
								<h1 class="logo"><img src="../../Common/images/common/logo_huggies_default.png" alt="Huggies" /></h1>
								<h2><span class="small">산부인과/산후조리원 엄마들을 위한</span> <strong>하기스 선물팩</strong> <strong>신청 이벤트</strong></h2>
								<p>
									새 가족을 맞이하신 것을 진심으로 축하드립니다!<br>
									아기와의 설레는 첫 만남을 하기스와 함께 준비해 보세요!<br>
									지금 신청하시면, 하기스에서 준비한 선물을 드려요.
								</p>
							</div>
							<div class="visual">
								<img src="../../Common/images/event/huggies_event_visual.jpg" alt="하기스 네이처메이드 밴드형 2단계 10P" />
								<span class="desc">하기스 네이처메이드 밴드형 2단계 10P</span>
							</div>
							<div class="section">
								<h3>어떻게 신청하나요?</h3>
								<ol class="row">
									<li>
										<span>01</span>맘큐 회원가입 후 <br>이벤트 신청해 <br>주세요.
									</li>
									<li>
										<span>02</span>입력하신 휴대폰 번호로 <br>이벤트 신청 완료 <br>문자가 발송됩니다.
									</li>
									<li>
										<span>03</span>문자를 담당자에게 <br>보여 주시고 선물과 <br>교환하세요.
									</li>
								</ol>
							</div>
							<div class="white">
								<div class="row" style="background-image: url(../../Common/images/event/huggies-info_banner.jpg);">
									<h3>
										<div class="title">행복한 우리 아기를 위해, 하기스</div>소중한 우리 아기, 첫 기저귀 시작은 최고여야 하니까 국내 NO.1 기저귀*, 하기스와 시작해 보세요!
									</h3>
									<div class="desc">*점유율 연속 1위, 칸타 소비자 패널 서비스, 한국 유통시장의 아기종이기저귀 카테고리, <br>2009년~2022년 (Copyright © 2022,
										Kantar)</div>
								</div>

								<div class="giftpack_form">
									<div class="join_wrap pd-lr20">
										<!-- 필수 정보 입력 -->
										<form name="pomeFrm" method="POST" action="/event/pome">
												<input type="hidden" name="_token" value="MVSdYvRXV8pTlJ8mE9e7XNHcAuPboZeXUcNjJrlw" />            
												<div class="join_form">
														<ul class="input_frm">
																<li>
																		<p class="ti">이름(신청자) <span> *</span> </p>
																		<p class="put">
																				<input type="text" name="name" value="" readonly="readonly"/>
																		</p>
																</li>
																<li>
																		<p class="ti">휴대폰 번호 <span> *</span> </p>
																		<p class="put">
																				<input type="text" name="mobile" value=""  readonly="readonly"/>
																		</p>
																		<span class="esse"> 입력하신 휴대폰 번호로 이벤트 신청 완료 문자가 발송됩니다. </span>
																</li>
																	
																<li>
																			
																		<p class="ti">산후조리원명 <span> *</span> </p>
																														<p class="put">
																				<input type="text" name="maternity_name" value="" />
																		</p>
																</li>
																										<li>
																		<!-- 아이추가 영역 -->
																		<div class="pome_child childadd">
																				<div class="addbtnwrap">
																						<a href="javascript:;" class="btn_areadd"><span>아이추가</span></a>
																						<ul class="addlist" style="display:none;">
																								<li class="action_child_add" data-child="1"><a href="javascript:;">아이추가</a></li>
																								<li class="action_child_add" data-child="2"><a href="javascript:;">쌍둥이 추가</a></li>
																								<li class="action_child_add" data-child="3"><a href="javascript:;">세쌍둥이 추가</a></li>
																								<li class="action_child_add" data-child="4"><a href="javascript:;">네쌍둥이 추가</a></li> 
																						</ul>
																				</div>
																		</div>
																		<!--// 아이추가 영역 -->
																</li>
														</ul>
												</div> <!-- join_form -->
						
												<!-- 맘큐, POME, 모닛 유입시 -->
												<input type="hidden" name="child_info" value="" />
						
												<!-- 20201005 아이정보 수집 동의 -->
												<div class="join_form">
														<ul class="terms_chk _child">
																<li>
																		<p>
																				<input type="hidden" name="momq_children_info_agree" value="N">
																				<input type="checkbox" name="chk_momq_children_info_agree" id="childck01">
																				<label for="childck01"><span class="sel">(선택)</span> 개인정보 수집이용 동의</label>
																		</p>
																		<a href="javascript:;" class="btn_vw openLayer" data-hash="#momq_children_info_agree_layer">보기</a>
																</li>
														</ul>
												</div>
												<!--// 20201005 -->
										</form>
									</div>
									<div class="pome_event btnWrap" style="margin-top: 80px;">
											<a class="present_regist" href="javascript:;" style="background:#e01a22">선물 신청하기</a>
									</div>
									<div class="inT noti_guide">
											<p class="ti">이벤트 신청 안내</p>
											<ul class="blue_blet_lst">
													<li>신청 정보를 모두 입력 하신 후 <span class="com">‘선물 신청하기’</span> 버튼을 클릭해주세요. 이벤트 신청 완료 문자가 입력하신 휴대폰으로 발송됩니다.</li>
													<li>유한킴벌리 통합회원이 아니신 경우 회원 가입 후 신청 가능하며, 이미 회원이신 경우는 사용하시던 아이디로 로그인해 주세요. </li>
											</ul>
									</div>
								</div>
							</div>

						</div>
					</div>

				</form>
			</div>

		</div>
	</div>

	<!-- 약관 레이어  -->
	<div class="layerbody" id="momq_children_info_agree_layer" >
		<div class="layerwrap termslay">
			<a class="btn_close momq_children_info_agree_layer_close"><span class="a11y_sr-only">close</span></a>
			<div class="layhead">
				<p>개인정보 수집동의</p>
			</div>
			<div class="layconts">
				<div class="inscroll termsarea">
									<p>
	<table class="termstable"><caption>개인정보 수집이용 동의[선택]<br></caption>
			<colgroup><col style="width:30%"><col style="width:30%"><col style="*"></colgroup>
			<thead>
				<tr>
				<th scope="col">수집·이용목적</th>
				<th scope="col">수집·이용항목</th>
				<th scope="col">보유 및 이용기간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>깜짝쿠폰, 맞춤할인행사, 무료 샘플/체험단 등 이벤트 참여기회 제공</td>
				<td style="border-left:1px solid #ddd;">출산여부, 이름, 성별, 생일, 임신주수</td>
				<td rowspan="3" style="border-left:1px solid #ddd;font-weight: 700;">
									아이정보 삭제 시까지 혹은 회원 탈퇴 시까지
				</td>
				</tr>
			</tbody>
		</table><p></p><p>* 고객님께서는 개인정보 수집 및 이용(선택) 동의에 거부하실 수 있습니다. 단, 거부할 경우 선택정보활용에 따른 위 서비스 이용에 제한이 있을 수 있습니다.</p><p></p><p></p></p>

				</div>
			</div>
		</div>
	</div>
	<!--// 약관 레이어  -->

	<!-- 통합회원 안내 레이어 -->
	<div id="pomeAccountLayer" class="layerbody">
		<div class="layerwrap recommidlay">
					<a class="btn_close pomeAccountLayer_close except_click"><span class="a11y_sr-only">close</span></a>
					<div class="layhead title">
							<p>하기스 선물팩 신청</p>
					</div>
					<div class="layconts">
							<p>
									유한킴벌리 통합회원만 신청이 가능합니다.<br>
									아직 회원이 아니시면 회원 가입,<br>
									이미 회원이시라면 사용하시는 아이디로 로그인해주세요.
							</p>
							<div class="btnwrap btn_foo half">
									<a href="/login?site_code=MOMQ" class="btn btnline txt-center btn_login except_click">로그인</a>
									<a href="/account/join?site_code=MOMQ&sub_site_code=POME" class="btn btn_blue bc-blue btn_join except_click">회원가입</a>
							</div>
					</div>
			</div>
	</div>
	<!--// 통합회원 안내 레이어 -->

	<template id="user_child_input">
			<ul class="input_frm child_input_frm">
					<li>
							<div class="ti">출산여부</div>
							<div class="put">
									<div class="select_chk labor_radio">
											<p class="rchk"><input type="radio" name="labor1" id="laborAfter1" value="after"><label for="laborAfter1">출산 후</label></p>
											<p class="rchk"><input type="radio" name="labor1" id="laborBefore1" value="before"><label for="laborBefore1">출산 전</label></p>
									</div>
							</div>
					</li>
					<li class="child_name_gender_input">
							<div class="ti">아이 <span class="chile_name_title">이름</span></div>
							<div class="put">
									<input type="text" class="child_name" name="" data-column="name">
									<select class="pc-fix-w100 child_gender" name="" data-column="gender">
											<option value="">성별</option>
											<option value="MAN">남자</option>
											<option value="WOMAN">여자</option>
											<option value="UNKNOWN">아직모름</option>
									</select>
							</div>
					</li>
					<li class="labor_after">
							<div class="ti">아이 생일</div>
							<div class="put sel">
									<select name="" class="pc-fix-w100 birth_years" data-column="birth_year">
									</select>
									<span class="t">년</span>

									<select name="" class="pc-fix-w100 birth_months" data-column="birth_month">
									</select>
									<span class="t">월</span>

									<select name="" class="pc-fix-w100 birth_days" data-column="birth_day">
									</select>
									<span class="t">일</span>
							</div>
					</li>
					<li class="labor_before">
							<div class="ti">출생예정일</div>
							<div class="put sel">
									<select name="" class="pc-fix-w100 due_years" data-column="birth_year">
									</select>
									<span class="t">년</span>

									<select name="" class="pc-fix-w100 due_months" data-column="birth_month">
									</select>
									<span class="t">월</span>

									<select name="" class="pc-fix-w100 due_days" data-column="birth_day">
									</select>
									<span class="t">일</span>
							</div>
					</li>
					<li class="labor_before">
							<div class="ti">태아 주수</div>
							<div class="put sel">
									<select name="" class="pc-fix-w165 due_week" data-column="due_week">
									</select>
									<span class="t">주</span>
									<select name="" class="pc-fix-w165 due_day" data-column="due_day">
									</select>
									<span class="t">일</span>
							</div>
					</li>
					<li>
							<div class="btnwrap child_input_frm">
									<a href="javascript:;" class="btn_del child_input_frm_del">삭제</a>
							</div>
					</li>
			</ul>
	</template>

	<script type="text/javascript" src="https://www.yksso.co.kr/js/childs.js"></script>
	<script type="text/javascript" >
	var isLogin =  false ;
	var submitEvent = false;

	$(document).ready(function() {

		$(document).click(function(e) {
				var _this = e.target;
				var elTagNames = ['input', 'select', 'radio', 'a'];
				var layerShow = $('#pomeAccountLayer').css('display') != 'none' ? true : false ;
				if ($.inArray(_this.tagName.toLowerCase(), elTagNames) != -1 && $(_this).hasClass('except_click') == false) {
						var hash = '#pomeAccountLayer';
						layer.open(hash);
				}
		});

		$(document).on('click', '.openLayer', function() {
					var hash = $(this).data('hash');
					layer.open(hash, function() {
							var layer = $('#recommidLayer');
							$('input[name="userid"]', layer).val('');
							$('input[name="name"]', layer).val('');
							$('input[name="mobile"]', layer).val('');
							$('.result .search .recommender_userid', layer).text('');
							$('.result', layer).hide();
					});
			});

			$(document).on('click', '.present_regist', function() {
					formSubmit();
			});

			//약관동의 선택 action
			$(document).on('click', '.terms_chk input[type="checkbox"]', function() {
					$.each($('.terms_chk input[type="checkbox"]'), function() {
							var hidden = $(this).parent().find('input[type="hidden"]');
							if ($(this).is(':checked')) {
									hidden.val('Y');
							} else {
									hidden.val('N');
							}
					}); 
			}); 
	});

	function formSubmit() {
		var f = $('form[name="pomeFrm"]');
		var data = childs.data || {};

		if (submitEvent === true) {
				alert('처리중입니다.');
		}

		if (Object.keys(data).length === 0) {
				alert('아이정보를 입력해주세요.');
				return false;
		}
		$('input[name="child_info"]', f).val(JSON.stringify(data));
		if ($('input[name="momq_children_info_agree"]', 'ul.terms_chk._child').val() !== 'Y') {
				alert('개인정보 수집이용 동의에 체크해주세요');
				return false;
		}

		submitEvent = true;
		f.submit();
	}

	</script>
	<!-- footer -->
	<footer>
			<p class="flogo">
					<img src="https://www.yksso.co.kr/images/pome/flogo.png" alt="유한킴벌리" />
					<a href="https://momq.co.kr/m/contract.html" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
					<a href="https://momq.co.kr/m/privacy.html" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
			</p>
			<address>주소 : 서울시 송파구 올림픽로 300 롯데월드타워 29층 (우)05551</address>
			<ul class="info">
					<li>대표자 : 진재승</li>
					<li>사업자번호 : 120-81-11436</li>
					<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
			</ul>
			<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			<p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
			<img style="margin-top:16px; width:150px;" src="https://www.yksso.co.kr/images/pome/Web_img.png" alt="웹접근성 마크" />
	</footer>
	<!-- //footer -->
</body>
</html>