<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="title" content="유한킴벌리 통합브랜드">
	<meta name="description" content="유한킴벌리 통합브랜드">
	<meta name="keywords" content="유한킴벌리 통합브랜드">
	<title>하기스 선물팩 신청 이벤트 | 유한킴벌리 통합브랜드</title>
	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->
	<link rel="icon" href="../../Common/images/favicon/favicon_default.png" type="image/x-icon">
	<!-- <link rel="stylesheet" href="https://www.yksso.co.kr/css/reset_pc.css">
	<link rel="stylesheet" href="https://www.yksso.co.kr/css/pc.css?v=0.3.0"> -->
	<link rel="stylesheet" href="../../Common/css/event.css">
	<link rel="stylesheet" href="https://www.yksso.co.kr/css/pome.css">
	<script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://www.yksso.co.kr/js/jquery.popupoverlay.js"></script>
	<script type="text/javascript" src="https://www.yksso.co.kr/js/common.js"></script>
</head>

<body class="event_giftpack">
	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->
	<!-- skip_nav -->
	<a href="#contents" class="skip">본문 바로가기</a>
	<!-- wrap -->
	<div class="sso_wrap">
		<header class="sso_head">
			<p class="clearfix pome_event-head">
				<a href="javascript:;">
					<img class="yk-logo" style="width:100px;" src='https://www.yksso.co.kr/images/pome/h1_logo.png' alt="유한킴벌리" />
				</a>
			</p>
		</header>
		<!-- container -->
		<div class="container" id="container">
			<form method="post">

				<div class="conts">
					<div class="pome_event finish_event">
						<div class="event_info inT">
							<h1 class="logo"><img src="../../Common/images/common/logo_huggies_default.png" alt="Huggies" /></h1>
							<h2><span>하기스 선물팩 신청이 </span><strong>완료</strong><strong>되었습니다.</strong></h2>
							<p>
								<strong>010-1230-4567</strong>로 이벤트 신청 완료 문자가 발송됩니다. <br>문자를 담당자에게 보여 주시고 선물과 교환하세요.
							</p>
						</div>
						<div class="visual">
							<img src="../../Common/images/event/huggies_event_visual.jpg" alt="하기스 네이처메이드 밴드형 2단계 10P" />
							<span class="desc">하기스 네이처메이드 밴드형 2단계 10P</span>
						</div>
						<div class="section">
							<h3>하기스에서 준비한 선물은 잘 받아 보셨나요?</h3>
							<div class="text">
								이번엔 하기스 허그박스를 통해 더 다양한 구성의 하기스를 만나 보세요! <br>맘큐에서 배송비만 내고 무료로 신청할 수 있습니다.
							</div>
							<div class="image">
								<img src="../../Common/images/event/huggies_event_banner.jpg" alt="행복한 우리 아기를 위해 하기스 허그박스" />
							</div>
						</div>
						<div class="btnWrap" style="margin-bottom: 80px;">
							<a class="present_regist" href="javascript:;">하기스 허그박스 신청하기</a>
						</div>
						<div class="inT noti_guide">
							<p class="ti">안내</p>
							<ul class="blue_blet_lst">
								<li>별청 이동통신사업자 사유로 SMS 수신이 안될 수 있습니다.</li>
								<li>SMS 수신이 안되실 경우 이 화면을 현장 담당자에게 보여주세요.</li>
							</ul>
						</div>
						<div class="btnWrap" style="margin-bottom: 80px;">
							<a class="present_regist" href="javascript:;">더 나은 육아생활을
								함께하는 육아 필수앱, <br>momQ 바로가기</a>
						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	<!-- footer -->
	<footer>
		<p class="flogo">
			<img src="https://www.yksso.co.kr/images/pome/flogo.png" alt="유한킴벌리" />
			<a href="https://momq.co.kr/m/contract.html" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
			<a href="https://momq.co.kr/m/privacy.html" target="_blank" title="개인정보처리방침 새창보기"
				style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
		</p>
		<address>주소 : 서울시 송파구 올림픽로 300 롯데월드타워 29층 (우)05551</address>
		<ul class="info">
			<li>대표자 : 진재승</li>
			<li>사업자번호 : 120-81-11436</li>
			<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
		</ul>
		<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank"
			title="새창에서 열림">회사대표 이메일</a>
		<p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
		<img style="margin-top:16px; width:150px;" src="https://www.yksso.co.kr/images/pome/Web_img.png" alt="웹접근성 마크" />
	</footer>
	<!-- //footer -->

</body>

</html>