<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <link rel="icon" href="../../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../../common/css/sso.css" type="text/css" media="all">
</head>
<body>
	<div class="sso_wrap">
		<header class="sso_head">
			<div class="row">
				<h1 class="brandlogo"><a href="#"><span class="a11y_sr-only">유한킴벌리</span><span class="txt">개인정보관리</span></a></h1>
				<p class="childlogo"><a href="#"><span class="a11y_sr-only">momQ</span></a></p>
			</div>
		</header>

		<div id="container" class="contents">
			<div class="row">
				<div class="my_wrap">
					<div class="tabwrap">
						<ul class="tablist">
							<li><a href="my_modi01.html">회원정보 수정</a>
							<li class="seleted"><a href="my_modi02.html">약관 관리</a>
						</ul>
					</div>

					<h2 class="h2_ti">약관동의</h2>
					<div class="terms_target">
            <p><span>이용서비스<br>선택</span></p>
            <div>
             	<p>
								<input type="checkbox" id="allchk" class="required" checked readonly>
								<label for="allchk"><span class="in"><span class="esse">(필수)</span> 유한킴벌리 SSO회원 </label>
							</p>
              <p>
								<input type="checkbox" name="ykbrand_terms" id="use_ykbrand"  checked ><label for="use_ykbrand">통합브랜드</label>
								<input type="checkbox" name="momq_terms" id="use_momq"  checked ><label for="use_momq">맘큐</label>
								<input type="checkbox" name="monit_terms" id="use_monit" ><label for="use_monit">모닛</label>
								<input type="checkbox" name="mygf_terms" id="use_mygf"  checked ><label for="use_mygf">달다방</label>
                </p>
            </div>
        	</div>

					<div class="join_form">
						<ul class="terms_chk" id="sso_terms">
							<li class="first">
								<p><input type="checkbox" id="sso_all" class="all_check"><label for="sso_all">유한킴벌리 SSO회원 약관 전체 동의</label></p>
							</li>
							<li>
								<p>
									<input type="checkbox" name="sso_terms_agree" id="termsNo1" data-id="1" class=" required " checked readonly>
									<label for="termsNo1">
										<span class="in">
											<span class=" esse ">(필수)</span>
											유한킴벌리 SSO회원 이용약관
										</span>
									</label>
								</p>
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#sso_terms_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="sso_privacy_agree" id="termsNo2" data-id="2" class=" required " checked readonly>
									<label for="termsNo2">
										<span class="in">
											<span class=" esse ">(필수)</span>
											유한킴벌리 SSO회원 필수항목 개인정보 수집 및 이용
										</span>
									</label>
								</p>
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#sso_privacy_agree_layer">보기</a>
							</li>
						</ul>
					
						<ul class="terms_chk" id="ykbrand_terms">
							<li class="first">
								<p><input type="checkbox" id="ykbrand_all" class="all_check"><label for="ykbrand_all">통합브랜드 약관 전체 동의</label></p>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="ykbrand_terms_agree" id="termsNo11" data-id="11" checked readonly>
									<label for="termsNo11">
										<span class="in">
											<span class=" esse ">(필수)</span>
											통합브랜드 이용약관
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#ykbrand_terms_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="ykbrand_privacy_agree" id="termsNo12" data-id="12" checked readonly>
									<label for="termsNo12">
										<span class="in">
											<span class=" esse ">(필수)</span>
											통합브랜드 필수항목 개인정보 수집 및 이용
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#ykbrand_privacy_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="ykbrand_marketing_agree" id="termsNo14" data-id="14">
									<label for="termsNo14">
										<span class="in">
											<span class=" sel ">(선택)</span>
											통합브랜드 마케팅 목적 이용
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#ykbrand_marketing_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="ykbrand_ad_receive_agree" id="termsNo16" data-id="16" checked>
									<label for="termsNo16">
										<span class="in">
											<span class=" sel ">(선택)</span>
											<strong>광고성 정보 수신 전체 동의</strong>
										</span>
									</label>
								</p>
								<div class="select_chk YKBRAND">
					
									<p class="rchk">
										<input type="checkbox" name="ykbrand_adinfo_receive_SMS" id="rchk_SMS_YKBRAND" checked>
										<label for="rchk_SMS_YKBRAND">
											SMS 수신
										</label>
									</p>
					
									<p class="rchk">
										<input type="checkbox" name="ykbrand_adinfo_receive_EMAIL" id="rchk_EMAIL_YKBRAND" checked>
										<label for="rchk_EMAIL_YKBRAND">
											이메일 수신
										</label>
									</p>
								</div>
							</li>
							<!--<span>회원님께 드리는 이벤트/할인혜택/상품 등의 정보 수신에 동의해주세요.</span>-->
						</ul>
					
						<ul class="terms_chk" id="momq_terms">
							<li class="first">
								<p><input type="checkbox" id="momq_all" class="all_check"><label for="momq_all">맘큐 약관 전체 동의</label></p>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="momq_terms_agree" id="termsNo4" data-id="4" checked readonly>
									<label for="termsNo4">
										<span class="in">
											<span class=" esse ">(필수)</span>
											맘큐 이용약관
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#momq_terms_agree_layer">보기</a>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="momq_privacy_agree" id="termsNo5" data-id="5" checked readonly>
									<label for="termsNo5">
										<span class="in">
											<span class=" esse ">(필수)</span>
											맘큐 필수항목 개인정보 수집 및 이용
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#momq_privacy_agree_layer">보기</a>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="monit_privacy_consent_offer_agree" id="termsNo6" data-id="6">
									<label for="termsNo6">
										<span class="in">
											<span class=" esse ">(필수)</span>
											개인정보 제3자 제공동의
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#monit_privacy_consent_offer_agree_layer">보기</a>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="momq_marketing_agree" id="termsNo8" data-id="8">
									<label for="termsNo8">
										<span class="in">
											<span class=" sel ">(선택)</span>
											맘큐 마케팅 목적 이용
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#momq_marketing_agree_layer">보기</a>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="momq_ad_receive_agree" id="termsNo10" data-id="10">
									<label for="termsNo10">
										<span class="in">
											<span class=" sel ">(선택)</span>
											<strong>광고성 정보 수신 전체 동의</strong>
										</span>
									</label>
								</p>
								<div class="select_chk MOMQ">
					
									<p class="rchk">
										<input type="checkbox" name="momq_adinfo_receive_SMS" id="rchk_SMS_MOMQ">
										<label for="rchk_SMS_MOMQ">
											SMS 수신
										</label>
									</p>
					
									<p class="rchk">
										<input type="checkbox" name="momq_adinfo_receive_EMAIL" id="rchk_EMAIL_MOMQ">
										<label for="rchk_EMAIL_MOMQ">
											이메일 수신
										</label>
									</p>
									<!--<span>회원님께 드리는 이벤트/할인혜택/상품 등의 정보 수신에 동의해주세요.</span>-->
								</div>
							</li>
					
						</ul>
					
						<ul class="terms_chk" id="mygf_terms">
							<li class="first">
								<p><input type="checkbox" id="mygf_all" class="all_check"><label for="mygf_all">달다방 약관 전체 동의</label></p>
							</li>
					
							<li>
								<p>
									<input type="checkbox" name="mygf_terms_agree" id="termsNo18" data-id="18" checked readonly>
									<label for="termsNo18">
										<span class="in">
											<span class=" esse ">(필수)</span>
											달다방 이용약관
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#mygf_terms_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="mygf_marketing_agree" id="termsNo19" data-id="19" checked>
									<label for="termsNo19">
										<span class="in">
											<span class=" sel ">(선택)</span>
											달다방 마케팅 목적 이용
										</span>
									</label>
								</p>
					
								<a href="javascript:;" class="btn_vw openLayer" data-hash="#mygf_marketing_agree_layer">보기</a>
							</li>
							<li>
								<p>
									<input type="checkbox" name="mygf_ad_receive_agree" id="termsNo20" data-id="20">
									<label for="termsNo20">
										<span class="in">
											<span class=" sel ">(선택)</span>
											<strong>광고성 정보 수신 전체 동의</strong>
										</span>
									</label>
								</p>
								<div class="select_chk MYGF">
					
									<p class="rchk">
										<input type="checkbox" name="mygf_adinfo_receive_SMS" id="rchk_SMS_MYGF">
										<label for="rchk_SMS_MYGF">
											SMS 수신
										</label>
									</p>
					
									<p class="rchk">
										<input type="checkbox" name="mygf_adinfo_receive_EMAIL" id="rchk_EMAIL_MYGF">
										<label for="rchk_EMAIL_MYGF">
											이메일 수신
										</label>
									</p>
								</div>
							</li>
							<!--<span>회원님께 드리는 이벤트/할인혜택/상품 등의 정보 수신에 동의해주세요.</span>-->
						</ul>
					</div>

					<div class="btnwrap btn_foo">
						<a href="#" class="btnDefault btnfull">확인</a>
					</div>

				</div>

			</div>
		</div>
	</div>

	<!-- 추천인 ID 검색 레이어  -->
	<div class="layerbody" id="pwdChangeLayer">
		<div class="layerwrap pwdchangelayer">
			<a class="btn_close" onclick="layerClose('pwdChangeLayer')"><span class="a11y_sr-only">close</span></a>
			<div class="layhead">
				<p>비밀번호 변경</p>
			</div>
			<div class="layconts">
				<div>
					<ul class="input_frm">
						<li>
							<p class="ti">현재 비밀번호</p>
							<!-- 20210315 비밀번호 마스킹 수정 -->
							<p class="put masking">
								<input type="password" value="" placeholder="현재 비밀번호를 입력해주세요." >
								<button class="btn_masking"><i class="ic_show"></i></button>
							</p>
							<!--// 20210315 비밀번호 마스킹 수정 -->
							<span class="errtx">현재 비밀번호가 일치하지 않습니다.</span>
						</li>
						<li>
							<p class="ti">신규 비밀번호</p>
							<!-- 20210315 비밀번호 마스킹 수정 -->
							<p class="put masking">
								<input type="password" value="" placeholder="8~20자, 영문/숫자/특수문자 조합" >
								<button class="btn_masking"><i class="ic_show"></i></button>
							</p>
							<!--// 20210315 비밀번호 마스킹 수정 -->
							<span class="errtx">8~20자의 영문/숫자/특수문자 조합으로 입력해주세요.</span>
						</li>
						<li>
							<p class="ti">비밀번호 확인</p>
							<!-- 20210315 비밀번호 마스킹 수정 -->
							<p class="put masking">
								<input type="password" value="" placeholder="비밀번호를 다시 입력해주세요." >
								<button class="btn_masking"><i class="ic_show"></i></button>
							</p>
							<!--// 20210315 비밀번호 마스킹 수정 -->
							<span class="errtx">비밀번호와 비밀번호 확인이 일치하지 않습니다.</span>
						</li>
					</ul>
				</div>
				<div class="btnwrap">
					<a href="#" class="btn btn_blue btnfull">변경</a>
				</div>

			</div>
		</div>
	</div>
	<!--// 추천인 ID 검색 레이어  -->
</body>
<script>
// 레이어팝업 열기
function layerOpen(set) {
  $('#' + set).addClass('show');
  $('body, html').addClass('noscroll');
}
// 레이어팝업 닫기
function layerClose(set) {
  $('#' + set).removeClass('show');
  $('body, html').removeClass('noscroll');
}
</script>
<script>
	// 20210315 비밀번호 마스킹	
	$('.masking .btn_masking').on('click', function() {
		if ($(this).parent('.masking').hasClass('_not')) {
				$(this).parent('.masking').removeClass('_not');
				$(this).parent('.masking').find('input').attr('type', 'password');
				$(this).children('i').attr('class','ic_show');
		} else {
				$(this).parent('.masking').addClass('_not');
				$(this).parent('.masking').find('input').attr('type', 'text');
				$(this).children('i').attr('class','ic_hide');
		}
	});
</script>
</html>
