<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>로그인 | 유한킴벌리</title>

	<!-- Google Tag Manager -->
	<!-- <script>
		(function(w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({
				'gtm.start': new Date().getTime(),
				event: 'gtm.js'
			});
			var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s),
				dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-W86233');
	</script> -->
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
	<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/mypage.css">
	<script>
		var userId = "";
		var ImageServerUrl = "http://www.ykbrand.co.kr";
		var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
	</script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
	<!--[if lte IE 9]><script src="https://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/common.js"></script>
	<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

	<script src="https://ssl.pincrux.com/convjs.pin" type="text/javascript"></script>


</head>

<body>

    <div class="momq_pop" >
        <div class="pop_header">
            <div class="pop_head">
                <div style="text-align:left; padding-left:95px;"><img src="https://www.ykbrand.co.kr/Common/images/common/complete_tip.png" alt="tip" /></div><div><span style="vertical-align:bottom; font-size:46px;">알뜰 쇼핑 <span style="vertical-align:bottom; font-weight:bold;">TIP</span></span></div>
            </div>
            <span>잠깐! momQ 이용약관에 동의하시면 이런 혜택이 있습니다.</span>
        </div>
        <div class="pop_content">
            <img style="margin-bottom:25px;" src="https://www.ykbrand.co.kr/Common/images/common/momQ_2000.png" alt="tip" />
            <img style="margin-bottom:25px;" src="https://www.ykbrand.co.kr/Common/images/common/momQ_discount.png" alt="tip" />
            <div style="padding-bottom:50px;">
                <div class="savemoney_btn">적립금 받으러 가기</div><div class="pop_close_btn" onclick="btnexit();">닫기</div>
            </div>
        </div>
    </div>


</body>

</html>
