<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>회원가입 | 유한킴벌리 통합브랜드</title>

	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
	<script>
		// var userId = "";
		// var ImageServerUrl = "http://www.ykbrand.co.kr";
		// var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
	</script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
	<!--[if lte IE 9]><script src="https://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/common.js?ver=201805281043"></script>
	<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

	<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>

	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script type="text/javascript" charset="utf-8">
	//
	</script>
	<script type="text/javascript">
	//
	</script>

</head>

<body class="sso">
	<div id="yk_lodings" class="maskWhite" style="display:none;">
		<div class="lodings"></div>
	</div>

	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->

	<!-- wrap -->
	<div id="wrap">
		<!-- header -->
		<header>
			<!-- headerCont -->
			<div class="headerCont">
          <h1>
            <a href="/"><img src="https://www.ykbrand.co.kr/Common/images/common/yk_simple_logo.png" alt="유한킴벌리 통합회원"></a>
            <a style="float:right;" href="http://www.momq.co.kr/main/initMain.action" target="blank">
              <img style="text-align:right;" src="https://www.ykbrand.co.kr/Common/images/common/sso_momq.jpg" alt="momQ 로고">
            </a>
          </h1>
      </div>
			<!-- //headerCont -->
		</header>
		<!-- //header -->
		<!-- container -->
		<div id="container">

			<script>
				$(function() {
					if ("PRESENT" == 'YKBRAND'.toUpperCase()) {
						alert("선물대잔치는 19년 1월 15일부터 momQ에서 새롭게 찾아 뵙겠습니다.");
						location.href = '/';
					}
				});
			</script>
			<div id="container">
				<!-- sso 컨텐츠 -->

				<!-- 201902 회원가입추천 -->
				<div class="ssoContent">
					<!-- 타이틀 영역 -->
					<div class="titArea st mar_b30">
						<h2>회원가입</h2>
						<p>유한킴벌리 통합회원 가입을 환영합니다.</p>
					</div>
					<!--//타이틀 영역 -->

					<!-- 회원가입 안내 -->
					<div class="rcmem_join">
						<p><img src="../../Common/images/mypage/ico_rcjoin.gif" alt="" /></p>
						<div class="infotx mar_t30">
              <p>
								<strong>홍길동</strong> 님이	<br />
								유한킴벌리 통합브랜드 가입을 추천합니다.
								<span class="inp01">
									지금 회원가입하시면 통합회원 가입 축하 포인트(2,000원)<br />+ 추천인 ID 입력 포인트(2,000원)를 드립니다.
								</span>
								<span class="inp02">
	                <span>- 추천인 ID 입력 포인트는 회원가입 시 자동 지급됩니다.</span>
	                <span>- 통합회원 가입 축하 포인트는 가입 후 ‘맘큐 쿠폰 혜택’에서 다운로드 받아주세요.</span>
								</span>
							</p>
							<div class="btn_area">
								<a href="#" class="btnType2">유한킴벌리 통합회원가입</a>
							</div>
						</div>

					</div>
					<!--//회원가입 안내 -->
				</div>
				<!--// 201902 회원가입추천 -->

				<!--//sso 컨텐츠 -->
			</div>
			<!--//container -->


			<!-- SNS Login -->
			<!-- <form id="snsJoinFrm" name="snsJoinFrm" method="post">
				<input type="hidden" name="siteCode" id="siteCode" value="YKBRAND" />
				<input type="hidden" name="returnUrl" id="returnUrl" value="/" />
				<input type="hidden" name="resultUrl" id="resultUrl" />

				<input type="hidden" name="snsType" id="snsType" value="" />
				<input type="hidden" name="name" id="name" value="" />
				<input type="hidden" name="nickName" id="nickName" value="" />
				<input type="hidden" name="email" id="email" value="" />
				<input type="hidden" name="snsIndexKey" id="snsIndexKey" value="" />
			</form> -->
			<!-- // SNS Login -->



		</div>
		<!-- //container -->
		<!-- footer -->
		<footer>
			<!-- footerCont -->
			<div class="footerCont">
				<!-- footsec -->
				<div class="footsec">
					<!-- logo -->
					<p class="footlogo"><img src="https://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리" /></p>

					<!-- footMenu -->
					<ul class="footMenu">
						<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
						<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
					</ul>
					<img style="float:right; margin-top:30px;" src="https://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
					<!-- //footMenu -->
					<!-- corpInfo -->
					<div class="corpInfo">
						주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br /> 고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
					</div>

					<!-- copy-->
					<p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>

					<!-- btnTop -->
					<a href="#" class="btnTop"><img src="https://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기" /></a>
				</div>

				<script>
					function mainTerms(type, width, height) {
						window.open('/Terms/TermsPop?type=' + type, 'terms', 'width=' + width + ', height=' + height + ', menubar=no, status=no, toolbar=no, scrollbars=yes');
					}
				</script>
				<!-- //footsec -->
			</div>
			<!-- //footerCont -->
		</footer>
		<!-- //footer -->

	</div>
	<!-- //wrap -->

	<!-- <input type="hidden" name="adb_declared_id" id="adb_declared_id" value="" />
	<input type="hidden" name="adb_login_id" id="adb_login_id" value="" /> -->


	<script>
	</script>

	<!-- <script type="text/javascript">
		_satellite.pageBottom();
	</script> -->
</body>

</html>
