
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="title" content="유한킴벌리" />
    <meta name="keywords" content="유한킴벌리">
    <meta name="description" content="유한킴벌리" />
    <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
    <title>본인인증 | 회원가입 | 유한킴벌리 통합브랜드</title>

		<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
		<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/common.css">
		<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
		<script>
				var userId = "";
				var ImageServerUrl = "http://www.ykbrand.co.kr";
				var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
		</script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
		<!--[if lte IE 9]><script src="/Common/js/Placeholders.min.js"></script><![endif]-->
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.fileupload.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.fileupload-process.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/common.js"></script>
		<script src="https://assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

    <script type="text/javascript">
        $(function () {
            Module_KCP_setURL("/SSL/Join1_Start?returnUrl=%2Fhuggies");
        });
    </script>

</head>
<body class="sso">
    <!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W86233"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <!-- wrap -->
    <div id="wrap">
        <!-- header -->
        <header>
            <!-- headerCont -->
            <div class="headerCont">
                <h1>
                    <a href="/"><img src="https://www.ykbrand.co.kr/Common/images/common/simple_yk_logo.png" alt="유한킴벌리 통합회원" /></a>
                </h1>
            </div>
            <!-- //headerCont -->
        </header>
        <!-- //header -->
        <!-- container -->
        <div id="container">


<!-- sso 컨텐츠 -->
<div class="ssoContent">
    <!-- 타이틀 영역 -->
    <div class="titArea">
            <h2>회원가입</h2>
            <p class="pageInfo">유한킴벌리 통합회원 가입을 환영합니다.</p>
    </div>
    <!-- //타이틀 영역 -->
    <!-- 회원가입 -->
    <div class="joinArea">
        <!-- step -->
        <div class="step">
                <img src="https://www.ykbrand.co.kr/Common/images/common/joinStep1.gif" alt="01.본인인증" />
        </div>
        <!-- //step -->
        <!-- 본인인증 -->
        <div class="ownCertify2" style="height:280px;">
                <!-- 추후 삭제(style) -->
                <p class="txt1">유한킴벌리 통합회원 가입을 환영합니다.</p>
                <p class="txt2"><!-- 20171219 s -->
                    신규 가입 및 통합회원 ID로 전환을 위해 본인인증(휴대폰 인증)을 진행하여 주십시오.<br>
                    본인인증 후 가입정보가 확인되면 <strong>기존에&nbsp;적립하신&nbsp;포인트&nbsp;등의&nbsp;이관</strong>을&nbsp;진행해 드립니다.<br><br>
                    momQ, 선물대잔치 및 유한킴벌리 브랜드 사이트의 기존회원 중 휴면회원은<br>
                    본인인증 및 아이디 전환을 통해 휴면계정이 해제되고, 통합회원으로 가입됩니다.
                </p><!-- 20171219 e -->
                <!-- 버튼영역 -->
                <div class="btnArea">
                    <a href="javascript:Module_KCP_Open();" class="btnType2">휴대폰 인증</a>
                </div>
                <!-- //버튼영역 -->
        </div>
        <!-- //본인인증 -->
        <!-- 통합회원 가입 안내 -->
        <div class="joinInfo2">
            <p class="tit">1. 유한킴벌리 통합회원 ID란?</p>
						<!-- 20171219 s -->
            <div class="info">
                - 브랜드 사이트,momQ,모닛,선물대잔치에 공통 적용되는 통합 ID입니다.<br>
                - (하기스,굿나이트,화이트,좋은느낌,크리넥스,스카트,마이비데,디펜드,티엔,그린핑거,우리나눔 TV,골든프렌즈)<br>
                <span style="margin-left:10px;"></span>브랜드 사이트와 momQ,모닛,선물대잔치의 기존 회원님께서는 아래 통합회원 가입을 통해서 통합회원 전환을 진행해 주세요.<br><br>
                <strong class="st">이용안내</strong>
                - 기존 회원님께서는 본인인증을 통해 기존에 사용하시던 ID를 찾으실 수 있고 회원전환을 통해 통합회원 ID로 사용하실 수 있습니다.<br>
                - 브랜드 사이트,모닛,momQ,선물대잔치 약관 동의를 하시면 통합회원 ID로 별도 회원가입 없이 각 사이트를 이용하실 수 있습니다.
            </div>
						<!-- 20171219 s -->
        </div>
        <!-- //통합회원 가입 안내 -->
        <!-- 이용 가능 사이트 안내 -->
        <div class="siteInfo mgt50">
            <p class="tit">2. 이용 가능 사이트 안내</p>
            <p class="stit">유한킴벌리 브랜드 사이트<a href="#none" class=""><img src="https://www.ykbrand.co.kr/Common/images/btn/btn_site_on.gif" alt="이용 가능 사이트 열기" /></a></p>
            <div style="display:none;">
                <table>
                    <caption>유한킴벌리 브랜드 사이트 안내</caption>
                    <colgroup><col style="width:20%" /><col style="width:30%" /><col style="width:20%" /><col style="width:30%" /></colgroup>
                    <tbody>
											<!-- 20171219 s -->
                        <tr>
                            <th scope="row">1.  momQ</th>
                            <td><a href="http://www.momq.co.kr" target="_blank" title="새창에서 열림">www.momq.co.kr</a></td>
                            <th>2.  모닛</th>
                            <td><a href="http://www.ykbrand.co.kr" target="_blank" title="새창에서 열림">모닛</a></td>
                        </tr>
                        <tr>
														<th scope="row">3.  통합브랜드</th>
														<td><a href="http://www.ykbrand.co.kr" target="_blank" title="새창에서 열림">www.ykbrand.co.kr</a></td>
														<th>4.  선물대잔치</th>
														<td><a href="http://www.happybabyshop.co.kr" target="_blank" title="새창에서 열림">www.happybabyshop.co.kr</a></td>
                        </tr>
                        <tr>
                            <th scope="row">5.  하기스</th>
                            <td><a href="http://www.ykbrand.co.kr/huggies" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/huggies</a></td>
                            <th>6.  굿나이트</th>
                            <td><a href="http://www.ykbrand.co.kr/goodnite" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/goodnite</a></td>
                        </tr>
                        <tr>
                            <th scope="row">7.  화이트</th>
                            <td><a href="http://www.ykbrand.co.kr/white" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/white</a></td>
                            <th>8.  좋은느낌</th>
                            <td><a href="http://www.ykbrand.co.kr/goodfeel" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/goodfeel</a></td>
                        </tr>
                        <tr>
                            <th scope="row">9.  크리넥스</th>
                            <td><a href="http://www.ykbrand.co.kr/kleenex" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/kleenex</a></td>
                            <th>10.  스카트</th>
                            <td><a href="http://www.ykbrand.co.kr/scott" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/scott</a></td>
                        </tr>
                        <tr>
                            <th scope="row">11.  마이비데</th>
                            <td><a href="http://www.ykbrand.co.kr/mybidet" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/mybidet</a></td>
                            <th>12.  디펜드</th>
                            <td><a href="http://www.ykbrand.co.kr/depend" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/depend</a></td>
                        </tr>
                        <tr>
                            <th scope="row">13.  티엔</th>
                            <td><a href="http://www.ykbrand.co.kr/tn" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/tn</a></td>
                            <th>14.  그린핑거</th>
                            <td><a href="http://www.ykbrand.co.kr/greenfinger" target="_blank" title="새창에서 열림">www.ykbrand.co.kr/greenfinger</a></td>
                        </tr>
                        <tr>
                            <th scope="row">15.  우리나눔TV</th>
                            <td><a href="http://www.woorinanumtv.org" target="_blank" title="새창에서 열림">www.woorinanumtv.org</a></td>
                            <th>16.  골든프렌즈</th>
                            <td><a href="http://www.goldenfriends.yuhan-kimberly.co.kr" target="_blank" title="새창에서 열림">www.goldenfriends.yuhan-kimberly.co.kr</a></td>
                        </tr>
												<!-- 20171219 e -->
                    </tbody>
                </table>
            </div>
        </div>
        <!-- //이용 가능 사이트 안내 -->
    </div>
    <!-- //회원가입 -->
</div>
<!-- //sso 컨텐츠 -->


<script type="text/javascript">
    var NextURI = "";
    $(function () {
        $startSlide = 0;
        var today = new Date();
        var month = today.getMonth() + 1;
        if (parseInt(month) < 10) { month = "0" + month; }
        $("#ordr_idxx").val(today.getFullYear() + "" + month + "" + today.getDate() + "" + today.getTime());
    });
    function Module_KCP_Open() {

        if ((navigator.userAgent.indexOf("Android") > -1 || navigator.userAgent.indexOf("iPhone") > -1) == false) // 스마트폰이 아닌경우
        {
            var return_gubun;
            var width = 410;
            var height = 500;
            var leftpos = screen.width / 2 - (width / 2);
            var toppos = screen.height / 2 - (height / 2);
            var winopts = "width=" + width + ", height=" + height + ", toolbar=no,status=no,statusbar=no,menubar=no,scrollbars=no,resizable=no";
            var position = ",left=" + leftpos + ", top=" + toppos;
            var AUTH_POP = window.open('', 'auth_popup', winopts + position);
        }
        form_auth.method = "post";
        form_auth.target = "auth_popup"; // !!주의 고정값 ( 리턴받을때 사용되는 타겟명입니다.)
        form_auth.action = "/SSL/Module_KCP_Send";
        form_auth.submit();
    }
    function Module_KCP_Result(frmData) {
        for (i = 0 ; i < frmData.length ; i++) {
            if (frmData.elements[i].name != "__VIEWSTATE") {
                $("#form_auth_result").append('<input type="hidden" name="' + frmData.elements[i].name + '" value="' + frmData.elements[i].value + '" />');
            }
        }
        form_auth_result.method = "post";
        form_auth_result.action = NextURI;
        form_auth_result.submit();
    }
    function Module_KCP_setURL(URL) {
        NextURI = URL;
    }
    function Module_KCP_setValue(Name, Value) {
        $("#form_auth_result").append('<input type="hidden" name="' + Name + '" value="' + Value + '" />');
    }
</script>

<form name="form_auth">
    <input type="hidden" name="ordr_idxx" id="ordr_idxx" value="" placeholder="(필수)주문번호" />
    <input type="hidden" name="req_tx" value="cert" placeholder="요청종류" />
    <input type="hidden" name="cert_method" value="01" placeholder="요청구분" />
    <input type="hidden" name="web_siteid" value="J15092200961" placeholder="웹사이트 아이디" />
    <input type="hidden" name="fix_commid" value="" placeholder="노출 통신사(SKT:SKT, KT:KTF, LGU+:LGT)" />
    <input type="hidden" name="site_cd" value="V6672" placeholder="사이트 코드(test:S6186)" />
    <input type="hidden" name="Ret_URL" id="Ret_URL" value="https://www.ykbrand.co.kr/SSL/Module_KCP_Recive" placeholder="인증결과 리턴 페이지 (가맹점 URL)" />
    <input type="hidden" name="cert_otp_use" value="Y" placeholder="(Y:실명 확인+OTP 점유확인, N:실명 확인Only)" />
    <input type="hidden" name="cert_enc_use" value="Y" placeholder="고정값" />
    <input type="hidden" name="cert_able_yn" value="Y" placeholder="본인확인 input 비활성화" />
    <input type="hidden" name="web_siteid_hashYN" value="" placeholder="website ID 검증" />
    <input type="hidden" name="res_cd" value="" placeholder="" />
    <input type="hidden" name="res_msg" value="" placeholder="" />
    <input type="hidden" name="veri_up_hash" value="" placeholder="up_hash 검증을 위한 필드" />
    <input type="hidden" name="param_opt_1" value="" placeholder="(옵션)인증완료시 리턴" />
    <input type="hidden" name="param_opt_2" value="" placeholder="(옵션)인증완료시 리턴" />
    <input type="hidden" name="param_opt_3" value="" placeholder="(옵션)인증완료시 리턴" />
    <input type="hidden" name="user_name_url_yn" value="Y" />
</form>
<form name="form_auth_result" id="form_auth_result"></form>
        </div>
        <!-- //container -->
        <!-- footer -->
        <footer>
            <!-- footerCont -->
            <div class="footerCont">
                <!-- footsec -->
                <div class="footsec">
    <!-- logo -->
    <p class="footlogo"><img src="https://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리" /></p>

    <!-- footMenu -->
    <ul class="footMenu">
        <li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
        <li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
    </ul>
    <img style="float:right; margin-top:30px;" src="https://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
    <!-- //footMenu -->
    <!-- corpInfo -->
    <div class="corpInfo">
        주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br />
        고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
    </div>

    <!-- copy-->
    <p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>

    <!-- btnTop -->
    <a href="#" class="btnTop"><img src="https://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기" /></a>
</div>

<script>
    function mainTerms(type, width, height) {
        window.open('/Terms/TermsPop?type=' + type, 'terms', 'width='+width+', height='+height+', menubar=no, status=no, toolbar=no, scrollbars=yes');
    }
</script>
                <!-- //footsec -->
            </div>
            <!-- //footerCont -->
        </footer>
        <!-- //footer -->

    </div>
    <!-- //wrap -->


<script type="text/javascript">_satellite.pageBottom();</script>
</body>
</html>
