<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="title" content="유한킴벌리 통합브랜드" />
	<meta name="description" content="유한킴벌리 통합브랜드" />
	<meta name="keywords" content="유한킴벌리 통합브랜드" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>로그인 | 유한킴벌리 통합브랜드</title>

	<!-- Google Tag Manager -->
	<script>
		// (function(w, d, s, l, i) {
		// 	w[l] = w[l] || [];
		// 	w[l].push({
		// 		'gtm.start': new Date().getTime(),
		// 		event: 'gtm.js'
		// 	});
		// 	var f = d.getElementsByTagName(s)[0],
		// 		j = d.createElement(s),
		// 		dl = l != 'dataLayer' ? '&l=' + l : '';
		// 	j.async = true;
		// 	j.src =
		// 		'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
		// 	f.parentNode.insertBefore(j, f);
		// })(window, document, 'script', 'dataLayer', 'GTM-W86233');
	</script>
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/main.css">
	<!-- main css -->
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/swiper.css">
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
	<script>
		var userId = "";
		var ImageServerUrl = "http://www.ykbrand.co.kr";
		var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
	</script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js?ver=201801191305"></script>
	<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
	<script>
		jQuery.validator.setDefaults({
			ignore: "",
			onkeyup: false,
			onclick: false,
			onfocusout: false,
			showErrors: function(errorMap, errorList) {
				if (this.numberOfInvalids()) {
					if (errorList.length > 0) {
						if (errorList[0].message)
							alert(errorList[0].message);
						$(errorList[0].element).focus();
					}
				}
			}
		});
	</script>

	<script src="https://ssl.pincrux.com/convjs.pin" type="text/javascript"></script>
	<script>
		$(function() {
			$("#userPw").keydown(function(e) {
				if (e.keyCode == 13) login();
			});

			$("#btnLogin").click(function(e) {
				login();
				e.preventDefault();
			});

			var rtCode = "";
			if (rtCode == "trans" || rtCode == "simple" || rtCode == "duple") {
				$('#transMember').show();
			} else if (rtCode == "momq_pwd") {
				if (confirm("비밀번호가 일치하지 않습니다. 아이디/비밀번호 찾기를 진행 하시겠습니까?")) {
					location.href = 'https://m.momq.co.kr/member/MemberSearchIdPasswdPop.action?searchType=id&returnUrl=' + encodeURIComponent(location.href);
				}
			}
		});

		function login() {
			var result = true;
			if ($.trim($("#userId").val()) == "") {
				alert("아이디를 입력해 주세요.");
				$("#userId").focus();
				result = false;
			} else if ($.trim($("#userPw").val()) == "") {
				alert("비밀번호를 입력해 주세요.");
				$("#userPw").focus();
				result = false;
			}

			if (result == true) {
				$("form").submit();
			}
		}

		function FindMomqId() {
			location.href = "https://m.momq.co.kr/member/MemberSearchIdPasswdPop.action?searchType=id&brandSsoReturnUrl=" + encodeURIComponent(location.href);
		}

		function FindMomqPwd() {
			location.href = "https://m.momq.co.kr/member/MemberSearchIdPasswdPop.action?searchType=pwd&brandSsoReturnUrl=" + encodeURIComponent(location.href);
		}
	</script>

</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W86233"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<!-- skip_nav -->
	<a href="#contents" class="skip">본문 바로가기</a>

	<!-- wrap -->
	<div id="wrap" class="sso">
		<div id="contents">

			<!-- header -->
			<header>
				<h1>유한킴벌리 SSO회원 로그인</h1>
				<a href="javascript:history.back()" class="backBtn"><img src="../../Common/images/btn/btn_back.png" alt="뒤로가기" /></a>
			</header>
			<!-- //header -->
			<hr />

			<!-- container -->
			<div id="container">
				<form action="/SSL/Login?returnUrl=http%3A%2F%2Fm.momq.co.kr%2Fmain%2FinitMain.action%3FtargetLink%3DY%23curationGoods&amp;siteCode=MOMQ&amp;resultUrl=https%3A%2F%2Fm.momq.co.kr%2Fbrandsso%2FbrandSsoLoginResult.action" method="post">
					<div class="divider">
						<!-- 20180302 수정 s -->
						<p class="sso_brand_img clearfix">
							<a href="http://m.ykbrand.co.kr/"><img style="padding:10px 0px 10px 10px; width:150px;" src="../../Common/images/common/yk_simple_logo.png" alt="유한킴벌리 SSO회원" /></a>
							<!-- <a style="float:right;text-align:right;" href="http://m.momq.co.kr/main/initMain.action">
                <img style="max-width:80px; padding:10px 10px 10px 0px;" src="../../Common/images/common/sso_momq.jpg" alt="momQ 로고" />
              </a> -->
						</p>
						<!-- 20180302 수정 e -->

						<!-- 20180302 수정 s -->
						<div id="signin">
							<div class="cntBox bdn pT5">
								<p class="ts14">간편회원 로그인</p>
							</div>
							<div class="inT">
								<div class="social_login">
									<ul class="clearfix">
										<li><a href="#"><img src="../../Common/images/simple/simple_naver_login.jpg" alt="네이버 간편 로그인"></a></li>
										<li><a href="#"><img src="../../Common/images/simple/simple_facebook_login.jpg" alt="페이스북 간편 로그인"></a></li>
										<li><a href="#"><img src="../../Common/images/simple/simple_kakao_login.jpg" alt="카카오 간편 로그인"></a></li>
									</ul>
									<img class="simple_or" src="../../Common/images/simple/simple_or.jpg" alt="카카오 간편 로그인">
								</div>
								<p class="ts14 mar_b10">통합회원 로그인</p>
								<div class="simple_login_area ">
									<table style="width:100%;">
									<colgroup>
									<col style="width:60px;"> <col> <col style="width:80px;">
									</colgroup>
									<tbody><tr>
										<td>아이디</td>
										<td>
											<label for="userId" class="full"><input id="userId" name="userId" placeholder="아이디를 입력해 주십시오." title="사용자 아이디 입력" type="text" value="" /></label>
										</td>
										<td rowspan="2">
											<div class="simple_login_btn">
												<a href="#none" id="btnLogin">로그인</a>
											</div>
										</td>
									</tr>
									<tr>
										<td>비밀번호</td>
										<td>
											<label for="userPw" class="full"><input class="mt10" id="userPw" name="userPw" placeholder="비밀번호를 입력해 주십시오." title="사용자 비밀번호 입력" type="password" value="" /></label>
										</td>
									</tr>
									</tbody></table>
								</div>
							</div>
							<!-- <div class="findlnk mar_t10">
								<a href="/SSL/FindId_Certify?returnUrl=%2F">아이디 찾기</a>
								<a href="/SSL/FindPwd_Certify?returnUrl=%2F">비밀번호 찾기</a>
							</div> -->
							<div class="findlnk">
								<label>
                    <img src="https://m.ykbrand.co.kr/Common/images/common/simple_sso_small_logo.png" height="15" alt="통합회원" />
                </label>
								<a href="/SSL/FindId_Certify?siteCode=MOMQ&amp;returnUrl=http%3A%2F%2Fm.momq.co.kr%2Fmain%2FinitMain.action%3FtargetLink%3DY%23curationGoods&amp;resultUrl=https%3A%2F%2Fm.momq.co.kr%2Fbrandsso%2FbrandSsoLoginResult.action" class="non">아이디 찾기</a>
								<a href="/SSL/FindPwd_Certify?siteCode=MOMQ&amp;returnUrl=http%3A%2F%2Fm.momq.co.kr%2Fmain%2FinitMain.action%3FtargetLink%3DY%23curationGoods&amp;resultUrl=https%3A%2F%2Fm.momq.co.kr%2Fbrandsso%2FbrandSsoLoginResult.action">비밀번호 찾기</a>
							</div>
							<hr class="hrline"/>
							<div class="findlnk">
								<label>
                    <img src="../../Common/images/common/simple_momq_small_logo.png" height="15" alt="MOMQ" />
                </label>
								<a href="https://www.momq.co.kr/member/MemberSearchIdPasswdPop.action?searchType=id&brandSsoReturnUrl=http%3A%2F%2Fwww.momq.co.kr%2Fmain%2FinitMain.action" class="non">아이디 찾기</a>
								<a href="https://www.momq.co.kr/member/MemberSearchIdPasswdPop.action?searchType=id&brandSsoReturnUrl=http%3A%2F%2Fwww.momq.co.kr%2Fmain%2FinitMain.action#">비밀번호 찾기</a>
							</div>
							<div class="momq_login_content">
								<p class="tx">아직 통합회원으로 전환하지 않은 경우 momQ 아이디/비밀번호 찾기를 이용해주세요!</p>
								<img src="../../Common/images/common/simple_momq_cupon.png" />
							</div>

							<div class="inT">
								<p class="simple_title">유한킴벌리 회원이 되시면</p>
								<div class="simple_content">
									<span class="tx">하나의 ID로 momQ, 통합 브랜드, 선물대잔치 사이트의 다양한 서비스를 편리하게 이용할 수 있습니다.</span>
									<br />
									<span class="tx">기존 맘큐 회원은 로그인 후 본인인증 과정을 거쳐 유한킴벌리 통합회원으로 전환 후 momQ를 이용하실 수 있습니다.</span>
								</div>
								<div class="btn_area">
									<a class="black_btn" href="#">회원가입</a>
								</div>
							</div>
						</div>
						<!-- 20180302 수정 e -->

					</div>
				</form>
			</div>
			<!-- 회원전환 안내 레이어 -->
			<div class="login_momq_pop layerPop" id="transMember" style="display:none;">
				<div class="layerCont">
					<div class="title">
						<p>
							momQ 사이트를 이용하시는 고객님들께 감사드립니다.
						</p>
					</div>
					<div class="content">
						<p>
							고객님들의 편리한 이용을 위해, 별도 운영하던 맘큐 회원을 '유한킴벌리 통합회원'으로 통합 운영합니다.
							<span>간단한 절차를 거쳐 통합회원으로 전환</span> 후 이용해주세요.
						</p>
						<p></p>
						<p>
							(잠깐!)자동로그인 이용하던 고객님은 <span>통합회원 전환 후 재로그인시, 자동로그인 선택</span>을 해주세요.
						</p>
						<div class="btn">
							<a href="/SSL/Join1_Start?siteCode=MOMQ&returnUrl=http%3A%2F%2Fm.momq.co.kr%2Fmain%2FinitMain.action%3FtargetLink%3DY%23curationGoods&resultUrl=http%3A%2F%2Fm.momq.co.kr%2Fmain%2FinitMain.action%3FtargetLink%3DY%23curationGoods">확인</a>
						</div>
					</div>
				</div>
			</div>
			<!-- //회원전환 안내 레이어 -->



		</div>
		<hr />
		<!-- footer -->
		<footer>
			<p class="flogo">
				<img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리" />
				<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
				<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
			</p>
			<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
			<ul class="info">
				<li>대표자 : 최규복</li>
				<li>사업자번호 : 120-81-11436</li>
				<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
			</ul>
			<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			<p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
			<img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
		</footer>

		<!-- sns공유하기 팝업 -->
		<div id="selSns" class="popup hide">
			<h3>공유하기</h3>
			<div class="popCont ac">
				<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
				<a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
			</div>
			<a href="#none" class="popClose"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
		</div>
		<!-- //sns공유하기 팝업 -->

		<div id="dim"></div>

		<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
		<!-- //footer -->
	</div>
	<!-- //wrap -->
	<input type="hidden" name="adb_declared_id" id="adb_declared_id" value="" />
	<input type="hidden" name="adb_login_id" id="adb_login_id" value=" " />


	<script>
		// (function(i, s, o, g, r, a, m) {
		// 	i['GoogleAnalyticsObject'] = r;
		// 	i[r] = i[r] || function() {
		// 		(i[r].q = i[r].q || []).push(arguments)
		// 	}, i[r].l = 1 * new Date();
		// 	a = s.createElement(o),
		// 		m = s.getElementsByTagName(o)[0];
		// 	a.async = 1;
		// 	a.src = g;
		// 	m.parentNode.insertBefore(a, m)
		// })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		//
		// ga('create', 'UA-70997736-2', 'auto');
		// ga('send', 'pageview');
		//
		//
		// function getUrlVars() {
		// 	var vars = {};
		// 	var parts = decodeURIComponent(window.location.href).replace(/[?&]+([^=&]+)=([^&]*)/gi,
		//
		// 		function(m, key, value) {
		// 			vars[key] = value;
		// 		});
		//
		// 	return vars;
		// } // cid 파라미터 수집
		//
		// var cid = getUrlVars()["cid"];
		//
		// if (cid != undefined)
		// 	ga('create', 'UA-77909035-3', 'auto', 'Momq', {
		// 		'clientId': cid + ""
		// 	});
		// else
		// 	ga('create', 'UA-77909035-3', 'auto', 'Momq');
		//
		// ga('Momq.send', 'pageview');
	</script>



	<script type="text/javascript">
		// _satellite.pageBottom();
	</script>
	<script>
		// (function() {
		// 	var v = 1519885661 * 3.1415926535898;
		// 	v = Math.floor(v);
		// 	document.cookie = "__zjc590=" + v + "; expires=Thu, 01 Mar 2018 06:29:30 UTC; path=/";
		// })()
	</script>
</body>

</html>
