<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>로그인 | 유한킴벌리</title>

	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="../../Common/css/mypage.css">
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
	<!--[if lte IE 9]><script src="https://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<!-- <script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/common.js"></script> -->

</head>

<body class="sso">
	<div id="yk_lodings" class="maskWhite" style="display:none;">
		<div class="lodings"></div>
	</div>

	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->

	<div class="loginPop">
		<h1><img src="../../Common/images/common/yk_simple_logo.png" alt="유한킴벌리 통합회원">
        <img class="momq_loingpop_logo" src="../../Common/images/common/simple_momq_logo.png" alt="momq" />
    </h1>
		<div class="simple_login_layout" style="margin:-15px -30px 30px;"></div>
		<p class="simple_login_label">로그인</p>

		<!-- 로그인 영역 -->
		<div class="loginArea simple">
			<!-- 201801 간편가입 s : 클래스 추가 //-->
			<form name="ssoFrm" id="ssoFrm" method="post">
				<input type="hidden" name="siteCode" id="ssoSiteCode" value="MOMQ" />
				<input type="hidden" name="returnUrl" id="ssoReturnUrl" value="http://www.momq.co.kr/main/initMain.action" />
				<input type="hidden" name="resultUrl" id="ssoResultUrl" value="https://www.momq.co.kr/brandsso/brandSsoLoginResult.action" />

				<div class="sec1">
					<dl>
						<dt><label for="userId">아이디</label></dt>
						<dd><input class="input1" id="userId" name="userId" placeholder="아이디를 입력해 주십시오." title="사용자 아이디 입력" type="text" value="" /></dd>
						<dt class="mgt10"><label for="userPw">비밀번호</label></dt>
						<dd class="mgt10"><input class="input1" id="userPw" name="userPw" placeholder="비밀번호를 입력해 주십시오." title="사용자 비밀번호 입력" type="password" value="" /></dd>
					</dl>
					<ul>
						<li><input id="isIdSave" name="isIdSave" style="-webkit-appearance:checkbox" type="checkbox" value="true" /><input name="isIdSave" type="hidden" value="false" /><label for="isIdSave">아이디 저장</label></li>
						<li><a href="javascript:FindId();">아이디 찾기</a></li>
						<li><a href="javascript:FindPwd();">비밀번호 찾기</a></li>
					</ul>
				</div>
				<div class="sec2">
					<a href="#none" id="btnLogin">로그인</a>
				</div>

				<!-- 20180302 추가 s -->
				<div class="simple_pop_or">
					<img src="../../Common/images/Simple/simple_pop_or.jpg" alt="유한킴벌리 로그인">
				</div>
				<ul class="simple_login_small clearfix">
					<li><a href="javascript:;" onclick="jsNaver();"><img src="../../Common/images/Simple/simple_naver_small.jpg" alt="네이버 간편 로그인"></a></li>
					<li><a href="javascript:;" onclick="jsFaceBook();"><img src="../../Common/images/Simple/simple_facebook_small.jpg" alt="페이스북 간편 로그인"></a></li>
					<li><a href="javascript:;" onclick="jsKaKao();"><img src="../../Common/images/Simple/simple_kakao_small.jpg" alt="카카오 간편로그인"></a></li>
				</ul>
				<!-- 20180302 추가 e -->

			</form>
		</div>
		<!-- //로그인 영역 -->

		<div class="momq_loginpop_content">
			<p>* 아직 통합회원으로 전환하지 않은 경우 여기서 확인해 주세요</p>
			<ul class="clearfix">
				<li><img src="../../Common/images/common/simple_momq_small_logo.png" alt="momq" /></li>
				<li class="li_border"><a href="javascript:FindMomqId();">아이디 찾기</a></li>
				<li><a href="javascript:FindMomqPwd();">비밀번호 찾기</a></li>
			</ul>
			<img src="../../Common/images/common/coupon_momq_banner.jpg" alt="유한킴벌리직영몰 맘큐회가입선물" />
			<div class="momq_loginpop_btn_area">
				<button class="btn" onclick="JoinSSO()" style="cursor:pointer;">회원가입</button>
			</div>
		</div>

		<!-- 회원가입 안내 -->
		<div class="momq_loginpop_foot">
			<ul class="blue_blet_lst">
				<li class="red_txt">ID간의 momQ 포인트 및 선물대잔치 점수 이관은 불가합니다.</li><!-- 20180517 modi //-->
				<li>유한킴벌리 SSO회원이 되시면 하나의 ID로 momQ, 통합브랜드, 선물대잔치 사이트의 다양한 서비스를 편리하게 이용할 수 있습니다.</li>
				<li>기존 맘큐 회원은 로그인 후 본인인증 과정을 거쳐 유한킴벌리 SSO회원으로 전환 후 momQ를 이용하실 수 있습니다.</li>
			</ul>
		</div>
		<!-- //회원가입 안내 -->
	</div>

	<!-- 로그인실패 레이어 -->
	<div class="loginErrorLayer layerPop" id="loginError" style="display:none">
		<div class="layerCont">
			<p class="txt1">
				아이디 또는 비밀번호를 다시 확인하십시오.
			</p>
			<p class="txt2">
				<strong>통합회원에 아직 가입하지 않으셨거나</strong>아이디 또는 비밀번호를 잘못 입력하셨습니다.
			</p>
			<div class="btn">
				<a href="javascript:closeLayer();">확인</a>
			</div>
			<!-- 회원가입 안내 -->
			<div class="joinInfo" style="padding-right:30px;">
				<dl>
					<dt>
              <span>유한킴벌리 통합회원 ID란?</span><br>
              브랜드 사이트, momQ, 선물대잔치에 공통 적용되는 통합 ID입니다.
          </dt>
					<dd>- (하기스, 하기스 아기물티슈, 굿나이트, 화이트, 좋은느낌, 크리넥스, 스카트, 마이비데, 디펜드, 티엔, 그린핑거, 우리나눔TV, 골든프렌즈) 브랜드 사이트와 momQ, 선물대잔치의 기존 회원님께서는 아래 통합회원 가입을 통해서 전환을 진행해 주세요.</dd>
				</dl>
				<p class="btnJoin">
					<a href="javascript:btnJoin();">통합회원 가입</a>
				</p>
			</div>
			<!-- //회원가입 안내 -->
		</div>
	</div>
	<!-- //로그인실패 레이어 -->
	<!-- 회원전환 안내 레이어 -->
	<div class="login_momq_pop layerPop" id="transMember" style="display:none">
		<div class="layerCont_pop">
			<div class="title">
				<p>[momQ]유한킴벌리 통합회원 전환 안내</p>
			</div>
			<div class="content">
				<p>
					고객님들의 편리한 이용을 위해, 별도 운영하던 맘큐 회원을<br /> '유한킴벌리 통합회원'으로 통합 운영합니다.<br /> 간단한 절차를 거쳐 통합회원으로 전환 후 이용해주세요.
				</p>
				<p>
					(잠깐!)자동로그인 이용하던 고객님은 <span>통합회원 전환 후 재로그인시, 자동로그인 선택</span>을 해주세요.
				</p>
				<p>
					통합회원 전환 페이지로 이동합니다.
				</p>
				<div class="btn">
					<a href="javascript:openTransMember();">확인</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //회원전환 안내 레이어 -->

	<!-- SNS Login -->
	<!-- <form id="snsLoginFrm" name="snsLoginFrm" method="post">
		<input type="hidden" name="siteCode" id="siteCode" value="MOMQ" />
		<input type="hidden" name="returnUrl" id="returnUrl" value="http://www.momq.co.kr/main/initMain.action" />
		<input type="hidden" name="resultUrl" id="resultUrl" value="https://www.momq.co.kr/brandsso/brandSsoLoginResult.action" />

		<input type="text" name="snsType" id="snsType" value="" />
		<input type="text" name="snsIndexKey" id="snsIndexKey" value="" />
	</form> -->
	<!-- // SNS Login -->


</body>

</html>
