<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<!-- <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" /> -->
	<title>마이페이지 | 유한킴벌리 통합브랜드</title>

	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/common.css?ver=201805281043">
	<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
	<link rel="stylesheet" href="../../Common/css/mypage.css">
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
	<!--[if lte IE 9]><script src="https://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://www.ykbrand.co.kr/Scripts/common.js?ver=201805281043"></script>
	<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

	<script>
		function sendIt() {
			var result = true;
			if ($.trim($("#user_pwd").val()) == "") {
				alert("비밀번호를 입력해 주세요.");
				$("#user_pwd").focus();
				result = false;
			}
			if (result == true) {
				$("form").submit();
			}
		}
		$(function() {
			popupResize(940);
		});
	</script>

</head>

<body class="sso">
	<div id="yk_lodings" class="maskWhite" style="display:none;">
		<div class="lodings"></div>
	</div>

	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->



	<form action="/SSL/Mypage" method="post">
		<!-- 마이페이지 (940 * 626) -->
		<div id="mypage">
			<header>
				<h1><img src="https://www.ykbrand.co.kr/Common/images/mypage/logo.gif" alt="유한킴벌리 통합회원 마이페이지" /></h1>
			</header>

			<!-- 201902 회원가입추천 -->
			<div>
				<a href="#"><img src="../../Common/images/mypage/bnr_momqrc.jpg" alt="유한킴벌리 SSO회원가입추천" /></a>
			</div>
			<!--// 201902 회원가입추천 -->

			<!-- mypageTab -->
			<ul class="mypageTab">
				<li><a href="/SSL/Mypage" class="on">회원정보 수정</a></li>
				<li><a href="/SSL/Mypage_ChildInfo">아이정보 추가&#47;수정</a></li>
				<li><a href="/SSL/Mypage_ChangePwd">비밀번호 변경</a></li>
				<li><a href="/SSL/Mypage_Terms">약관관리</a></li>
				<li><a href="/SSL/Mypage_Withdraw">회원탈퇴</a></li>
			</ul>
			<!-- //mypageTab -->
			<!-- 비밀번호확인 -->
			<div class="passwordCheck">
				<p class="txt1">안전한 정보 보호를 위해 <span>비밀번호를 다시 입력</span>해 주십시오.</p>
				<input type="password" id="user_pwd" class="input1" name="user_pwd" style="width:320px;" title="사용자 비밀번호 입력" placeholder="비밀번호를 입력해 주십시오.">
				<p class="btn1"><a href="javascript:sendIt();" class="btnType2">확인</a></p>
			</div>
			<!-- //비밀번호확인 -->
		</div>
		<!-- //마이페이지 -->
	</form>

	<script>
	</script>

	<!-- <script type="text/javascript">
		_satellite.pageBottom();
	</script> -->
</body>

</html>
