<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />

  <title>개인정보 제공 동의 | 유한킴벌리 통합브랜드</title>

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="http://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/common.css">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/main.css?ver=201806141105"> <!-- main css -->
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/swiper.css">
  <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/reset.css">
  <link rel="stylesheet" href="/Content/common.css?ver=201806141105">
  <!-- <script>
    var userId = "";
    var ImageServerUrl = "http://www.ykbrand.co.kr";
    var ImageUploadUrl = "http://www.ykbrand.co.kr/data/Real/";
  </script> -->
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/swiper.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
  <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/common.js?ver=201806141105"></script>
  <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>

</head>

<body>
  <div id="yk_lodings" class="maskWhite" style="display:none;">
    <div class="lodings"></div>
  </div>

  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->

  <!-- skip_nav -->
  <a href="#contents" class="skip">본문 바로가기</a>

  <!-- wrap -->
  <div id="wrap" class="sso">
    <div id="contents">

      <!-- 샘플신청 > 마케팅 활용 목적을 위한 이용 동의서 -->
      <!-- header -->
      <header>
        <h1 class="termTit">마케팅 활용 목적을 위한 이용 동의서</h1>
        <a href="javascript:self.close();" class="closeBtn"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="닫기" /></a>
      </header><!-- //header -->
      <!-- container -->
      <div id="container">
        <div class="divider">
          <div class="termCont">
            <b>샘플 발송을 위해 기재해 주신 성명, 연락처(전화번호), 이메일 주소, 우편번호, 주소 및 샘플 사용 환경, 샘플 종류 및 사이즈 등 정보를 아래의 마케팅 활용 목적으로 샘플 배송 완료 후 3년 동안 이용하고, 이와 관련한 정보를 수신함에 동의하십니까?<br><br>이에 대한 동의를 거부하시는 경우에도 신청하신 샘플신청 서비스는 이용하실 수 있으며, 당사가 의무적으로 안내하는 정보는 수신동의 여부와 무관하게 제공됩니다.</b><br /><br />
            <br />
            <b>① 마케팅 및 광고에의 활용</b><br />
            - 신규 기능 개발 및 맞춤 서비스 제공<br>
            - 뉴스레터 발송, 새로운 제품의 안내<br>
            - 할인 및 쿠폰 등 이벤트 등 광고성 정보 제공<br><br>
            <br><br>
          </div>
        </div>
      </div>
      <hr />

    </div>
    <hr />
    <!-- footer -->
    <footer>
      <p class="flogo">
        <img src="http://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리" />
        <a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
        <a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
      </p>
      <address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
      <ul class="info">
        <li>대표자 : 최규복</li>
        <li>사업자번호 : 120-81-11436</li>
        <li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
      </ul>
      <a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
      <p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
      <img style="margin-top:16px; width:150px;" src="http://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
    </footer>

    <!-- sns공유하기 팝업 -->
    <div id="selSns" class="popup hide">
      <h3>공유하기</h3>
      <div class="popCont ac">
        <a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
        <a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
      </div>
      <a href="#none" class="popClose"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
    </div><!-- //sns공유하기 팝업 -->

    <div id="dim"></div>

    <a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
    <!-- //footer -->
  </div>
  <!-- //wrap -->

  <script>
  </script>

  <!-- <script type="text/javascript">
    _satellite.pageBottom();
  </script> -->
</body>

</html>
