<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<meta name="title" content="유한킴벌리 통합브랜드" />
	<meta name="description" content="유한킴벌리 통합브랜드" />
	<meta name="keywords" content="유한킴벌리 통합브랜드" />
	<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
	<title>로그인 | 유한킴벌리 통합브랜드</title>

	<!-- Google Tag Manager -->
	<!-- End Google Tag Manager -->

	<link rel="icon" href="https://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
	<link rel="stylesheet" href="../../Common/css/common.css">
	<link rel="stylesheet" href="../../Common/css/main.css">
	<!-- main css -->
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/swiper.css">
	<link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
	<!-- <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script> -->
	<!-- <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script> -->

	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {

		});
	</script>

</head>

<body>
	<div id="yk_lodings" class="maskWhite" style="display:none;">
		<div class="lodings"></div>
	</div>

	<!-- Google Tag Manager (noscript) -->
	<!-- End Google Tag Manager (noscript) -->

	<!-- skip_nav -->
	<a href="#contents" class="skip">본문 바로가기</a>

	<!-- wrap -->
	<div id="wrap" class="sso">
		<div id="contents">

			<!-- header -->
			<header>
				<h1><h1>유한킴벌리 SSO회원 로그인</h1></h1>
				<a href="javascript:history.back()" class="backBtn"><img src="../../Common/images/btn/btn_back.png" alt="뒤로가기"></a>
			</header>
			<!-- //header -->
			<hr>

			<!-- container -->
			<div id="container">
				<div class="divider">
					<p class="sso_brand_img clearfix">
						<a href="/"><img class="yk-logo" src="../../Common/images/common/yk_simple_logo.png" alt="유한킴벌리 통합회원"></a> <!-- 20180327 //-->
						<!-- 201801 간편가입 -->
						<!-- <a href="http://m.ykbrand.co.kr/"><img style="padding:10px 0px 10px 10px;" src="https://m.ykbrand.co.kr/Common/images/common/sso_logo.gif" alt="유한킴벌리 통합회원"></a> -->
					</p>

					<!-- 20180302 수정 s -->
					<div id="signin">
						<div class="cntBox bdn pT5">
							<p class="ts14">간편회원 로그인</p>
						</div>
						<div class="inT">
							<form action="/SSL/Login?returnUrl=%2F" method="post">
								<div class="social_login">
									<ul class="clearfix">
										<li><a href="javascript:;" onclick="jsNaver();"><img src="../../Common/images/simple/simple_naver_login.jpg" alt="네이버 간편 로그인"></a></li>
										<li><a href="javascript:;" onclick="jsFaceBook();"><img src="../../Common/images/simple/simple_facebook_login.jpg" alt="페이스북 간편 로그인"></a></li>
										<li><a href="javascript:;" onclick="jsKaKao();"><img src="../../Common/images/simple/simple_kakao_login.jpg" alt="카카오 간편 로그인"></a></li>
									</ul>
									<img class="simple_or" src="../../Common/images/simple/simple_or.jpg" alt="카카오 간편 로그인">
								</div>
								<p class="ts14 mar_b20">통합회원 로그인</p>
								<div class="simple_login_area ">
									<table style="width:100%;">
										<colgroup>
											<col style="width:60px;">
											<col>
											<col style="width:80px;">
										</colgroup>
										<tbody>
											<tr>
												<td>아이디</td>
												<td>
													<label for="userId" class="full"><input id="userId" name="userId" placeholder="아이디를 입력해 주십시오." title="사용자 아이디 입력" type="text" value="" /></label>
												</td>
												<td rowspan="2">
													<div class="simple_login_btn">
														<a href="#none" id="btnLogin">로그인</a>
													</div>
												</td>
											</tr>
											<tr>
												<td>비밀번호</td>
												<td>
													<label for="userPw" class="full"><input class="mt10" id="userPw" name="userPw" placeholder="비밀번호를 입력해 주십시오." title="사용자 비밀번호 입력" type="password" value="" /></label>
												</td>
											</tr>

										</tbody>
									</table>
								</div>
								<!-- 20180305 s -->
								<ul class="mamq_login_ul mar_t10">
									<li>
										<span class="radioF" style="float:none;margin-top:10px;">
                        <input type="checkbox" id="isIdSave" name="isIdSave" value="true" >
                        <label for="isIdSave">아이디 저장</label>
                    </span>
									</li>

								</ul>
								<!-- 20180305 e -->
							</form>
						</div>
						<!-- <div class="findlnk mar_t10">
				        <a href="/SSL/FindId_Certify?returnUrl=%2F">아이디 찾기</a>
				        <a href="/SSL/FindPwd_Certify?returnUrl=%2F">비밀번호 찾기</a>
				    </div> -->
						<div class="findlnk">
							<label>
                    <img src="../../Common/images/common/simple_sso_small_logo.png" height="15" alt="통합회원" />
                </label>
							<a href="/SSL/FindId_Certify?returnUrl=%2F">아이디 찾기</a>
							<a href="/SSL/FindPwd_Certify?returnUrl=%2F">비밀번호 찾기</a>
						</div>
						<hr class="hrline" />

						<!-- 20180327 : 배너 추가 s -->
						<div class="momq_login_content mar_t20">
		          <img src="../../Common/images/common/coupon_momq_banner.jpg" alt="유한킴벌리직영몰 맘큐회가입선물" />
		        </div>
						<!-- //20180327 : 배너 추가 e -->
						<div class="inT">
							<!-- 20180327 삭제
							<p class="simple_title">유한킴벌리 회원이 되시면</p>
							<div class="simple_content">
								<span class="tx">하나의 ID로 momQ, 통합 브랜드, 선물대잔치 사이트의 다양한 서비스를 편리하게 이용할 수 있습니다.</span>
								<br />
								<span class="tx">기존 맘큐 회원은 로그인 후 본인인증 과정을 거쳐 유한킴벌리 통합회원으로 전환 후 momQ를 이용하실 수 있습니다.</span>
							</div> -->

							<ul class="blue_blet_lst">
								<li class="red_txt">ID간의 momQ 포인트 및 선물대잔치 점수 이관은 불가합니다.</li> <!-- 20180517 modi //-->
								<li>유한킴벌리 SSO회원이 되시면 하나의 ID로 momQ, 통합브랜드, 선물대잔치 사이트의 다양한 서비스를 편리하게 이용할 수 있습니다.</li>
								<li>기존 맘큐 회원은 로그인 후 본인인증 과정을 거쳐 유한킴벌리 SSO회원으로 전환 후 momQ를 이용하실 수 있습니다. </li>
							</ul>
							<div class="btn_area">
								<a class="black_btn" href="/SSL/Join?returnUrl=%2F">회원가입</a>
							</div>
						</div>
					</div>
					<!-- 20180302 수정 e -->

				</div>
			</div>


		</div>
		<hr />
		<!-- footer -->
		<footer>
			<p class="flogo">
				<img src="../../Common/images/common/flogo.png" alt="유한킴벌리" />
				<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
				<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
			</p>
			<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
			<ul class="info">
				<li>대표자 : 최규복</li>
				<li>사업자번호 : 120-81-11436</li>
				<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
			</ul>
			<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			<p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
			<img style="margin-top:16px; width:150px;" src="../../Common/images/common/Web_img.png" alt="웹접근성 마크" />
		</footer>

		<!-- sns공유하기 팝업 -->
		<div id="selSns" class="popup hide">
			<h3>공유하기</h3>
			<div class="popCont ac">
				<a href="#none"><img src="../../Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
				<a href="#none"><img src="../../Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
			</div>
			<a href="#none" class="popClose"><img src="../../Common/images/btn/btn_close.png" alt="팝업닫기"></a>
		</div>
		<!-- //sns공유하기 팝업 -->

		<div id="dim"></div>

		<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
		<!-- //footer -->
	</div>
	<!-- //wrap -->
	<input type="hidden" name="adb_declared_id" id="adb_declared_id" value="" />
	<input type="hidden" name="adb_login_id" id="adb_login_id" value=" " />


	<script>
		// (function(i, s, o, g, r, a, m) {
		// 	i['GoogleAnalyticsObject'] = r;
		// 	i[r] = i[r] || function() {
		// 		(i[r].q = i[r].q || []).push(arguments)
		// 	}, i[r].l = 1 * new Date();
		// 	a = s.createElement(o),
		// 		m = s.getElementsByTagName(o)[0];
		// 	a.async = 1;
		// 	a.src = g;
		// 	m.parentNode.insertBefore(a, m)
		// })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		//
		// ga('create', 'UA-70997736-2', 'auto');
		// ga('send', 'pageview');
	</script>\

	<script type="text/javascript">
		// _satellite.pageBottom();
	</script>
</body>

</html>
