<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653" />
  <meta name="title" content="유한킴벌리" />
  <meta name="keywords" content="유한킴벌리">
  <meta name="description" content="유한킴벌리" />

  <title>회원정보수정 | 마이페이지 | 유한킴벌리 통합브랜드</title>

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <link rel="icon" href="https://m.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/common.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/main.css"> <!-- main css -->
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/swiper.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Common/css/reset.css">
  <link rel="stylesheet" href="https://m.ykbrand.co.kr/Content/common.css">
  <script>
  </script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/swiper.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
  <script type="text/javascript" src="https://m.ykbrand.co.kr/Scripts/common.js"></script>
  <script src="https://m.ykbrand.co.kr//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
  <script>
  </script>

  <script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>
  <script>
  </script>

</head>

<body>
  <div id="yk_lodings" class="maskWhite" style="display:none;">
    <div class="lodings"></div>
  </div>

  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->

  <!-- skip_nav -->
  <a href="#contents" class="skip">본문 바로가기</a>

  <!-- wrap -->
  <div id="wrap" class="sso">
    <div id="contents">

      <!-- header -->
      <header>
        <h1>회원정보 수정</h1>
        <a href="javascript:history.back()" class="backBtn"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기" /></a>
      </header><!-- //header -->
      <hr />

      <!-- container -->
      <form action="/SSL/Mypage_BasicInfo_End" id="frm" method="post" name="frm">
        <div id="container">
          <div class="memrc_bnr">
            <a href="https://m.ykbrand.co.kr/SSL/Mypage_Recom"><img src="https://m.ykbrand.co.kr/Common/images/my/bnr_momqrc.jpg" alt=""></a>
          </div>
          <div class="divider">
            <!-- 20190809 위치수정 -->
            <div class="titW tW_t3">
              <h2 class="ft_bold">기본 정보</h2>
              <p><span class="com">*</span>표시는 필수 입력내용입니다.</p>
            </div>
            <!--// 20190809 위치수정 -->

            <div class="join">
              <dl class="inT intTxt">
                <dt>이름</dt>
                <dd>김희정</dd>
              </dl>
              <dl class="inT intTxt">
                <dt>아이디</dt>
                <dd>crazykino</dd>
              </dl>
              <dl class="inT intCol3">
                <dt>생년월일 <span class="com">*</span></dt>
                <dd>
                  <span style="width:100px;">
                    <span class="selectBox">
                      <label for="sel6">1981 년</label>
                      <select id="sel6" title="생년월일 년도 선택">
                        <option selected="selected">1981 년</option>
                      </select>
                    </span>
                  </span>
                  <span style="width:90px;">
                    <span class="selectBox">
                      <label for="sel61">06 월</label>
                      <select id="sel61" title="생년월일 월 선택">
                        <option selected="selected">06 월</option>
                      </select>
                    </span>
                  </span>
                  <span style="width:90px;">
                    <span class="selectBox">
                      <label for="sel62">22 일</label>
                      <select id="sel62" title="생년월일 일 선택">
                        <option selected="selected">22 일</option>
                      </select>
                    </span>
                  </span>
                </dd>
              </dl>
              <dl class="inT intCol4">
                <dt>휴대폰 <span class="com">*</span></dt>
                <dd>
                  <span>
                    <span class="selectBox">
                      <label for="sel3">010</label>
                      <select id="sel3" title="휴대폰 앞자리">
                        <option selected="selected">010</option>
                      </select>
                    </span>
                  </span>
                  <span><input type="text" value="3769" disabled="disabled" title="휴대폰 가운데 자리"></span>
                  <span><input type="text" value="3299" disabled="disabled" title="휴대폰 끝자리"></span>
                  <span><a href="javascript:Module_KCP_Open();">변경</a></span>
                </dd>
              </dl>
              <dl class="inT intEmail">
                <dt>이메일 <span class="com">*</span></dt>
                <dd>
                  <span><input class="blockKor" data-val="true" data-val-required="이메일을 입력하여 주십시오." id="email_id" maxlength="30" name="email_id" title="이메일 아이디 입력" type="text" value="kino" /><span class="at">@</span> </span>
                  <span>
                    <input class="blockKor" data-val="true" data-val-required="이메일을 입력하여 주십시오." id="email_domain" maxlength="30" name="email_domain" title="이메일 도메인 입력" type="text" value="ona.co.kr" />
                  </span>
                </dd>
                <dd class="pT0 mt10">
                  <span class="selectBox">
                    <label for="email_domain_list">직접입력</label>
                    <select id="email_domain_list" name="email_domain_list" title="이메일 도메인 선택">
                      <option value="">직접입력</option>
                      <option value="naver.com">naver.com</option>
                      <option value="hanmail.net">hanmail.net</option>
                      <option value="daum.net">daum.net</option>
                      <option value="nate.com">nate.com</option>
                      <option value="gmail.com">gmail.com</option>
                      <option value="hotmail.com">hotmail.com</option>
                      <option value="chol.com">chol.com</option>
                      <option value="dreamwiz.com">dreamwiz.com</option>
                    </select>
                    <input data-val="true" data-val-regex="이메일 형식이 잘못 되었습니다." data-val-regex-pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" data-val-required="이메일을 입력하여 주십시오." id="email" name="email"
                      type="hidden" value="kino@ona.co.kr" />
                  </span>
                </dd>
              </dl>
              <dl class="inT">
                <dt class="ft_bold">광고성 정보전송 동의 <span class="com">*</span></dt>
                <dd>
                  <span class="radioF">
                    <input type="radio" id="marketing_n" name="marketing_yn" data-val="true" data-val-required="메일 수신동의를 선택해 주세요." value="N">
                    <label for="marketing_n">동의 안함</label>
                  </span>
                  <span class="radioF">

                    <input type="radio" id="marketing_y" name="marketing_yn" value="Y" checked>
                    <label for="marketing_y">동의</label>
                  </span>
                </dd>
                <dd>
                  <div class="check_div marketing_yn marketing_check">
                    <span class="radioF" style="float:none; display:inline-block;width:30%;margin-top: 5px;">
                      <input type="checkbox" id="sms_brand_yn" name="sms_brand_yn" value="Y" checked>
                      <label for="sms_brand_yn">통합브랜드</label>

                    </span>
                    <span class="radioF" style="float:none; display:inline-block;width:30%;margin-top: 5px;">
                      <input type="checkbox" id="sms_momq_yn" name="sms_momq_yn" value="Y">
                      <label for="sms_momq_yn">momQ</label>
                    </span>
                  </div>
                </dd>
              </dl>
              <dl class="inT marketing_yn" style="display:block;">
                <dt>광고성 정보전송 매체 선택 <span class="com">*</span></dt>
                <div class="check_div email_sms_yn" style="background: none;">
                  <span class="radioF">
                    <input type="checkbox" id="email_yn" name="email_yn" value="Y" checked>
                    <label for="email_yn">메일</label>
                  </span>

                  <span class="radioF">
                    <input type="checkbox" id="sms_yn" name="sms_yn" value="Y" checked>
                    <label for="sms_yn">SMS</label>
                  </span>
                  <span class="radioF">
                    <input type="checkbox" id="app_push_yn" name="app_push_yn" value="Y">
                    <label for="app_push_yn">PUSH</label>
                  </span>
                </div>
              </dl>
              <dl class="inT">
                <dd>
                  <p class="dotP mt10"> 수신 동의에 체크하시면 다양한 할인 혜택 및 상품정보, 이벤트 등 정보를 안내 받으실 수 있습니다. </p>
                  <p class="dotP"> 단, 약관안내 및 서비스 내용, 주문/배송, 회사의 주요정책 관련 변경에 따른 메일은 정보수신 거부와 상관없이 발송될 수 있습니다. </p>
                </dd>
              </dl>

              <!-- 20190809 유효기간 추가 -->
              <dl class="inT ps_expiry">
                <dt>개인정보 유효기간 <span class="com">*</span></dt>
                <dd>
                  <span class="radioF">
                    <input type="radio" id="exp01" name="ps_exp" value="N" >
                    <label for="exp01">1년</label>
                  </span>
                  <span class="radioF">
                    <input type="radio" id="exp02" name="ps_exp" value="N" >
                    <label for="exp02">3년</label>
                  </span>
                </dd>
                <dd class="mt10">
                  <span class="radioF">
                    <input type="radio" id="exp03" name="ps_exp" value="N" >
                    <label for="exp03">5년</label>
                  </span>
                  <span class="radioF">
                    <input type="radio" id="exp04" name="ps_exp" value="N" >
                    <label for="exp04">탈퇴 시</label>
                  </span>
                </dd>
              </dl>
              <dl class="inT">
                <dd>
                  <p class="dotP mt10"> 개인정보 유효기간 연장 시 동의 일로부터 선택하신 기간 동안 개인정보 유효기간이 연장됩니다.</p>
                  <p class="dotP"> 해당 기간동안 1년 간 로그인 이력이 없더라도 장기 미이용 회원으로 분류되지 않습니다.</p>
                </dd>
              </dl>
              <!--// 20190809 유효기간 추가 -->

            </div>
          </div>

          <div class="titW tW_t1">
            <h3>부가 정보</h3>
          </div>
          <div class="divider">
            <div class="join">
              <dl class="inT intAdrs">
                <dt>주소</dt>
                <dd>
                  <span><input id="post_no" maxlength="6" name="post_no" placeholder="우편번호" title="우편번호 입력" type="text" value="" /></span>
                  <span><a href="javascript:openFindAddress()">우편번호</a></span>
                </dd>
                <dd class="pT0 mt10">
                  <input id="address1" maxlength="250" name="address1" placeholder="우편 주소" title="주소 입력" type="text" value="" />
                </dd>
                <dd class="pT0 mt10">
                  <input id="address2" maxlength="250" name="address2" placeholder="우편 상세주소" title="상세주소 입력" type="text" value="" />
                </dd>
              </dl>
              <dl class="inT">
                <dt>결혼 여부</dt>
                <dd>
                  <span class="radioF">
                    <input id="marriage_n" name="marriage_yn" type="radio" value="N" />
                    <label for="marriage_n">미혼</label>
                  </span>
                  <span class="radioF">
                    <input id="marriage_y" name="marriage_yn" type="radio" value="Y" />
                    <label for="marriage_y">기혼</label>
                  </span>
                </dd>
              </dl>
              <dl class="inT">
                <dt>임신 여부</dt>
                <dd>
                  <span class="radioF">
                    <input id="pregnancy_n" name="pregnancy_yn" type="radio" value="N" />
                    <label for="pregnancy_n">아니오</label>
                  </span>
                  <span class="radioF">
                    <input id="pregnancy_y" name="pregnancy_yn" type="radio" value="Y" />
                    <label for="pregnancy_y">예</label>
                  </span>
                </dd>
              </dl>
              <dl class="inT">
                <dt>SNS URL</dt>
                <dd>
                  <input data-val="false" id="sns_url" maxlength="1024" name="sns_url" title="sns url 입력" type="text" value="" />
                </dd>
              </dl>
            </div>
          </div>
          <div class="btnWrap">
            <span><a href="https://m.ykbrand.co.kr/SSL/Mypage">취소</a></span>
            <span><a href="javascript://" id="btnSubmit">수정</a></span>
          </div>
        </div>
      </form>
      <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
      <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="https://m.ykbrand.co.kr//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
      </div>
      <script>
      </script>

      <script type="text/javascript">
      </script>
      <form name="form_auth">
    </div>
    <hr />
    <!-- footer -->
    <footer>
      <p class="flogo">
        <img src="https://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리" />
        <a href="https://m.ykbrand.co.kr/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
        <a href="https://m.ykbrand.co.kr/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
      </p>
      <address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
      <ul class="info">
        <li>대표자 : 최규복</li>
        <li>사업자번호 : 120-81-11436</li>
        <li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
      </ul>
      <a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
      <p class="copy">Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.</p>
      <img style="margin-top:16px; width:150px;" src="https://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크" />
    </footer>

    <!-- sns공유하기 팝업 -->
    <div id="selSns" class="popup hide">
      <h3>공유하기</h3>
      <div class="popCont ac">
        <a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
        <a href="#none"><img src="https://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
      </div>
      <a href="#none" class="popClose"><img src="https://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
    </div><!-- //sns공유하기 팝업 -->

    <div id="dim"></div>

    <a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
    <!-- //footer -->
  </div>
  <!-- //wrap -->

  <script>
  </script>

</body>

</html>
