<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="title" content="유한킴벌리"/>
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리"/>
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653"/>
<title>샘플신청 | 킴테크</title>
<link rel="icon" href="../../../../Common/images/favicon/favicon_ktech.png" type="image/x-icon">
<link rel="stylesheet" href="../../../../Common/css/common.css">
<link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">

<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/jquery.Placeholders.monkey.patch.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<!-- <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script> -->
<!-- <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script> -->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->

<script>
	function agreePopup(gubun) {
		if(gubun == 1){
			window.open('TermsPop.html', 'sampleagree1', 'width=590, height=550, menubar=no, status=no, toolbar=no, scrollbars=yes');
		}else if(gubun == 2){
			window.open('TermsPop2.html', 'sampleagree2', 'width=570, height=550, menubar=no, status=no, toolbar=no, scrollbars=yes');
		}else {
			//
			return;
		}
	}
</script>

</head>
<body class="kimtech">
<!-- wrap -->
<div id="wrap">
	<div id="layerMask">
	</div>
	<!-- skipMenu -->
	<nav class="skip">
	<a href="#container">컨텐츠로 바로가기</a>
	</nav>
	<!-- //skipMenu -->
	<!-- header -->
	<header>
		<!-- headerCont -->
		<div class="headerCont">
			<h1><a href="/kimtech"><img src="http://www.ykbrand.co.kr/data/Real/20190603042805_1d256f86c4f349ffbfab3b9a8d5bb918.png" alt="kimtech" /></a></h1>
			<a href="#none" class="allBrand"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allbrand.png" alt="전체 브랜드 레이어 보기" /></a>
			<a href="#none" class="allMenu"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allmenu.png" alt="전체 메뉴 레이어 보기" /></a>
			<ul id="gnb" class="st1">
				<li>
					<a href="/kimtech/Feed/FeedList?menu=480">브랜드 스토리</a>
				</li>
				<li>
					<a href="/kimtech/Product/ProductList?menu=481">제품소개</a>
				</li>
				<li>
					<a href="/kimtech/Event/EventList?menu=482">이벤트</a>
					<ul class="depth">
						<li><a href="/kimtech/Event/EventList?menu=482">진행중인 이벤트</a></li>
						<li><a href="/kimtech/Event/EndEventList?menu=482">지난 이벤트</a></li>
						<li><a href="/kimtech/Event/ResultList?menu=482">당첨자 확인</a></li>
					</ul>
				</li>
				<li>
					<a href="/kimtech/Board/BoardList?menu=483">커뮤니티</a>
				</li>
			</ul>
		</div>
		<div class="mask"></div><!-- mask -->
		<!-- //headerCont -->

		<!-- 전체 브랜드 레이어 -->
		<!-- //전체 브랜드 레이어 -->
		<!-- 전체 메뉴 레이어 -->
		<!-- //전체 메뉴 레이어 -->
	</header>
	<!-- //header -->
	<!-- container -->
	<div id="container">

		<!-- brandSub -->
		<div class="brandSub">
			<!-- titArea -->
			<div class="titArea">
				<h3>샘플신청</h3>
				<!-- location -->
				<div class="location">
					<a href="#none">Home</a> &gt; <strong>샘플신청</strong>
				</div>
				<!-- //location -->
			</div>
			<!-- //titArea -->
			<!-- 샘플신청 -->
			<div class="samplekit_apply ktech">
				<div class="sample_head">
					<h1><img class="logo" src="../../../../Common/images/ktech/logo_s.png" alt="킴테크"><span>킴테크의 다양한</span>제품을 체험해 보세요!</h1>
					<p class="txt1">무료로 제품을 보내드립니다.</p>
				</div>
				<div class="sample sample19">
					<!-- 설문지 -->
					<h4 id="anchor" class="anchor">무료체험 제품 신청<span>간단한 설문에 참여한 후 글러브 샘플을 신청 하실 수 있습니다.</span></h4> <!-- 20190816 : 텍스트수정 //-->
					<div class="writeTable">
						<!-- 20190730 수정 : 문항수정 -->
						<div class="tableCont">
							<ul>
								<li class="sample_survey">
									<p class="survey_tilte">
										<span class="ft">Q1</span>킴테크 제품을 사용하시려고 하는 장소가 어디인가요?
									</p>
									<ul class="survey_ul clearfix question">
										<li>
											<span class="ui_radio">
												<input data-val="true" data-val-number="Q1 필드는 숫자여야 합니다." id="Q1_1" name="Q1" type="radio" value="1" />
												<label for="Q1_1">무균실</label>
											</span>
										</li>
										<li>
											<span class="ui_radio">
												<input id="Q1_2" name="Q1" type="radio" value="2" />
												<label for="Q1_2">청정실</label>
											</span>
										</li>
										<li>
											<span class="ui_radio">
												<input id="Q1_3" name="Q1" type="radio" value="3" />
												<label for="Q1_3">실험실</label>
											</span>
										</li>
									</ul>
								</li>
								<li class="sample_survey">
									<p class="survey_tilte">
										<span class="ft">Q2</span>멸균 여부를 선택해주세요.
									</p>
									<ul class="survey_ul clearfix question">
										<li>
											<span class="ui_radio">
												<input data-val="true" data-val-number="Q2 필드는 숫자여야 합니다." id="Q2_1" name="Q2" type="radio" value="1" />
												<label for="Q2_1">멸균</label>
											</span>
										</li>
										<li>
											<span class="ui_radio">
												<input id="Q2_2" name="Q2" type="radio" value="2" />
												<label for="Q2_2">비멸균</label>
											</span>
										</li>
									</ul>
								</li>
								<li class="sample_survey">
									<p class="survey_tilte">
										<span class="ft">Q3</span>글러브 재질을 선택해 주세요.
									</p>
									<ul class="survey_ul clearfix question">
										<li>
											<span class="ui_radio">
												<input data-val="true" data-val-number="Q3 필드는 숫자여야 합니다." id="Q3_1" name="Q3" type="radio" value="1" />
												<label for="Q3_1">라텍스</label>
											</span>
										</li>
										<li>
											<span class="ui_radio">
												<input id="Q3_2" name="Q3" type="radio" value="2" />
												<label for="Q3_2">나이트릴</label>
											</span>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<!--// 20190730 수정 : 문항수정 -->
					</div>

					<!-- 추천샘플 -->
					<h4 id="anchor" class="anchor">
						추천 샘플<span>옵션에서 원하시는 샘플을 선택해주세요.</span>
						<p class="btnArea"><a href="#" class="btnType1 colr">설문 다시 하기</a></p>
					</h4>
					<div class="writeTable">
						<div class="tableCont">
							<dl class="recom_select">
								<dt>샘플 선택</dt>
								<dd>
									<select style="width:55%">
										<option>킴테크퓨어 G3 멸균 나이트릴 글러브 6.5</option>
										<option>킴테크퓨어 G3 멸균 나이트릴 글러브 6.5</option>
										<option>킴테크퓨어 G3 멸균 나이트릴 글러브 6.5</option>
									</select>
									<select style="width:40%">
										<option>사이즈를 선택해주세요.</option>
										<option>1</option>
										<option>2</option>
									</select>
									<p class="st">※ 무균실에 적합한 멸균글러브로 믿을 수 있는 성능과 편안한 착용감을 제공합니다.</p>
								</dd>
							</dl>
						</div>
					</div>

					<!-- 정보입력 -->
					<div class="writeTable">
						<div class="tableCont userInfo">
							<h4>받는 분 정보 입력</h4> <!-- 20190730 수정 //-->
							<table>
								<colgroup>
									<col style="width:13%">
									<col style="width:*">
								</colgroup>
								<tbody>
									<tr>
										<th scope="row"><label for="w2">성명</label></th> <!-- 20190730 수정 //-->
										<td>
											<input class="input1 onlytext text-box single-line text-box single-line" id="w2" name="SAMPLE_NAME" onkeypress="onlyKoreanEnglish()" placeholder="성명을 입력해 주세요." style="width:410px" title="성명 입력" type="text" value="" />
											<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="SAMPLE_NAME" data-valmsg-replace="true"></span>
										</td>
									</tr>
									<tr>
										<th scope="row"><label for="tel1">연락처</label></th>
										<td colspan="5">
											<select style="width:120px" title="연락처 처음자리 선택" id="tel1">
													<option value="" selected="selected">선택</option>
													<option value="02">02</option>
													<option value="031">031</option>
													<option value="032">032</option>
													<option value="033">033</option>
													<option value="041">041</option>
													<option value="042">042</option>
													<option value="043">043</option>
													<option value="044">044</option>
													<option value="051">051</option>
													<option value="052">052</option>
													<option value="053">053</option>
													<option value="054">054</option>
													<option value="055">055</option>
													<option value="061">061</option>
													<option value="062">062</option>
													<option value="063">063</option>
													<option value="064">064</option>
													<option value="010">010</option>
													<option value="011">011</option>
													<option value="016">016</option>
													<option value="017">017</option>
													<option value="018">018</option>
													<option value="019">019</option>
											</select> -
											<input type="text" onkeypress="onlyNumber()" class="input1 onlynum" style="width:130px" maxlength="4" title="연락처 가운데자리 입력" placeholder="" id="tel2" /> -
											<input type="text" onkeypress="onlyNumber()" class="input1 onlynum" style="width:130px" maxlength="4" title="연락처 마지막자리 입력" placeholder="" id="tel3" />
											<input htmlAttributes="{ class = form-control }" id="SAMPLE_TEL" name="SAMPLE_TEL" type="hidden" value="" />
											<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="SAMPLE_TEL" data-valmsg-replace="true"></span>
										</td>
									</tr>
									<!-- 20190816 추가 -->
									<tr>
										<th scope="row"><label for="w2">이메일</label></th>
										<td>
											<input class="input1 onlytext text-box single-line text-box single-line" id="w2" name="SAMPLE_EMAIL" onkeypress="onlyKoreanEnglish()" placeholder="이메일을 입력해 주세요." style="width:410px" title="이메일주소" type="text" value="" />
											<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="" data-valmsg-replace="true"></span>
										</td>
									</tr>
									<!--// 20190816 추가 -->
									<tr>
										<th scope="row"><label for="w3">회사명</label></th>
										<td>
											<input class="input1 onlytext text-box single-line text-box single-line" id="w3" name="SAMPLE_COMPANY" onkeypress="onlyKoreanEnglish()" placeholder="회사 이름을 입력해 주세요." style="width:410px" title="회사 이름" type="text" value="" />
											<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="" data-valmsg-replace="true"></span>
										</td>
									</tr>
									<tr>
										<th scope="row" class="vtop"><label for="w5">받으실 주소</label></th>
										<td colspan="5">
											<input class="input1 text-box single-line text-box single-line" id="SAMPLE_ZIPCODE" name="SAMPLE_ZIPCODE" placeholder="" readonly="readonly" style="width:120px" title="검색된 주소 우편번호 노출 영역" type="text" value="" />
											<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="SAMPLE_ZIPCODE" data-valmsg-replace="true"></span>
											<a href="javascript:openFindAddress()" class="zipCode" id="w5">우편번호</a>
											<div class="mgt10">
												<input class="input1 text-box single-line" id="SAMPLE_ADDRESS1" name="SAMPLE_ADDRESS1" placeholder="" readonly="readonly" style="width:45%" title="검색된 주소 노출 영역" type="text" value="" />
												<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="SAMPLE_ADDRESS1" data-valmsg-replace="true"></span>
												<input class="input1 text-box single-line" id="SAMPLE_ADDRESS2" name="SAMPLE_ADDRESS2" placeholder="나머지 주소를 입력해 주세요" style="width:50%" title="나머지 주소 입력" type="text" value="" />
												<span class="field-validation-valid field-validation-valid text-danger" data-valmsg-for="SAMPLE_ADDRESS2" data-valmsg-replace="true"></span>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<!-- 20190730 수정 -->
							<div class="agree">
								<ul>
									<li>
										<p>(필수) 샘플 신청을 위한 개인정보 수집.이용 동의서<a href="javascript:agreePopup(1);" title="(필수) 샘플 신청을 위한 개인정보 수집.이용 동의서 새창 열림">자세히 보기</a></p>
										<ul>
											<li>
												<span class="ui_radio">
													<input type="radio" id="agree1_1" name="agree1" checked value="동의안함" />
													<label for="agree1_1">동의 안함</label>
												</span>
											</li>
											<li>
												<span class="ui_radio">
													<input type="radio" id="agree1_2" name="agree1" value="동의" />
													<label for="agree1_2">동의</label>
												</span>
											</li>
										</ul>
									</li>
									<!-- 20190822 수정 -->
									<li>
										<p>(선택) 마케팅 활용 목적을 위한 이용 동의서<a href="javascript:agreePopup(2);" title="(선택) 마케팅 활용 목적을 위한 이용 동의서 새창 열림">자세히 보기</a></p>
										<ul>
											<li>
												<span class="ui_radio">
													<input type="checkbox" id="agree2_1" name="agree2" checked value="이메일" />
													<label for="agree2_1">이메일</label>
												</span>
											</li>
											<li>
												<span class="ui_radio">
													<input type="checkbox" id="agree2_2" name="agree2" value="SMS" />
													<label for="agree2_2">SMS</label>
												</span>
											</li>
										</ul>
									</li>
									<!--// 20190822 수정 -->
								</ul>
								<!-- 20190822 추가 -->
								<div class="sampleInfo">
									<p>회사는 샘플 신청에 대한 모니터링을 실시하고 있으며, 아래 행위가 의심되는 경우 샘플 배송 중지 등의 조치를 취할 수 있습니다.</p>
									<span>- 타인의 정보나 명의를 도용하거나 허위 내용을 등록하시면 안됩니다.</span>
									<span>- 받으신 샘플을 영리를 목적으로 서비스를 이용하셔서는 안됩니다.</span>
								</div>
								<!--// 20190822 추가 -->

								<!-- 20190816 수정추가 -->
								<p>※ 샘플은 1인당  3회까지만 신청이 가능하며 국내로만 배송됩니다.</p>
								<p class="mgt10">※ 샘플은 전주 월요일~전주 금요일까지 취합하여 매주 월요일에 일괄 우편발송 됩니다. (신청후 우편배송까지 최대 2~3주 소요.)</p>
								<p class="mgt10">※ 동일 주소지 당 3개의 샘플만 발송되며, 주소지 오류로 인한 반송 시 재발송 되지 않으므로 정확한 주소를 꼭 확인해주세요.</p>
								<!--// 20190816 수정추가 -->

							</div>
							<!--// 20190730 수정 -->
							<!-- 버튼 영역 -->
							<div class="btnArea">
								<a href="/depend" class="btnType1" alt="취소">취소</a>
								<a href="javascript:goSubmit();" class="btnType1 colr" alt="샘플신청완료">샘플신청 하기</a>
							</div>
							<!-- //버튼 영역 -->
						</div>
					</div>
					<!-- //writeTable -->
					<!-- //정보입력 -->
				</div>
			</div>
			<!-- //샘플신청 -->
		</div>
		<!-- //brandSub -->

	</div>
	<!-- //container -->
	<!-- footer -->
	<footer>
	<!-- footerCont -->
	<div class="footerCont">
		<!-- shortcut -->
		<div class="shortcut">
			<ul>
				<li><a href="/huggies"><img src="http://www.ykbrand.co.kr/data/Real/20170119063241_8798fd6629294467b1d3edfaa46a45a6.png" alt="하기스 브랜드 로고"/></a></li>
				<li><a href="/goodnite"><img src="http://www.ykbrand.co.kr/data/Real/20151124074753_f9a1e8cf3cd14b07843b63f664dd5094.gif" alt="굿나이트 브랜드 로고"/></a></li>
				<li><a href="/white"><img src="http://www.ykbrand.co.kr/data/Real/20151124080217_3012e12f69d448148a5d6ddacb184dfc.gif" alt="화이트 브랜드 로고"/></a></li>
				<li><a href="/goodfeel"><img src="http://www.ykbrand.co.kr/data/Real/20161101074938_ff1d995035444beda75526e56114e119.png" alt="좋은느낌 브랜드 로고"/></a></li>
				<li><a href="/kleenex"><img src="http://www.ykbrand.co.kr/data/Real/20170613015035_7eb862b9b0a9437abfc5962ae378acde.png" alt="크리넥스 브랜드 로고"/></a></li>
				<li><a href="/scott"><img src="http://www.ykbrand.co.kr/data/Real/20151124075337_8ee8bb3d4b5a4a8f92c2789c5b5b6a59.gif" alt="스카트 브랜드 로고"/></a></li>
				<li><a href="/mybidet"><img src="http://www.ykbrand.co.kr/data/Real/20151201083836_12cd04c555924aadac23b733928188c2.png" alt="마이비데 브랜드 로고"/></a></li>
				<li><a href="/depend"><img src="http://www.ykbrand.co.kr/data/Real/20151124080729_3ebb53fe976743909a3e8833aa7b67d8.gif" alt="디펜드 브랜드 로고"/></a></li>
				<li><a href="/tn"><img src="http://www.ykbrand.co.kr/data/Real/20151124075445_7d274e661302452d868e3258391345dd.gif" alt="티엔 브랜드 이미지"/></a></li>
				<li><a href="/greenfinger"><img src="http://www.ykbrand.co.kr/data/Real/20161027070004_960745b074ef42119a73667c19028f85.png" alt="그린핑거 브랜드 로고"/></a></li>
				<li><a href="/"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd13.gif" alt="유한킴벌리 브랜드"/></a></li>
				<li><a href="http://www.yuhan-kimberly.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd16.gif" alt="유한킴벌리"></a></li>
				<li><a href="http://www.momq.co.kr/main/initMain.action" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd14.gif" alt="맘큐"/></a></li>
				<li><a href="http://www.happybabyshop.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd15.gif" alt="하기스 선물대잔치"/></a></li>
				<li><a href="http://www.doubleheart.co.kr" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd12.gif" alt="더블하트"/></a></li>
			</ul>
		</div>
		<!-- //shortcut -->
		<!-- footsec -->
		<div class="footsec">
			<!-- logo -->
			<p class="footlogo">
				<img src="http://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리"/>
			</p>
			<!-- footMenu -->
			<ul class="footMenu">
				<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
				<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
			</ul>
			<img style="float:right; margin-top:30px;" src="http://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크"/>
			<!-- //footMenu -->
			<!-- corpInfo -->
			<div class="corpInfo">
				 주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br/>
				고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			</div>
			<!-- copy-->
			<p class="copy">
				 Copyright@2015 Yuhan-Kimberly.All right Reserved.
			</p>
			<!-- btnTop -->
			<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"/></a>
		</div>
		<!-- //footsec -->
	</div>
	<!-- //footerCont -->
	</footer>
	<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
