<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="title" content="유한킴벌리"/>
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리"/>
<!-- <meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653"/> -->
<title>샘플신청 | 킴테크</title>
<link rel="icon" href="../../../../Common/images/favicon/favicon_ktech.png" type="image/x-icon">
<link rel="stylesheet" href="../../../../Common/css/common.css">
<link rel="stylesheet" href="http://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">

<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/clipboard.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/jquery.Placeholders.monkey.patch.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<!-- <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script> -->
<!-- <script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script> -->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
</head>
<body class="kimtech">
<!-- wrap -->
<div id="wrap">
	<div id="layerMask"></div>
	<!-- skipMenu -->
	<nav class="skip">
	<a href="#container">컨텐츠로 바로가기</a>
	</nav>
	<!-- //skipMenu -->
	<!-- header -->
	<header>
		<!-- headerCont -->
		<div class="headerCont">
			<h1><a href="/kimtech"><img src="http://www.ykbrand.co.kr/data/Real/20190603042805_1d256f86c4f349ffbfab3b9a8d5bb918.png" alt="kimtech" /></a></h1>
			<a href="#none" class="allBrand"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allbrand.png" alt="전체 브랜드 레이어 보기" /></a>
			<a href="#none" class="allMenu"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_allmenu.png" alt="전체 메뉴 레이어 보기" /></a>
			<ul id="gnb" class="st1">
				<li>
					<a href="/kimtech/Feed/FeedList?menu=480">브랜드 스토리</a>
				</li>
				<li>
					<a href="/kimtech/Product/ProductList?menu=481">제품소개</a>
				</li>
				<li>
					<a href="/kimtech/Event/EventList?menu=482">이벤트</a>
					<ul class="depth">
						<li><a href="/kimtech/Event/EventList?menu=482">진행중인 이벤트</a></li>
						<li><a href="/kimtech/Event/EndEventList?menu=482">지난 이벤트</a></li>
						<li><a href="/kimtech/Event/ResultList?menu=482">당첨자 확인</a></li>
					</ul>
				</li>
				<li>
					<a href="/kimtech/Board/BoardList?menu=483">커뮤니티</a>
				</li>
			</ul>
		</div>
		<div class="mask"></div><!-- mask -->
		<!-- //headerCont -->

		<!-- 전체 브랜드 레이어 -->
		<!-- //전체 브랜드 레이어 -->
		<!-- 전체 메뉴 레이어 -->
		<!-- //전체 메뉴 레이어 -->
	</header>
	<!-- //header -->

	<!-- container -->
	<div id="container">
		<!-- container -->
		<!-- brandSub -->
		<div class="brandSub">
			<!-- titArea -->
			<div class="titArea">
				<h3>무료 샘플 신청</h3>
				<div class="location">
					<a href="#none">Home</a> &gt; <strong>무료 샘플 신청</strong>
				</div>
			</div>
			<!-- //titArea -->

			<!-- 샘플 신청 -->
			<div class="samplekit_apply ktech">
				<div class="sample_head">
					<h1><img class="logo" src="../../../../Common/images/ktech/logo_s.png" alt="킴테크"><span>킴테크의 다양한</span>제품을 체험해 보세요!</h1>
					<p class="txt1">무료로 제품을 보내드립니다.</p>
				</div>
				<div class="sample_login">
					<div class="left">
						<p class="tit">통합 회원 아이디로<br>킴테크 샘플을 신청해 주세요.</p>
						<p class="desc">이벤트 및 다양한 서비스 혜택을 받으실 수 있습니다.<span>(샘플 배송은 신청일 기준 일주일정도 소요될 수 있습니다.)</span></p>
						<div class="btnArea">
							<a href="/SSL/Login?returnUrl=%2Fdepend%2FCustom%2FSample%2FCreate" class="btnType1 colr" alt="샘플신청 회원">로그인</a>
						</div>
					</div>
					<div class="right">
						<p class="tit">아직 유한킴벌리<br>통합회원이 아니신가요?</p>
						<p class="desc">통합회원에 가입하시면,<br>다양한 서비스와 혜택을 받을 수 있습니다.</p>
						<div class="btnArea">
							<a href="/SSL/Join1_start?returnUrl=%2Fdepend%2FCustom%2FSample%2FCreate" class="btnType1">통합브랜드 회원가입 </a>
						</div>
					</div>
				</div>
			</div>
			<!-- //샘플 신청 -->

		</div>
		<!-- //brandSub -->
		<!-- //container -->
	</div>
	<!-- //container -->

	<!-- footer -->
	<footer>
	<!-- footerCont -->
	<div class="footerCont">
		<!-- shortcut -->
		<div class="shortcut">
			<ul>
				<li><a href="/huggies"><img src="http://www.ykbrand.co.kr/data/Real/20170119063241_8798fd6629294467b1d3edfaa46a45a6.png" alt="하기스 브랜드 로고"/></a></li>
				<li><a href="/goodnite"><img src="http://www.ykbrand.co.kr/data/Real/20151124074753_f9a1e8cf3cd14b07843b63f664dd5094.gif" alt="굿나이트 브랜드 로고"/></a></li>
				<li><a href="/white"><img src="http://www.ykbrand.co.kr/data/Real/20151124080217_3012e12f69d448148a5d6ddacb184dfc.gif" alt="화이트 브랜드 로고"/></a></li>
				<li><a href="/goodfeel"><img src="http://www.ykbrand.co.kr/data/Real/20161101074938_ff1d995035444beda75526e56114e119.png" alt="좋은느낌 브랜드 로고"/></a></li>
				<li><a href="/kleenex"><img src="http://www.ykbrand.co.kr/data/Real/20170613015035_7eb862b9b0a9437abfc5962ae378acde.png" alt="크리넥스 브랜드 로고"/></a></li>
				<li><a href="/scott"><img src="http://www.ykbrand.co.kr/data/Real/20151124075337_8ee8bb3d4b5a4a8f92c2789c5b5b6a59.gif" alt="스카트 브랜드 로고"/></a></li>
				<li><a href="/mybidet"><img src="http://www.ykbrand.co.kr/data/Real/20151201083836_12cd04c555924aadac23b733928188c2.png" alt="마이비데 브랜드 로고"/></a></li>
				<li><a href="/depend"><img src="http://www.ykbrand.co.kr/data/Real/20151124080729_3ebb53fe976743909a3e8833aa7b67d8.gif" alt="디펜드 브랜드 로고"/></a></li>
				<li><a href="/tn"><img src="http://www.ykbrand.co.kr/data/Real/20151124075445_7d274e661302452d868e3258391345dd.gif" alt="티엔 브랜드 이미지"/></a></li>
				<li><a href="/greenfinger"><img src="http://www.ykbrand.co.kr/data/Real/20161027070004_960745b074ef42119a73667c19028f85.png" alt="그린핑거 브랜드 로고"/></a></li>
				<li><a href="/"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd13.gif" alt="유한킴벌리 브랜드"/></a></li>
				<li><a href="http://www.yuhan-kimberly.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd16.gif" alt="유한킴벌리"></a></li>
				<li><a href="http://www.momq.co.kr/main/initMain.action" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd14.gif" alt="맘큐"/></a></li>
				<li><a href="http://www.happybabyshop.co.kr/" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd15.gif" alt="하기스 선물대잔치"/></a></li>
				<li><a href="http://www.doubleheart.co.kr" target="_blank"><img src="http://www.ykbrand.co.kr/Common/images/common/barnd12.gif" alt="더블하트"/></a></li>
			</ul>
		</div>
		<!-- //shortcut -->
		<!-- footsec -->
		<div class="footsec">
			<!-- logo -->
			<p class="footlogo">
				<img src="http://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리"/>
			</p>
			<!-- footMenu -->
			<ul class="footMenu">
				<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
				<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
			</ul>
			<img style="float:right; margin-top:30px;" src="http://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크"/>
			<!-- //footMenu -->
			<!-- corpInfo -->
			<div class="corpInfo">
				 주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br/>
				고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			</div>
			<!-- copy-->
			<p class="copy">
				Copyright@2015 Yuhan-Kimberly.All right Reserved.
			</p>
			<!-- btnTop -->
			<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"/></a>
		</div>
		<!-- //footsec -->
	</div>
	<!-- //footerCont -->
	</footer>
	<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
