<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드"/>
<meta name="description" content="유한킴벌리 통합브랜드"/>
<meta name="keywords" content="유한킴벌리 통합브랜드"/>
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653"/>
<title>샘플신청 | 디펜드</title>
<link rel="icon" href="http://m.ykbrand.co.kr/Common/images/favicon/favicon_de.png" type="image/x-icon">
<!-- <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/common.css"> -->
<link type="text/css" rel="stylesheet" href="../../../Common/css/common.css">
<link type="text/css" rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/main.css">
<!-- main css -->
<link type="text/css" rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/swiper.css">
<link type="text/css" rel="stylesheet" href="http://m.ykbrand.co.kr/Content/common.css">
<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="/Scripts/common.js?ver=201712051826"></script> -->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
<!--OG:META-->
<!--//OG:META-->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script>
//
</script>
</head>
<body>
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="de">
	<div id="layerMask">
	</div>
	<div id="contents">
		<style>
    .inT input[type=datetime] {
        padding: 10px 10px;
        border: 1px solid #dedede;
        width: 100%;
        box-sizing: border-box;
        background: #f2f2f2;
        font-size: 14px;
        color: #757575;
    }
    #layerWrap {
        display: none;
        position: absolute;
        top: 100px;
        left: 2%;
        width: 96%;
        background: #fff;
        z-index: 102;
    }
    #layerWrap .close a {
        position: absolute;
        top: 3%;
        right: 3%;
        color: #000;
        font-size: 1.7em;
        font-family: verdana;
    }
    #layerMask {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        z-index: 101;
        opacity: 0.7;
    }
		</style>
		<!-- header -->
		<header>
		<h1>샘플신청</h1>
		<a href="javascript:history.back();" class="backBtn" onfocus="this.blur();"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<hr/>
		<form action="/depend/Custom/Sample/Complete" method="post">
			<input name="__RequestVerificationToken" type="hidden" value="eDQy6tvM_qDy3R2j1tEQp75G-QhsnIEFEXjUUIN6TW3BUrMVHiW95PQpgrproIIn1MTCizkcTrEHBdxmDC0dwm1nTgY1"/><input value="depend" id="SAMPLE_DIV" name="SAMPLE_DIV" type="hidden" value=""/><input id="reg_ch" name="reg_ch" type="hidden" value=""/><input data-val="true" data-val-number="Q1 필드는 숫자여야 합니다." id="Q1" name="Q1" type="hidden" value="1"/><input data-val="true" data-val-number="Q2 필드는 숫자여야 합니다." id="Q2" name="Q2" type="hidden" value="2"/><input data-val="true" data-val-number="Q3 필드는 숫자여야 합니다." id="Q3" name="Q3" type="hidden" value="2"/><input data-val="true" data-val-number="Q4 필드는 숫자여야 합니다." id="Q4" name="Q4" type="hidden" value="2"/>
			<!-- container -->
			<div id="container">

				<!-- 추천샘플1 : 20200309 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
								<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample1-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">
									슬림 체험 키트 <span>[여성/중형]</span>
								</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는 매끈하게 만들어주는 디펜드 스타일 언더웨어 슬림을 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 스타일 언더웨어 라이트핏 슬림 중형 1매 + 디펜드 스타일 패드 초슬림 대용량 1매</span>
										<!-- <span>디펜드 스타일 언더웨어 라이트핏 중대형 1매 +</span> 20200506 삭제 -->
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플1 -->
				<!-- 추천샘플2 : 20200309 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample2-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">
									슬림 체험 키트 <span>[여성/대형]</span>
								</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는 매끈하게 만들어주는 디펜드 스타일 언더웨어 슬림을 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 스타일 언더웨어 라이트핏 슬림 대형 1매 + 디펜드 스타일 패드 초슬림 대용량 1매</span>
										<!-- <span>디펜드 스타일 언더웨어 라이트핏 중대형 1매 +</span> 20200506 삭제 -->
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플2 -->
				<!-- 추천샘플 : 20200506 추가 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample15-1-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<!-- 20210813 상품명 변경 -->
								<span class="tit">
									초슬림 체험 키트 <span>[여성/중형]</span>
								</span>
								<span class="txt">
									<p class="p1">입은 듯 안 입은 듯 티 나지 않는 스타일 언더웨어 라이트핏을 추천합니다.</p>
									<p class="spec">
										<span>디펜드 스타일 언더웨어 라이트핏 초슬림 중형 1매 + 디펜드 스타일 패드 초슬림 대용량 1매</span>
									</p>
								</span>
								<!--// 20210813 상품명 변경 -->
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플 -->
				<!-- 추천샘플 : 20210813 추가 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample15-2-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<!-- 20210813 상품명 변경 -->
								<span class="tit">
									초슬림 체험 키트 <span>[여성/대형]</span>
								</span>
								<span class="txt">
									<p class="p1">입은 듯 안 입은 듯 티 나지 않는 스타일 언더웨어 라이트핏을 추천합니다.</p>
									<p class="spec">
										<span>디펜드 스타일 언더웨어 라이트핏 초슬림 대형 1매 + 디펜드 스타일 패드 초슬림 대용량 1매</span>
									</p>
								</span>
								<!--// 20210813 상품명 변경 -->
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플 -->
				<!-- 추천샘플3 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample3.png" alt=""/></span>
							</li>
							<li class="btm">
								<span class="tit">
									여성 파워 체험 키트 <span>중형</span>
								</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는<br />매끈하게 만들어주면서도 더 안심할 수 있는 디펜드<br />스타일 언더웨어 파워를 추천합니다.</p>
									<p class="spec">
										<span>디펜드 스타일 언더웨어 여성 파워 중 1 + </span>
										<span>디펜드 스타일 패드 여성 대용량 1</span>
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플3 -->
				<!-- 추천샘플4 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample4.png" alt=""/></span>
							</span>
							</li>
							<li class="btm">
								<span class="tit">
									여성 파워 체험 키트 <span>[대형]</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는<br />매끈하게 만들어주면서도 더 안심할 수 있는 디펜드<br />스타일 언더웨어 파워를 추천합니다.</p>
									<p class="spec"><span>디펜드 스타일 언더웨어 여성 파워 대 1 +</span><span>디펜드 스타일 패드 여성 대용량 1</span></p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플4 -->
				<!-- 추천샘플5 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample5-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">슬림 체험 키트 <span>[남성/중형]</span></span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는 매끈하게 만들어주는 디펜드 스타일 언더웨어 슬림을 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 스타일 언더웨어 라이트핏 슬림 중형 1매 + 디펜드 스타일 남성용 패드 1매</span>										
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플5 -->
				<!-- 추천샘플6 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample6-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">슬림 체험 키트 <span>[남성/대형]</span></span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는 매끈하게 만들어주는 디펜드 스타일 언더웨어 슬림을 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 스타일 언더웨어 라이트핏 슬림 대형 1매 + 디펜드 스타일 남성용 패드 1매</span>
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플6 -->
				<!-- 추천샘플7 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample7.png" alt=""/></span>
							</li>
							<li class="btm">
								<span class="tit">
									남성 파워 체험 키트 <span>[중형]</span>
								</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는<br />매끈하게 만들어주면서도 더 안심할 수 있는 디펜드<br />스타일 언더웨어 파워를 추천합니다.</p>
									<p class="spec"><span>디펜드 스타일 언더웨어 남성 파워 중 1 +</span><span>디펜드 남성용 패드 프리 1</span></p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플7 -->
				<!-- 추천샘플8 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample8.png" alt=""/></span>
							</li>
							<li class="btm">
								<span class="tit">
									남성 파워 체험 키트 <span>[대형]</span>
								</span>
								<span class="txt">
									<p class="p1">외출 시 자신감은 살려주고 옷맵시는<br />매끈하게 만들어주면서도 더 안심할 수 있는 디펜드<br />스타일 언더웨어 파워를 추천합니다.</p>
									<p class="spec"><span>디펜드 스타일 언더웨어 남성 파워 대 1 +</span><span>디펜드 남성용 패드 프리 1</span></p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플8 -->
				<!-- 추천샘플9 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample9.png" alt=""/></span>
							</li>
							<li class="btm">
								<span class="tit">
									안심플러스 체험 키트 <span>[중형]</span>
								</span>
								<span class="txt">
									<p class="p1">거동이 불편하시거나 치매로 도움이<br />필요한 어르신들과 재활 중에 있는 분들을 위해<br />디펜드 안심플러스 언더웨어를 추천합니다.</p>
									<p class="spec"><span>디펜드 안심플러스 언더웨어 중형 견본 2</span></p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플9 -->
				<!-- 추천샘플10 -->
				<div class="divider recomm sample019" style="display:none;"><!-- 20210813 display:none -->
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample10.png" alt=""/></span>
							</li>
							<li class="btm">
								<span class="tit">
									안심플러스 체험 키트 <span>[대형]</span>
								</span>
								<span class="txt">
									<p class="p1">거동이 불편하시거나 치매로 도움이<br />필요한 어르신들과 재활 중에 있는 분들을 위해<br />디펜드 안심플러스 언더웨어를 추천합니다.</p>
									<p class="spec"><span>디펜드 안심플러스 언더웨어 대형 견본 2</span></p>
								</span>
							</li>
						</ul>
					</div>

					<div class="btn">
						<a href="#" class="type_co">설문 다시 하기</a>
					</div>
				</div>
				<!-- //추천샘플10 -->
				<!-- 추천샘플11 : 20200309 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample11-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<!-- 20210813 상품명 변경 -->
								<span class="tit">
									패드/라이너 체험 키트 <span>[여성]</span>
								</span>
								<span class="txt">
									<p class="p1">빠른 흡수로 운동도, 재채기도, 웃음도 자신 있게 하고 싶은 분들을 위해 디펜드 스타일 패드/라이너 제품을 추천합니다.</p>
									<p class="spec">
										<span>디펜드 스타일 라이너 무향 롱 3매 + 디펜드 스타일 라이너 무향 수퍼롱 1매 + 디펜드 스타일 패드 중용량 1매</span>
									</p>
								</span>
								<!--// 20210813 상품명 변경 -->
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플11 -->
				<!-- 추천샘플12 : 20200309 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample12-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">
									패드 대용량 체험 키트 <span>[여성]</span>
								</span>
								<span class="txt">
									<p class="p1">많은 양의 빠른 흡수를 원하고, 패드형 제품을 선호하는 분들을 위해 디펜드 스타일 대용량 패드 제품을 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 스타일 패드 대용량 1매 + 디펜드 스타일 패드 초슬림 대용량 1매 + 디펜드 스타일 언더웨어 라이트핏 초슬림 중형 1매</span>
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플12 -->
				<!-- 추천샘플13 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample13-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<!-- 20210813 상품명 변경 -->
								<span class="tit">
									패드/라이너 체험 키트 <span>[남성]</span>
								</span>
								<span class="txt">
									<p class="p1">빠른 흡수로 운동도, 재채기도, 웃음도 자신 있게 하고 싶은 분들을 위해 디펜드 스타일 패드/라이너 제품을 추천합니다.</p>
									<p class="spec">
										<span>디펜드 스타일 패드 1매 + 디펜드 스타일 라이너 2매</span> <!-- 20210823 구성항목 수정 //-->
									</p>
								</span>
								<!--// 20210813 상품명 변경 -->
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플13 -->
				<!-- 추천샘플14 : 20200309 -->
				<div class="divider recomm sample019" style="display:block;">
					<div class="sampleInfo">
						<p class="title">추천샘플</p>
						<ul>
							<li class="top">
							<span class="img"><img src="../../../Common/images/de_new/de_recomm_sample14-2021.png" alt=""/></span><!-- 20210813 이미지 교체 -->
							</li>
							<li class="btm">
								<span class="tit">
									산모 체험 키트
								</span>
								<span class="txt">
									<p class="p1">산모분들께는 흡수는 빠르고, 피부에는 부드러운 산모 전용 패드 디펜드 맘스 안심패드를 추천합니다.</p>
									<p class="spec">
										<!-- 20210813 상품명 변경 -->
										<span>디펜드 맘스 안심팬티 1매 + 디펜드 스타일 라이너 무향 롱 3매 + 디펜드 스타일 패드 중용량 1매</span>
										<!--// 20210813 상품명 변경 -->
									</p>
								</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- //추천샘플14 -->

				<div class="divider recomm sample019">
					<div class="btn">
						<a href="#" class="type_co">설문 다시 하기</a>
					</div>
				</div>
				<!--// 201903 sample019 클래스 추가 및 마크업수정 -->

				<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
				<div class="divider renew sample019">
					<p class="ptit">받으시는 분의 정보를<br />입력해주세요.</p>
					<dl class="inT flexdl">
						<dt class="ftitle">받으시는 분</dt>
						<dd>
							<div class="clr">
								<span class="radioF wF3">
									<input type="radio" id="de1" name="w1" value="본인" checked="checked">
									<label for="de1">본인</label>
								</span>
								<span class="radioF wF3">
									<input type="radio" id="de2" name="w1" value="가족">
									<label for="de2">가족</label>
								</span>
							</div>
							<div class="clr">
								<span class="radioF wF3">
									<input type="radio" id="de3" name="w1" value="기타">
									<label for="de3">기타</label>
								</span>
							</div>
							<div>
								<input class="text-box single-line" id="SAMPLE_RECIV" name="SAMPLE_RECIV" onkeypress="onlyKoreanEnglish()" placeholder="직접 입력해 주세요." title="기타 내용을 직접 입력해 주세요." type="text" value="" />
								<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_RECIV" data-valmsg-replace="true"></span>
							</div>
						</dd>
					</dl>
					<dl class="inT flexdl">
						<dt>이름</dt>
						<dd>
							<input class="text-box single-line" id="w2" name="SAMPLE_NAME" onkeypress="onlyKoreanEnglish()" placeholder="이름을 입력해 주세요." title="이름 입력" type="text" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_NAME" data-valmsg-replace="true"></span>
						</dd>
					</dl>
					<dl class="inT flexdl">
						<dt>생년월일</dt>
						<dd>
							<label for="t_birth"><input type="text" class="onlynum" onkeypress="onlyNumber()" id="t_birth" placeholder="입력 예시) 20150101" maxlength="8"/></label>
							<input data-val="true" data-val-date="SAMPLE_BIRTH 필드는 날짜여야 합니다." htmlattributes="{ class=form-control }" id="SAMPLE_BIRTH" name="SAMPLE_BIRTH" type="hidden" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_BIRTH" data-valmsg-replace="true"></span>
						</dd>
					</dl>
					<dl class="inT flexdl intCol3">
						<dt>연락처</dt>
						<dd>
							<span class="selectBox">
								<label for="tel1" id="tel1_for"></label>
								<select id="tel1">
									<option value="02">02</option>
									<option value="031">031</option>
									<option value="032">032</option>
									<option value="033">033</option>
									<option value="041">041</option>
									<option value="042">042</option>
									<option value="043">043</option>
									<option value="044">044</option>
									<option value="051">051</option>
									<option value="052">052</option>
									<option value="053">053</option>
									<option value="054">054</option>
									<option value="055">055</option>
									<option value="061">061</option>
									<option value="062">062</option>
									<option value="063">063</option>
									<option value="064">064</option>
									<option value="010">010</option>
									<option value="011">011</option>
									<option value="016">016</option>
									<option value="017">017</option>
									<option value="018">018</option>
									<option value="019">019</option>
								</select>
							</span>
							<span><label for="tel2"><input type="text" maxlength="4" class="onlynum" onkeypress="onlyNumber()" id="tel2"></label></span>
							<span><label for="tel3"><input type="text" maxlength="4" class="onlynum" onkeypress="onlyNumber()" id="tel3"></label></span>
							<input htmlattributes="{ class=form-control }" id="SAMPLE_TEL" name="SAMPLE_TEL" type="hidden" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_TEL" data-valmsg-replace="true"></span>
						</dd>
					</dl>
					<dl class="inT intAdrs">
						<dt>주소</dt>
						<dd>
							<span>
							<input class="text-box single-line" id="SAMPLE_ZIPCODE" name="SAMPLE_ZIPCODE" placeholder="" readonly="readonly" title="검색된 주소 우편번호 노출 영역" type="text" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_ZIPCODE" data-valmsg-replace="true"></span>
							</span>
							<span><a href="javascript:openFindAddress()">우편번호</a></span>
						</dd>
						<dd class="pT0 mt10">
							<input class="text-box single-line" id="SAMPLE_ADDRESS1" name="SAMPLE_ADDRESS1" placeholder="" readonly="readonly" title="검색된 주소 노출 영역" type="text" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_ADDRESS1" data-valmsg-replace="true"></span>
						</dd>
						<dd class="pT0 mt10">
							<input class="text-box single-line" id="SAMPLE_ADDRESS2" name="SAMPLE_ADDRESS2" placeholder="나머지 주소를 입력해 주세요" title="나머지 주소 입력" type="text" value=""/>
							<span class="field-validation-valid text-danger" data-valmsg-for="SAMPLE_ADDRESS2" data-valmsg-replace="true"></span>
						</dd>
					</dl>
					<dl class="inT">
						<dt>개인정보 보호를 위한 이용자 동의서</dt>
						<dd><a class="lnk" href="/depend/Custom/sample/sample2" target="_blank">자세히보기</a></dd>
						<dd>
							<span class="radioF">
							<input type="radio" id="de31" name="agree1" value="동의안함" checked="checked">
							<label for="de31">동의 안함</label>
							</span>
							<span class="radioF">
							<input type="radio" id="de32" name="agree1" value="동의">
							<label for="de32">동의</label>
							</span>
						</dd>
					</dl>
					<div class="btnWrap">
						<span><a href="/depend">취소</a></span>
						<span><a href="javascript:goSubmit();">샘플신청 하기</a></span>
					</div>
				</div>
				<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
				<div class="divider after sample019">
					<div class="goReview" style="border-top:none;">
						<a href="/depend/Product/ProductList?menu=35" alt="후기 남기기"><img src="../../../Common/images/de_new/de_bg_sampleafter.jpg" alt="" /></a>
					</div>
				</div>

			</div>

		</form>
	</div>
	<hr/>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="http://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리"/>
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="http://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크"/>
	</footer>
	<!-- sns공유하기 팝업 -->
	<div id="selSns" class="popup hide">
		<h3>공유하기</h3>
		<div class="popCont ac">
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
		</div>
		<a href="#none" class="popClose"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
	</div>
	<!-- //sns공유하기 팝업 -->
	<div id="dim">
	</div>
	<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
	<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
