<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드"/>
<meta name="description" content="유한킴벌리 통합브랜드"/>
<meta name="keywords" content="유한킴벌리 통합브랜드"/>
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653"/>
<title>샘플신청 | 디펜드</title>
<link rel="icon" href="http://m.ykbrand.co.kr/Common/images/favicon/favicon_de.png" type="image/x-icon">
<!-- <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/common.css"> -->
<link rel="stylesheet" href="../../../Common/css/common.css">
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/swiper.css">
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Content/common.css">
<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="/Scripts/common.js?ver=201712051826"></script> -->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
<!--OG:META-->
<!--//OG:META-->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
<script>
		$(function () {
				if ("" != "") {
						alert('샘플 신청 제한 횟수를 초과 하였습니다.');
				}
				// 샘플 레이어팝업
				$('#sampleBtn').bind('click', function (event) {
						event.preventDefault();
						$('#layerWrap, #layerMask').show();
				});
				$('#layerWrap .close a').bind('click', function (event) {
						event.preventDefault();
						$('#layerWrap, #layerMask').hide();
				});
		});
		function goSubmit() {
				// 설문조사 유효성 체크
				var validationOK = true;
				$('.question').each(function (index, element) {
						var $this = $(element);
						var $answersElement = $this.find('input[type=radio]');
						if ($answersElement.filter(':checked').length < 1) {
								alert('Q' + (index + 1) + '에 대한 답변을 선택해 주세요.');
								$answersElement.eq(0).focus();
								validationOK = false;
								return false;
						}
				});
				if (!validationOK) return;
				$('form').submit();
		}
</script>
<!-- 디펜드 샘플신청 태그 -->
</head>
<body>
<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="de">
	<div id="layerMask">
	</div>
	<div id="contents">
		<style>
    .inT input[type=datetime] {
      padding: 10px 10px;
      border: 1px solid #dedede;
      width: 100%;
      box-sizing: border-box;
      background: #f2f2f2;
      font-size: 14px;
      color: #757575;
    }
    #layerWrap {
      display: none;
      position: absolute;
      top: 100px;
      left: 2%;
      width: 96%;
      background: #fff;
      z-index: 102;
    }
    #layerWrap .close a {
      position: absolute;
      top: 3%;
      right: 3%;
      color: #000;
      font-size: 1.7em;
      font-family: verdana;
    }
    #layerMask {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      z-index: 101;
      opacity: 0.7;
    }
		</style>
		<!-- header -->
		<header>
		<h1>샘플신청</h1>
		<a href="javascript:history.back();" class="backBtn" onfocus="this.blur();"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<hr/>
		<!-- container -->
		<div id="container">
			<form action="/depend/Custom/Sample/Application" method="post">
				<input id="type" name="type" type="hidden" value=""/><input id="ch" name="ch" type="hidden" value=""/>
				<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
				<div class="divider desample sample019">
					<div class="lead">
						<p class="tit">
							<span><img src="http://m.ykbrand.co.kr/Common/images/common/img_de_logo.png" alt="디펜드" class="deImg"></span>
							<span class="com">다양해진 <span>샘플신청</span></span>
							<strong>샘플로 먼저 체험해보세요!</strong>
						</p>
						<p class="txt">
							아래 정보를 입력하시면 디펜드 제품 샘플을<br />추천하여 무료로 배송해 드립니다.<br />전화 신청은 <strong>080.554.5959</strong>로 전화해 주세요.
						</p>
						<!--삭제 <p class="cntImg">
							<img src="../../../Common/images/common/img_de_smaple.png" alt="디펜드 이미지">
						</p> -->
					</div>
				</div>
				<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
				<div class="titW tW_t1 desample sample019" id="anchor">
					<h2>무료체험 제품 신청</h2>
					<span>간단한 설문에 참여한 후 샘플을 신청 하실 수 있습니다.</span>
				</div>
				<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
				<div class="divider renew sample019">
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q1.</span>실제 디펜드 샘플 사용자는 신청자 본인과 어떤 관계이신가요?</dt>
						<dd>
							<dl class="survery_content question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q1 필드는 숫자여야 합니다." id="Q1_1" name="Q1" type="radio" value="1"/>
									<label for="Q1_1">부모</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_2" name="Q1" type="radio" value="2"/>
									<label for="Q1_2">자녀</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_3" name="Q1" type="radio" value="3"/>
									<label for="Q1_3">배우자</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_4" name="Q1" type="radio" value="4"/>
									<label for="Q1_4">본인</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_5" name="Q1" type="radio" value="5"/>
									<label for="Q1_5">조부모</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_6" name="Q1" type="radio" value="6"/>
									<label for="Q1_6">기타</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q1_7" name="Q1" type="radio" value="6"/>
									<label for="Q1_7">임산부</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q2.</span>디펜드 샘플을 사용하실 분의 성별은 어떻게 되나요?</dt>
						<dd>
							<dl class="survery_content question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q2 필드는 숫자여야 합니다." id="Q2_1" name="Q2" type="radio" value="1"/>
									<label for="Q2_1">여성</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q2_2" name="Q2" type="radio" value="2"/>
									<label for="Q2_2">남성</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q3.</span>현재 입고 계신 속옷의 사이즈는 어떻게 되나요?</dt>
						<dd>
							<dl class="survery_content question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q3 필드는 숫자여야 합니다." id="Q3_1" name="Q3" type="radio" value="1"/>
									<label for="Q3_1">90-100호</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q3_2" name="Q3" type="radio" value="2"/>
									<label for="Q3_2">100호 이상</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q4.</span>디펜드 샘플을 사용하실 고객님이 평소에 혼자 활동을 수월하게 하시나요?</span></dt>
						<dd>
							<dl class="survery_content2 question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q4 필드는 숫자여야 합니다." id="Q4_1" name="Q4" type="radio" value="1"/>
									<label for="Q4_1">혼자 활동 가능</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q4_2" name="Q4" type="radio" value="2"/>
									<label for="Q4_2">불편하지만 혼자 활동 가능</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q4_3" name="Q4" type="radio" value="3"/>
									<label for="Q4_3">부축해야 활동 가능</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q4_4" name="Q4" type="radio" value="4"/>
									<label for="Q4_4">전혀 활동 못함</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q5.</span>최근 3개월간 요실금 증상을 얼마나 자주 경험하셨나요?</dt>
						<dd>
							<dl class="survery_content2 question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q5 필드는 숫자여야 합니다." id="Q5_1" name="Q5" type="radio" value="1"/>
									<label for="Q5_1">한 달에 한 번 이하</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q5_2" name="Q5" type="radio" value="2"/>
									<label for="Q5_2">한 달에 몇 번</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q5_3" name="Q5" type="radio" value="3"/>
									<label for="Q5_3">일주일에 몇 번</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q5_4" name="Q5" type="radio" value="4"/>
									<label for="Q5_4">거의 매일/하루에도 몇 번</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q5_5" name="Q5" type="radio" value="5"/>
									<label for="Q5_5">증상을 알수 없음</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q6.</span>요실금 증상이 있을 때 소변의 양은 어느 정도인가요?<br /><span class="ft_green txt">(본인의 증상과 가장 가까운 1개만 선택)</span></dt>
						<dd>
							<dl class="survery_content2 question">
								<dd>
									<span class="radioF">
									<input data-val="true" data-val-number="Q6 필드는 숫자여야 합니다." id="Q6_1" name="Q6" type="radio" value="1"/>
									<label for="Q6_1">단지 몇 방울 또는 아주 소량이 흘러 나온다.</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q6_2" name="Q6" type="radio" value="2"/>
									<label for="Q6_2">웃거나, 재채기하거나, 무언가를 들어올릴 때 방울은 크지만 계속적으로 흘러내리는 정도는 아니다.</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q6_3" name="Q6" type="radio" value="3"/>
									<label for="Q6_3">정기적이거나 지속적으로 흘러나온다.</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q6_4" name="Q6" type="radio" value="4"/>
									<label for="Q6_4">이따금 상당량 또는 지속적으로 소변이 흘러나온다.</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q6_5" name="Q6" type="radio" value="5"/>
									<label for="Q6_5">완전히 또는 갑작스럽게 소변이 왈칵 나온다.</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q6_6" name="Q6" type="radio" value="6"/>
									<label for="Q6_6">정도를 알수 없음</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>

					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q7.</span>선호하시는 제품 형태는 무엇인가요?</dt>
						<dd>
							<dl class="survery_content2 question">
								<dd>
									<span class="radioF">
									<input id="Q7_1" name="Q7" type="radio" value="1"/>
									<label for="Q7_1">팬티형</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q7_2" name="Q7" type="radio" value="1"/>
									<label for="Q7_2">패드형</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<!-- 20200506 추가 -->
					<dl class="inT">
						<dt class="survey_title"><span class="ft_green">Q8.</span>어떤 착용감을 선호하시나요?​</dt>
						<dd>
							<dl class="survery_content2 question">
								<dd>
									<span class="radioF">
									<input id="Q8_1" name="Q8" type="radio" value="1"/>
									<label for="Q8_1">티 나지 않는 가벼운 착용감</label>
									</span>
								</dd>
								<dd>
									<span class="radioF">
									<input id="Q8_2" name="Q8" type="radio" value="1"/>
									<label for="Q8_2">샘 걱정 없는 안심감</label>
									</span>
								</dd>
							</dl>
						</dd>
					</dl>
					<!--// 20200506 추가 -->

					<div class="btnWrap">
						<span><a href="/depend">취소</a></span>
						<span><a href="javascript:goSubmit();">다음</a></span>
					</div>
				</div>
				<!--// 201903 sample19 클래스 추가 및 마크업수정 -->
			</form>
			<div id="layerWrap">
				<div class="close">
					<a href="#">X</a>
				</div>
				<div class="titW tW_t1">
					<h2>디펜드 회원 분들께 드리는 샘플 구성</h2>
				</div>
				<div class="divider" style="background:none;">
					<div class="sampleInfo">
						<ul>
							<li>
							<span class="img"><img src="http://m.ykbrand.co.kr/Common/images/de/sample1.jpg" alt=""/></span>
							<span class="txt">
							<span class="tCont">
							<strong>여성용</strong>
							디펜드 스타일 언더웨어 1개 (슬림, 파워 &#47; 택 1개) +<br/>
							소형 라이너 1백(3개입) +<br/>
							중형 패드 1백(2개입) </span>
							</span>
							</li>
							<li>
							<span class="img"><img src="http://m.ykbrand.co.kr/Common/images/de/sample2.jpg" alt=""/></span>
							<span class="txt">
							<span class="tCont">
							<strong>남성용</strong>
							디펜드 스타일 언더웨어 1개 <br/>
							(슬림, 파워 / 택 1개) +<br/>
							패드 프리 1개 </span>
							</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- 201904 디펜드샘플신청 회원체크팝업 -->
			<div class="memcheck_pop">
				<!-- layerCont -->
				<div class="layerCont">
					<div class="info">
						<p class="p1">회원님께서는<br>간편회원(네이버, 페이스북, 카카오)으로<br>로그인하셨습니다. </p>
						<p class="p2">통합회원으로 로그인하시면<br>디펜드 무료샘플을 신청하실 수 있습니다.<br>통합회원으로 로그인 하시겠습니까?</p>
					</div>
					<div class="btnWrap">
						<span><a href="/depend">취소</a></span>
						<span><a href="#">확인</a></span>
					</div>
				</div>
				<!--// layerCont -->
			</div>
			<!--// 201904 디펜드샘플신청 회원체크팝업 -->

		</div>
		<!--// container -->
	</div>
	<hr/>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="http://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리"/>
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="http://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크"/>
	</footer>
	<!-- sns공유하기 팝업 -->
	<div id="selSns" class="popup hide">
		<h3>공유하기</h3>
		<div class="popCont ac">
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
		</div>
		<a href="#none" class="popClose"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
	</div>
	<!-- //sns공유하기 팝업 -->
	<div id="dim">
	</div>
	<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
	<!-- //footer -->
</div>
<!-- //wrap -->

<script>
	// 201904 디펜드샘플신청 회원체크팝업 s
	// var memcheckPopO = function(){
	// 	$('.memcheck_pop').show();
	//  	$('#layerMask').show();
	// }
	memcheckPopO();
	var memcheckPopC = function(){
		$('.memcheck_pop').hide();
	 	$('#layerMask').hide();
	}
	// 201904 디펜드샘플신청 회원체크팝업 e

</script>
</body>
</html>
