<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="title" content="유한킴벌리 통합브랜드"/>
<meta name="description" content="유한킴벌리 통합브랜드"/>
<meta name="keywords" content="유한킴벌리 통합브랜드"/>
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653"/>
<title>샘플신청 | 디펜드</title>
<link rel="icon" href="http://m.ykbrand.co.kr/Common/images/favicon/favicon_de.png" type="image/x-icon">
<!-- <link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/common.css"> -->
<link rel="stylesheet" href="../../../Common/css/common.css">
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/main.css">
<!-- main css -->
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Common/css/swiper.css">
<link rel="stylesheet" href="http://m.ykbrand.co.kr/Content/common.css">
<script src="//assets.adobedtm.com/e22872c43c9bf6414da13b76674efbd8abc845fa/satelliteLib-052e2e3b785f4de4f12727bb7d5a03b9522cfb90.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/swiper.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Common/js/clipboard.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/jquery.waitforimages.min.js"></script>
<!-- <script type="text/javascript" src="http://m.ykbrand.co.kr/Scripts/common.js"></script> -->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
<!--OG:META-->
<!--//OG:META-->
<!-- 레이아웃 이벤트 헤더 -->
<!-- //레이아웃 이벤트 헤더 -->
</head>
<body>

<!-- skip_nav -->
<a href="#contents" class="skip">본문 바로가기</a>
<!-- wrap -->
<div id="wrap" class="de">
	<div id="layerMask">
	</div>
	<div id="contents">
		<style>
    #container {
        background-color:#ffffff
    }
		</style>
		<!-- header -->
		<header>
		<h1>샘플신청</h1>
		<a href="javascript:history.back();" class="backBtn" onfocus="this.blur();"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_back.png" alt="뒤로가기"></a>
		</header>
		<hr/>
		<!-- container -->
		<div>
			<!-- 디펜드 무료 샘플 신청 -->
			<!-- 201903 sample019 클래스 추가 및 마크업수정 -->
			<div class="de_sample_apply renew sample019">
				<div class="app_top">
					<h1><img src="http://m.ykbrand.co.kr/Common/images/common/img_de_logo.png" alt="디펜드" class="deImg">
						<strong>디펜드</strong>무료 샘플신청
					</h1>
					<p class="txt1">
						샘플로 먼저 체험해보세요!
						<!--삭제 <img src="../../../Common/images/common/img_de_smaple.png" alt="디펜드 이미지"> -->
					</p>
				</div>

				<p class="txt2">
					<strong>통합 회원 아이디로<br />디펜드 샘플을 신청해 주세요.</strong>이벤트 및 다양한 서비스 혜택을 받으실 수 있습니다.
					<span>(샘플 배송은 신청일 기준 일주일정도 소요될 수 있습니다.)</span>
				</p>
				<div class="btn">
					<a href="/SSL/Login?returnUrl=%2Fdepend%2FCustom%2FSample%2FCreate" class="type_de" alt="샘플신청 회원">로그인</a>
				</div>
				<p class="txt3">
					<strong>아직 유한킴벌리<br />통합회원이 아니신가요?</strong>통합회원에 가입하시면,<br />다양한 서비스와 혜택을 받을 수 있습니다.
				</p>
				<div class="btn">
					<a href="/SSL/Join1_Start?returnUrl=%2Fdepend%2FCustom%2FSample%2FCreate" class="type_co">통합회원가입 </a>
					<br/><br/><br/>
				</div>
			</div>
			<!--// 201903 sample19 클래스 추가 및 마크업수정 -->
			<!-- //디펜드 무료 샘플 신청 팝업 -->
		</div>
	</div>
	<hr/>
	<!-- footer -->
	<footer>
	<p class="flogo">
		<img src="http://m.ykbrand.co.kr/Common/images/common/flogo.png" alt="유한킴벌리"/>
		<a href="/Terms/TermsPop?type=yk3" target="_blank" title="사이트이용약관 새창보기">사이트이용약관</a>
		<a href="/Terms/TermsPop?type=yk8" target="_blank" title="개인정보처리방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a>
	</p>
	<address>주소 : 서울시 강남구 테헤란로 504 (우) 06178</address>
	<ul class="info">
		<li>대표자 : 최규복</li>
		<li>사업자번호 : 120-81-11436</li>
		<li>고객지원센터 : <a href="tel:080-022-7007">080-022-7007</a></li>
	</ul>
	<a href="https://www.yuhan-kimberly.co.kr/Mobile/Customer/Company" class="email" target="_blank" title="새창에서 열림">회사대표 이메일</a>
	<p class="copy">
		Copyright ⓒ 2015 Yuhan-Kimberly. All right Reserved.
	</p>
	<img style="margin-top:16px; width:150px;" src="http://m.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크"/>
	</footer>
	<!-- sns공유하기 팝업 -->
	<div id="selSns" class="popup hide">
		<h3>공유하기</h3>
		<div class="popCont ac">
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popFacebook.gif" alt="Facebook"></a>
			<a href="#none"><img src="http://m.ykbrand.co.kr/Common/images/common/img_popKakao.gif" alt="Kakaostory"></a>
		</div>
		<a href="#none" class="popClose"><img src="http://m.ykbrand.co.kr/Common/images/btn/btn_close.png" alt="팝업닫기"></a>
	</div>
	<!-- //sns공유하기 팝업 -->
	<div id="dim">
	</div>
	<a id="moveTop" href="javascript:window.scrollTo(0,0);">문서 상단으로 이동</a>
	<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
