<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="유한킴벌리">
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>약관관리 | 마이페이지 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/jquery.bxslider.css">
<link rel="stylesheet" href="../../Common/css/mypage.css">
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script>
<!-- 20180306 추가 s -->
<style>
.Terms_box table td {font-size:16px;}
.sso .ui_radio input[type=radio]+label {font-size: 16px;}
</style>
<!-- 20180306 추가 e -->
<body class="sso">
<form action="/SSL/Mypage_Terms" method="post">
	<input name="__RequestVerificationToken" type="hidden" value="rMdtkDB-5w2Zjv7Pe5eNhTGfWSdDnGwqjBjLjsrcJ6vfaPJp2Q4t5PpgsFvVjvseeaSMY6ga8cUZfhnyLcy055itTBk1">
	<!-- 마이페이지 (940 * 626) -->
	<div id="mypage">
		<header>
		<h1><img src="../../Common/images/mypage/logo.gif" alt="유한킴벌리 SSO회원 마이페이지"></h1>
		</header>
		<!-- mypageTab -->
		<div class="simple_join_tab4">
			<ul class="clearfix">
				<li>회원정보수정</li>
				<li>아이정보 추가/수정</li>
				<li class="on">약관관리</li>
				<li>회원탈퇴</li>
			</ul>
		</div>
		<!-- //mypageTab -->
		<div class="childInfo">
			<div class="cont" style="border:none;">
				<p class="tit" style="font-size:20px;">
					회원으로 가입하고 싶은 브랜드 및 사이트를 선택해 주세요.
				</p>
				<div class="ssoContent" style="padding-top:0px;padding-bottom:0px;width:880px;">
					<!-- 타이틀 영역 -->
					<!-- //타이틀 영역 -->
					<!-- 회원가입 -->
					<div class="joinArea">
						<!-- //step -->
						<div class="termsAgree">
							<!-- 약관동의 -->
							<div class="termsArea" style="border:0px;">
								<div class="site_agree" style="margin-bottom:40px;margin-top:10px;">
									<ul class="termList">
										<li>
										<div class="check site">
											<span class="ui_radio">
											<input type="checkbox" id="siteMember" name="siteMember" value="Y" class="chkRequired" data-required="true" checked="">
											<label for="siteMember">[필수] <span for="site1">유한킴벌리 SSO회원</span></label>   <!-- 20180306 text //-->
											</span>
										</div>
										</li>
										<li>
										<div class="check site">
											<span class="ui_radio">
											<input type="checkbox" id="siteBrand" name="siteBrand" value="Y" checked="">
											<label for="siteBrand"><span>통합브랜드 </span></label><span style="font-size:12px; color:#737373; vertical-align:text-top;line-height:20px;">하기스,하기스 아기물티슈,굿나이트,화이트,좋은느낌,크리넥스,스카트,마이비데,디펜드,티엔,그린핑거,우리나눔TV,골든프렌즈</span>
											</span>
										</div>
										</li>
										<li>
										<div class="check site">
											<span class="ui_radio">
											<input type="checkbox" id="siteMomq" name="siteMomq" value="Y">
											<label for="siteMomq"><span>momQ</span><span style="font-size:14px;color:#737373;"><img style="margin-left:20px; margin-right:5px;" src="http://www.ykbrand.co.kr/Common/images/common/agree_dccupon.png" alt="momQ 할인쿠폰">유한킴벌리 공식몰&nbsp;‘맘큐’&nbsp;가입(약관동의)&nbsp;하면 적립금&nbsp;2천원과 할인쿠폰 지급!</span></label>
											</span>
										</div>
										</li>
										<li>
										<div class="check site">
											<span class="ui_radio">
											<input type="checkbox" id="sitePresent" name="sitePresent" value="Y" checked="">
											<label for="sitePresent"><span>선물대잔치</span></label>
											</span>
										</div>
										</li>
									</ul>
								</div>
								<!-- 전체동의 -->
								<p class="tit" style="margin-top:20px; float:left;">
									약관을 읽어 보시고 동의해 주십시오
								</p>
								<div class="all_agree">
									<span class="ui_check">
									<input type="checkbox" id="chkAll">
									<label for="chkAll">(필수/선택)약관 모두 동의</label>
									<button type="button" class="Term_next btnSubmit">저장</button>
									</span>
								</div>
								<div class="Terms_box">
									<span class="span_blue">[필수 약관]</span>
									<span class="ui_check" style="float:right;">
									<input type="checkbox" id="chkAllRequired" name="brand_all">
									<label for="chkAllRequired">모두동의</label>
									</span>
									<table>
									<colgroup>
									<!-- 20180306 s -->
									<col style="width:50%;">
									<col style="width:15%;">
									<col style="width:35%;">
									<!-- 20180306 e -->
									</colgroup>
									<tbody id="requiredTermsArea">
									<tr class="YKMEMBER_RequiredArea">
										<td>
											유한킴벌리 SSO회원 이용약관 <!-- 20180306 text //-->
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKMEMBER_Required1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Required1_N" name="YKMEMBER_Required1" value="N">
											<label for="YKMEMBER_Required1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Required1_Y" name="YKMEMBER_Required1" value="Y" checked="">
											<label for="YKMEMBER_Required1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKMEMBER_RequiredArea">
										<td>
											유한킴벌리 SSO회원 필수항목 개인정보 수집 및 이용 <!-- 20180306 text //-->
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKMEMBER_Required2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Required2_N" name="YKMEMBER_Required2" value="N">
											<label for="YKMEMBER_Required2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Required2_Y" name="YKMEMBER_Required2" value="Y" checked="">
											<label for="YKMEMBER_Required2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKBRAND_RequiredArea">
										<td>
											통합브랜드 이용약관
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKBRAND_Required1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Required1_N" name="YKBRAND_Required1" value="N">
											<label for="YKBRAND_Required1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Required1_Y" name="YKBRAND_Required1" value="Y" checked="">
											<label for="YKBRAND_Required1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKBRAND_RequiredArea">
										<td>
											통합브랜드 필수항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKBRAND_Required2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Required2_N" name="YKBRAND_Required2" value="N">
											<label for="YKBRAND_Required2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Required2_Y" name="YKBRAND_Required2" value="Y" checked="">
											<label for="YKBRAND_Required2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="MOMQ_RequiredArea" style="display:none;">
										<td>
											momQ 이용약관
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('MOMQ_Required1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Required1_N" name="MOMQ_Required1" value="N" checked="" disabled="">
											<label for="MOMQ_Required1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Required1_Y" name="MOMQ_Required1" value="Y" disabled="">
											<label for="MOMQ_Required1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="MOMQ_RequiredArea" style="display:none;">
										<td>
											momQ 필수항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('MOMQ_Required2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Required2_N" name="MOMQ_Required2" value="N" checked="" disabled="">
											<label for="MOMQ_Required2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Required2_Y" name="MOMQ_Required2" value="Y" disabled="">
											<label for="MOMQ_Required2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="PRESENT_RequiredArea">
										<td>
											선물대잔치 이용약관
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('PRESENT_Required1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Required1_N" name="PRESENT_Required1" value="N">
											<label for="PRESENT_Required1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Required1_Y" name="PRESENT_Required1" value="Y" checked="">
											<label for="PRESENT_Required1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="PRESENT_RequiredArea">
										<td>
											선물대잔치 필수항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('PRESENT_Required2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Required2_N" name="PRESENT_Required2" value="N">
											<label for="PRESENT_Required2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Required2_Y" name="PRESENT_Required2" value="Y" checked="">
											<label for="PRESENT_Required2_Y">동의</label>
											</span>
										</td>
									</tr>
									</tbody>
									</table>
									<span class="span_blue">[선택 약관]</span>
									<span class="ui_check" style="float:right;">
									<input type="checkbox" id="chkAllOptional">
									<label for="chkAllOptional">모두동의</label>
									</span>
									<table>
									<colgroup>
									<!-- 20180306 s -->
									<col style="width:50%;">
									<col style="width:15%;">
									<col style="width:35%;">
									<!-- 20180306 e -->
									</colgroup>
									<tbody id="optionalTermsArea">
									<tr class="YKMEMBER_OptionalArea">
										<td>
											유한킴벌리 SSO회원 선택항목 개인정보 수집 및 이용  <!-- 20180306 text //-->
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKMEMBER_Optional', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Optional1_N" name="YKMEMBER_Optional1" value="N">
											<label for="YKMEMBER_Optional1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKMEMBER_Optional1_Y" name="YKMEMBER_Optional1" value="Y" checked="">
											<label for="YKMEMBER_Optional1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKBRAND_OptionalArea">
										<td>
											통합브랜드 선택항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKBRAND_Optional1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional1_N" name="YKBRAND_Optional1" value="N">
											<label for="YKBRAND_Optional1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional1_Y" name="YKBRAND_Optional1" value="Y" checked="">
											<label for="YKBRAND_Optional1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKBRAND_OptionalArea">
										<td>
											통합브랜드 마케팅 목적 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKBRAND_Optional2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional2_N" name="YKBRAND_Optional2" value="N">
											<label for="YKBRAND_Optional2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional2_Y" name="YKBRAND_Optional2" value="Y" checked="">
											<label for="YKBRAND_Optional2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="YKBRAND_OptionalArea">
										<td>
											통합브랜드 개인정보 처리위탁
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('YKBRAND_Optional3', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional3_N" name="YKBRAND_Optional3" value="N">
											<label for="YKBRAND_Optional3_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="YKBRAND_Optional3_Y" name="YKBRAND_Optional3" value="Y" checked="">
											<label for="YKBRAND_Optional3_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="MOMQ_OptionalArea" style="display:none;">
										<td>
											momQ 선택항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('MOMQ_Optional1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional1_N" name="MOMQ_Optional1" value="N" checked="" disabled="">
											<label for="MOMQ_Optional1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional1_Y" name="MOMQ_Optional1" value="Y" disabled="">
											<label for="MOMQ_Optional1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="MOMQ_OptionalArea" style="display:none;">
										<td>
											momQ 마케팅 목적 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('MOMQ_Optional2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional2_N" name="MOMQ_Optional2" value="N" checked="" disabled="">
											<label for="MOMQ_Optional2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional2_Y" name="MOMQ_Optional2" value="Y" disabled="">
											<label for="MOMQ_Optional2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="MOMQ_OptionalArea" style="display:none;">
										<td>
											momQ 개인정보 처리위탁
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('MOMQ_Optional3', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional3_N" name="MOMQ_Optional3" value="N" checked="" disabled="">
											<label for="MOMQ_Optional3_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="MOMQ_Optional3_Y" name="MOMQ_Optional3" value="Y" disabled="">
											<label for="MOMQ_Optional3_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="PRESENT_OptionalArea">
										<td>
											선물대잔치 선택항목 개인정보 수집 및 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('PRESENT_Optional1', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional1_N" name="PRESENT_Optional1" value="N">
											<label for="PRESENT_Optional1_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional1_Y" name="PRESENT_Optional1" value="Y" checked="">
											<label for="PRESENT_Optional1_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="PRESENT_OptionalArea">
										<td>
											선물대잔치 마케팅 목적 이용
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('PRESENT_Optional2', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional2_N" name="PRESENT_Optional2" value="N">
											<label for="PRESENT_Optional2_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional2_Y" name="PRESENT_Optional2" value="Y" checked="">
											<label for="PRESENT_Optional2_Y">동의</label>
											</span>
										</td>
									</tr>
									<tr class="PRESENT_OptionalArea">
										<td>
											선물대잔치 개인정보 처리위탁
										</td>
										<td class="txt_cen">
											<a href="javascript:mainTerms('PRESENT_Optional3', 960, 520)">
											<p class="Terms_view">
												[<u>내용보기</u>]
											</p>
											</a>
										</td>
										<td class="txt_cen">
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional3_N" name="PRESENT_Optional3" value="N">
											<label for="PRESENT_Optional3_N" style="margin-right:30px;">동의 안함</label>
											</span>
											<span class="ui_radio">
											<input type="radio" id="PRESENT_Optional3_Y" name="PRESENT_Optional3" value="Y" checked="">
											<label for="PRESENT_Optional3_Y">동의</label>
											</span>
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 버튼영역 -->
			<div class="btn_area mar_t40">
				<a class="next" href="javascript:window.open('', '_self').close();">취소</a>
				<a class="certify" href="javascript:void(0);">저장</a>
			</div>
			<!-- //버튼영역 -->
		</div>
	</div>
</form>
</body>
</html>
