<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>휴면계정처리_안내메일</title>
	</head>
	<body style="margin:0 auto;">
		<table width="710" style="padding: 30px 0 0 30px;">
			<tr>
				<td style="padding:0px;">
					<img src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner12.gif" alt="유한킴벌리 로고">
				</td>
			</tr>
			<tr>
				<td style="color:#00A6DF; font-size:30px; text-align:center; padding:30px 0; margin-bottom:35px; line-height:30px;">
					<p style="font-weight:bold; margin:0; letter-spacing:-3px;">통합회원 휴면 계정 전환 안내</p>
				<td>
			</tr>
			<tr>
				<td style="font-size:14px; line-height:20px;">
					<p>안녕하세요. 유한킴벌리입니다.</p>
					<p>
						현재 회원님께서는 오랫동안 유한킴벌리 브랜드 사이트에 로그인하지 않으신 상태입니다.<br>
						휴면 계정 전환일 이내에 유한킴벌리 사이트에 로그인하지 않으실 경우, 회원님의 계정이 휴면<br>
						상태로 전환될 예정입니다.
					</p>
					<p>
						유한킴벌리는 정보통신망 이용촉진 및 정보보호 등에 관한 법률 및 시행령 16조에 따라, 장기간 동안<br>
						서비스를 이용하지 않은 회원님의 개인정보를 안전하게 보호하기 위해 1년 이상 유한킴벌리 브랜드 사<br>
						이트(PC웹, 모바일웹)를 이용하지 않은 계정에 대하여 휴면 상태로 전환하고 개인정보를 별도로 분리하<br>
						여 안전하게 보관합니다.
					</p>
					<p>
						휴면 계정 전환 없이 유한킴벌리 브랜드 사이트의 이용을 위해서는 지금 바로 로그인을 해주시기 바랍<br>
						니다. 휴면 전환 후에도 사용하시던 아이디로 로그인을 하시면 휴면 상태를 해제하실 수 있습니다.
					</p>
					<p>
						앞으로도 더욱 안전하고 편리한 서비스를 제공하기 위해 최선을 다하겠습니다.<br>
						감사합니다.
					</p>
				</td>
			</tr>
			<tr style="padding:0px;">
				<td style="padding:0px 0 10px 0;">
					<span style="font-weight:bold; font-size:14px;">1. 휴면계정 정보</span><br>
				</td>
			</tr>
			<tr>
				<td style="padding:0 0 10px 0;">
					<table style="width:740px; font-size:14px;">
						<colgroup>
							<col style="width:25%;">
						</colgroup>
						<tr>
							<th style="background-color:#E5E5E5; padding:15px; text-align:center;">계정</th>
							<td style="border:1px solid #E5E5E5; padding:15px; color:#00A6DF; font-weight:bold;"><span style="margin-right:20px;">네이버</span>abcd*******@naver.com</td>
						</tr>
						<tr>
							<th style="background-color:#E5E5E5; padding:15px;text-align:center;">가입일</th>
							<td style="border:1px solid #E5E5E5; padding:15px; color:#00A6DF; font-weight:bold;">2017-01-01</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="padding:0px;">
					<span style="font-weight:bold; font-size:14px;">2. 휴면 계정 전환 사이트 안내</span>
					<p style="margin-bottom:25px; margin-top:5px; margin-bottom:15px; font-size:12px;">통합브랜드 및 패밀리 사이트</p>
						<table style="width:740px; border-collapse:collapse;">
						<tr>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.yuhan-kimberly.co.kr/"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner12.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/huggies"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner01.gif"></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/huggies-wipes"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner02.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/goodnite"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner03.gif"></a></th>
						</tr>
						<tr>
							<th style="border:1px solid #E5E5E5; padding:5px 0px 0px;"><a href="http://www.ykbrand.co.kr/white"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner04.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/goodfeel"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner05.png"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/kleenex"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner06.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/scott"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner07.gif"></a></th>
						</tr>
						<tr>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/mybidet"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner08.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/depend"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner09.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/tn"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner10.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/greenfinger"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner11.png"></a></th>
						</tr>
						<tr>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.happybabyshop.co.kr/"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner14.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.momq.co.kr/main/initMain.action"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner13.gif"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="#"target="blink" style="width:100%;display:block;"><img src="../../Common/images/common/combimain_banner20.png" alt="MONIT" style="width:100px;"></a></th>
							<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"></th>
						</tr>
						</table>

						<table width="180" align="center" style="text-align:center; margin:0 auto;">
						<tr>
							<td style="padding-top:30px;"></td>
						</tr>
						<tr>
							<td align="center">
								<a href="https://www.ykbrand.co.kr/SSL/Login?returnUrl=%2F" target="blink" style="text-decoration: none!important; padding:0px; color:#fff;width:100%;display:block;"><img src="http://www.ykbrand.co.kr/Common/images/common/mail_btn.jpg"></a>
							</td>
						</tr>
						<tr>
							<td style="padding-top:30px;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="font-size:12px; line-height:20px; padding:0px;">
					<span>* 고객님의 회원정보는 철저히 보호되어지며, 언제든지 회원정보수정을 통해 정보를 변경할 수 있습니다.</span><br>
					<span>* 문의 사항은 고객센터 (080-022-7007)로 문의 주시기 바랍니다.</span><br>
					<span>* 본 메일은 발신전용입니다.</span>
				</td>
			</tr>
			<tr>
				<td style="padding:30px 0 0 0;">
					<img src="http://www.ykbrand.co.kr/Common/email/sso_join/foot.gif"usemap="#m_6514386483417190336_m_-176829557328543420_foot">
						<map name="m_6514386483417190336_m_-176829557328543420_foot">
								<area shape="rect" coords="366,53,453,77" href="https://www.yuhan-kimberly.co.kr/Customer/Company" alt="회사대표 이메일" target="_blank">
						</map>
				</td>
			</tr>
		</table>
	</body>
</html>
