<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="유한킴벌리">
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>약관동의 | 회원가입 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="https://www.ykbrand.co.kr/Common/css/jquery.bxslider.css">
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script>
<body class="sso">
<form action="/SSL/TermsPop?returnUrl=http%3A%2F%2Fwww.ykbrand.co.kr%2F" method="post">
	<input name="__RequestVerificationToken" type="hidden" value="aJopSVJBGfg5OhPKx-Mw2UuGDuM_UN4PFVQhg6Of05pcQHKoHNfZsm9PCtdj-tXUfsD5rKJlGU6EF8pk6tpyvvrg-qQ1">
	<!-- wrap -->
	<div id="wrap">
		<!-- header -->
		<header>
		<!-- headerCont -->
		<div class="headerCont">
			<h1><img src="http://www.ykbrand.co.kr/Common/images/common/sso_logo.gif" alt="유한킴벌리 브랜드 통합회원"></h1>
		</div>
		<!-- //headerCont -->
		</header>
		<!-- //header -->
		<!-- container -->
		<div id="container">
			<!-- sso 컨텐츠 -->
			<div class="ssoContent">
				<!-- 2018-12-20 -->
				<div class="end_notice">
					<h2>하기스 선물대잔치  SHOP 사이트 종료 안내</h2>
					<p class="txt1">
						그동안 하기스 선물대잔치를 아껴주신 고객님께 감사드립니다. <br>
						하기스 선물대잔치 SHOP은 2019년 1월 15일 유한킴벌리 직영몰 momQ에서 <br>
						더 좋은 서비스로 여러분을 찾아가기 위해 준비중입니다
					</p>
					<p class="txt2">
						2018년 12월 21일~ 2019년 1월 14일까지는 준비 기간으로  <br>
						<span>기존 SSO회원의 경우에도 선물 대잔치 약관에 동의 하지 않으신 경우는 로그인 되지 않습니다. </span>
					</p>
					<p class="txt3">
						아직 momQ 이용약관에 동의하지 않으셨다면 미리 약관에 동의해 주세요. 
					</p>
				</div>

				<!-- 버튼영역 -->
				<div class="btn_area mar_t40">
					<a class="certify" href="javascript://">맘큐 이용약관 동의하기</a>
					<a class="next" href="javascript://" id="btnCancel">선물대잔치 사이트 보기 </a>
				</div>
				<!-- //버튼영역 -->
				<!-- 2018-12-20 -->

			</div>
			<!-- //sso 컨텐츠 -->
		</div>
		<!-- //container -->
		<!-- footer -->
		<footer>
		<!-- footerCont -->
		<div class="footerCont" style="position: relative; top: auto; left: auto;">
			<!-- footsec -->
			<div class="footsec">
				<!-- logo -->
				<p class="footlogo">
					<img src="/Common/images/common/footlogo.gif" alt="유한킴벌리">
				</p>
				<!-- footMenu -->
				<ul class="footMenu">
					<li><a href="javascript:termsPop('yk3', 960, 520);">사이트이용약관</a></li>
					<li><a href="javascript:termsPop('yk8', 960, 520);">개인정보취급방침</a></li>
					<!--<li><a href="#none">찾아오시는길</a></li>-->
				</ul>
				<!-- //footMenu -->
				<!-- corpInfo -->
				<div class="corpInfo">
					 주소 : 서울시 강남구 테헤란로 204 (우) 135-725<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br>
					 고객지원센터 : 080-022-700 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
				</div>
				<!-- copy-->
				<p class="copy">
					Copyright@2015 Yuhan-Kimberly.All right Reserved.
				</p>
				<!-- btnTop -->
				<a href="#container" class="btnTop"><img src="/Common/images/btn/btn_top.gif" alt="컨텐츠로 바로가기"></a>
			</div>
			<!-- //footsec -->
		</div>
		<!-- //footerCont -->
		</footer>
		<!-- //footer -->
	</div>
	<!-- //wrap -->
</form>
</body>
</html>
