<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>가입축하_안내메일</title>
	</head>
	<body style="margin:0 auto;">
		<table width="710" style="padding: 30px 0 0 30px;">
			<tr>
				<td style="padding:0px;">
					<img src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner12.gif" alt="유한킴벌리 로고">
				</td>
			</tr>
			<tr>
				<td style="color:#00A6DF; font-size:30px; text-align:center; padding:30px 0; margin-bottom:35px; line-height:30px;">
						<p style="font-weight:bold; margin:0; letter-spacing:-3px;">유한킴벌리 회원가입을 축하드립니다.</p>
						<p style="font-size:16px; margin-bottom:0;">하나의 아이디로 다양한 유한킴벌리 패밀리 사이트를 이용할 수 있습니다.</p>
				<td>
			</tr>
			<tr style="padding:0px;">
				<td style="padding:0px 0 10px 0;">
					<span style="font-weight:bold; color:#00A6DF;">유한킴벌리</span> 회원님의 간편가입 정보입니다.
				</td>
			</tr>
			<tr>
				<td style="padding:0 0 10px 0;">
					<table style="width:740px; font-size:14px;">
						<colgroup>
							<col style="width:25%;">
						</colgroup>
						<tr>
							<th style="background-color:#E5E5E5; padding:15px; text-align:center;">계정</th>
							<td style="border:1px solid #E5E5E5; padding:15px; color:#00A6DF; font-weight:bold;"><span style="margin-right:20px;">네이버</span>abcd*******@naver.com</td>
						</tr>
						<tr>
							<th style="background-color:#E5E5E5; padding:15px;text-align:center;">가입일</th>
							<td style="border:1px solid #E5E5E5; padding:15px; color:#00A6DF; font-weight:bold;">2017-01-01</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="padding:0 0 20px 0; line-height:20px;">
					<span style="font-weight:bold; font-size:14px;">1. 유한킴벌리 간편가입 안내</span><br>
					<span style="font-size:12px;">- 간편가입 회원은 유한킴벌리의 다양한 패밀리 사이트를 별도의 가입 없이 편리하게 사용할 수 있습니다.</span>
					<p style="font-size:12px; padding-top:0px; margin-top:0px; margin-bottom:15px; text-indent:-13px; padding-left:13px;">- 선물대잔치 사이트의 하기스 점수 적립을 원하시는 회원님께서는’ 마이페이지 > 정보수정‘ 에서 휴대폰 인증을 받으시면 점수 적립이 가능합니다.</p>
				</td>
			</tr>
			<tr>
				<td style="padding:0px;">
					<span style="font-weight:bold; font-size:14px;">2. 이용 가능 사이트 안내</span>
					<p style="margin-bottom:25px; margin-top:5px; margin-bottom:15px; font-size:12px;">통합브랜드 및 패밀리 사이트</p>
						<table style="width:740px; border-collapse:collapse;">
							<tr>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.yuhan-kimberly.co.kr/"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner12.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/huggies"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner01.gif"></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/huggies-wipes"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner02.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/goodnite"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner03.gif"></a></th>
							</tr>
							<tr>
								<th style="border:1px solid #E5E5E5; padding:5px 0px 0px;"><a href="http://www.ykbrand.co.kr/white"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner04.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/goodfeel"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner05.png"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/kleenex"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner06.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/scott"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner07.gif"></a></th>
							</tr>
							<tr>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/mybidet"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner08.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/depend"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner09.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/tn"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner10.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.ykbrand.co.kr/greenfinger"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner11.png"></a></th>
							</tr>
							<tr>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.happybabyshop.co.kr/"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner14.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="http://www.momq.co.kr/main/initMain.action"target="blink" style="width:100%;display:block;"><img style="width:100px;" src="http://www.ykbrand.co.kr/Common/images/common/combimain_banner13.gif"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"><a href="#"target="blink" style="width:100%;display:block;"><img src="../../Common/images/common/combimain_banner20.png" alt="MONIT" style="width:100px;"></a></th>
								<th style="border:1px solid #E5E5E5; padding:7px 0px 0px;"></th>
							</tr>
						</table>

						<table width="180" align="center" style="text-align:center; margin:0 auto;">
						<tr>
							<td style="padding-top:30px;"></td>
						</tr>
						<tr>
							<td align="center">
								<a href="https://www.ykbrand.co.kr/SSL/Login?returnUrl=%2F" target="blink" style="text-decoration: none!important; padding:0px; color:#fff;width:100%;display:block;"><img src="http://www.ykbrand.co.kr/Common/images/common/mail_btn.jpg"></a>
							</td>
						</tr>
						<tr>
							<td style="padding-top:30px;"></td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="font-size:12px; line-height:20px; padding:0px;">
					<span>* 고객님의 회원정보는 철저히 보호되어지며, 언제든지 회원정보수정을 통해 정보를 변경할 수 있습니다.</span><br>
					<span>* 문의 사항은 고객센터 (080-022-7007)로 문의 주시기 바랍니다.</span><br>
					<span>* 본 메일은 발신전용입니다.</span>
				</td>
			</tr>
			<tr>
				<td style="padding:30px 0 0 0;">
					<img src="http://www.ykbrand.co.kr/Common/email/sso_join/foot.gif"usemap="#m_6514386483417190336_m_-176829557328543420_foot">
						<map name="m_6514386483417190336_m_-176829557328543420_foot">
								<area shape="rect" coords="366,53,453,77" href="https://www.yuhan-kimberly.co.kr/Customer/Company" alt="회사대표 이메일" target="_blank">
						</map>
				</td>
			</tr>
		</table>
	</body>
</html>
