<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="유한킴벌리">
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>회원가입 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/jquery.bxslider.css">

<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script>
<body class="sso">
<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<header>
	<!-- headerCont -->
	<div class="headerCont">
		<h1>
		<a href="/"><img src="../../Common/images/common/yk_simple_logo.png" alt="유한킴벌리 통합회원"></a> <!-- 201801 간편가입 -->
		</h1>
	</div>
	<!-- //headerCont -->
	</header>
	<!-- //header -->
	<!-- container -->
	<div id="container">
		<form action="/SSL/Login?returnUrl=%2F" method="post">
			<input name="__RequestVerificationToken" type="hidden" value="A8ZOd0QKf0wTX6ztOb_ATpaeuooS2W2JFdBFNFFqRuOpkwSZ_DbiBOhg1H7RbUp73NduLbJaoKREfyeKmMKyw5jRg8s1">
			<!-- sso 컨텐츠 -->
			<div class="ssoContent">
				<!-- 타이틀 영역 -->
				<div class="titArea st">
					<h2>회원가입</h2>
				</div>
				<!-- //타이틀 영역 -->
				<!-- 로그인 영역 -->
				<div class="simple_join">
					<p class="title">
						유한킴벌리 회원가입을 환영합니다.
					</p>
					<p class="content"> <!-- 201801 간편가입 //-->
						회원가입을 통해 하나의 ID로 momQ, 선물대잔치, 브랜드 사이트의 다양한 서비스를 편리하게 이용하실 수 있습니다.
					</p>
					<!-- 삭제
					<p class="content">
						 간편가입은 본인인증 없이 회원가입이 가능합니다.<br>
						 단, 선물대잔치 가입 회원은 1인 점수 적립 제한에 따라 휴대폰 인증이 필요하므로 <span>'휴대폰 인증으로 회원가입'</span> 하시면<br>
						 편리합니다.
					</p> //-->
					<div class="social_img mar_t30">
						<div class="simple_line">
							<span>간편 가입 회원</span>
							<p class="content">간편 가입 회원이 되시면 SNS 로그인을 통해 본인인증 없이 당사 서비스 홈페이지를 이용할 수 있습니다.</p>
						</div>
						<ul class="social_img_ul clearfix">
							<li><a href="#"><img src="../../Common/images/simple/simple_naver_join.jpg" alt="네이버 인증 가입"></a></li>
							<li><a href="#"><img src="../../Common/images/simple/simple_facebook_join.jpg" alt="페이스북 인증 가입"></a></li>
							<li><a href="#"><img src="../../Common/images/simple/simple_kakao_join.jpg" alt="카카오 인증 가입"></a></li>
						</ul>
						<div class="simple_line">
							<span>통합 회원</span>
							<p class="content">통합 회원이 되시면 가입 진행 시 최초 입력하신 회원 정보로 편리하게 이용하실 수 있습니다.</p>
						</div>
						<div class="btn_area">
							<a href="#">회원가입</a>
						</div>
					</div>
				</div>
				<!-- //회원가입 안내 -->
			</div>
			<!-- //sso 컨텐츠 -->
		</form>
	</div>
	<!-- //container -->
	<!-- footer -->
	<footer>
	<!-- footerCont -->
	<div class="footerCont" style="position: relative; top: auto; left: auto;">
		<!-- footsec -->
		<div class="footsec">
			<!-- logo -->
			<p class="footlogo">
				<img src="http://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리">
			</p>
			<!-- footMenu -->
			<ul class="footMenu">
				<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
				<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
			</ul>
			<img style="float:right; margin-top:30px;" src="http://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크">
			<!-- //footMenu -->
			<!-- corpInfo -->
			<div class="corpInfo">
				 주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br>
				 고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
			</div>
			<!-- copy-->
			<p class="copy">
				Copyright@2015 Yuhan-Kimberly.All right Reserved.
			</p>
			<!-- btnTop -->
			<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"></a>
		</div>
		<!-- //footsec -->
	</div>
	<!-- //footerCont -->
	</footer>
	<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
