<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="유한킴벌리">
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>회원가입 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/jquery.bxslider.css">
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<!-- <script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script> -->
<body class="sso">
<!-- wrap -->
<div id="wrap">
	<!-- header -->
	<header>
	<!-- headerCont -->
	<div class="headerCont">
		<h1>
		<a href="/"><img src="../../Common/images/common/simple_yk_logo.png" alt="유한킴벌리 통합회원"></a>
		</h1>
	</div>
	<!-- //headerCont -->
	</header>
	<!-- //header -->
	<!-- container -->
	<div id="container">
		<form action="/SSL/Login?returnUrl=%2F" method="post">
			<input name="__RequestVerificationToken" type="hidden" value="A8ZOd0QKf0wTX6ztOb_ATpaeuooS2W2JFdBFNFFqRuOpkwSZ_DbiBOhg1H7RbUp73NduLbJaoKREfyeKmMKyw5jRg8s1">
			<!-- sso 컨텐츠 -->
			<div class="ssoContent">
				<!-- 타이틀 영역 -->
				<div class="titArea st">
					<h2>간편가입</h2>
					<p class="pageInfo">
						유한킴벌리 간편가입을 환영합니다.
					</p>
				</div>
				<!-- //타이틀 영역 -->
				<!-- 로그인 영역 -->
				<div class="simple_join_tab3">
					<ul class="clearfix">
						<li>01.휴대폰 인증(선택)</li>
						<li class="on">02.정보입력</li>
						<li>03.가입완료</li>
					</ul>
				</div>
				<div class="simple_info">
					<table>
					<colgroup>
					<col style="width:280px;"/>
					<col/>
					</colgroup>
					<tr>
						<th>
							이메일 <span>*</span>
						</th>
						<td>
							abc@naver.com
						</td>
					</tr>
					<tr>
						<th class="height_60">
							휴대폰 번호 <span>*</span>
						</th>
						<!-- 201801 간편가입 s //-->
						<td class="height_60">
							<select>
								<option>010</option>
							</select>
							 - <input class="phone_num" type="text">
							- <input class="phone_num" type="text">
							<input type="button" class="phone_btn" value="휴대폰 인증">
						</td>
						<!-- 201801 간편가입 e //-->
					</tr>
					<tr>
						<th>
							휴대폰 번호 <span>*</span>
						</th>
						<td>
							010-1234-5678
						</td>
					</tr>
					<tr>
						<th class="height_60">
							메일 수신여부 <span>*</span>
						</th>
						<td class="height_60">
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_N" name="YKMEMBER_Required1" value="N">
							<label for="YKMEMBER_Required1_N" style="margin-right:30px;">동의 안함</label>
							</span>
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_Y" name="YKMEMBER_Required1" value="Y" checked="">
							<label for="YKMEMBER_Required1_Y">동의</label>
							</span>
						</td>
					</tr>
					<tr>
						<th>
							SMS 수신여부 <span>*</span>
						</th>
						<td>
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_N" name="YKMEMBER_Required1" value="N">
							<label for="YKMEMBER_Required1_N" style="margin-right:30px;">동의 안함</label>
							</span>
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_Y" name="YKMEMBER_Required1" value="Y" checked="">
							<label for="YKMEMBER_Required1_Y">동의</label>
							</span><br>
							<p>
								* 수신 동의에 체크하시면 할인 혜택 및 상품정보, 이벤트 등 다양한 정보를 안내 받으실 수 있습니다.
							</p>
							<p>
								* 단, 약관안내 및 서비스 내용, 주문/배송, 회사의 주요정책 관련 변경에 따른 메일/SMS은 정보수신 거부와 상관없이 발송될 수 있습니다.
							</p>
						</td>
					</tr>
					<tr>
						<th>
							아이정보
						</th>
						<td>
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_N" name="YKMEMBER_Required1" value="N">
							<label for="YKMEMBER_Required1_N" style="margin-right:30px;">아이 없음</label>
							</span>
							<span class="ui_radio">
							<input type="radio" id="YKMEMBER_Required1_Y" name="YKMEMBER_Required1" value="Y" checked="">
							<label for="YKMEMBER_Required1_Y">아이 있음(임산부 포함)</label>
							</span><br>
							<p>
								* [아이있음]을 체크한 경우 <span class="blue">회원가입 완료 후</span> 아이 정보를 입력하는 페이지로 이동합니다.
							</p>
						</p>
					</td>
				</tr>
				</table>
				<table class="simple_info_terms">
				<colgroup>
				<col style="50%;"/>
				<col/>
				</colgroup>
				<tr>
					<th>
						통합회원 이용약관
					</th>
					<td>
						<a href="#">[내용보기]</a>
					</td>
					<th>
						YK브랜드 사이트 이용약관
					</th>
					<td>
						<a href="#">[내용보기]</a>
					</td>
				</tr>
				<tr>
					<th>
						통합회원 필수항목 개인정보 수집 및 이용
					</th>
					<td>
						<a href="#">[내용보기]</a>
					</td>
					<th>
						YK브랜드 사이트 개인정보 취급방침
					</th>
					<td>
						<a href="#">[내용보기]</a>
					</td>
				</tr>
				</table>
				<div class="btn_area">
					<a href="#">약관 동의하고 가입</a>
				</div>
			</div>
			<!-- //회원가입 안내 -->
		</div>
		<!-- //sso 컨텐츠 -->
	</form>
</div>
<!-- //container -->
<!-- footer -->
<footer>
<!-- footerCont -->
<div class="footerCont" style="position: relative; top: auto; left: auto;">
	<!-- footsec -->
	<div class="footsec">
		<!-- logo -->
		<p class="footlogo">
			<img src="http://www.ykbrand.co.kr/Common/images/common/footlogo.gif" alt="유한킴벌리">
		</p>
		<!-- footMenu -->
		<ul class="footMenu">
			<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
			<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보취급방침 새창보기" style="color: #16c1f3;font-weight:bold;">개인정보처리방침</a></li>
		</ul>
		<img style="float:right; margin-top:30px;" src="http://www.ykbrand.co.kr/Common/images/common/Web_img.png" alt="웹접근성 마크">
		<!-- //footMenu -->
		<!-- corpInfo -->
		<div class="corpInfo">
			 주소 : 서울시 강남구 테헤란로 504 (우) 06178<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br>
			 고객지원센터 : 080-022-7007 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
		</div>
		<!-- copy-->
		<p class="copy">
			Copyright@2015 Yuhan-Kimberly.All right Reserved.
		</p>
		<!-- btnTop -->
		<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"></a>
	</div>
	<!-- //footsec -->
</div>
<!-- //footerCont -->
</footer>
<!-- //footer -->
</div>
<!-- //wrap -->
</body>
</html>
