<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="title" content="유한킴벌리">
<meta name="keywords" content="유한킴벌리">
<meta name="description" content="유한킴벌리">
<meta name="naver-site-verification" content="4547e200721fb33bd96acdbed8f96d9bb19d3653">
<title>약관동의 | 회원가입 | 유한킴벌리 통합브랜드</title>
<link rel="icon" href="../Common/images/favicon/favicon_default.png" type="image/x-icon">
<link rel="stylesheet" href="../../Common/css/common.css">
<link rel="stylesheet" href="../../Common/css/jquery.bxslider.css">
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/front.ui.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Common/js/jquery.bxslider.js"></script>
<!--[if lte IE 9]><script src="http://www.ykbrand.co.kr/Common/js/Placeholders.min.js"></script><![endif]-->
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery-ui-1.11.4.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/jQuery.FileUpload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://www.ykbrand.co.kr/Scripts/common.js"></script>
<body class="sso">
<form action="/SSL/TermsPop?returnUrl=http%3A%2F%2Fwww.ykbrand.co.kr%2F" method="post">
	<input name="__RequestVerificationToken" type="hidden" value="aJopSVJBGfg5OhPKx-Mw2UuGDuM_UN4PFVQhg6Of05pcQHKoHNfZsm9PCtdj-tXUfsD5rKJlGU6EF8pk6tpyvvrg-qQ1">
	<!-- wrap -->
	<div id="wrap">
		<!-- header -->
		<header>
		<!-- headerCont -->
		<div class="headerCont">
			<h1><img src="http://www.ykbrand.co.kr/Common/images/common/sso_logo.gif" alt="유한킴벌리 브랜드 통합회원"></h1>
		</div>
		<!-- //headerCont -->
		</header>
		<!-- //header -->
		<!-- container -->
		<div id="container">
			<!-- sso 컨텐츠 -->
			<div class="ssoContent">
				<!-- 타이틀 영역 -->
				<div class="titArea st">
					<h2>통합브랜드 이용 약관 동의</h2>
					<p class="pageInfo">
						사이트 이용을 위해 아래 절차를 확인해 주십시오.
					</p>
				</div>
				<!-- //타이틀 영역 -->
				<div class="joinArea">
					<div class="termsAgree">
						<p class="noti2">
							<span>고객님께서는 간편가입으로 '통합회원약관'에 동의하셨습니다.</span>
							통합브랜드 이용 약관에 동의하시면 간편 로그인으로 통합브랜드의 모든 서비스를 이용 하실 수 있습니다.
						</p>
						<div class="termsArea" style="border:0px;">
							<div class="site_agree" style="margin-bottom:40px;margin-top:10px;">
								<ul class="termList">
									<li>
									<div class="check site">
										<span class="ui_radio">
										<input type="checkbox" id="siteBrand" name="siteBrand" value="Y" class="chkRequired" checked="">
										<label for="siteBrand">[필수] <span>통합브랜드 </span></label><span style="font-size:12px; color:#737373; vertical-align:text-top;line-height:20px;">하기스,하기스 아기물티슈,굿나이트,화이트,좋은느낌,크리넥스,스카트,마이비데,디펜드,티엔,그린핑거,우리나눔TV,골든프렌즈</span>
										</span>
									</div>
									</li>
								</ul>
							</div>
							<!-- 전체동의 -->
							<p class="tit" style="margin-top:20px; float:left;">
								약관을 읽어 보시고 동의해 주십시오
							</p>
							<div class="all_agree">
								<span class="ui_check">
								<input type="checkbox" id="chkAll">
								<label for="chkAll">(필수/선택)약관 모두 동의</label>
								<button type="button" class="next_small_btn btnSubmit">다음</button>
								</span>
							</div>
							<div class="Terms_box">
								<span class="span_blue">[필수 약관]</span>
								<span class="ui_check" style="float:right;">
								<input type="checkbox" id="chkAllRequired" name="brand_all">
								<label for="chkAllRequired">모두동의</label>
								</span>
								<table>
								<colgroup>
								<col style="width:45%;">
								<col style="width:25%;">
								<col style="width:30%;">
								</colgroup>
								<tbody id="requiredTermsArea">
								<tr class="YKBRAND_RequiredArea">
									<td>
										통합브랜드 이용약관
									</td>
									<td class="txt_cen">
										<a href="javascript:mainTerms('YKBRAND_Required1', 960, 520)">
										<p class="Terms_view">
											[<u>내용보기</u>]
										</p>
										</a>
									</td>
									<td class="txt_cen">
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Required1_N" name="YKBRAND_Required1" value="N" checked="">
										<label for="YKBRAND_Required1_N" style="margin-right:30px;">동의 안함</label>
										</span>
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Required1_Y" name="YKBRAND_Required1" value="Y">
										<label for="YKBRAND_Required1_Y">동의</label>
										</span>
									</td>
								</tr>
								<tr class="YKBRAND_RequiredArea">
									<td>
										통합브랜드 필수항목 개인정보 수집 및 이용
									</td>
									<td class="txt_cen">
										<a href="javascript:mainTerms('YKBRAND_Required2', 960, 520)">
										<p class="Terms_view">
											[<u>내용보기</u>]
										</p>
										</a>
									</td>
									<td class="txt_cen">
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Required2_N" name="YKBRAND_Required2" value="N" checked="">
										<label for="YKBRAND_Required2_N" style="margin-right:30px;">동의 안함</label>
										</span>
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Required2_Y" name="YKBRAND_Required2" value="Y">
										<label for="YKBRAND_Required2_Y">동의</label>
										</span>
									</td>
								</tr>
								</tbody>
								</table>
								<span class="span_blue">[선택 약관]</span>
								<span class="ui_check" style="float:right;">
								<input type="checkbox" id="chkAllOptional">
								<label for="chkAllOptional">모두동의</label>
								</span>
								<table>
								<colgroup>
								<col style="width:45%;">
								<col style="width:25%;">
								<col style="width:30%;">
								</colgroup>
								<tbody id="optionalTermsArea">
								<tr class="YKBRAND_OptionalArea">
									<td>
										통합브랜드 선택항목 개인정보 수집 및 이용
									</td>
									<td class="txt_cen">
										<a href="javascript:mainTerms('YKBRAND_Optional1', 960, 520)">
										<p class="Terms_view">
											[<u>내용보기</u>]
										</p>
										</a>
									</td>
									<td class="txt_cen">
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional1_N" name="YKBRAND_Optional1" value="N" checked="">
										<label for="YKBRAND_Optional1_N" style="margin-right:30px;">동의 안함</label>
										</span>
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional1_Y" name="YKBRAND_Optional1" value="Y">
										<label for="YKBRAND_Optional1_Y">동의</label>
										</span>
									</td>
								</tr>
								<tr class="YKBRAND_OptionalArea">
									<td>
										통합브랜드 마케팅 목적 이용
									</td>
									<td class="txt_cen">
										<a href="javascript:mainTerms('YKBRAND_Optional2', 960, 520)">
										<p class="Terms_view">
											[<u>내용보기</u>]
										</p>
										</a>
									</td>
									<td class="txt_cen">
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional2_N" name="YKBRAND_Optional2" value="N" checked="">
										<label for="YKBRAND_Optional2_N" style="margin-right:30px;">동의 안함</label>
										</span>
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional2_Y" name="YKBRAND_Optional2" value="Y">
										<label for="YKBRAND_Optional2_Y">동의</label>
										</span>
									</td>
								</tr>
								<tr class="YKBRAND_OptionalArea">
									<td>
										통합브랜드 개인정보 처리위탁
									</td>
									<td class="txt_cen">
										<a href="javascript:mainTerms('YKBRAND_Optional3', 960, 520)">
										<p class="Terms_view">
											[<u>내용보기</u>]
										</p>
										</a>
									</td>
									<td class="txt_cen">
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional3_N" name="YKBRAND_Optional3" value="N" checked="">
										<label for="YKBRAND_Optional3_N" style="margin-right:30px;">동의 안함</label>
										</span>
										<span class="ui_radio">
										<input type="radio" id="YKBRAND_Optional3_Y" name="YKBRAND_Optional3" value="Y">
										<label for="YKBRAND_Optional3_Y">동의</label>
										</span>
									</td>
								</tr>
								</tbody>
								</table>
							</div>
							<!-- 버튼영역 -->
							<div class="btn_area mar_t40">
								<a class="next" href="javascript://" id="btnCancel">취소</a>
								<a class="certify" href="javascript://">확인</a>
							</div>
							<!-- //버튼영역 -->
						</div>
					</div>
				</div>
			</div>
			<!-- //sso 컨텐츠 -->
		</div>
		<!-- //container -->
		<!-- footer -->
		<footer>
		<!-- footerCont -->
		<div class="footerCont" style="position: relative; top: auto; left: auto;">
			<!-- footsec -->
			<div class="footsec">
				<!-- logo -->
				<p class="footlogo">
					<img src="/Common/images/common/footlogo.gif" alt="유한킴벌리">
				</p>
				<!-- footMenu -->
				<ul class="footMenu">
					<li><a href="javascript:termsPop('yk3', 960, 520);">사이트이용약관</a></li>
					<li><a href="javascript:termsPop('yk8', 960, 520);">개인정보취급방침</a></li>
					<!--<li><a href="#none">찾아오시는길</a></li>-->
				</ul>
				<!-- //footMenu -->
				<!-- corpInfo -->
				<div class="corpInfo">
					 주소 : 서울시 강남구 테헤란로 204 (우) 135-725<span>대표자 : 최규복</span><span>사업자번호 : 120-81-11436</span><br>
					 고객지원센터 : 080-022-700 <a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일</a>
				</div>
				<!-- copy-->
				<p class="copy">
					Copyright@2015 Yuhan-Kimberly.All right Reserved.
				</p>
				<!-- btnTop -->
				<a href="#container" class="btnTop"><img src="/Common/images/btn/btn_top.gif" alt="컨텐츠로 바로가기"></a>
			</div>
			<!-- //footsec -->
		</div>
		<!-- //footerCont -->
		</footer>
		<!-- //footer -->
	</div>
	<!-- //wrap -->
</form>
</body>
</html>