<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
  <link rel="stylesheet" href="https://www.yksso.co.kr/css/common.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://www.yksso.co.kr/css/reset_pc.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://www.yksso.co.kr/css/pc.css?v=0.1.3" type="text/css" media="all">
  <link rel="stylesheet" href="https://www.yksso.co.kr/css/pome.css" type="text/css" media="all">

	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all"> <!-- 퍼블리싱:for pc.css //-->
  <link rel="icon" href="../images/favicon_default.png" type="image/x-icon">
  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager -->
  <!-- End Google Tag Manager -->
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery-ui-1.11.4.min.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/jquery.popupoverlay.js"></script>
  <script type="text/javascript" src="https://www.yksso.co.kr/js/common.js"></script>
</head>
<body>
	<div class="sso_wrap">
		<header class="sso_head">
			<div class="row">
                <!-- 20221109 통합회원 로고 -->
				<h1 class="yklogototal"><a href="#"><span class="a11y_sr-only">유한킴벌리 통합회원</span></a></h1>
                <!--// 20221109 통합회원 로고 -->
			</div>
		</header>

		<div id="container" class="contents">
			<div class="row">
				<div class="join_wrap terms">
					<h1 class="type2"><span>오늘플러스 약관에</span> 동의해주세요.</h1>
					<p class="desc">
						<strong>회원님께서는 이미 통합회원으로 가입하셨습니다.</strong><!-- 20221109 텍스트 변경//-->
						오늘플러스 이용 약관에 동의하시면 통합회원 아이디로 맘큐 서비스를 이용하실 수 있습니다.
					</p>

					<div class="terms_target">
						<p>대상 서비스</p>
						<p><strong>오늘플러스</strong></p> <!-- 20220614 //-->
					</div>

          <!-- 20220525 SSO start -->
          <div class="join_inner">
            <div class="join_form">
              <h2 class="h2_ti">약관 동의</h2>
              <p class="desc">이용약관 및 정보활용 안내를 읽고 동의해주세요. </p>
              <ul class="terms_chk">
                <li class="first">
                  <p><input type="checkbox" id="allchk"><label for="allchk">모두 동의합니다.</label></p>
                  <p class="txt">전체동의는 필수 뿐 아니라 선택항목도 포함됩니다. 선택항목 미동의 시 회원가입은 가능하나 서비스 이용에 제한이 있을 수 있습니다.</p>
                </li>
                <li>
                  <p><input type="checkbox" id="chk01"><label for="chk01"><span class="in"><span class="esse">(필수)</span> 오늘플러스 이용약관</span></label></p>
                  <a href="#" onclick="layerOpen('termslayer01');return false;" class="btn_vw">보기</a>
                </li>
                <!-- 20220211 SSO ISMS 수정
                  <li>
                  <p><input type="checkbox" id="chk02"><label for="chk02"><span class="in"><span class="esse">(필수)</span> 맘큐 필수항목 개인정보 수집 및 이용</span></label></p>
                  <a href="#" class="btn_vw">보기</a>
                </li>
                <li>
                  <p><input type="checkbox" id="chk03"><label for="chk03"><span class="in"><span class="sel">(선택)</span> 맘큐 선택항목 개인정보 수집 및 이용</span></label></p>
                  <a href="#" class="btn_vw">보기</a>
                </li> -->
                <li>
                  <p><input type="checkbox" id="chk04"><label for="chk04"><span class="in"><span class="sel">(선택)</span> 맘큐 마케팅 목적 이용</span></label></p>
                  <a href="#" class="btn_vw">보기</a>
                </li>
                <li>
                  <p><input type="checkbox" id="chk05"><label for="chk05"><span class="in"><span class="sel">(선택)</span> 맘큐 개인정보 처리위탁</span></label></p>
                  <a href="#" class="btn_vw">보기</a>
                </li>
                <li>
                  <p><input type="checkbox" id="chk06"><label for="chk06"><span class="in"><span class="sel">(선택)</span> 광고성 정보 수신 동의</span></label></p>
                  <a href="#" class="btn_vw">보기</a>
                  <div class="select_chk">
                    <p class="rchk">
                      <input type="checkbox" id="rchk01" name=""><label for="rchk01">이메일 수신</label>
                    </p>
                    <p class="rchk">
                      <input type="checkbox" id="rchk02" name=""><label for="rchk02">SMS 수신</label>
                    </p>
                    <p class="rchk">
                      <input type="checkbox" id="rchk03" name=""><label for="rchk03">PUSH 수신</label>
                    </p>
                    <span>회원님께 드리는 이벤트/할인혜택/상품 등의 정보 수신에 동의해주세요.</span>
                  </div>
                </li>
              </ul>

              <!-- 20220525 -->
              <div class="etc_frm">
                <div class="recom">
                  <span class="ti">추천인 ID</span>
                  <input type="text" value="" placeholder="추천인 검색">
                  <button onclick="layerOpen('recommidLayer');return false;" class="btn btn_small">검색</button>
                </div>
                <span class="errtx">유한킴벌리 통합회원이 아니거나 휴면 계정인 경우 추천인 ID로 입력 할 수 없습니다. <br>다시 확인 후 입력해주세요.</span><!-- 20221109 텍스트 변경//-->
              </div>
              <!--// 20220525 -->

              <!-- 20220525 추천인 update Start -->
              <div class="layerbody" id="recommidLayer">
                <div class="layerwrap recommidlay">
                  <a class="btn_close" onclick="layerClose('recommidLayer')"><span class="a11y_sr-only">close</span></a>
                  <div class="layhead">
                    <p>추천인 ID 검색</p>
                  </div>
                  <div class="layconts">
                    <div class="inscroll">
                      <span class="noti">
                        추천인의 <b>ID를 알고 계시면 추천인 ID로 검색</b>, 추천인이 <b>카카오로 가입하신 회원이라면 회원번호로 검색</b>, <b>ID또는 회원번호를 알 수 없으면 회원정보로 검색 버튼</b>을 눌러주세요.
                        <br>(카카오로 가입 하신 경우 회원정보변경에서 회원번호를 확인하실 수 있습니다.)
                      </span>
                      <div class="select_chk">
                        <p class="rchk"><input type="radio" id="sch01" name="type" value="id" checked><label for="sch01">아이디로 검색</label></p>
                        <p class="rchk"><input type="radio" id="sch03" name="type" value="info"><label for="sch03">회원 번호로 검색</label></p>
                        <p class="rchk"><input type="radio" id="sch02" name="type" value="info"><label for="sch02">회원 정보로 검색</label></p>
                      </div>
                      <ul class="putfrm idsch">
                        <li>
                          <p class="name"><span class="esse">*</span>아이디</p>
                          <p class="put"><input type="text" name="userid" placeholder="추천인 아이디를 입력해주세요."></p>
                        </li>
                      </ul>
                      <ul class="putfrm numsch hid">
                        <li>
                          <p class="name"><span class="esse">*</span>회원번호</p>
                          <p class="put"><input type="text" name="usernum" placeholder=""></p>
                        </li>
                        <li class="noti">- 회원번호는 SSO 카카오 회원만 확인이 가능하며, 마이페이지 또는 회원정보수정에서 확인할 수 있습니다.</span></li>
                      </ul>
                      <ul class="putfrm usersch hid">
                        <li>
                          <p class="name"><span class="esse">*</span>이름</p>
                          <p class="put"><input type="text" name="name" placeholder="추천인 이름을 입력해주세요."></p>
                        </li>
                        <li>
                          <p class="name"><span class="esse">*</span>휴대폰 번호</p>
                          <p class="put"><input type="text" name="mobile" placeholder="-를 제외한 숫자만 입력해주세요."></p>
                        </li>
                        <li class="noti">- 추천인이 SSO 카카오 회원인 경우 ID가 아닌 회원번호로 안내되니 참고 부탁드립니다.</span></li>
                        <li class="noti">- 추천인이 SSO 카카오 회원인 경우 회원번호로 검색하면 더 쉽고 빠르게 찾을 수 있습니다.</span></li>
                      </ul>
                      <div class="btnwrap">
                        <a href="javascript:;" class="btn btnfull recommender_search">검색</a>
                      </div>
                      <ul class="putfrm result">
                        <li>
                          <span class="ti">아이디</span>
                          <input type="text" value="" placeholder="ykbrand">
                          <button class="btn btn_small">선택</button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!--// 20220525 추천인 update End -->
            </div>
          </div>

          <div class="btnwrap btn_foo _sevaral">
            <a href="#" class="btn btn_blue">취소</a>
            <a href="#" class="btn btn_next">확인</a>
          </div>
          
          <!--// 20220525 SSO start -->
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	// 레이어팝업 열기
	function layerOpen(set) {
		$('#' + set).addClass('show');
		$('body, html').addClass('noscroll');
	}
	// 레이어팝업 닫기
	function layerClose(set) {
		$('#' + set).removeClass('show');
		$('body, html').removeClass('noscroll');
	}

	// 20220525 추천인 검색 방법
	$(document).ready(function() {
		if ($('.recommidlay').length > 0) {
			$('.recommidlay').find('#sch03').click(function () {
				if ($(this).is(":checked")) {
					$('.recommidlay').find('.usersch').addClass('hid');
					$('.recommidlay').find('.numsch').removeClass('hid');
					$('.recommidlay').find('.idsch').addClass('hid');
				}
			});
			$('.recommidlay').find('#sch02').click(function () {
				if ($(this).is(":checked")) {
					$('.recommidlay').find('.numsch').addClass('hid');
					$('.recommidlay').find('.idsch').addClass('hid');
					$('.recommidlay').find('.usersch').removeClass('hid');
				}
			});
			$('.recommidlay').find('#sch01').click(function () {
				if ($(this).is(":checked")) {
					$('.recommidlay').find('.idsch').removeClass('hid');
					$('.recommidlay').find('.usersch').addClass('hid');
					$('.recommidlay').find('.numsch').addClass('hid');
				}
			});
		}
	});
</script>
</html>