<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all">
</head>
<body>
	<div class="sso_wrap">
		<header class="sso_head">
			<div class="row">
				<h1 class="brandlogo"><a href="#"><span class="a11y_sr-only">유한킴벌리</span></a></h1>
				<p class="childlogo"><a href="#"><span class="a11y_sr-only">momQ</span></a></p>
			</div>
		</header>

		<div id="container" class="contents">
			<div class="row">
				<div class="find_wrap">
					<div class="tabwrap">
						<ul class="tablist">
							<li class="seleted"><a href="find_id.html">아이디 찾기</a>
							<li><a href="find_pwd.html">비밀번호 찾기</a>
						</ul>
					</div>
					<h2 class="tit"><span>인증방법을</span> 선택하세요.</h2>
					<p class="desc">아이디, 비밀번호가 생각나지 않으세요?<br>안전하게 찾을 수 있도록 도와드리겠습니다. </p>

					<div class="findfrm">
						<p class="title">회원가입 정보로 찾기</p>
						<p class="desc">가입 시 입력한 휴대폰 번호 입력</p>
						<ul class="write">
							<li>
								<p class="ti">이름</p>
								<p class="put"><input type="text" value="" placeholder="회원 이름을 입력해주세요." ></p>
							</li>
							<li>
								<p class="ti">휴대폰 번호</p>
								<p class="put"><input type="text" value="" placeholder="-를 제외한 숫자만 입력해주세요." ></p>
							</li>
						</ul>
						<p class="help">회원 가입 시 입력한 휴대폰 번호로 인증번호가 발송됩니다.</p>
						<div class="btnwrap">
							<a href="#" class="btnDefault btnfull">인증번호 전송</a>
						</div>
						<p class="errotxt">회원 이름과 휴대폰 번호를 다시 확인해주세요.</p>
					</div>

					<div class="findfrm">
						<p class="title">휴대폰 인증으로 찾기</p>
						<p class="desc">본인 명의의 휴대폰 번호로 인증</p>
						<ul class="write">
							<li>
								<p class="ti">휴대폰 번호</p>
								<p class="put"><input type="text" value="" placeholder="-를 제외한 숫자만 입력해주세요." ></p>
							</li>
						</ul>
						<div class="btnwrap">
							<a href="#" class="btnDefault btnfull">휴대폰 인증</a>
						</div>
					</div>

					<!-- 인증번호 받은 후 -->
					<div class="findfrm">
						<p class="title">회원가입 정보로 찾기</p>
						<p class="desc">가입 시 입력한 휴대폰 번호 입력</p>
						<ul class="write">
							<li>
								<p class="ti">이름</p>
								<p class="put"><input type="text" value="이름이름" placeholder="회원 이름을 입력해주세요." ></p>
							</li>
							<li>
								<p class="ti">휴대폰 번호</p>
								<p class="put"><input type="text" value="01012345678" placeholder="-를 제외한 숫자만 입력해주세요." ></p>
							</li>
						</ul>
						<p class="help">회원 가입 시 입력한 휴대폰 번호로 인증번호가 발송됩니다.</p>
						<div class="btnwrap">
							<a href="#" class="btnDisabled btnfull">인증번호 전송</a>
						</div>

						<ul class="write code">
							<li>
								<p class="ti">인증번호</p>
								<p class="put">
									<input type="text" value="" >
									<span class="dtime">02:58</span>
								</p>
							</li>
						</ul>
						<p class="help">인증번호가 발송되었습니다. (유효시간 3분)<br>인증번호를 오지 않으면, 입력하신 정보가 맞는지 확인해주세요.<br>3분 후 재전송이 가능합니다.</p>
						<div class="btnwrap">
							<a href="#" class="btnDefault btnfull">인증번호 확인</a>
						</div>
					</div>

				</div>

			</div>
		</div>

	</div>
</body>
</html>
