<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all">
</head>
<body>
	<div class="sso_wrap">
		<header class="sso_head">
			<div class="row">
				<h1 class="brandlogo"><a href="#"><span class="a11y_sr-only">유한킴벌리</span></a></h1>
				<p class="childlogo"><a href="#"><span class="a11y_sr-only">momQ</span></a></p>
			</div>
		</header>

		<div id="container" class="contents">
			<div class="row">
				<div class="find_wrap">
					<h2 class="tit"><span>아이디 찾기 완료</span></h2>
					<p class="desc">회원님의 아이디를 확인해주세요.</p>

					<div class="findfrm result">
						<ul class="write">
							<li>
								<p class="ti">아이디</p>
								<p class="put"><input type="text" value="아이디아이디아이디아이디"  ></p>
							</li>
						</ul>
					</div>
					<div class="btnwrap half">
						<a href="#" class="btnDefault btnline">비밀번호 찾기</a>
						<a href="#" class="btnDefault">로그인</a>
					</div>
				</div>

				<div class="banner">
					<a href="#"><img src="../common/images/@banner.jpg" alt="@banner"></a>
				</div>
			</div>
		</div>

	</div>
</body>
</html>
