<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all">
</head>
<body>
	<div class="sso_wrap sso_intro">
		<h1 class="logo"></h1>
		<div class="toparea">
			<div class="row">
				<div class="fig"></div>
				<div class="desc">
					<span>유한킴벌리 SSO 회원 소개</span>
					<p>하나의 아이디로<br>유한킴벌리</p>
					<strong>모든 브랜드 사이트를<br>이용하세요!</strong>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="ititle">
				<p>유한킴벌리 SSO회원 이용 가능 사이트</p><span>유한킴벌리 SSO회원 아이디 하나로 맘큐 및 유한킴벌리 브랜드의 다양한 서비스를 이용할 수 있습니다.</span>
			</div>
			<ul class="logo_list">
				<li>
					<p class="logos logos_momq">
						<a href="https://www.momq.co.kr/main/initMain.action" target="_blank"><span class="a11y_sr-only">맘큐</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_ykbrand">
						<a href="https://www.ykbrand.co.kr" target="_blank"><span class="a11y_sr-only">유한킴벌리브랜드</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_huggies">
						<a href="http://www.ykbrand.co.kr/huggies" target="_blank"><span class="a11y_sr-only">하기스</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_gnight">
						<a href="http://www.ykbrand.co.kr/goodnite" target="_blank"><span class="a11y_sr-only">굿나이트</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_white">
						<a href="http://www.ykbrand.co.kr/white" target="_blank"><span class="a11y_sr-only">화이트</span></a>
					</p>
				</li>
				<li>
						<p class="logos logos_good">
						<a href="http://www.ykbrand.co.kr/goodfeel" target="_blank"><span class="a11y_sr-only">좋은느낌</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_lanature">
						<a href="http://www.ykbrand.co.kr/lanature" target="_blank"><span class="a11y_sr-only">라네이처</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_kleenex">
						<a href="http://www.ykbrand.co.kr/kleenex" target="_blank"><span class="a11y_sr-only">크리넥스</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_scott">
						<a href="http://www.ykbrand.co.kr/scott" target="_blank"><span class="a11y_sr-only">스카트</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_my">
						<a href="http://www.ykbrand.co.kr/mybidet" target="_blank"><span class="a11y_sr-only">마이비데</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_depand">
						<a href="http://www.ykbrand.co.kr/depend" target="_blank"><span class="a11y_sr-only">디펜드</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_tn">
						<a href="http://www.ykbrand.co.kr/tn" target="_blank"><span class="a11y_sr-only">티엔</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_green">
						<a href="http://www.ykbrand.co.kr/greenfinger" target="_blank"><span class="a11y_sr-only">그린핑거</span></a>
					</p>
				</li>
				<li>
					<p class="logos logos_monit">
						<a href="http://www.goodmonit.com/" target="_blank"><span class="a11y_sr-only">모닛</span></a>
					</p>
				</li>
			</ul>
		</div>

		<div class="momq_benef">
			<div class="row">
				<div class="ititle">
					<h2 class="logo_momq"></h2>
					<p>놓치지 말아야 할 SSO회원 가입 혜택!</p><span>회원 가입 웰컴 혜택으로 맘큐에서 다양한 포인트 및 쿠폰을 드립니다. (맘큐 약관 동의 시)</span>
				</div>
				<div class="coup_info">
					<dl>
						<dt>웰컴 혜택<span>통합회원 가입 시 5가지 혜택제공</span></dt>
						<dd>
							<p><img src="../common/images/sso/ssointro_copon01.png" alt="최대 2만원 할인쿠폰"></p>
							<p><img src="../common/images/sso/ssointro_copon02.png" alt="최대 4천원 가입축하 포인트"></p>
						</dd>
					</dl>
					<dl>
						<dt>아이정보 등록 혜택<span>쿠폰, 맞춤할인, 무료체험 등 혜택</span></dt>
						<dd>
							<p><img src="../common/images/sso/ssointro_copon03.png" alt="최대 2만원 할인쿠폰"></p>
							<p><img src="../common/images/sso/ssointro_copon04.png" alt="최대 4천원 가입축하 포인트"></p>
						</dd>
					</dl>
				</div>
			</div>
		</div>

		<div class="sso_join">
			<div class="row">
				<div class="ititle">
					<p>맘큐 또는 통합브랜드 웹사이트에서 <span>유한킴벌리 SSO 회원에 가입해주세요.</span></p>
				</div>
				<div class="btnwrap">
					<a href="https://yksso.co.kr/account/join?client_id=2&state=aoVjt0Zl932xrtZitPk0MfhinLJlGeq3VzX/h/AIR4w=&site_code=MOMQ&return_url=https%3A%2F%2Fwww.momq.co.kr%2Fmain%2FinitMain.action&join_return_url=https%3A%2F%2Fwww.momq.co.kr%2Fmain%2FinitMain.action&cid=1014681105.1575626678" target="_blank" class="btn">맘큐에서 회원가입 하기</a>
					<a href="https://yksso.co.kr/account/join?client_id=2&return_url=https://www.ykbrand.co.kr/SSL/SignIn?rtnUrl=%2f&site_code=YKBRAND&state=558d86f3a71546748056e012775e5970" target="_blank" class="btn">유한킴벌리 통합브랜드에서 회원 가입 하기</a>
				</div>
				<ul class="dot_list">
					<li>가입 후 마이페이지 &gt; 약관 관리 이용 서비스 선택 에서 이용 하실 서비스(사이트)를 언제든지 동의/해지 하실 수 있습니다. </li>
					<li>모닛 서비스는 app을 통해서만 약관에 동의/해지 하실 수 있습니다.</li>
				</ul>
			</div>
		</div>

	</div>

	<footer class="renewfoo">
		<!-- footerCont -->
		<div class="footerCont">
			<!-- footsec -->
			<div class="footsec">
				<!-- logo -->
				<p class="footlogo"><img src="../common/images/sso/newfootlogo.gif" alt="유한킴벌리"></p>
				<!-- footMenu -->
				<ul class="footMenu">
					<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
					<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="font-weight:bold;">개인정보처리방침</a></li>
				</ul>
				<!-- //footMenu -->
				<!-- corpInfo -->
				<div class="corpInfo">
					서울시 강남구 테헤란로 504 (우) 06178<span>최규복</span><br>사업자번호 : 120-81-11436 <span>고객지원센터 : 080-022-7007</span>
					<span><a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일 <img src="../common/images/sso/btn_fooemail.gif" alt=""></a></span>
				</div>
				<!-- copy-->
				<p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>
				<div class="familysite">
					<select onchange="goFamilySite(this);">
						<option value="">FAMILY SITE</option>
						<option value="http://www.yuhan-kimberly.co.kr/">유한킴벌리</option>
						<option value="http://www.momq.co.kr/main/initMain.action">맘큐</option>
					</select>
				</div>

				<!-- btnTop -->
				<a href="#" class="btnTop"><img src="http://www.ykbrand.co.kr/Common/images/btn/btn_top.gif" alt="상단 바로가기"></a>
			</div>
			<!-- //footsec -->
		</div>
		<!-- //footerCont -->
	</footer>

</body>
</html>
