<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=1200">
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all">
</head>
<body>
  <!-- 20210414 -->
	<div class="sso_wrap sso_intro">
		<div class="toparea">
			<div class="row">
        <h1 class="logo"></h1>
				<div class="fig"></div>
				<div class="desc">
					<span>유한킴벌리 SSO 회원 소개</span>
					<p class="slogan">하나의 아이디로<br>유한킴벌리 <strong>모든 브랜드 사이트를<br>이용하세요!</strong></p>
          <p class="detail"><em>SSO</em>는 유한킴벌리의 브랜드(하기스, 굿나이트, 그린핑거, 좋은느낌, <br>
            화이트, 스카트, 크리넥스, 마이비데, 디펜드, 티엔)와 선물대잔치 등 <br>
            13개의 사이트의 통합 로그인을 제공하여 하나의 아이디로 <br>
            <em>유한킴벌리 모든 브랜드 사이트를 이용할 수 있는 서비스</em>입니다.</p>
				</div>
			</div>
		</div>
    <div class="content_wrap row">
      <section>
        <dl class="ititle">
          <dt>SSO회원<br>이용 서비스</dt>
          <dd>가입 후 마이페이지 > 약관 관리 이용 서비스 선택에서 이용 할 수 있는 서비스 (사이트)를 <br>언제든지 동의/해지 할 수 있습니다.</dd>
          <dd>모닛, 달다방 서비스는 App을 통해서만 <br>약관 동의/해지가 가능합니다.</dd>
        </dl>
        <ul class="logo_list">
          <li>
            <p class="logos logos_momq">
              <a href="https://www.momq.co.kr/main/initMain.action" target="_blank"><span class="a11y_sr-only">맘큐</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_ykbrand">
              <a href="https://www.ykbrand.co.kr" target="_blank"><span class="a11y_sr-only">유한킴벌리브랜드</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_huggies">
              <a href="http://www.ykbrand.co.kr/huggies" target="_blank"><span class="a11y_sr-only">하기스</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_gnight">
              <a href="http://www.ykbrand.co.kr/goodnite" target="_blank"><span class="a11y_sr-only">굿나이트</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_white">
              <a href="http://www.ykbrand.co.kr/white" target="_blank"><span class="a11y_sr-only">화이트</span></a>
            </p>
          </li>
          <li>
              <p class="logos logos_good">
              <a href="http://www.ykbrand.co.kr/goodfeel" target="_blank"><span class="a11y_sr-only">좋은느낌</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_lanature">
              <a href="http://www.ykbrand.co.kr/lanature" target="_blank"><span class="a11y_sr-only">라네이처</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_kleenex">
              <a href="http://www.ykbrand.co.kr/kleenex" target="_blank"><span class="a11y_sr-only">크리넥스</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_scott">
              <a href="http://www.ykbrand.co.kr/scott" target="_blank"><span class="a11y_sr-only">스카트</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_my">
              <a href="http://www.ykbrand.co.kr/mybidet" target="_blank"><span class="a11y_sr-only">마이비데</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_depand">
              <a href="http://www.ykbrand.co.kr/depend" target="_blank"><span class="a11y_sr-only">디펜드</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_tn">
              <a href="http://www.ykbrand.co.kr/tn" target="_blank"><span class="a11y_sr-only">티엔</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_green">
              <a href="http://www.ykbrand.co.kr/greenfinger" target="_blank"><span class="a11y_sr-only">그린핑거</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_monit">
              <a href="https://goodmonit.co.kr/" target="_blank"><span class="a11y_sr-only">모닛</span></a>
            </p>
          </li>
          <li>
            <p class="logos logos_dal">
              <a href="https://play.google.com/store/apps/details?id=com.appknot.mygoodfeel" target="_blank"><span class="a11y_sr-only">달다방</span></a>
            </p>
          </li>
        </ul>
      </section>  
      <section>
        <dl class="ititle">
          <dt>SSO 회원<br>Welcome 혜택</dt>
          <dd>SSO 회원 가입시 웰컴 혜택으로 다양한 포인트 및 쿠폰을 드립니다.<br><i>(맘큐 약관 동의 시 혜택 제공)</i></dd>
        </dl>
        <ul class="benefs">
          <li><p class="img"><img src="../common/images/sso/ssointr_benef01.png"/><span class="a11y_sr-only">최대 2만원 할인쿠폰</span></p></li>
          <li><p class="img"><img src="../common/images/sso/ssointr_benef02.png"/><span class="a11y_sr-only">최대 4천원 가입축하 포인트</span></p></li>
        </ul>
      </section>
       <section>
        <dl class="ititle">
          <dt>SSO 히스토리</dt>
        </dl>
        <ul class="history">
          <li>
            <p class="date">2015.12</p>
            <div class="desc">
              <p class="tit">유한킴벌리 SSO 런칭</p>
              <p class="exp">유한킴벌리 브랜드와 선물대잔치 등 13개 브랜드 사이트 통합 로그인 제공</p>
            </div>
          </li>
          <li>
            <p class="date">2016.11</p>
            <div class="desc">
              <p class="tit">SSO 고도화</p>
              <p class="exp">맘큐 회원 대상, SSO 회원으로 간편 전환 할 수 있도록 간편전환 서비스 제공<br>통합브랜드, 선물대잔치, 맘큐 서비스별로 사용 여부를 선택할 수 있도록 제공</p>
            </div>
          </li>
          <li>
            <p class="date">2017.12</p>
            <div class="desc">
              <p class="tit">스마트 베이비 모니터 &lsquo;모닛(MONIT)&#146; 로그인 서비스 추가</p>
            </div>
          </li>
          <li>
            <p class="date">2018.03</p>
            <div class="desc">
              <p class="tit">간편 회원 가입 서비스 런칭 <i>(네이버, 페이스북, 카카오톡 소셜 로그인)</i></p>
            </div>
          </li>
          <li>
            <p class="date">2018.04</p>
            <div class="desc">
              <p class="tit">하기스 선물 신청하기 로그인 서비스 추가</p>
            </div>
          </li>
          <li>
            <p class="date">2019.01</p>
            <div class="desc">
              <p class="tit">SSO 회원가입 추천인 서비스 오픈</p>
            </div>
          </li>
          <li>
            <p class="date">2020.03</p>
            <div class="desc">
              <p class="tit">유한킴벌리 SSO 리뉴얼</p>
            </div>
          </li>
          <li>
            <p class="date">2020.10</p>
            <div class="desc">
              <p class="tit">SSO 가입 회원수 100만명 돌파</p>
            </div>
          </li>
        </ul>
      </section>
    </div>
	</div>
	<footer class="renewfoo">
		<div class="footerCont">
			<!-- footsec -->
			<div class="footsec">
				<p class="footlogo"><img src="../common/images/sso/newfootlogo_210414.gif" alt="유한킴벌리"></p>
				<ul class="footMenu">
					<li><a href="javascript:mainTerms('yk3', 960, 520)" title="사이트이용약관 새창보기">사이트이용약관</a></li>
					<li><a href="javascript:mainTerms('yk8', 960, 520)" title="개인정보처리방침 새창보기" style="font-weight:bold;">개인정보처리방침</a></li>
				</ul>
				<div class="corpInfo">
					서울시 강남구 테헤란로 504 (우) 06178<span>최규복</span><br>사업자번호 : 120-81-11436 <span>고객지원센터 : 080-022-7007</span>
					<span><a href="https://www.yuhan-kimberly.co.kr/Customer/Company" target="_blank" title="새창에서 열림">회사대표 이메일 <img src="../common/images/sso/btn_fooemail.gif" alt=""></a></span>
				</div>
				<p class="copy">Copyright@2015 Yuhan-Kimberly.All right Reserved.</p>
				<div class="familysite">
					<select onchange="goFamilySite(this);">
						<option value="">FAMILY SITE</option>
						<option value="http://www.yuhan-kimberly.co.kr/">유한킴벌리</option>
						<option value="http://www.momq.co.kr/main/initMain.action">맘큐</option>
					</select>
				</div>
			</div><!-- //footsec -->
      <a href="https://www.momq.co.kr/" targer="_blank" class="btnFloat cta01"><img src="../common/images/sso/btn_float01.gif" alt="맘큐 회원가입 바로가기"></a>
      <a href="https://www.ykbrand.co.kr/" targer="_blank" class="btnFloat cta02"><img src="../common/images/sso/btn_float02.gif" alt="유한킴벌리 통합브랜드 회원가입 바로가기"></a>
		</div>
	</footer>
</body><!-- //20210414 -->
</html>
