<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="icon" href="../common/images/common/favicon_default.png" type="image/x-icon">
	<meta name="title" content="유한킴벌리" />
	<meta name="keywords" content="유한킴벌리">
	<meta name="description" content="유한킴벌리" />
	<title>유한킴벌리</title>
	<script type="text/javascript" src="../../Scripts/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../Scripts/jquery-ui-1.11.4.min.js"></script>
	<link rel="stylesheet" href="../common/css/sso.css" type="text/css" media="all">
</head>
<body>
	<div class="sso_wrap">
		<header class="sso_head">
			<div class="row">
				<h1 class="brandlogo"><a href="#"><span class="a11y_sr-only">유한킴벌리</span></a></h1>
			</div>
		</header>

		<div id="container" class="contents">
			<div class="row">
				<div class="join_wrap terms">
					<h1><span>통합브랜드 약관에</span>동의해주세요.</h1>
					<p class="desc">
						<strong>회원님께서는 이미 통합회원으로 가입하셨습니다.</strong>
						통합브랜드 이용 약관에 동의하시면 통합회원 아이디로 통합브랜드의 서비스를 이용하실 수 있습니다.
					</p>

					<div class="terms_target">
						<p>대상 서비스</p>
						<div>통합브랜드
							<span>(화이트,좋은느낌,크리넥스,스카트,마이비데,디펜드,라네이처,티엔)</span>
						</div>
					</div>

					<div class="join_form">
						<h2 class="h2_ti">약관 동의</h2>
						<p class="desc">이용약관 및 정보활용 안내를 읽고 동의해주세요.</p>
						<ul class="terms_chk">
							<li class="first">
								<p><input type="checkbox" id="allchk"><label for="allchk">모두 동의합니다.</label></p>
								<p class="txt">전체동의는 필수 뿐 아니라 선택항목도 포함됩니다. 선택항목 미동의 시 회원가입은 가능하나 서비스 이용에 제한이 있을 수 있습니다.</p>
							</li>
							<li>
								<p><input type="checkbox" id="chk01"><label for="chk01"><span class="esse">(필수)</span> 통합브랜드 이용약관</label></p>
								<a href="#" onclick="layerOpen('termslayer01');return false;" class="btn_vw">보기</a>
							</li>
							<!-- 20220211 SSO ISMS 수정
								<li>
								<p><input type="checkbox" id="chk02"><label for="chk02"><span class="esse">(필수)</span> 통합브랜드 필수항목 개인정보 수집 및 이용</label></p>
								<a href="#" class="btn_vw">보기</a>
							</li>
							<li>
								<p><input type="checkbox" id="chk05"><label for="chk05"><span class="sel">(선택)</span> 통합브랜드 선택항목 개인정보 수집 및 이용</label></p>
								<a href="#" class="btn_vw">보기</a>
							</li> -->
							<li>
								<p><input type="checkbox" id="chk06"><label for="chk06"><span class="sel">(선택)</span> 통합브랜드 마케팅 목적 이용</label></p>
								<a href="#" class="btn_vw">보기</a>
							</li>
							<li>
								<p><input type="checkbox" id="chk07"><label for="chk07"><span class="sel">(선택)</span> 통합브랜드 개인정보 처리위탁</label></p>
								<a href="#" class="btn_vw">보기</a>
							</li>
							<li>
								<p><input type="checkbox" id="chk09"><label for="chk09"><span class="sel">(선택)</span> 광고성 정보 수신 동의</label></p>
								<a href="#" class="btn_vw">보기</a>
								<div class="select_chk">
									<p class="rchk">
										<input type="checkbox" id="rchk01" name=""><label for="rchk01">이메일 수신</label>
									</p>
									<p class="rchk">
										<input type="checkbox" id="rchk02" name=""><label for="rchk02">SMS 수신</label>
									</p>
									<!-- <p class="rchk">
										<input type="checkbox" id="rchk03" name=""><label for="rchk03">PUSH 수신</label>
									</p> -->
									<span>회원님께 드리는 이벤트/할인혜택/상품 등의 정보 수신에 동의해주세요.</span>
								</div>
							</li>
						</ul>
					</div>

					<div class="btnwrap btn_foo">
						<a href="#" class="btn btn_next">확인</a>
					</div>

				</div>
			</div>
		</div>

	</div>
</body>
</html>
