<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="title" content="유한킴벌리">
		<meta name="keywords" content="유한킴벌리">
		<meta name="description" content="유한킴벌리">

		<title>YK Big Data Analytics Portal</title>

		<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
		<link rel="stylesheet" href="../Common/css/common.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">

<script type="text/javascript">
function contentsResize() {
	var div2 = document.getElementById('conentsInner');
	div2.style.width = window.innerWidth - 210 + 'px';
}
window.onload = function() {
	contentsResize();
	// 브라우저 크기가 변할 시 동적으로 사이즈를 조절해야 하는경우
	window.addEventListener('resize', contentsResize);
}
</script>


</head>
<body>
<div id="wrap">
	<header>
		<div class="logo"><a href="http://www.yuhan-kimberly.co.kr" target="_blank">유한킴벌리</a></div>
		<h1>YK BIG DATA ANALYTICS PORTAL</h1>
		<span>v22.0</span>
	</header>
	<section class="items_menu">
		<div class="items_lnb">RECENTLY VIEWED ITEMS</div>
		<ul class="items_cate">
			<li><a href="" class="graph">SALES REPORT (SHIPMENT)</a></li>
			<li><a href="" class="cate">CATEGORY SHARE</a></li>
			<li><a href="" class="price">PRICE TRACKER</a></li>
		</ul>
	</section>

	<div class="contents">
		<div class="lnb">
			<ul>
				<li><a href="sale.html" class="menu1">eCommerce <br> Sales Analytics</a></li> <!-- 활성화 class : curr -->
				<li><a href="sale2.html" class="menu2">Sales Analytics</a></li>
				<li><a href="analytics.html" class="menu3 curr">Digital Marketing<br> Analytics</a></li>
				<li><a href="supply.html" class="menu4">Supply Chain <br> Management </a></li>
			</ul>
			<div class="manual"><a href="https://tableau.kcc.com/#/site/AP/views/YKBigDataAnalytics/Document" target="_blank">MANUAL</a></div>
		</div>

		<div class="contents_inner" id="conentsInner">
			<ul class="analytics">
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/YKOnlineMembership/SSO" class="bg1" target="_blank">
						YK online membership
						<div>
							<dl>
							<dt>YK online membership</dt>

							<dd>
								유한킴벌리 통합 SSO 회원<br> 현황
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- <li>
					<a href="https://tableau.kcc.com/t/AP/views/YKBrandAnalyticsReport/UVPV" class="bg2" target="_blank">
						통합브랜드 Analytics
						<div>
							<dl>
							<dt>통합브랜드 Analytics</dt>

							<dd>
								유한킴벌리 통합브랜드 접속 사용자 및 웹 로그 분석
							</dd>
							</dl>

						</div>
					</a>
				</li> -->

				<li>
					<a href="" class="bg4" target="_blank">
						momQ analytics

						<div>
							<dl>
							<dt>momQ analytics</dt>

							<dd>
								맘큐 매출/회원현황에 대한<br> daily 대시보드
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/BCCCRMDashboard/CRMSummary" class="bg6" target="_blank">
						BCC CRM report
						<div>
							<dl>
							<dt>BCC CRM report</dt>

							<dd>
								BCC 캠페인 <br>segment 별 결과 현황
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
		        <a href="https://tableau.kcc.com/#/site/AP/views/SalesPredictionDashboard/SalesPrediction?:iid=1" target="_blank" class="bg8">
		            Market Share Prediction
		            <div>
		                <dl>
		                    <dt>Market Share Prediction </dt>

		                    <dd>
		                        온/오프라인<br> 판매실적 및 프로모션 금액<br>기반 월별 M/S 예측
		                    </dd>
		                </dl>

		            </div>
		        </a>
		    </li>
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/eCommerceBuzzShare/eCommerceBuzzShare" class="bg7" target="_blank">
						eCommerce buzz share
						<div>
							<dl>
							<dt>eCommerce buzz share </dt>

							<dd>
								이커머스 채널에서의<br> 유한킴벌리 및 경쟁사<br> buzz 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/BuzzWoM/BuzzWoM" class="bg3" target="_blank">
						buzz WoM
						<div>
							<dl>
							<dt>buzz WoM</dt>

							<dd>
								social buzz 내 제품군 별 <br>유한킴벌리 및 경쟁사 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>


				<!-- <li>
					<a href="https://tableau.kcc.com/t/AP/views/NielsenKantarValueShareReport/NielsenValueShare" class="bg5" target="_blank">
						 Nielsen/Kantar report

						<div>
							<dl>
							<dt> Nielsen/Kantar report</dt>

							<dd>
								닐슨/칸타<br> Market Share
							</dd>
							</dl>

						</div>
					</a>
				</li> -->

			</ul>
		</div>

	</div>
</div>
</body>
</html>
