<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="title" content="유한킴벌리">
		<meta name="keywords" content="유한킴벌리">
		<meta name="description" content="유한킴벌리">

		<title>YK Big Data Analytics Portal</title>

		<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
		<link rel="stylesheet" href="../Common/css/common.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">

<script type="text/javascript">
function contentsResize() {
	var div2 = document.getElementById('conentsInner');
	div2.style.width = window.innerWidth - 210 + 'px';
}
window.onload = function() {
	contentsResize();
	// 브라우저 크기가 변할 시 동적으로 사이즈를 조절해야 하는경우
	window.addEventListener('resize', contentsResize);
}
</script>


</head>
<body>
<div id="wrap">
	<header>
		<div class="logo"><a href="http://www.yuhan-kimberly.co.kr" target="_blank">유한킴벌리</a></div>
		<h1>YK BIG DATA ANALYTICS PORTAL</h1>
		<span>v26.0</span> <!-- 20200224 //-->
	</header>
	<section class="items_menu">
		<div class="items_lnb">RECENTLY VIEWED ITEMS</div>
		<ul class="items_cate">
			<li><a href="" class="graph">SALES REPORT (SHIPMENT)</a></li>
			<li><a href="" class="cate">CATEGORY SHARE</a></li>
			<li><a href="" class="price">PRICE TRACKER</a></li>

			<!-- 20200224 s -->
			<li><a href="" class="a1-8">Sales Analytics Report</a></li>
			<li><a href="" class="a2-1">Sales Report (Shipment)</a></li>
			<li><a href="" class="a3-2">momQ 매출 분석</a></li>
			<li><a href="" class="a3-3">momQ 기획전 분석</a></li>
			<!--// 20200224 e -->

			<!-- 20200629 -->
			<li><a href="" class="a_dnp">D&P Dynamic Price Tracker</a></li>
			<li><a href="" class="a_bt">BT Dynamic Price Tracker</a></li>
			<!--// 20200629 -->

		</ul>
	</section>

	<div class="contents">
		<div class="lnb">
			<ul>
				<li><a href="sale.html" class="menu1 curr">eCommerce <br> Sales Analytics</a></li> <!-- 활성화 class : curr -->
				<li><a href="sale2.html" class="menu2">Sales Analytics</a></li>
				<li><a href="analytics.html" class="menu3">360 Consumer<br>Analytics</a></li>
				<li><a href="supply.html" class="menu4">Supply Chain <br> Management </a></li>
			</ul>
			<div class="manual"><a href="https://tableau.kcc.com/#/site/AP/views/YKBigDataAnalytics/Document" target="_blank">MANUAL</a></div>
		</div>

		<div class="contents_inner" id="conentsInner">
			<!-- 20200629 -->
			<ul class="sale">
				<li class="wide">
					<a href="https://tableau.kcc.com/t/AP/views/DPSMDashboard_0/Online_DPSM" class="bg7" target="_blank">
						eDPSM Executive Summary
						<div>
							<dl>
							<dt>eDPSM Executive Summary</dt>

							<dd>
								Distribution, Pricing, Shelving, Merchandising 에 대한 월간 리포트
							</dd>
							</dl>

						</div>
					</a>
				</li>
			</ul>

			<ul class="sale">
				<!-- 1 -->
				<li>
					<a href="https://tableau.kcc.com/#/site/AP/views/CoupangPriceTrend/sheet7?:iid=1" class="bg5" target="_blank">
						D&P Dynamic Price Tracker
						<div>
							<dl>
							<dt>D&P Dynamic Price Tracker</dt>

							<dd>
								D&P 자사 및 경쟁사<br>가격 및 Index 트렌드
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 2 -->
				<li>
					<a href="#" class="bg11" target="_blank">
						BT Dynamic Price Tracker
						<div>
							<dl>
							<dt>BT Dynamic Price Tracker</dt>

							<dd>
								BT 자사 및 경쟁사 <br> 가격 및 Index 트렌드
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 3 -->
				<li>
					<a href="https://tableau.kcc.com/#/site/AP/views/SalesAnalytics/Salesanalytics" class="bg10" target="_blank">
						Sales Analytics Report
						<div>
							<dl>
							<dt>Sales Analytics Report</dt>

							<dd>이커머스 채널에서의<br>카테고리/키워드 점유율<br>및 자사 제품 취급율</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 4 -->
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/SO_category_main/category_main" class="bg4" target="_blank">
						Category Share
						<div>
							<dl>
							<dt>Category Share </dt>

							<dd>
								이커머스 채널에서의<br> 유한킴벌리 및 경쟁사<br> 카테고리 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 5 -->
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/SO_keyword_main/keyword_main" class="bg6" target="_blank">
						Keyword Share
						<div>
							<dl>
							<dt>Keyword Share </dt>

							<dd>
								이커머스 채널에서의 <br>유한킴벌리 및 경쟁사 <br>키워드 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 6 -->
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/Product_penetration_2018/Penetration_main" class="bg9" target="_blank">
						Product Penetration
						<div>
							<dl>
							<dt>Product Penetration</dt>

							<dd>
								이커머스 채널에서의 <br>유한킴벌리 자재 취급률
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 7 -->
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/PT_main/PriceTracker" class="bg2" target="_blank">
						Price Tracker
						<div>
							<dl>
							<dt>Price Tracker</dt>

							<dd>
								이커머스 채널에서의<br> 유한킴벌리 및 경쟁사 제품<br> 가격(낱개가/단위가) 트렌드
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<!-- 8 -->
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/ShelfMonitoring_Keyword_Promotion/Keyword_Promotion" class="bg8" target="_blank">
						Keyword Promotion
						<div>
							<dl>
							<dt>Keyword Promotion</dt>

							<dd>
								오픈마켓 채널에서의 <br>유한킴벌리 키워드 광고영역 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>

			</ul>
			<!--// 20200629 -->
		</div>

	</div>
</div>
</body>
</html>
