<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="title" content="유한킴벌리">
		<meta name="keywords" content="유한킴벌리">
		<meta name="description" content="유한킴벌리">

		<title>YK Big Data Analytics Portal</title>

		<link rel="icon" href="https://www.ykbrand.co.kr/Common/images/favicon/favicon_default.png" type="image/x-icon">
		<link rel="stylesheet" href="../Common/css/common.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">

<script type="text/javascript">
function contentsResize() {
	var div2 = document.getElementById('conentsInner');
	div2.style.width = window.innerWidth - 210 + 'px';
}
window.onload = function() {
	contentsResize();
	// 브라우저 크기가 변할 시 동적으로 사이즈를 조절해야 하는경우
	window.addEventListener('resize', contentsResize);
}
</script>


</head>
<body>
<div id="wrap">
	<header>
		<div class="logo"><a href="http://www.yuhan-kimberly.co.kr" target="_blank">유한킴벌리</a></div>
		<h1>YK BIG DATA ANALYTICS PORTAL</h1>
		<span>v26.0</span> <!-- 20200224 //-->
	</header>
	<section class="items_menu">
		<div class="items_lnb">RECENTLY VIEWED ITEMS</div>
		<ul class="items_cate">
			<li><a href="" class="graph">SALES REPORT (SHIPMENT)</a></li>
			<li><a href="" class="cate">CATEGORY SHARE</a></li>
			<li><a href="" class="price">PRICE TRACKER</a></li>
		</ul>
	</section>

	<div class="contents">
		<div class="lnb">
			<!-- 20190410 메뉴축가 및 클래스 -->
			<ul>
				<li><a href="sale.html" class="menu1">eCommerce <br> Sales Analytics</a></li> <!-- 활성화 class : curr -->
				<li><a href="sale2.html" class="menu2 curr">Sales Analytics</a></li>
				<li><a href="analytics.html" class="menu3">360 Consumer<br>Analytics</a></li> <!-- 20200130 -->
				<li><a href="supply.html" class="menu4">Supply Chain <br> Management </a></li>
			</ul>
			<!--// 20190410 메뉴축가 및 클래스 -->
			<div class="manual"><a href="https://tableau.kcc.com/#/site/AP/views/YKBigDataAnalytics/Document" target="_blank">MANUAL</a></div>
		</div>

		<div class="contents_inner" id="conentsInner">
			<ul class="sale">
				<li>
					<a href="https://tableau.kcc.com/#/site/AP-Ad-hoc/views/B2CSalesMonthlyKPIReport/Growth" class="bg01" target="_blank">
						B2C Sales Report

						<div>
							<dl>
							<dt>B2C Sales Report</dt>

							<dd>
								invoice sales, net sales, profit 등 목표 대비 실적 현황
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="https://tableau.kcc.com/#/site/AP-Ad-hoc/views/B2CSalesMonthlyKPIReport/Growth" class="bg02" target="_blank">
						B2C Sales Monthly report
						<div>
							<dl>
							<dt>B2C Sales Monthly report</dt>

							<dd>
								이커머스 채널에서의<br> 유한킴벌리 및 경쟁사 제품<br>가격(낱개가/단위가) 트렌드
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="javascript:alert('준비 중입니다.')" class="bg03" target="_blank">
						B2C 매출 성과 요약
						<div>
							<dl>
							<dt>B2C 매출 성과 요약</dt>

							<dd>
								고객별 제품별 <br>Point of Sales 매출
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="javascript:alert('준비 중입니다.')" class="bg04" target="_blank">
						B2C 매출 성과 상세
						<div>
							<dl>
							<dt>B2C 매출 성과 상세</dt>

							<dd>
								이커머스 채널에서의<br> 유한킴벌리 및 경쟁사<br> 카테고리 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="javascript:alert('준비 중입니다.')" class="bg05" target="_blank">
						B2C 유통 현황
						<div>
							<dl>
							<dt>B2C 유통 현황</dt>

							<dd>
								이커머스 채널의 <br>유한킴벌리 제품 가격(낱개가)<br> dynamic pricing 분석
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="javascript:alert('준비 중입니다.')" class="bg06" target="_blank">
						B2C 자재 관리
						<div>
							<dl>
							<dt>B2C 자재 관리</dt>

							<dd>
								이커머스 채널에서의 <br>유한킴벌리 및 경쟁사 <br>키워드 점유율
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="javascript:alert('준비 중입니다.')" class="bg07" target="_blank">
						B2C 가격 비교
						<div>
							<dl>
							<dt>B2C 가격 비교</dt>

							<dd>
								Distribution, Pricing, <br>Shelving, Merchandising<br> 에 대한 월간 리포트
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="https://tableau.kcc.com/#/site/AP/views/Shipment_COPA/Portal" class="bg08" target="_blank">
						Sales Report (Shipment)

						<div>
							<dl>
							<dt>Sales Report (Shipment)</dt>

							<dd>
								invoice sales, net sales, profit 등 목표 대비 실적 현황
							</dd>
							</dl>

						</div>
					</a>
				</li>
				<li>
					<a href="https://tableau.kcc.com/t/AP/views/POSSalesTrend/Last12MTrend" class="bg09" target="_blank">
						POS Report
						<div>
							<dl>
							<dt>POS Report</dt>

							<dd>
								고객별 제품별 <br>Point of Sales 매출
							</dd>
							</dl>

						</div>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>
</body>
</html>
