<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<title>개인정보이용내역통지안내</title>
	</head>
	<body style="margin:0 auto;">
		<table width="740" cellpadding="0" cellspacing="0" style="border-collapse:collapse;padding:30px 0 0 30px;font-family:arial,dotum,돋움;color:#000000">
			<tr><td style="padding:0px;background-color:#2e70ba;text-align:center;">
			<p style="text-align:left;padding-left:30px;"><a href="http://www.ykbrand.co.kr" target="_blank"><img src="images/common/yuhan_logo.png" alt="유한킴벌리 로고"></a></p>
			<table cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:680px;margin:0 auto;text-align:center;">
			<tr><td style="background-color:#ffffff;"><img src="images/common/email_in_top.png" alt="top"></td></tr>
			<tr><td><div style="padding:20px 0 0;background:#ffffff;font-size:30px;color:#000;font-weight:bold;">유한킴벌리 SSO회원<br />개인정보 이용 내역 통지 안내</div></td></tr>
			<tr><td style="background:#ffffff;height:30px;"></td></tr>
			</table></td></tr>
			<tr><td style="background:#f2f2f2;">
			<div style="width:680px;margin:0 auto;text-align:center;">
			<table cellpadding="0" style="width:680px;margin:0px auto; border-collapse:collapse;background:#ffffff;text-align:left;font-size:14px;background:#ffffff;">
			<tr><td style="padding:0 30px;line-height:22px;">안녕하세요. 유한킴벌리입니다.</td></tr>
			<tr><td height="10px" style="background:#ffffff;height:5px;"></td></tr>
			<tr><td style="padding:0 30px;line-height:22px;">항상 유한킴벌리를 이용해주시는 회원님께 진심으로 감사 말씀을 드립니다.</td></tr>
      <tr><td height="10px" style="background:#ffffff;height:20px;"></td></tr>
			<tr><td style="padding:0 30px;line-height:22px;">정보통신망 이용촉진 및 정보보호 등에 관한 법률 제 30조의 2(개인정보 이용내역의 통지)에 따라 <br />연 1회 유한킴벌리 SSO회원님께 개인정보가 이용될 수 있는 범위를 안내해 드립니다.</td></tr>
			<tr><td height="30px" style="background:#ffffff;"></td></tr>
			<tr><td style="margin:0 30px;">
				<div style="width:560px;margin:0 auto;background:#f2f2f2;padding:30px 30px 25px;color:#000;">
				<strong style="font-size:16px;font-weight:bold;display:block">주요 안내항목</strong><br>
				<div style="line-height:30px;font-size:14px;">
					<a href="http://www.ykbrand.co.kr/Terms/TermsPop?type=yk8" target="_blank" style="color:#000;text-decoration:underline;">1. 개인정보의 수집 및 이용 목적</a><br>
					<a href="http://www.ykbrand.co.kr/Terms/TermsPop?type=yk8" target="_blank" style="color:#000;text-decoration:underline;">2. 수집하는 개인정보 항목 및 수집방법</a><br>
					<a href="http://www.ykbrand.co.kr/Terms/TermsPop?type=yk8" target="_blank" style="color:#000;text-decoration:underline;">3. 수집한 개인정보의 처리 위탁 및 개인정보의 국외 이전</a><br>
					<a href="http://www.ykbrand.co.kr/Terms/TermsPop?type=yk8" target="_blank" style="color:#000;text-decoration:underline;">4. 개인정보의 제3자 제공</a></div>
				</div>
			</td></tr>
			<tr><td style="background:#ffffff;height:30px;"></td></tr>
			<tr><td style="padding:0 30px;line-height:22px;">회원님의 소중한 개인정보를 안전하게 보호하기 위해 최선을 다하겠습니다.<br>감사합니다.</td></tr>
			<tr><td height="30px" style="background:#ffffff;height:40px;"></td></tr>
			<tr><td>
				<div style="width:620px;margin:0 auto;border-top:1px solid #d9d9d9;padding-top:30px;text-align:center;"><img src="images/common/yuhan_ourbrand.jpg" border="0" alt="top"></div>
			</td></tr>
			<tr><td height="30px" style="background:#ffffff;height:40px;"></td></tr>
			</table>
			<table cellpadding="0" style="width:680px;margin:0px auto; border-collapse:collapse;text-align:left;">
			<tr><td height="20px" style="height:20px;"></td></tr>
			<tr><td style="font-size:13px; line-height:20px; padding:0px 10px;">
			<span style="display:block;font-size:12px;">* 본 메일은 관련 법력에 의거하여 이메일 수신동이 여부와 관계없이 연 1회 발송되는 메일인 점 참고하여 주시기 바랍니다.</span>
			<span style="display:block;font-size:12px;">* 고객님의 회원정보는 철저히 보호되어지며, 언제든지 회원정보수정을 통해 정보를 변경할 수 있습니다.</span>
			<span style="display:block;font-size:12px;">* 본 메일은 발신전용입니다.</span>
			</td></tr>
			<tr><td height="30px" style="height:30px;"></td></tr>
			</table></td></tr>
			<tr><td style="padding:0 0 30px;">
			<img src="http://www.ykbrand.co.kr/Common/email/sso_join/foot.gif" usemap="#m_6514386483417190336_m_-176829557328543420_foot">
			<map name="m_6514386483417190336_m_-176829557328543420_foot">
					<area shape="rect" coords="366,53,453,77" href="https://www.yuhan-kimberly.co.kr/Customer/Company" alt="회사대표 이메일" target="_blank">
			</map>
			</td></tr>
		</table>
	</body>
</html>
